.checkIcon {
    font-size: 17px;
    color: #00b300;
}

.testMatchedColumns {
    margin-left: 50%;
}

.rulesetColumn {
    font-weight: bold;
}

.boldTextDisplay {
    font-weight: bold;
    margin-left: 92%;
    padding-top: 2vh;
}

.expandedTableView {
    margin-left: 1.3vw;
}
