.modal {
    &.modal-header {
    border-bottom: 0 none;
    }
    height: 483px;
}

.modal .modal-footer {
    border-top: 0 none;
}

.title {
    font-size :23px;
}

.disabledSaveButton{
    pointer-events: none;
    &:disabled{
        &:hover{
            background-color: #f5f5f5;
            border-color: #d9d9d9;
        }
    }
}

.newMappingForm {
    margin-left: 10px;
}
.questionCircle {
    font-size: 12px;
    color: #7F86B5;
}
.questionCircleTextArea {
    font-size: 12px;
    color: #7F86B5;
    margin-bottom: 22px;
}
.disabledCursor{
    cursor: not-allowed;
}
.questionCircleColl {
    font-size: 12px;
    color: #7F86B5;
    float: right;
    position: relative;
    z-index: 100;
    margin-top: -25px;
}

.searchIcon {
    float: right;
    margin-right: 25px;
    font-size: 20px;
    position: relative;
    margin-top: -30px;
    color: #bfbfbf;
}

.asterisk{
    color: #DB4f59;
}

.submitButtonsForm{
    text-align: right;
    top: -15px;
    margin-bottom: -15px;
    margin-right: 5px;
}

.submitButtons{
    text-align: right;
    width: 161%;
}

.ConfirmationMessage {
    font-size: 16px
}

.input{
    width: 95%;
}

.srcCollectionInput{
    display:block;
    width:100%;
    height:42px;
}
