.flowsContainer {
    min-width: 800px;

    .createContainer {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .createButton {
            width: 110px;
            margin-bottom: 20px;
        }
    }

    .deleteFlow {
        color: #B32424;
        font-size: 14px;
        cursor: pointer;
    }

    .disabledDeleteIcon {
        color: rgba(0, 0, 0, 0.65);
        opacity: 0.5;
        cursor: not-allowed;
    }

    .flowName {
        color: #3f4692;
        cursor: pointer;
    }

    .disabledFlowName {
        color: #3f4692;
        cursor: not-allowed;
    }

    .panelContent {
        width: 100%;
        display: flex;
        justify-content: flex-start;

        .actions {
            .run {
                position: relative;
                top: 1px;
                display: inline-block;
                padding-right: 10px;
                color: #3b458f;
                font-size: 20px;
                cursor: pointer;
            }

            .upload  {
                position: relative;
                display: inline-block;
            }

            .disabledRun {
                position: relative;
                top: 1px;
                display: inline-block;
                padding-right: 10px;
                color: rgba(0, 0, 0, 0.25);
                font-size: 20px;
                cursor: not-allowed;
            }
            .delete {
                display: inline-block;
                color: #7f86b5;
                font-size: 16px;
                cursor: pointer;
            }
            .disabledDelete {
                display: inline-block;
                color: rgba(0, 0, 0, 0.65);
                opacity: 0.5;
                cursor: not-allowed;
            }
        }

        .cardContent {
            border: solid 1px #ddd;
            padding: 10px;
            .format {
                display: inline-block;
                margin-top: -3px;
                margin-right: 10px;
            }
            .name {
                display: inline-block;
                margin-right: 10px;
            }
        }
        .uploadError {
            line-height: normal;
            padding-top: 2px;
            padding-left: 1px;
            padding-bottom: 1px;
            color: #DB4f59;
        }
    }

    .running {
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 25px;
        text-align: center;
        width: 100%;
        height: 100%;
        z-index: 999;
        background-color: rgba(255, 255, 255, 0.6);
        .runningLabel {
            margin-top: 5px;
            color: #3b458f;
        }
    }

}
