#panelActions {

    .ant-dropdown-trigger {
        margin-top: -4px;
        height: 30px;
        margin-right: 15px;
    }

}

.stepMenu {
    max-height: 50vh;
    overflow: scroll;
    border: solid 1px #ddd;
}