#panelActions {
    .ant-dropdown-trigger {
        height: 32px;
        margin-right: 16px;
        white-space: nowrap;
    }
}

#stepsDropdown {
    .ant-dropdown-trigger  {
        padding: 0px !important;
        width: 23%;
        margin-right: 2.4vw;
        &:hover{
            background-color: #E9F7FE;
        }
    }
}

.stepMenu {
    max-height: 50vh;
    overflow: scroll;
    border: solid 1px #ddd;
}

#flows-container {
    .btn-primary {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        height: 32px;
        width: 110px;
        background-color: #394494;
        border-color: #394494;
        padding: 0 15px;
    }
}