#entity-table {

	border: 1px solid rgba(117, 74, 74, 0.12) !important;

	mat-header-row {
		min-height: 30px;
	 	background-color: #e2e2e2;
	}

	mat-header-cell {
		min-width: 0;
		border-right: 1px solid rgba(0, 0, 0, 0.12);
		padding-left: 1%;
	}

	mat-row {
		min-height: 38px;
		/* background-color: #f6f6f6 !important; */
	}
	mat-row:nth-child(4n+2){
      	/* background-color: #fff !important; */
    }

	mat-cell {
		min-width: 0;
		border-right: 1px solid rgba(0, 0, 0, 0.12);
		padding-left: 1%;
		align-self: stretch;
		font-size: 13px !important;
	}
	}	

	.mat-column-name {
		width: 20% !important;
		min-width: 20% !important;
		padding-left: 2%;
	}    
	.mat-column-datatype {
		width: 15% !important;
		min-width: 15% !important;
	}
	.mat-column-expression {
	    width: 50% !important;
	    min-width: 50% !important;
	}   
	.mat-column-value {
	    width: 15% !important;
	    min-width: 15% !important;
	}

	.nested-cell:first-of-type {
		padding-left: 0;
	}

	.nested-cell:last-of-type {
		padding-right: 0;
	}

	.nested-cell {
		border: 0;
	}

	.nested-row {
		min-height: 0;
		border-bottom: 0 solid !important;
	}

	.prop-toggle {
		padding-left: 8px;
	}

	#edit-expression{
		min-width: auto;
		min-height: 22px;
		overflow: hidden;
		padding: 4px 1px;
		//vertical-align: center;
		overflow-x: hidden;
	}

	.textField {
		padding: 0 3px 5px 3px;  
		margin: 3px 0;
		display: flex;
		min-width: auto;
		width: 100%;
		border: 1px solid rgba(0, 0, 0, 0.591);
	}

	.list-icon {
		display: inline-block;
		position: relative;
		top: -2px;
		margin-left: 8px;
		margin-right: 8px;
	}

	.function-icon {
		margin-right: 4px;
	}


#entity-table-nested-container {
	width: 600%;
}

#entity-table-nested-container #entity-table {
	border: 0 solid !important;
}

.spacer {
	display: inline-block;
	width: 20px;
}

.hide {
	display: none;
}

.textField {
	display: flex;
	flex-direction: column;
  }
  
  .textField > * {
	//width: 100%;
	flex-grow:2;
  /* And hide the input's outline, so the form looks like the outline */
  border:none;
  }
#edit-expression {
	padding-left: 3px;
}

#textFieldValidation{
	display: flex;
	flex-direction: row;
	padding-bottom: 2px;
}

#field-with-error{
  position: relative;
    display: block;
    text-align: center;
    outline: none;
		top: 0%;
		color: red; 
		padding:0px; 
		margin-top: -5px;
}
#error-description{
		font-size: 10px;
		color: red; 
		padding-left:4px
}