<!-- layout-padding -->
<!-- New Source Design for mapping expression -->
<div class="source-prop-container-map-exp">
    
    <span>
  
   <div class="Source_Tbl">
      <div class="item-title">
      <div class="item-type">Source Data</div>
      <!-- <span class="help-icon">
          <a href="https://marklogic.github.io/marklogic-data-hub/harmonize/mapping/#changing-the-mapping-source-document" target="_blank"><i class="fa fa-question-circle fa-lg"></i></a>
        </span> -->
      </div>
      <p class="item-identifying-info">
          <span class="uri-label" tooltip="The Query of the source document from which QuickStart generates the list of source property names." container="body">Query: </span>
          <span class="edit-source-query" (click)="this.OpenFullSourceQuery()" tooltip="{{ this.step.options.sourceQuery }}" container="body">{{ getInitialChars(this.step.options.sourceQuery, 30, '...') }}</span>
      </p>
      <p *ngIf="!editingURI" class="item-identifying-info">
          <span class="uri-label" tooltip="The URI of the source document from which QuickStart generates the list of source property names." container="body">URI: </span>
          <span (click)="editingURI=true" ng-class="sample-doc-uri" class="sample-doc-uri" tooltip="{{ getURITooltip(mapping.sourceURI, 45) }}" container="body">{{ getLastChars(mapping.sourceURI, 45, '...') }}</span>
          <span class="fa fa-pencil edit-item" (click)="editingURI=true">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </p>
        <p *ngIf="editingURI" class="edit-uri">
          <span class="uri-label" tooltip="The URI of the source document from which QuickStart generates the list of source property names." container="body">URI:</span>
          <input type="text" class="edit-uri-val" [(ngModel)]="editURIVal" (keypress)="keyPressURI($event)" />
          <span class="edit-save" (click)="onUpdateURI();"><i class="fa fa-check"></i></span>
          <span class="edit-cancel" (click)="cancelEditURI()"><i class="fa fa-remove"></i></span>
        </p>
  <mat-table id="source-new-table" 
             [dataSource]="dataSource"
             #table class="source-props" 
             matSort>
    <ng-container matColumnDef="key">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let srcProp">{{srcProp.key}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="val">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Value</mat-header-cell>
      <mat-cell *matCellDef="let srcProp">{{ isQuoted(srcProp.type) ? '"' : '' }}{{ srcProp.val | slice:0:valMaxLen }}{{ srcProp.val.length > valMaxLen ? '...' : '' }}{{ isQuoted(srcProp.type) ? '"' : '' }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>      
</div>

<mat-divider [vertical]="true"></mat-divider>



  <div class="Entities_Tbl">
      <div class="item-title"> 
    <div class="item-type">Entity</div>
    <!-- <span class="help-icon">
        <a href="https://marklogic.github.io/marklogic-data-hub/refs/index-settings/" target="_blank"><i class="fa fa-question-circle fa-lg"></i></a>
    </span> -->
    <br>
    <br>
    </div>
    <p class="target-entity-title" ng-class="title-entity-model">{{ targetEntity?.info.title }} </p>
    <br>
    <mat-table id="source-new-table-entities" 
              [dataSource]="targetEntity?.definition.properties" 
              class="Entity-props" 
              matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let entProp">{{entProp.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="datatype">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
        <mat-cell *matCellDef="let entProp">{{entProp.datatype}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="expression">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Expression</mat-header-cell>
          <mat-cell *matCellDef="let entProp; let i = index">
            <div class="textField">
            <textarea
              id="edit-expression"
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
             #fieldName [(ngModel)]="mapExpresions[entProp.name]" (change)="handleSelection(entProp.name, mapExpresions[entProp.name])" type="text" class="map-expr"
              ></textarea>
            </div>
              
              <!--cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="2"></textarea> -->
              <!-- <span class="edit-save" [matMenuTriggerFor]="menu">f(x)</span> -->
              &nbsp;&nbsp;<mat-icon id="fields-list" class="list-icon" [matMenuTriggerFor]="fieldListMenu" [matMenuTriggerData]="{indx: i}"><i class="far fa-list fa-xs"></i></mat-icon>
              &nbsp;&nbsp;<mat-icon id="function-list" class="list-icon" [matMenuTriggerFor]="menu" [matMenuTriggerData]="{ind: entProp.name,indx: i}"><i class="far fa-function fa-xs"></i></mat-icon>
              &nbsp;&nbsp;
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="value">
          <mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;Value</mat-header-cell>
          <mat-cell *matCellDef="let entProp">
          </mat-cell>
        </ng-container>
        <!-- <ng-container matColumnDef="value">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Value</mat-header-cell>
            <mat-cell *matCellDef="let entProp; let i = index">
                <input type="text" class="map-expr-val" [(ngModel)]="mapExpValue[i]" />
            </mat-cell>
          </ng-container> -->
      
      <mat-header-row *matHeaderRowDef="displayedEntityColumns; sticky:true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedEntityColumns;"></mat-row>
    </mat-table>
  </div>
  </span>
  
</div>

<mat-menu class="mat-menu-list" #menu="matMenu">
  <ng-template matMenuContent let-indx="indx">
    <div class="mat-menu-list-btn" mat-menu-item *ngFor="let func of functionLst | keyvalue" (click)="insertFunction(func.key,indx)">{{func.key}}</div>
  </ng-template>
</mat-menu>

<mat-menu class="mat-menu-list" #fieldListMenu="matMenu">
  <ng-template matMenuContent>
    <div class="mat-menu-list-btn" mat-menu-item *ngFor="let srcProp of this.sampleDocSrcProps" >{{srcProp.key}}</div>
  </ng-template>
</mat-menu>