.map-page {
  padding: 20px 40px 320px 40px;
}

.map-container {
  width: 1200px;
  padding: 0;
}

#map-heading {
  height: 5px;
}

div.item-title {
  margin: 0;
  height: 36px;
  div.item-type {
    display: inline-block;
    margin: 5px 10px 10px 0;
    font-size: 24px;
    font-weight: 200;
    font-weight: bold;
  }
  span.help-icon {
    position: relative;
    top: -3px;
    i.fa-question-circle {
      cursor: pointer;
    }
    a, a:hover {
      color: #2a4356;
    }
  }
}

a:hover {
  text-decoration: none;
  color: #6d8ba5;
}
a {
  color: #2a4356;
}

div.item-identifying-info {
  margin: 4px 0 5px 0;
  font-size: 14px;
  .sample-doc-uri {
    padding-right: 7px;
  }
}

div.target-entity-title {
  font-weight: normal;
  margin: 2px 0 29px 0;
  font-size: 20px;
}

#source, #target {
  position: relative;
  float: left;
  margin: 0;
}

#source {
  width: 470px;
  .source-prop-container {
    width: 470px;
  }
}

#target {
  width: 430px;
  .entity-prop-container {
    width: 430px;
    border-left: 0;
  }
}

#source-heading, #target-heading {
  height: 55px;
}

.entity-prop-container, .source-prop-container {
  height: 45px;
  border: solid 2px #5b8db3;
  margin: 10px 0;
  padding: 0;
  display: flex;
  align-items: center; /* align vertical */
  justify-content: center;
}

/* SOURCE PROPERTIES */
.prop-select {
  background-color: transparent;
  display: flex;
  align-items: center; /* align vertical */
  height: 32px;
  text-align: left;
  border: solid 1px #5b8db3;
  padding: 0 10px;
  .prop-clear-control {
    width: 11px;
    font-size: 11px;
    margin-right: 3px;
    color: #999;
  }
  .prop-select-content {
    width: 409px;
  }
  .prop-select-content .prop-name,
  .prop-select-content .prop-val,
  .prop-select-content .prop-type {
    padding: 0 10px;
  }
  .prop-select-content .prop-name {
    width: 170px;
  }
  .prop-select-content .prop-type {
    font-size: 12px;
    color: #666;
  }
  .prop-select-control {
    width: 11px;
    font-size: 15px;
    float: right;
    color: #999;
  }
  .unselected {
    color: #999;
    font-style: italic;
    padding-left: 8px;
  }
}

.prop-name, .prop-type, .prop-val {
  display: inline-block;
  padding: 8px 10px;
}

.prop-name {
  width: 170px;
  font-size: 14px;
  cursor: default;
}

.prop-type {
  width: 100px;
  font-size: 12px;
  color: #666;
  white-space: nowrap;
  cursor: default;
}

.prop-val {
  width: 130px;
  font-size: 12px;
  color: #666;
  white-space: nowrap;
  cursor: default;
}

#target .prop-type {
  width: 120px; /* entities have greater variety of types */
}

/* SOURCE FILTER DROPDOWN */
.dropdown-item {
  .prop-name {
    width: 170px;
    cursor: pointer;
  }
  .prop-type {
    width: 100px;
    cursor: pointer;
  }
  .prop-val {
    cursor: pointer;
  }
}
.dropdown-filter {
  position:fixed;
  background-color: #b7cae2;
  input {
    width: 405px;
    margin: 6px 26px;
    border: 1px solid #2A4356;
    padding: 3px 6px;
  }
}
.dropdown-menu {
  padding: 0;
  .prop-type {
    font-size: 12px;
    color: #666;
  }
  ul {
    overflow-y: scroll;
    list-style: none;
    max-height: 280px;
    margin: 40px 0 0 0;
    padding: 0;
    cursor:pointer;
  }
  width: 459px;
}

/* ENTITY INDEX ICONS */
.entity-prop-container {
 .entity-icons {
    width: 120px;
    margin-left: 5px;
  }
  .entity-icon {
    cursor: default;
    margin-left: 1px;
    padding: 0;
    color: #aaa;
  }
  .entity-icon-selected {
    color: #000;
  }
  .icon-hide {
    color: #ccc;
  }
}

/* EDIT SOURCE URI */
#source-heading {
  .edit-item {
    font-size: 16px;
    padding-left: 0;
    vertical-align: middle;
    margin-bottom: 2px;
    cursor: pointer;
  }
  .edit-save, .edit-cancel {
    padding-left: 7px;
    cursor: pointer;
  }
  .edit-save {
    color: green;
  }
  .edit-cancel {
    color: red;
  }
  p.edit-uri {
    margin: 0 0 6px 2px;
  }
  div.uri-label {
    display: inline-block;
    font-weight: bold;
    margin: 0 4px 0 0;
    font-size: 13px;
  }
  .edit-uri-val {
    width: 281px;
    padding: 3px 1px;
    height: 28px;
  }
}

/* Fix bug showing double tooltip arrows */
/deep/ .tooltip .arrow::before {
  visibility: hidden;
}

/* Widen tooltip container for long phrases */
/deep/ .tooltip .tooltip-inner {
  max-width: 350px;
}

.no-properties {
  padding: 10px 0 0 2px;
}

.source-prop-container-map-exp {
  padding: 20px 28px 320px 28px;
  //height: auto;

  overflow: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

.Source_Tbl { 
  float: left;
  padding-right: 35px;
  word-break: break-all;

  > #source-new-table {
    width: 100% !important;
    overflow: auto;
    /* border: 1px solid rgba(0, 0, 0, 0.961); */
    border: 1px solid rgba(117, 74, 74, 0.12) !important;
    margin-bottom: 20px;
    //border-radius: 15px;
    -webkit-overflow-scrolling: touch;
  
    mat-header-row {
      min-height: 30px;
      /* border: 1px solid rgba(0, 0, 0, .12) !important; */
      display: flex !important;
      justify-content: flex-end !important;
      background-color: #e2e2e2;
    }
    mat-row {
      min-height: auto;
      display: flex !important;
      justify-content: flex-end !important;
    }
    mat-row:nth-child(odd){
      /* background-color: #f6f6f6; */
    }
    mat-header-cell{
      /* border: 1px solid rgba(0, 0, 0, .12) !important; */
      border-right: 1px solid rgba(0, 0, 0, 0.12);
      align-items: center;
      cursor: pointer;
    }
  
    mat-cell {
      min-width: 0;
      /* border: 1px solid rgba(0, 0, 0, .12) !important; */
      border-right: 1px solid rgba(0, 0, 0, 0.12);
      display: flex;
      align-items: center;
      min-height: 30px;
      font-size: 13px;
    }

    .mat-column-key {
      padding-left: 4%
    }

    .mat-column-val {
      flex: 0 1 40% !important;
      min-width: 25% !important;
      padding-left: 2%;
      padding-right: 2px;
    }
    
  }

  .val-object {
    color: #999;
    font-style: italic;
    text-transform: capitalize;
  }

  .edit-item {
    font-size: 16px;
    padding-left: 0;
    vertical-align: middle;
    margin-bottom: 2px;
    cursor: pointer;
  }
  .edit-save, .edit-cancel {
    padding-left: 7px;
    cursor: pointer;
  }
  .edit-save {
    color: green;
  }
  .edit-cancel {
    color: red;
  }
  div.edit-uri {
    margin: 0 0 6px 2px;
  }
  div.uri-label {
    display: inline-block;
    width: 38px;
    font-weight: 400;
    margin: 0 4px 0 0;
    font-size: 12px;
    color: #777;
  }
  .edit-uri-val {
    width: 281px;
    padding: 3px 1px;
    height: 26px;
    font-size: 14px;
  }
  .navigate_source_uris{
    width: 100%;
    display: flex;
    padding-bottom: 5px;
    align-content: center ; 
    vertical-align: middle;
    text-align: center;
    margin: 0px auto;
    white-space: nowrap;
  }
 .navigate_uris_left {
    position: relative;
    user-select: none;
    cursor: pointer;
    display: block;
    text-align: center;  
    background:none;
    border:none;
    outline: none !important;  
    top: 50%;
    left: 33.3%;
    color: #666;
  }
  .URI_Index{
    display: inline-block;
    position: relative;
    align-content: center ; 
    justify-content: center;
    align-items:  center ;
    align-self: center;
    top: 50%;
    left: 38%;
    width: 25px; 
    height: 25px;
    > p {
    font-size: 20px;
    }
  }
  
  .navigate_uris_right {
    user-select: none;
    cursor: pointer;
    position: relative;
    background:none;
    border:none;
    outline: none !important;
    display: block;
    text-align: center;
    outline: none;
    align-content: center ; 
    top: 50%;
    left: 42%;
    color: #666;
  }

  #browse-buttons{
    border: 1px solid rgba(0, 0, 0, 0.961); 
  }
}


.source-type {
    margin: 5px 10px 10px 0;
    font-size: 24px;
    font-weight: 200;
}

.Entities_Tbl {
  float: left;
  word-break: break-all;
  width: auto !important;
  min-width: 50% !important;
}

mat-icon {
  user-select: none;
  cursor: pointer;
}

#function-list {
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  background:none;
  border:none;
  outline: none !important;
  width: 9%;
  text-align: center;
  //border: 1px solid rgba(0, 0, 0, 0.591);
  padding: 0px;
  font-size: 18px;
  font-style: italic;
}

.edit-source-query{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
}

.mat-menu-list {
  padding: 0px ;
  margin : 0px;
  display: flex;
  position: absolute;
  max-height: 400px !important;
  //max-height: calc(100vh - #{$mat-menu-item-height});
} 

.mat-menu-list-btn {
  padding-left: 10px ;
  padding-top: 0px;
  margin : 0px; 
  height: 25px;
  line-height: 25px;
  align-content: center ; 
  align-items:  center ;
  align-self: center;
}

span.btn-icons{
  width: 100%;
  display: flex;
  flex: 0 1 auto;
  //overflow: auto;
  padding-bottom: 6px;
     align-content: flex-end ; 
  text-align: center;
  margin: 0px auto;
  white-space: nowrap;
}
#Test-btn {
  position: relative;

    padding-right: 4px;
    display: block;
    text-align: center;
    outline: none;
    top: 50%;
    left: 77%;
}
#Clear-btn{
  position: relative;
  align-content: flex-end ; 
  align-items:  center ;
  align-self: center;
  top: 50%;
  left: 78%;
}

#lookup-icon {
  display: inline-block;
  position: relative;
//   display: flex;
// justify-content: flex-end;
//   align-content: flex-end ; 
//   align-items:  center ;
//   align-self: center;
  //top: 50%;
  left: 75%;
  padding-right: 2px;
}

#filter-icon {
  display: inline-block;
  position: relative;
  left: 79.5%;
  padding-right: 2px;
}

.col-selected {
  font-size: 12px;
  margin-right: 0 !important;
  height: 16px;
}

#entity-table-container {
  width: 800px;
}

#source-field-container{
  display:inline-block;
  margin: 0;
  padding: 0;
  width: auto;

> .namespace {
    display:inline;
    margin: 0;  
    padding: 0;
  }

> .field-no-namespace{
      display:inline;
      margin: 0;  
      padding: 0;

    }
}

