.map-page {
  padding: 20px 40px 320px 40px;
}

.map-container {
  width: 1200px;
  padding: 0;
}

#map-heading {
  height: 5px;
}

div.item-title {
  div.item-type {
    display: inline-block;
    margin: 5px 10px 10px 0;
    font-size: 24px;
    font-weight: 200;
    font-weight: bold;
  }
  span.help-icon {
    position: relative;
    top: -3px;
    i.fa-question-circle {
      cursor: pointer;
    }
    a, a:hover {
      color: #2a4356;
    }
  }
}

a:hover {
  text-decoration: none;
  color: #6d8ba5;
}
a {
  color: #2a4356;
}

p.item-identifying-info {
  font-weight: bold;
  margin: 0 0 5px 2px;
  font-size: 15px;
  //padding: 3px;
  .sample-doc-uri {
    padding-right: 7px;
  }
}

p.target-entity-title {
  font-weight: normal;
  margin: 0 0 14px 2px;
  font-size: 20px;
}

#source, #target {
  position: relative;
  float: left;
  margin: 0;
}

#source {
  width: 470px;
  .source-prop-container {
    width: 470px;
  }
}

#target {
  width: 430px;
  .entity-prop-container {
    width: 430px;
    border-left: 0;
  }
}

#source-heading, #target-heading {
  height: 55px;
}

.entity-prop-container, .source-prop-container {
  height: 45px;
  border: solid 2px #5b8db3;
  margin: 10px 0;
  padding: 0;
  display: flex;
  align-items: center; /* align vertical */
  justify-content: center;
}

/* SOURCE PROPERTIES */
.prop-select {
  background-color: transparent;
  display: flex;
  align-items: center; /* align vertical */
  height: 32px;
  text-align: left;
  border: solid 1px #5b8db3;
  padding: 0 10px;
  .prop-clear-control {
    width: 11px;
    font-size: 11px;
    margin-right: 3px;
    color: #999;
  }
  .prop-select-content {
    width: 409px;
  }
  .prop-select-content .prop-name,
  .prop-select-content .prop-val,
  .prop-select-content .prop-type {
    padding: 0 10px;
  }
  .prop-select-content .prop-name {
    width: 170px;
  }
  .prop-select-content .prop-type {
    font-size: 12px;
    color: #666;
  }
  .prop-select-control {
    width: 11px;
    font-size: 15px;
    float: right;
    color: #999;
  }
  .unselected {
    color: #999;
    font-style: italic;
    padding-left: 8px;
  }
}

.prop-name, .prop-type, .prop-val {
  display: inline-block;
  padding: 8px 10px;
}

.prop-name {
  width: 170px;
  font-size: 14px;
  cursor: default;
}

.prop-type {
  width: 100px;
  font-size: 12px;
  color: #666;
  white-space: nowrap;
  cursor: default;
}

.prop-val {
  width: 130px;
  font-size: 12px;
  color: #666;
  white-space: nowrap;
  cursor: default;
}

#target .prop-type {
  width: 120px; /* entities have greater variety of types */
}

/* SOURCE FILTER DROPDOWN */
.dropdown-item {
  .prop-name {
    width: 170px;
    cursor: pointer;
  }
  .prop-type {
    width: 100px;
    cursor: pointer;
  }
  .prop-val {
    cursor: pointer;
  }
}
.dropdown-filter {
  position:fixed;
  background-color: #b7cae2;
  input {
    width: 405px;
    margin: 6px 26px;
    border: 1px solid #2A4356;
    padding: 3px 6px;
  }
}
.dropdown-menu {
  padding: 0;
  .prop-type {
    font-size: 12px;
    color: #666;
  }
  ul {
    overflow-y: scroll;
    list-style: none;
    max-height: 280px;
    margin: 40px 0 0 0;
    padding: 0;
    cursor:pointer;
  }
  width: 459px;
}

/* ENTITY INDEX ICONS */
.entity-prop-container {
 .entity-icons {
    width: 120px;
    margin-left: 5px;
  }
  .entity-icon {
    cursor: default;
    margin-left: 1px;
    padding: 0;
    color: #aaa;
  }
  .entity-icon-selected {
    color: #000;
  }
  .icon-hide {
    color: #ccc;
  }
}

/* EDIT SOURCE URI */
#source-heading {
  .edit-item {
    font-size: 16px;
    padding-left: 0;
    vertical-align: middle;
    margin-bottom: 2px;
    cursor: pointer;
  }
  .edit-save, .edit-cancel {
    padding-left: 7px;
    cursor: pointer;
  }
  .edit-save {
    color: green;
  }
  .edit-cancel {
    color: red;
  }
  p.edit-uri {
    margin: 0 0 6px 2px;
  }
  span.uri-label {
    font-weight: bold;
    margin: 0 4px 0 0;
    font-size: 15px;
  }
  .edit-uri-val {
    width: 376px;
    padding: 3px 1px;
    height: 28px;
  }
}

/* Fix bug showing double tooltip arrows */
/deep/ .tooltip .arrow::before {
  visibility: hidden;
}

/* Widen tooltip container for long phrases */
/deep/ .tooltip .tooltip-inner {
  max-width: 350px;
}

.no-properties {
  padding: 10px 0 0 2px;
}

.source-prop-container-map-exp {
  padding: 20px 40px 320px 40px;
  //height: auto;

  overflow: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

.Source_Tbl { 
  float: left;
  padding-right: 20px;
  word-break: break-all;

  > #source-new-table {
    width: 100% !important;
    overflow: auto;
    border: 1px solid rgba(0, 0, 0, 0.961); 
    //border-radius: 15px;
    -webkit-overflow-scrolling: touch;
  
    mat-header-row {
      min-height: 30px;
      //border: 1px solid rgba(0, 0, 0, .12) !important;
      display: flex !important;
      justify-content: flex-end !important;
      background-color: #D3D3D3;
    }
    mat-row {
      min-height: auto;
      display: flex !important;
      justify-content: flex-end !important;
    }
    mat-row:nth-child(odd){
      background-color: #efefef;
      }
    mat-header-cell{
      border: 1px solid rgba(0, 0, 0, .12) !important;
      align-items: center;
      cursor: pointer;
    }
  
    mat-cell {
      min-width: 0;
      border: 1px solid rgba(0, 0, 0, .12) !important;
      display: flex;
      align-items: center;
      
    }

    .mat-column-key {
      padding-left: 2%
    }

    .mat-column-val {
      padding-left: 2%
    }
    
  }

  .edit-item {
    font-size: 16px;
    padding-left: 0;
    vertical-align: middle;
    margin-bottom: 2px;
    cursor: pointer;
  }
  .edit-save, .edit-cancel {
    padding-left: 7px;
    cursor: pointer;
  }
  .edit-save {
    color: green;
  }
  .edit-cancel {
    color: red;
  }
  p.edit-uri {
    margin: 0 0 6px 2px;
  }
  span.uri-label {
    font-weight: normal;
    margin: 0 4px 0 0;
    font-size: 15px;
  }
  .edit-uri-val {
    width: 376px;
    padding: 3px 1px;
    height: 28px;
  }
  .navigate_source_uris{
    width: 100%;
    display: flex;
    padding-bottom: 5px;
    align-content: center ; 
    vertical-align: middle;
    text-align: center;
    margin: 0px auto;
    white-space: nowrap;
  }
 .navigate_uris_left {
    position: relative;
    user-select: none;
    cursor: pointer;
    display: block;
    text-align: center;  
    background:none;
    border:none;
    outline: none !important;  
    top: 50%;
    left: 33%;
  }
  .URI_Index{
    display: inline-block;
    position: relative;
    align-content: center ; 
    justify-content: center;
    background:white;
    border: 1px solid rgba(0, 0, 0, 0.961); 
    align-items:  center ;
    align-self: center;
    top: 50%;
    left: 38%;
    width: 25px; 
    height: 25px
  }
  
  .navigate_uris_right {
    user-select: none;
    cursor: pointer;
    position: relative;
    background:none;
    border:none;
    outline: none !important;
    display: block;
    text-align: center;
    outline: none;
    align-content: center ; 
    top: 50%;
    left: 42%;
  }

  #browse-buttons{
    border: 1px solid rgba(0, 0, 0, 0.961); 
  }
}


.source-type {
    margin: 5px 10px 10px 0;
    font-size: 24px;
    font-weight: 200;
}



.Entities_Tbl {
  float: left;
  word-break: break-all;
  width: auto !important;
  min-width: 50% !important;

> #source-new-table-entities {
  /* TURN OFF OLD TABLE */
  display: none;
  /* TURN OFF OLD TABLE */
  width: auto !important;
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0.961); 
  //border-radius: 15px;
  mat-header-cell{
    border-right: 1px solid rgba(0, 0, 0, .12) !important;
    align-items: center;
  }
  mat-header-row {
        min-height: 30px;
        width: 100%;
        display: flex !important;
        justify-content: flex-end !important;
        background-color: #D3D3D3;
        
      }
  mat-row {
        min-height: 25px;
        height: auto;
        padding: 2px;
        width: 100%;
        display: flex !important;
        justify-content: flex-start !important;
        align-items: flex-start;

  }
  mat-row:nth-child(odd){
    background-color: #efefef;
    }
  mat-cell {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
        min-width: 0;
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        //display: flex;
        align-items: flex-start;
        text-align: left;
          }
  .mat-column-name {
          flex: 0 1 70% !important;
          min-width: 25% !important;
          padding-left: 1%;
          text-align: start;
          //border-right: 1px solid rgba(0, 0, 0, .12);
        }    
  .mat-column-datatype {
          flex: 0 1 45% !important;
          min-width: 10% !important;
          padding-left: 1%;
        } 
  .mat-column-expression {
          flex: 0 1 100% !important;
          min-width: 50% !important;
          padding-left: 1%;
        }   
  .mat-column-value {
          flex: 0 1 80% !important;

        }  
}

}

mat-icon {
  user-select: none;
  cursor: pointer;
}

.list-icon{
  padding-top:2px;
  user-select: none;
  cursor: pointer;
  //vertical-align:stretch;
  display: flex;
  // align-self: flex-start;
  // align-items: flex-start;
  //border: 1px solid rgba(0, 0, 0, 0.591);
  //size: 100%;
}

#function-list {
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  background:none;
  border:none;
  outline: none !important;
  width: 9%;
  text-align: center;
  //border: 1px solid rgba(0, 0, 0, 0.591);
  padding: 0px;
  font-size: 18px;
  font-style: italic;
}

.textField {
padding-top: 3px;
padding-bottom: 4px;  
margin: 0px;
display: flex;
min-width: auto;
width: 100%;
border: 1px solid rgba(0, 0, 0, 0.591)
}

#edit-expression{
  min-width: auto;
  min-height: 22px;
  overflow: hidden;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 3px;
  //vertical-align: center;
  overflow-x: hidden
}

.edit-source-query{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mat-menu-list {
  padding: 0px ;
  margin : 0px;
  display: flex;
  position: absolute;
  max-height: 400px !important;
  //max-height: calc(100vh - #{$mat-menu-item-height});
} 

.mat-menu-list-btn {
  padding-left: 10px ;
  padding-top: 0px;
  margin : 0px; 
  height: 25px;
  line-height: 25px;
  align-content: center ; 
  align-items:  center ;
  align-self: center;
}

.example-element-detail {
  //overflow: hidden;
  display: flex;
  
  padding: 0px;
  margin: 0px;
  width: 150% !important;
  justify-content: stretch !important;
  border: 1px solid rgba(117, 74, 74, 0.12) !important;
  align-items: stretch;
  align-self: stretch;

  > #source-new-table-entities2 {
    width: 100% !important;
    //align-self: stretch;
    table-layout: auto;
    //overflow: auto;
    //display: table;
    mat-header-cell{
      border-right: 1px solid rgba(0, 0, 0, .12) !important;
      align-items: center;
      
    }
    mat-header-row {
          min-height: 30px;
          width: 100%;
          display: flex !important;
          justify-content: flex-end !important;
          background-color: #D3D3D3;
          
        }
    mat-row {
          min-height: 25px;
          height: auto;
          padding: 2px;
          width: 100%;
          display: flex !important;
          justify-content: flex-start !important;
          align-items: flex-start;
  
    }
    mat-row:nth-child(odd){
      background-color: #efefef;
      }
    mat-cell {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      align-self: stretch;
          min-width: 0;
          border-right: 1px solid rgba(0, 0, 0, 0.12);
          //display: flex;
          align-items: flex-start;
          text-align: left;
            }
    .mat-column-name {
            flex: 0 1 70% !important;
            min-width: 25% !important;
            padding-left: 1%;
            text-align: start;
            //border-right: 1px solid rgba(0, 0, 0, .12);
          }    
    .mat-column-datatype {
            flex: 0 1 45% !important;
            min-width: 10% !important;
            padding-left: 1%;
          } 
    .mat-column-expression {
            flex: 0 1 100% !important;
            min-width: 50% !important;
            padding-left: 1%;
          }   
    .mat-column-value {
            flex: 0 1 80% !important;
  
          }
  }
}
span.btn-icons{
  width: 100%;
  display: flex;
  flex: 0 1 auto;
  //overflow: auto;
  padding-bottom: 4px;
     align-content: flex-end ; 
  // align-items:  center ;
  // align-self: center;
  //border: 1px solid rgba(0, 0, 0, 0.12);
  text-align: center;
  margin: 0px auto;
  white-space: nowrap;
}
#Test-btn {
  position: relative;
    display: block;
    text-align: center;
    outline: none;
    top: 50%;
    left: 70%;
}
#Clear-btn{
  position: relative;
  align-content: flex-end ; 
  align-items:  center ;
  align-self: center;
  top: 50%;
  left: 71%;
}

#lookup-icon {
  display: inline-block;
  position: relative;
//   display: flex;
// justify-content: flex-end;
//   align-content: flex-end ; 
//   align-items:  center ;
//   align-self: center;
  //top: 50%;
  left: 72%;
  padding-right: 2px;
  //transform: translate(-50%, -50%);
}

#filter-icon {
  display: inline-block;
  position: relative;
  left: 73%;
  padding-right: 2px;
}

.col-selected {
  font-size: 12px;
  margin-right: 0 !important;
  height: 16px;
}

#entity-table-container {
  width: 750px;
}
