.map-page {
  padding: 20px 40px 320px 40px;
}

.map-container {
  width: 1200px;
  padding: 0;
}

#map-heading {
  height: 5px;
}

div.item-title {
  div.item-type {
    display: inline-block;
    margin: 5px 10px 10px 0;
    font-size: 24px;
    font-weight: 200;
  }
  span.help-icon {
    position: relative;
    top: -3px;
    i.fa-question-circle {
      cursor: pointer;
    }
    a, a:hover {
      color: #2a4356;
    }
  }
}

a:hover {
  text-decoration: none;
  color: #6d8ba5;
}
a {
  color: #2a4356;
}

p.item-identifying-info {
  font-weight: bold;
  margin: 0 0 14px 2px;
  font-size: 15px;
  .sample-doc-uri {
    padding-right: 7px;
  }
}

#source, #target {
  position: relative;
  float: left;
  margin: 0;
}

#source {
  width: 470px;
  .source-prop-container {
    width: 470px;
  }
}

#target {
  width: 430px;
  .entity-prop-container {
    width: 430px;
    border-left: 0;
  }
}

#source-heading, #target-heading {
  height: 55px;
}

.entity-prop-container, .source-prop-container {
  height: 45px;
  border: solid 2px #5b8db3;
  margin: 10px 0;
  padding: 0;
  display: flex;
  align-items: center; /* align vertical */
  justify-content: center;
}

/* SOURCE PROPERTIES */
.prop-select {
  background-color: transparent;
  display: flex;
  align-items: center; /* align vertical */
  height: 32px;
  text-align: left;
  border: solid 1px #5b8db3;
  padding: 0 10px;
  .prop-clear-control {
    width: 11px;
    font-size: 11px;
    margin-right: 3px;
    color: #999;
  }
  .prop-select-content {
    width: 409px;
  }
  .prop-select-content .prop-name,
  .prop-select-content .prop-val,
  .prop-select-content .prop-type {
    padding: 0 10px;
  }
  .prop-select-content .prop-name {
    width: 170px;
  }
  .prop-select-content .prop-type {
    font-size: 12px;
    color: #666;
  }
  .prop-select-control {
    width: 11px;
    font-size: 15px;
    float: right;
    color: #999;
  }
  .unselected {
    color: #999;
    font-style: italic;
    padding-left: 8px;
  }
}

.prop-name, .prop-type, .prop-val {
  display: inline-block;
  padding: 8px 10px;
}

.prop-name {
  width: 170px;
  font-size: 14px;
  cursor: default;
}

.prop-type {
  width: 100px;
  font-size: 12px;
  color: #666;
  white-space: nowrap;
  cursor: default;
}

.prop-val {
  width: 130px;
  font-size: 12px;
  color: #666;
  white-space: nowrap;
  cursor: default;
}

#target .prop-type {
  width: 120px; /* entities have greater variety of types */
}

/* SOURCE FILTER DROPDOWN */
.dropdown-item {
  .prop-name {
    width: 170px;
    cursor: pointer;
  }
  .prop-type {
    width: 100px;
    cursor: pointer;
  }
  .prop-val {
    cursor: pointer;
  }
}
.dropdown-filter {
  position:fixed;
  background-color: #b7cae2;
  input {
    width: 405px;
    margin: 6px 26px;
    border: 1px solid #2A4356;
    padding: 3px 6px;
  }
}
.dropdown-menu {
  padding: 0;
  .prop-type {
    font-size: 12px;
    color: #666;
  }
  ul {
    overflow-y: scroll;
    list-style: none;
    max-height: 280px;
    margin: 40px 0 0 0;
    padding: 0;
    cursor:pointer;
  }
  width: 459px;
}

/* ENTITY INDEX ICONS */
.entity-prop-container {
 .entity-icons {
    width: 120px;
    margin-left: 5px;
  }
  .entity-icon {
    cursor: default;
    margin-left: 1px;
    padding: 0;
    color: #aaa;
  }
  .entity-icon-selected {
    color: #000;
  }
  .icon-hide {
    color: #ccc;
  }
}

/* EDIT SOURCE URI */
#source-heading {
  .edit-item {
    font-size: 16px;
    padding-left: 0;
    vertical-align: middle;
    margin-bottom: 2px;
    cursor: pointer;
  }
  .edit-save, .edit-cancel {
    padding-left: 7px;
    cursor: pointer;
  }
  .edit-save {
    color: green;
  }
  .edit-cancel {
    color: red;
  }
  p.edit-uri {
    margin: 0 0 6px 2px;
  }
  span.uri-label {
    font-weight: bold;
    margin: 0 4px 0 0;
    font-size: 15px;
  }
  .edit-uri-val {
    width: 376px;
    padding: 3px 1px;
    height: 28px;
  }
}

/* Fix bug showing double tooltip arrows */
/deep/ .tooltip .arrow::before {
  visibility: hidden;
}

/* Widen tooltip container for long phrases */
/deep/ .tooltip .tooltip-inner {
  max-width: 350px;
}

.no-properties {
  padding: 10px 0 0 2px;
}
