.SocialMedia {
  display: flex;
  padding-bottom: 8px;
  .label {
    display: block;
    width: 150px;
  }
  .social-items {
    display: flex;
    gap: 28px;
    a {
      text-decoration: none;
      .handle {
        color: #394494;
        padding-left: 6px;
      }
    }
  }

}