.projectInfoHeader{
  margin-top: 0px;
  background-color: #ffffff !important;
}
.title {
  font-family: 'HelveticaNeue-Light';
  font-size: 22px;
  font-weight: 500;
  float: left;
  margin: 0 60px 0 20px;
  color: #050186;
  text-align: right;
}
  