.modalTitleContainer {
  margin-bottom: 35px;

  .modalTitle{
    font-size: 25px;
  }

  .titleDescription{
    font-size: 13px;
  }
}

.noPropertyCheckedErrorMessage {
  margin-left: 20vw;
  margin-top: -40px;
  width: 45em;
  text-align: center;
  .exclamationCircle{
    margin-left: 5em;
  }
}

.modalTitleLegend {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: -40px;
  margin-bottom: 10px;
  //vertical-align: bottom ;

  .legendText {
    font-size: 13px;
    margin-left: 15px;
  }

  .expandCollapseIcon{
    font-size: 11px;
    margin-left: 5em;
  }
}

.structuredIcon {
  color: #5B69AF;
  font-size: 14px;
}

.rulesetName{
  width: 550px;
}

.matchTypeSelect {
  width: 160px !important;
}

.icon {
  position: absolute;
  top: 4px;
  right: -20px;
  font-size: 12px;
  color: #7F86B5;
}

.asterisk {
  color: #B32424;
  width: min-content;
  max-height: 6px;
  margin-top: -3px;
  margin-bottom: 2px;
}

.footer {
  display: flex;
  justify-content: flex-end;

  .saveButton {
    margin-left: 5px;
  }
}

.footerNewRuleset {
  display: flex;
  justify-content: flex-end;
  margin-left: 74vw;

  .saveButton {
    margin-left: 5px;
  }
}

.reduceWeightText {
  font-weight: 900;
}

.reduceToggle {
  margin-left: 12px !important;
}

.matchOnText {
  font-weight: 500;
}

.matchOnTagsContainer {
  margin-left: 12px !important;
  .matchOnTags {
    margin-right: 6px !important;
  }
}

.entityTable{
  & thead > tr > th {
    line-height: 17px;
  };
  & tbody > tr > td {
    line-height: 25px;
}

margin-bottom: 40px;
}

.entityTableRows{
  line-height: 1px;
}

.entityTable {
  margin-bottom: 40px;
}

.nameColumnStyle {
  margin-left: 1px;
}

.matchTypeDetailsContainer{
  width: 100%;
  display: flex;

  .mandatoryFieldContainer {
    display: flex
  }

  .input {
    position: relative;
    width: 22vw;
    margin-right: 5px;
  }

  .filterInput{
    width: 25vw;
    margin-left: 15px;
    margin-right: 5px;
  }

  .questionCircle {
    font-size: 12px;
    color: #7F86B5;
  }

  .functionInput{
    width: 13vw;
    margin-left: 15px;
    margin-right: 5px;
  }
}

.expandIcon{
  margin-left: -18px;
  vertical-align:middle;
  color:  black;
  text-align: left;
  font-size: 13px;
  position: absolute;
}

.trashIcon {
    font-size: 20px;
    color: #B32424;
    &:hover{
        color: var(--hoverColor);
    }
}

.editFooter{
    display: flex;
    justify-content: space-between;
}
