.radio {
    font-family: 'Helvetica Neue', Helvetica, 'Open Sans', Arial, sans-serif;;
    font-size: 14px;
    color: #333333;
    margin-top: 11px;
    display: block;
    height: 30px;
    line-height: 30px;
}

.text {
    font-family: 'Helvetica Neue', Helvetica, 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    color: #333333;
}

.warning {
    font-family: 'Helvetica Neue', Helvetica, 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    color: #333333;
    margin-top: -20px;
    padding-left: 45px;
}
.dataWarning {
    font-family: 'Helvetica Neue', Helvetica, 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    color: #333333;
    margin-bottom: -15px;
}

.exportTable {
    margin: 5px 20px -10px 20px;
}
