.radio {
    font-family: 'helvetica neue';
    font-size :14px;
    color: #333333;
    margin-top: 11px;
    display: block;
    height: 30px;
    line-height: 30px;
}

.text {
    font-family: 'helvetica neue';
    font-size :14px;
    color: #333333;
}
