.radio {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;;
    font-size: 14px;
    color: #333333;
    margin-top: 11px;
    display: block;
    line-height: 30px;

    input{
        margin-top: 8px;
    }
}

.text {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333333;
}

.warning {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333333;
    margin-top: -20px;
}
.dataWarning {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333333;
    margin-bottom: -15px;
}

.exportTable {
    margin: 5px 20px -10px 20px;
}
