.sidePanel {
    padding: 10px 10px;
    max-height: 63vh;
    .selectedEntityHeading {
        font-size: 22px;
        color: #333333;
        padding-right: 10px;
        vertical-align: middle;
    }
    .selectedNodeUri {
        font-size: 12px;
        color: #333333;
        padding-right: 10px;
    }

    .arrowRight{
        font-size: 22px;
        margin-top: -7px;
    }

    .close {
        position: relative;
        float: right;
        font-size: 20px;
        height: 28px;
        cursor: pointer;
    }

    .tabs {
        padding: 10px 0px 10px 0px;
        .sidePanelTabLabel {
            font-size: 18px;
        }
    }

    .tabsContainer {
        width: 100%;
        margin-left: .5rem !important;
        font-size: 14px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;

        button.tab {
            border: 0 !important;
            border-bottom: 2px solid transparent !important;
            margin-right: -1px;
        }
    }

    .instanceTabContainer {
        padding-top: 5px;
    }
}
