.formItem, .formItemEntityType {
  display: flex;
  margin-left: 7px;
  margin-bottom: 16px;
}

.formItemEntityType {
  margin-bottom: 6px;
}

.formItemCheckbox {
  margin-bottom: 0;
}

.input {
  position: relative;
  width: 320px;
}

.icon, .radioQuestionIcon, .checkboxQuestionIcon {
  position: absolute;
  top: 3px;
  right: -20px;
  font-size: 12px;
  color: #7F86B5;
}

.radioQuestionIcon {
  right: 0px;
}

.checkboxQuestionIcon {
  right: -7px;
}

.asterisk {
  color: #B32424;
}

.editFooter {
  display: flex;
  justify-content: space-between;
}

.trashIcon {
  font-size: 20px;
  color: #B32424;
  &:hover{
      color: var(--hoverColor);
  }
}

.addFooter {
  display: flex;
  justify-content: flex-end;
}

.warningContainer {
  width: 98%;
  margin: auto;
}

.stepWarning {
  margin-top: 10px;
}

.toggleSteps {
  cursor: pointer;
  color: #5B69AF;
 }

 .stepList {
   list-style: none;
   li {
     margin-left: 15px;
   }

   li::before {
     content: "- ";
     margin-left: -15px;
   }
 }

