@import '../../styles/variables';

$primary: unquote("rgb(#{$color-primary})");
$highlight-color: unquote("rgb(#{$palette-datahub-A100})");

:host {
  display: block;
  max-width: 100%;
}

.select-list {
  display: block;
  padding: 0px;
  cursor: pointer;
  background-color: white;
  min-width: 200px;

  &.readonly {
    color: #ccc;

    cursor: inherit;

    .fa-check {
      &.active {
        color: #ccc;
      }
    }
  }

  .fa-check {
    margin-right: 10px;
    color: transparent;

    &.active {
      color: $primary;
    }
  }

  .fa-trash {
    color: red;
    margin-left: 20px;
  }

  /deep/ .mdl-list__item {
    min-height: 32px;
    padding: 12px;

    &:hover {
      background-color: transparent;
    }

    span {
      overflow: scroll;
    }
  }
}
