.select-list {

  display: block;

  padding-top: 0px;

  md-list-item {
    display: block;
  }
  background-color: white;
  &.readonly {
    color: #ccc;

    cursor: inherit;

    .fa-check {
      &.active {
        color: #ccc;
      }
    }

    /deep/ .md-list-item {
      &:hover {
        background-color: transparent;
      }
    }
  }

  cursor: pointer;

  .fa-check {
    margin-right: 10px;

    color: transparent;

    &.active {
      color: green;
    }
  }

  .fa-trash {
    color: red;
    margin-left: 20px;
  }

  /deep/ .md-list-item {
    &:hover {
      background-color: rgba(121,85,72,.25);
    }
  }

  min-width: 200px;

}
