<div>
  <h3 class="mdl-dialog__title">Choose a collation</h3>
  <div class="mdl-dialog__content">
    <div>
      <mdl-select [(ngModel)]="collation" placeholder="Choose Collation">
        <mdl-option *ngFor="let option of collations" [value]="option.value">{{option.label}}</mdl-option>
      </mdl-select>
    </div>
    <div>
      <mdl-textfield type="text" label="Collation" [(ngModel)]="collation" floating-label autofocus></mdl-textfield>
    </div>
  </div>
  <div class="mdl-dialog__actions">
    <button mdl-button (click)="createCollation()" mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Save</button>
    <button mdl-button (click)="close()" mdl-ripple>Cancel</button>
  </div>
</div>
