
.active{
    color: #fafafa;
}

.ant-table-filter-icon.ant-dropdown-trigger.ant-table-filter-selected{
    background: #394494; 
}

.ant-table-filter-icon .anticon .fa-search {
    font-size: 16px;
    margin-top: 14px;
}