
.active{
    color: #fafafa;
    margin-left: -7px !important;
}

.ant-table-filter-icon.ant-dropdown-trigger.ant-table-filter-selected{
    background: #394494; 
}

.datatype-string::before {
    content: '"';
}
.datatype-string::after {
    content: '"';
}

.moreVal {
    color: grey;
}