.searchBox {

    width: 600px;
    #searchBoxDropdown.dropdown-toggle {
        min-width: 140px;
        text-align: left;
        background-color: #394494;
        color: white;
    }
    #searchBoxDropdown.dropdown-toggle::after {
        position: absolute;
        top: 17px;
        right: 10px;
    }
    input.form-control {
        border-top-right-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
    }
    .vertical {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }
    .horizontal {
        display: inline-block;
        padding-left: 8px;
    }
    button.submit {
        background-color: #394494;
        font-size: 18px;
        color: white;
        padding: 6px 36px;
        border-radius: 4px;
        border-width: 0;
    }
    .searchIcon {
        position: absolute;
        top: 10px;
        right: 12px;
        z-index: 1000;
    }
}