.installForm {
  margin: 20px 0 20px;
  
  .formLabel {
    display: inline-block;
    width: 400px;
    text-align: left;
  }
}

.installButton button,
.successMessage button {
  color:#ffffff;
  width: 100%;
  background-color: #44499C;
  border: none;
}

.successMessage button {
  margin: 30px 0 50px;
}

.welcomeMessage {
  font-size: 24px;
  margin-top: 20px;
  .welcomeIcon {
      color: #569b30;
      margin-right: 10px;
      font-size: 32px;
  }
}

.errorMessage, .successMessage {
  text-align: left;
}

.errorMessage, .successMessage, .welcome {
  width: 500px;
}

.directory {
  width: 400px;
  div {
    text-align: left;
  }
}