<mdl-button #newEntityButton mdl-button-type="icon" id="new-entity" (click)="newEntityDialog.show()">
  <i class="fa fa-plus"></i>
</mdl-button>
<mdl-dialog #newEntityDialog
[mdl-dialog-config]="{
  clickOutsideToClose: true,
  styles:{'width': '300px'},
  isModal:true,
  openFrom: newEntityButton,
  enterTransitionDuration: 400,
  leaveTransitionDuration: 400}">
  <div class="mdl-dialog__title">
    <div>Create Entity</div>
    <div class="mdl-layout-spacer"></div>
    <mdl-button mdl-button-type="icon" (click)="newEntityDialog.close()">
      <i class="fa fa-close"></i>
    </mdl-button>
  </div>
  <div class="mdl-dialog__content">
    <form (submit)="create()">
      <div class="modal-body">
        <div class="md-dialog-content" flex layout="column">
          <mdl-textfield name="entityName" type="text" required label="Entity Name" autofocus [(ngModel)]="entity.info.title" floating-label></mdl-textfield>
        </div>
      </div>
      <div class="mdl-dialog__actions">
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Create</button>
        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="newEntityDialog.close()">Cancel</button>
      </div>
    </form>
  </div>
</mdl-dialog>
