@import "../../../../theme/HCUtils.scss";

.modalTitleLegend {
    display: flex;
    justify-content: flex-end;
    font-size: 19px !important;
}

.modalHeader {
    border-bottom: 1px solid $modal-bottom-header !important;
}

.labelsModal {
    font-weight: 900;
}

.asterisk {
    color: $danger;
}

.validationError {
    @extend .validationError;
}

.typeaheadList{
    width: 100% !important;
}

.footer {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
  
    .saveButton {
      margin-left: 5px;
    }
}