.container {
  width: 100%;
}
.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 2px;
}

.summary {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  width: 50%;
  justify-content: flex-start;
}

.meta {
  padding-right: 10px;
}
