.container {
  width: 100%;
}
.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 2px;
}

.summary {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  width: 33%;
  justify-content: space-between;
}