@import '../theme/styles/variables';

.error {
  padding: 10px;
}

.format-string {
  border: 1px solid rgba(0,0,0,0.10);
  padding: 10px;
  max-height: 300px;
  overflow: scroll;
}

.header {
  font-weight: bold;
  color: #333;
  font-size: 18px;
}

.stack {
  ul.stack-list {
    list-style: none;
    margin: 0px 0px 0px 10px;
    padding: 5px;
    cursor: pointer;

    li {
      padding-left: 5px;
    }
  }

  .active {
    background-color: rgba(0,0,0,0.10);
  }
}

.variables {
  cursor: initial;

  .header {
    margin-left: 10px;
  }
  .key {
    font-weight: bold;
  }
}

$openDuration: 0.5s;
.fa-caret-right {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transition: transform $openDuration ease-in-out;
  -webkit-transition: -webkit-transform $openDuration ease-in-out;
  margin-right: 5px;
}

.fa.collapsed {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
