<div *ngIf="error" class="error">
  <div class="header">Error Info</div>
  <div *ngIf="error.message && !error.stackFrames">
    <p class="format-string">{{error.formatString}}{{error.message}}</p>
    <div class="stack">
      <div class="header">Stack</div>
      <p class="format-string">{{error.stack}}</p>
    </div>
  </div>
  <div *ngIf="error.stackFrames">
    <p class="format-string">{{error.formatString}}{{error.stack}}</p>
    <div class="stack">
      <div class="header">Stack</div>
      <ul class="stack-list">
        <li *ngFor="let stack of error.stackFrames"
          (click)=setActiveStack(stack)
          [ngClass]="{'active': isActiveStack(stack)}">
          <i class="fa fa-caret-right" [ngClass]="{ 'collapsed' : !isActiveStack(stack) }"></i>
          <span>{{stack.uri}}:{{stack.line}}:{{stack.column}}</span>
          <div class="variables" *ngIf="isActiveStack(stack)">
            <div class="header">Variables:</div>
            <ul>
              <li *ngFor="let variable of variables">
                <span class="key">{{variable}}</span>: <span class="value">{{stack.variables[variable]}}</span>
              </li>
            </ul>
          </div>
        </li>
        <li *ngFor="let stack of error.stacks"
          (click)=setActiveStack(stack)
          [ngClass]="{'active': isActiveStack(stack)}">
          <i class="fa fa-caret-right" [ngClass]="{ 'collapsed' : !isActiveStack(stack) }"></i>
          <span>{{stack.uri}}:{{stack.line}}:{{stack.column}}</span>
          <div class="variables" *ngIf="isActiveStack(stack)">
            <div class="header">Variables:</div>
            <ul>
              <li *ngFor="let variable of variables">
                <span class="key">{{variable}}</span>: <span class="value">{{stack.variables[variable]}}</span>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
