.popover {
  width:250px;
  height: auto;
  max-height: 400px;
  overflow-y: auto;
}

.footer {
  text-align: center;
}

.fixedPopup {
  position: fixed;
  z-index: 1;
}

.columnIcon {
  cursor: pointer;
}



