@import "../../../theme/HCVariables.scss";
.react-bootstrap-table {
    .expand-cell-header {
        border-top-left-radius: 4px;
        padding: 16px 16px !important;
        pointer-events: none;
        color: transparent;
        vertical-align: middle;

        .hc-table_subTableHeader {
            background: $bg-header-table-hover !important;
            color: $text-color;
        }
    }

    .reset-expansion-style {
      padding: 0px !important;
    }

    .expand-cell-header {
        width: 50px;
        min-width: 50px;
        background: $bg-header-table !important;
    }
    .selection-cell-header {
        padding: 16px 16px !important;
        color: transparent;
        vertical-align: middle;
        text-align: center;
        width: 50px;
        min-width: 50px;
        background: $bg-header-table !important;

        .hc-table_subTableHeader {
            background: $bg-header-table-hover !important;
            color: #333;
        }
    }
    &.sub-table {
        .expand-cell-header, .selection-cell-header {
            background: $bg-header-table !important;
        }
        &.side-panel th:nth-child(2),
        &.side-panel td:nth-child(2) {
            padding-left: 0px !important;
        }
        &.side-panel .reset-expansion-style {
            background-color: initial !important;
        }
        background-color: $bg-nested-table;
    }
    .expand-cell {
        vertical-align: middle !important;
        background-color: inherit !important;
        width: 50px;
        min-width: 50px;
        text-align: center;
        svg {
            cursor: pointer;
        }
    }
    #subTable th {
        display: none;
    }

    th:first-child {
        border-top-left-radius: 4px;
    }
    th:last-child {
        border-top-right-radius: 4px;
    }
    + .react-bootstrap-table-pagination {
        div:nth-child(1) {
            order: 2;
            width: auto;
            .sizePageSelector {
                button {
                    padding: 2px 10px;
                }
                .dropdown-menu-end {
                    min-width: 81px;
                    text-align: center;
                    a {
                        padding-left: 0;
                        padding-right: 0;
                    }
                    .item-active {
                        span {
                            color: $text-color;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
        div:nth-child(2) {
            order: 1;
            width: auto;
            padding-right: 0;
            flex: 1 0 auto;
            ul {
                justify-content: end;
                li {
                    a,
                    span {
                        border: none;
                        padding: 1px 7px;
                        box-shadow: none;
                        background: $white;
                        margin-left: 0;
                        &:hover,
                        :focus {
                            background: $white;
                        }
                    }
                    &.active {
                        margin-left: 0 !important;
                        .page-link {
                            border: 1px solid $primary;
                            background: $white;
                            border-radius: 4px;
                            color: $text-color;
                        }
                    }
                    &.disabled {
                        cursor: not-allowed;
                    }
                    &:first-child {
                        display: none;
                    }
                    &:last-child {
                        display: none;
                    }
                }
            }
        }
    }
    .hc-table_row:hover {
        background-color: $background-hover;
    }
    .hc-table_row:not(:last-child) {
        border-bottom: 1px solid $border-table-row;
    }
    .table-bordered {
        border: 1px solid $border-table-row;
        border-top-left-radius: 4px;
    }
}

.mappingSettingRow {
  td {
    background-image: url("../../../assets/grey-for-white-bg.png") !important;
  }
  &:hover {
    background-image: url("../../../assets/grey-for-white-bg.png") !important;
  }
}

.document-table-demo, .expandable-table-view {
    .table {
        thead {
            tr {
                th {
                    background: $bg-header-table !important;
                }
            }
        }
    }
}

.job-results-table {
    width: max-content;
    .table {
        thead {
            tr {
                th {
                    background: $bg-header-table !important;
                }
            }
        }
        thead th:hover {
            background-color: $bg-header-table !important;
        }
        thead th:nth-child(2):hover, thead th:nth-child(3):hover, thead th:nth-child(5):hover, thead th:nth-child(6):hover {
            background-color:$bg-header-table-hover !important;
        }
    }
    thead {
        vertical-align: middle !important;
    }
}

.exploreInternalTable {
    padding: 30px 20px 30px 50px;
    margin: 0;
    table {
        thead {
            tr {
                th {
                    background-color: $bg-header-table !important;
                    &:hover {
                        background-color: $bg-header-table !important;
                    }
                }
            }
        }
        tbody {
            tr {
                td {
                    border-right: 1px solid $bg-clean;
                    &:first-child {
                        border-left: 1px solid $bg-clean;
                        border-right: 0;
                        min-width: 50px !important;
                    }

                    &.reset-expansion-style {
                        padding: 0;
                    }
                    + td:last-child {
                        padding-left: 16px !important;
                    }

                    .hc-table_row {
                        & > div {
                            border-right: 1px solid $bg-clean;
                            &:first-child {
                                border-color: transparent;
                                width: 50px;
                                min-width: 50px;
                            }
                        }
                    }
                }
            }
        }
    }

    [class^="hc-table_childrenIndentIndicatorCell"] {
        width: 30px !important;
        min-width: 30px;
    }
}

//To recover outside borders in explore table comment this style ".resultTableMain table" 
//and uncomment styles inside ".resultTableMain"
.resultTableMain table {
        border: none !important;
    }
.resultTableMain {
    thead {
        border: none;
    }
    th {
        white-space: nowrap;
    }
    .sortable:hover {
        background-color: $bg-header-table-hover !important;
    }
    tr {
        border-top: none;
        border-bottom: none;
    }
    td {
        vertical-align: top !important;
        border: none !important;
        // border-bottom: 1px solid $border-table-row;
        // border-right: 1px solid $border-table-row;
    }
    .nestedColumn {
        padding: 0 !important;
        vertical-align: top;
        & > div {
            padding: 16px 24px;
            border-bottom: 1px solid $border-table-row;
            background-color: $background-light;
        }
    }
    .hc-table_row {
        border-top: 1px solid $border-table-row;
    }
    //.table-bordered {
        // border: 1px solid $border-table-row;
        // border-top-left-radius: 4px;
        // border-top-right-radius: 4px;
        // border-top: none;
        // border-right: none;
    //}
}

tbody {
    border-top: 1px solid $bg-header-table !important;
}

.divPropertyTable {
    table thead th {
        background-color: $bg-header-table !important;
        pointer-events: none;
        border: none;
    }
}