@import "../../../theme/HCVariables.scss";
.header {
    color: #44499C;
    background-color: #fafafa !important;
    padding: 16px 16px !important;
    overflow-wrap: break-word;
    border: none !important;
    border-bottom: 1px solid #e8e8e8;
    font-weight: 500 !important;
    
    &:hover {
        background: #e0e0e0 !important;
    }
    &.being-sorted {
        background-color: #f5f5f5 !important;
    }
    &.hasExpandedRow {
        background-color: #e8e8e8 !important;
        color: #333;
    }
    &.hasExpandedRowXML {
      background-color: #e8e8e8 !important;
      color: #333;
      width: 185px !important;
    }
    &.subTableHeader {
        background: #e0e0e0 !important;
        color: #333;
    }
    &.childrenIndentHeader {
        background: #e0e0e0;
        color: #333;
    }
}
.tableCell {
    padding: 16px 16px !important;
    vertical-align: middle;
    &.being-sorted {
        background-color: #f5f5f5 !important;
    }
    .side-panel &:nth-child(2) {
        background-color: red;
    }
}

.tableCellXML {
  padding: 16px 16px 16px 18px !important;
  vertical-align: middle;
  &.being-sorted {
      background-color: #f5f5f5 !important;
  }
  .side-panel &:nth-child(2) {
      background-color: red;
  }
}
.expandButtonIndicator { 
    width: 17px;
    height: 17px;
    text-align: center !important;
    line-height: 13px !important;
    padding: 1px !important;
    border: none !important;
    border-radius: 0 !important;
    margin-right: 8px;
    
    &:focus, &:focus-visible {
        box-shadow: none !important;
    }
}
.borderedIndicator {
    border: 1px solid #e8e8e8;
    border-radius: 2px !important;
}
.iconIndicator {
    font-size: 12px;
}
.expandedRowWrapper {
    background-color: #fbfbfb !important;
    padding-left: 9% !important;
}
.sidePanel {
    background-color: inherit !important;
    padding-left: 9% !important;
}
.noDataPlaceholder {
    height: 80px;
    display: table-cell;
    vertical-align: middle;
}
.caretContainer {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: -4px;
    position: relative;
    left: 3px;
}
.caret {
    color: $light;
    font-size: 8px;
}
.activeCaret {
    color: $primary;
    font-size: 8px;
}
.subTableNested {
    padding-left: 0 !important;
}
.childrenIndentExpanded {
    padding-left: 0 !important;
    background-color: inherit !important;
}
.childrenIndentTableExpanded {
    display: table;
    width: 100%;
}
.childrenIndentTableRow {
    display: table;
    width: 100%;

    &:not(:last-child) {
        border-bottom: 1px solid #e8e8e8;
    }
}

//for entity map tables, need darker border in order to show up
.childrenIndentTableRowColored {
  display: table;
  width: 100%;

  &:not(:last-child) {
      border-bottom: 1px solid #CCCCCC !important;
  }
}

.childrenIndentIndicatorCell {
    display: table-cell;
    width: 50px;
    min-width: 50px;
    text-align: center;
    svg {
        cursor: pointer;
    }
}
.childrenIndentIndicatorEmptyCell {
    width: 4%;
    display: table-cell;
}

.childrenTextContainer {
    position: relative;
    display: flex;
    gap: 5px;
     svg {
        cursor: pointer;
    }
}

.childElementText {
}

.childrenIndentElementCell {
    display: table-cell;
}
.childrenIndentSelectCell {
    display: table-cell;
    width: 50px !important;
}
// border-top-left-radius: 4px;
