@import "variables";
@import "material";

$gutter-color: unquote("rgb(#{$palette-datahub-A100})");
$bg-color: unquote("rgb(#{$palette-datahub-500})");

.gray {
  background-color: #f5f5f5;
}

.green {
  background-color: #b9f6ca;
}

.plugin {
  width: 125px;
  height: 80px;
  border-radius: 10%;
  font-size: 14px;

  .md-ripple-container {
    border-radius: 10%;
  }
}

.start {
  background-color: green;
  &:hover {
    background-color: green;
  }
}

.end {
  background-color: red;
  &:hover {
    background-color: red;
  }
}

.plugin.active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
}

.plugin-nav {
  margin-bottom: 10px;

  md-content {
    text-align: center;
    padding: 1em;
  }
}

.md-subheader.md-default-theme, .md-subheader {
  background-color: transparent;
}

.plugin-io {
  .md-subheader .md-subheader-inner {
    padding: 10px 0px 10px 16px;
  }

  .md-subheader {
    cursor: pointer;
  }

  md-toolbar.md-primary {
    background: $bg-color;
  }
}

codemirror {
  max-width: 100%;
  border-bottom: 1px solid #ccc;

  &:last-child {
    border-bottom: none;
  }
}

.CodeMirror {
  height: 600px;
}

.plugin-name {
  line-height: 30px;
}

.plugin-duration {
  line-height: 20px;
  font-size: 70%;

  .unit {
    font-size: 80%;
    font-weight: bold;
  }
}

*:focus {
  outline: none;
}

.CodeMirror-gutters {
  background-color: $gutter-color !important;
  color: black !important;
  border: none;
}

.CodeMirror-linenumber {
  color: black;
}

.json-formatter {
  background-color: white;
  padding: 5px;
}

.center-frame {
  margin: 0px auto;
}

.half-width {
  max-width: 48%;
}
