.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 0;
    min-height: 500px;
    align-items: center;
}

.loginForm {
    padding: 50px 120px 40px 120px;
    margin-top: 140px;
    background-color: rgb(250, 250, 250);
    filter: drop-shadow(8px 8px 5px rgba(0, 0, 0, 0.15));
}

.loadDataIcon {
    background: transparent;
    border: none;
}

.entityIcon{
    background: transparent;
    border: none;
    margin-top: 10px;
    font-size: 18px;
}

.bench i {
    margin-top: 10px;
    font-size: 36px;
}
.reset i {
    margin-top: 10px;
    font-size: 32px;
}

.text {
  margin: 10px;
}