.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 0;
    min-height: 500px;
    align-items: center;
}

.installContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 20px;
    width: 580px;
    margin-top: 140px;
    background-color: rgb(250, 250, 250);
    filter: drop-shadow(8px 8px 5px rgba(0, 0, 0, 0.15));
}