<header></header>
<spinner></spinner>
<div id="content" class="container-fluid">
  <div class="row spacing-top">
    <div class="col-xs-12">
      <form ng-submit="login()">
        <div class="center-block" style="width: 350px;">
          <div class="well">
            <div class="row">
              <div class="text-center">
                <h4 class="no_margin_top"><strong>Login</strong></h4>
              </div>
            </div>
            <div class="row center-block" ng-if="hasErrors">
              <div class="col-md-12">
                <ul class="alert alert-danger">
                  <li ng-repeat="error in errors">{{error}}</li>
                </ul>
              </div>
            </div>
            <div class="form-group">
              <label for="mlHost">Host</label>
              <input class="form-control" name="mlHost" type="text" ng-model="loginForm.mlHost" placeHolder="Enter Host" required="required"/>
            </div>
            <div class="form-group">
              <label for="Port">Staging REST Port</label>
              <input name="mlStagingPort" type="text" ng-model="loginForm.mlStagingPort" class="form-control" placeHolder="Enter Staging Rest Port" required="required"/>
            </div>
            <div class="form-group">
              <label for="Port">Final REST Port</label>
              <input name="mlFinalPort" type="text" ng-model="loginForm.mlFinalPort" class="form-control" placeHolder="Enter Final Rest Port" required="required"/>
            </div>
            <div class="form-group">
              <label for="tracePort">Trace REST Port</label>
              <input name="mlTracePort" type="text" ng-model="loginForm.mlTracePort" class="form-control" placeHolder="Enter Trace Rest Port" required="required"/>
            </div>
            <div class="form-group">
              <label for="mlUsername">Username</label>
              <input name="mlUsername" type="text" ng-model="loginForm.mlUsername" class="form-control" placeHolder="Enter Username" required="required"/>
            </div>
            <div class="form-group">
              <label for="mlPassword">Password</label>
              <input name="mlPassword" type="password" ng-model="loginForm.mlPassword" class="form-control" placeHolder="Enter Password" required="required"/>
            </div>
            <div class="form-group">
              <label for="userPluginDir">User Plugin Directory</label>
              <input name="userPluginDir" type="text" ng-model="loginForm.userPluginDir" class="form-control" placeHolder="Enter User Plugin Directory" required="required"/>
            </div>

            <div class="row center-block text-center">
              <div class="col-md-12">
                <button class="btn btn-primary width_100" ng-click="login" ng-disabled="loading">Login</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<footer></footer>
