@import "../../../../theme/HCVariables.scss";

.asterisk{
    color: $danger;
}

.submitButtons{
    float: right;
    margin-right: -117px;
}

.title {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size :18px;
    color: #333333;
}

.text {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size :14px;
    color: #333333;
}
