
.asterisk{
    color: #B32424;
}

.submitButtons{
    float: right;
    margin-right: -117px;
}

.title {
    font-family: 'Helvetica Neue', Helvetica, 'Open Sans', Arial, sans-serif;
    font-size :18px;
    color: #333333;
}

.text {
    font-family: 'Helvetica Neue', Helvetica, 'Open Sans', Arial, sans-serif;
    font-size :14px;
    color: #333333;
}
