@import '@angular2-material/core/style/elevation';
@import '@angular2-material/core/style/default-theme';

$md-dialog-padding: 24px !default;

:host {
  display: block;
  overflow: hidden;

  padding: $md-dialog-padding;

  background: md-color($md-background, dialog);
  @include md-elevation(24);
}

/deep/ .md-overlay-pane {
  z-index: 99999;
  min-width: 412px;
}
