#matching-single-ruleset {
    .ant-tooltip-inner {
        width: 450px;
    }
    .rc-tree-select {
        width: 95% !important;
    }
}

#createNewListOption {
    color: #44499C;
    padding-left: 10px;
    cursor: pointer;
    
    &:hover {
      color: #7FADE3;
    }
}  
