.modalTitleLegend {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
  margin-bottom: -16px;

  .legendText {
    font-size: 11px;
    margin-left: 10px;
  }

  .structuredIcon {
    color: #5B69AF;
    font-size: 14px;
  }

  .arrayImage {
    margin-bottom: 4px
  }

}

.matchTypeSelect {
  width: 400px !important;
}

.icon {
  position: absolute;
  top: 0px;
  right: -20px;
  font-size: 12px;
  color: #7F86B5;
}

.asterisk {
  color: #B32424;
}

.footer {
  display: flex;
  justify-content: flex-end;

  .saveButton {
    margin-left: 5px;
  }
}

.input {
  position: relative;
  width: 400px;
}

