@import "../../../../theme/HCUtils.scss";

.modalTitleLegend {
  display: flex;
  justify-content: flex-end;

  .legendText {
    font-size: 11px;
    margin-left: 10px;
  }

  .structuredIcon {
    color: #5B69AF;
    font-size: 14px;
  }

  .arrayImage {
    margin-bottom: 4px
  }

}

.matchTypeSelect {
  width: 400px !important;
}

.icon {
  font-size: 12px;
  color: #7F86B5;
}

.asterisk {
  color: $danger;
}

.footer {
  display: flex;
  justify-content: flex-end;

  .saveButton {
    margin-left: 5px;
  }
}

.footerNewRuleset {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;

    .saveButton {
        margin-left: 5px;
    }
}

.input {
  position: relative;
  width: 400px !important;
}

.reduceWeightText {
  font-weight: 900;
}

.trashIcon {
    font-size: 20px;
    color: $trash-icon;
    &:hover{
        color: var(--hoverColor);
    }
}

.editFooter{
  display: flex;
  justify-content: space-between;
}

.validationError {
  @extend .validationError;
}
.switchReduceToggle {
  font-size: 1.5em;
}
