.relationships {
    width: 100%;
    height: 400px;
    .popover {
        background-color: white;
        color: #333;
        padding: 4px 12px;
        white-space: nowrap;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        .label {
            font-weight: bold;
            margin-right: 8px;
        }
    }
}

.vis-tooltip {
    box-shadow: none !important;
    border-radius: 0 !important;
    border: none !important;
    background-color: transparent !important;
}