<h1 mat-dialog-title>{{getDialogTitle()}}</h1>
<div id="flow-dialog" mat-dialog-content [formGroup]="form" class="content">
  <mat-form-field layout-fill>
    <mat-label>Flow name</mat-label>
    <input id="flow-name" matInput formControlName="name" required />
    <mat-error id="step-name-error" *ngIf="form.get('name').invalid">{{getNameErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field layout-fill>
    <mat-label>Description</mat-label>
    <input id="flow-desc" matInput formControlName="description"/>
  </mat-form-field>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Advanced Settings
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <mat-label>Batch Size</mat-label>
      <input id="flow-batch-size" matInput formControlName="batchSize"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Thread Count</mat-label>
      <input id="flow-thread-count" matInput formControlName="threadCount"
      />
    </mat-form-field>
    <mat-label>
      Options
    </mat-label>
    <button class="flow-add-option-btn" mat-icon-button (click)="onAddOption()">
      <mat-icon>add_circle</mat-icon>
    </button>
    <div
      id="flow-dialog"
      formArrayName="options"
      *ngFor="let option of this.options.controls; let i = index;">
      <div [formGroupName]="i" class="key-value-group">
        <mat-form-field>
          <mat-label>Key</mat-label>
          <input [class]="'flow-option-key-' + i" matInput formControlName="key"/>
        </mat-form-field>
        <mat-icon></mat-icon>
        <mat-form-field>
          <mat-label>Value</mat-label>
          <input [class]="'flow-option-value-' + i" matInput formControlName="value"/>
        </mat-form-field>
        <button class="flow-remove-option-btn" mat-icon-button (click)="onRemoveOption(i)">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </div>
    </div>
  </mat-expansion-panel>
</div>
<mat-dialog-actions class="bottom">
  <button id="flow-cancel-btn" color="primary" mat-raised-button (click)="onCancel()">CANCEL</button>
  <button id="flow-save-btn" [disabled]="!form.valid" color="primary" mat-raised-button (click)="onSave()">{{getSubmitButtonTitle()}}</button>
</mat-dialog-actions>
