button {
  outline: none;
}

mat-form-field {
  width: 100%;
}

mat-radio-group {
  margin-left: 10px;
}

mat-radio-button {
  margin-left: 10px;
}

h1.mat-dialog-title {
  margin-top: -12px;
  margin-left: -4px;
  margin-bottom: 11px;
}

.mat-dialog-content {
  background: #f3f3f3;
  padding: 20px;
}

.mat-dialog-actions {
  margin-right: -4px;
  justify-content: flex-end;
}

.key-value-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mat-icon {
  color: #2a4356;
}

.flow-add-option-btn .mat-icon {
  position: relative;
  top: -1px;
}

div.key-value-group {
  /deep/ div.mat-form-field-infix {
    width: 170px !important;
  }
  input {
    border: 0;
  }
}
