<div id="flows-page" class="page-layout carded fullwidth">

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent">
      <mat-toolbar style="background: transparent">
        <h1>Manage Flows</h1>
        <button id="new-flow-btn"
                mat-raised-button
                color="primary"
                class="new-flow-button"
                (click)="openFlowSettingsDialog(null)"
        >
          <span>NEW FLOW</span>
        </button>
        <span class="fill-space"></span>
        <button id="flows-redeploy-btn"
                mat-raised-button
                color="primary"
                class="redeploy-button"
                (click)="openConfirmRedeployDialog()"
        >
          <span>REDEPLOY</span>
        </button>
      </mat-toolbar>
    </div>
    <!-- / HEADER -->

    <div class="content-card">

      <mat-table id="flows-table"
                 class="flows-table"
                 #table [dataSource]="dataSource"
                 matSort>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell id="flow-name-sort-btn" *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell class="flow-name" *matCellDef="let flow">
            <div class="name-container">
              <a [routerLink]="['/edit-flow', flow.id]" title={{flow?.description}}>
                {{flow.name}}
                <step-icons-ui
                  [steps]="flow.steps"
                ></step-icons-ui>
              </a>
            </div>
          </mat-cell>
        </ng-container>

        <!-- Target Entity -->
        <ng-container matColumnDef="targetEntity">
          <mat-header-cell id="flow-entity-sort-btn" *matHeaderCellDef mat-sort-header>Target Entity</mat-header-cell>
          <mat-cell class="flow-entity" *matCellDef="let flow">
            {{flow.targetEntity}}
          </mat-cell>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <mat-header-cell id="flow-status-sort-btn" *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
          <mat-cell class="flow-status" *matCellDef="let flow">
            <span *ngIf="flow.latestJob">{{formatStatus(flow.status)}}</span>
            <span *ngIf="!flow.latestJob">Never run</span>
          </mat-cell>
        </ng-container>

        <!-- Jobs Column -->
        <ng-container matColumnDef="jobsNumber">
          <mat-header-cell id="flow-jobs-sort-btn" *matHeaderCellDef mat-sort-header>Jobs</mat-header-cell>
          <mat-cell class="flow-jobs" *matCellDef="let flow">
            <a *ngIf="flow.jobsNumber > 0" [routerLink]="['/jobs']" [queryParams]="{flowName:flow.name}">
              {{flow.jobsNumber | number}}
            </a>
            <span *ngIf="flow.jobsNumber <= 0">
              {{flow.jobsNumber | number}}
            </span>
          </mat-cell>
        </ng-container>

        <!-- Last Job Finished -->
        <ng-container matColumnDef="lastJobFinished">
          <mat-header-cell id="flow-last-job-finished-sort-btn" *matHeaderCellDef mat-sort-header="lastJobFinished">Last Job Finished</mat-header-cell>
          <mat-cell class="flow-last-job-finished" *matCellDef="let flow">
            <a *ngIf="flow.latestJob && flow.latestJob.id" [routerLink]="['/jobs', flow.latestJob.id]">{{friendlyDate(flow.lastJobFinished)}}</a>
          </mat-cell>
        </ng-container>

        <!-- Docs Committed Column -->
        <ng-container matColumnDef="docsCommitted">
          <mat-header-cell id="flow-docs-committed-sort-btn" *matHeaderCellDef mat-sort-header>Committed</mat-header-cell>
          <mat-cell class="flow-docs-committed" *matCellDef="let flow" fxHide fxShow.gt-md>
            <!-- TODO link to committed docs from a job -->
            <!-- <a *ngIf="flow.latestJob && flow.latestJob.id && flow.latestJob.successfulEvents > 0" [routerLink]="['/browse']" [queryParams]="{Collection:flow.latestJob.id}">{{flow.latestJob.successfulEvents | number}}</a> -->
            <span *ngIf="flow.latestJob">{{flow.latestJob.successfulEvents | number}}</span>
          </mat-cell>
        </ng-container>

        <!-- Docs Failed Column -->
        <ng-container matColumnDef="docsFailed">
          <mat-header-cell id="flow-docs-failed-sort-btn" *matHeaderCellDef mat-sort-header>Failed</mat-header-cell>
          <mat-cell class="flow-docs-failed" *matCellDef="let flow">
            <!-- TODO link to failed docs from a job -->
            <!-- <a *ngIf="flow.latestJob && flow.latestJob.id && flow.latestJob.failedEvents > 0" [routerLink]="">
              {{flow.latestJob.failedEvents | number}}
            </a> -->
            <span *ngIf="flow.latestJob">
              {{flow.latestJob.failedEvents | number}}
            </span>
          </mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell *matCellDef="let flow">
            <button class="flow-run"
                    mat-raised-button
                    color="primary"
                    class="run-flow-button"
                    *ngIf="checkRunStatus(flow)"
                    [disabled]="flow.steps.length ? false : true"
                    (click)="openRunDialog(flow)"
            >
              <span>RUN</span>
            </button>
            <button class="flow-run"
                    mat-raised-button
                    color="primary"
                    *ngIf="!checkRunStatus(flow)"
                    class="stop-flow-button"
                    (click)="openStopDialog(flow)"
            >
              <span>STOP</span>
            </button>
            <mat-icon class="flow-menu" [matMenuTriggerFor]="flowMenu" [matMenuTriggerData]="{flow: flow}"
                      disableRipple>more_vert</mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
        <mat-row
          *matRowDef="let flow; columns: displayedColumns;"
          class="{{ 'flow-' + flow.name.toLowerCase().split(' ').join('-') }}"
        >
        </mat-row>

      </mat-table>

      <mat-paginator id="flow-pagination"
                     #paginator
                     [length]="flows.length"
                     [pageIndex]="0"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 50]">
      </mat-paginator>

    </div>
  </div>
</div>

<mat-menu class="flow-menu-dialog" #flowMenu="matMenu">
  <ng-template matMenuContent let-flow="flow">
    <div class="flow-menu-edit-btn" mat-menu-item (click)="openFlowSettingsDialog(flow)">Edit Settings</div>
    <div class="flow-menu-delete-btn" mat-menu-item (click)="openConfirmDeleteDialog(flow)">Delete</div>
  </ng-template>
</mat-menu>
