$header-height: 70px !default;

button {
  outline: none;
}

#flows-page {
  padding: 10px 3% 20px 3%;

  .center .header .mat-toolbar-single-row {
    padding: 0 !important;
  }

}

/* HEADER ROW HEIGHT */
.flows-table .mat-header-row {
  min-height: 48px !important;
  /deep/ button.mat-sort-header-button {
    outline: none !important;
  }
}

/* BODY ROW HEIGHT */
.flows-table .mat-row {
  min-height: 42px !important;
  button {
    height: 32px !important;
    line-height: 32px !important;
  }
}

/* PAGINATOR ROW HEIGHT */
/deep/ .mat-paginator-container {
  min-height: 48px !important;
  .mat-paginator-page-size-select {
    margin: 2px 4px -4px 4px !important;
  }
}

.page-layout {
  position: relative;
  overflow: hidden;

  // Carded layout
  &.carded {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    width: 100%;
    min-width: 100%;

    // Top bg
    > .top-bg {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      left: 0;
    }

    // Fullwidth
    &.fullwidth {

      // Center
      > .center {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        position: relative;
        z-index: 2;
        padding: 0 32px;
        width: 100%;
        min-width: 0;
        max-width: 100%;
        height: 100%;
        max-height: 100%;

        > .header {
          height: $header-height !important;
          min-height: $header-height !important;
          max-height: $header-height!important;
        }

        > .content-card {
          display: flex;
          flex-direction: column;
          flex: 1 0 auto;
          overflow: hidden;

          > .content {
            flex: 1 0 auto;
          }
        }
      }
    }
  }
}

.flows-table {
  flex: 1 1 auto;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  a:hover {
    text-decoration: none;
    color: #6d8ba5;
  }

  a {
    color: #2a4356;
  }

  .mat-header-row {
    min-height: 64px;
  }

  .flow {
    position: relative;
    cursor: pointer;
    height: 84px;
  }

  .mat-cell {
    min-width: 0;
    display: flex;
    align-items: center;
  }

  .mat-column-name {
    flex: 0 1 280px;
  }

  /* .mat-column-targetEntity {
    flex: 0 1 120px;
  }

  .mat-column-status {
    flex: 0 1 150px;
  } */

  .mat-column-jobs {
    flex: 0 1 100px;
  }

  /* .mat-column-lastJobFinished {
    flex: 0 1 220px;
  } */

  .mat-column-docsCommitted {
    flex: 0 1 110px;
  }

  .mat-column-docsFailed {
    flex: 0 1 110px;
  }

  .mat-column-actions {
    flex: 0 1 180px;
  }

  .mat-header-cell .mat-icon {
    cursor: pointer;
  }

  .run-flow-button {
    margin: 0 15px 0 7px;
  }

  .stop-flow-button {
    margin: 0 10px 0 7px;
  }

  .actions-menu-icon {
    margin-left: 10px;
  }

  .quantity-indicator {
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    margin-right: 8px;

    & + span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .active-icon {
    border-radius: 50%;
  }
}

.fill-space {
  flex: 1 1 auto;
}

.name-container {
  position: relative;
  width: 240px;
}

.header h1 {
  padding-right: 30px;
  font-size: 32px;
  font-weight: 500;
}

.mat-column-actions .mat-icon {
  cursor: pointer;
}

/deep/ #flow-last-job-finished-sort-btn.mat-header-cell,
/deep/ .mat-cell.flow-last-job-finished {
  padding-left: 30px;
}

/deep/ #flow-jobs-sort-btn.mat-header-cell,
/deep/ #flow-docs-committed-sort-btn.mat-header-cell,
/deep/ #flow-docs-failed-sort-btn.mat-header-cell {
  display: flex !important;
  justify-content: flex-end !important;
}

/deep/ .mat-cell.flow-jobs,
/deep/ .mat-cell.flow-docs-committed,
/deep/ .mat-cell.flow-docs-failed {
  display:flex !important;
  justify-content:flex-end !important;
  padding-right: 20px;
}

/deep/ .mat-column-actions.mat-header-cell {
  display: flex !important;
  justify-content: center !important;
}

/deep/ .mat-cell.mat-column-actions {
  display:flex !important;
  justify-content: center !important;
  padding-right: 24px;
}
