.entityTilesContainer {
    padding: 0;
    padding-bottom: 50px;
}

.cardView {
    padding-left: 1.5vw;
    //padding-right: 40px;
    background-color: rgb(255, 255, 255)
}

.switchMapMaster{
    padding-left: 1vw;
}

.customNoEntityTitle{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333333;
    margin: -10px 10px 30px 28px;
}

.customEntityTitle{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333333;
    margin: 20px 10px 30px 0px;
}

.NoMatchDefTitle {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333333;
    margin: 20px 10px 30px 25px;
}

ul.entityTabs {
    width: 100%;
    margin-left: 1rem;
    justify-content: flex-start;
    font-size: 14px;
}

.focusEntity:focus-visible {
    outline: auto !important;
  }
  
.spinnerContainer {
position: absolute;
top: 0;
left: 0;
padding-top: 25px;
text-align: center;
width: 100%;
height: 100%;
z-index: 999;
background-color: rgba(255, 255, 255, 0.6);
.runningLabel {
    margin-top: 5px;
    color: #3b458f;
}
}