@import "../.././theme/HCTheme.scss";
#customNoEntity .ant-collapse-content {
    border-top: transparent;
}

.curateTab {
    height: 100% !important;
    border: 0 !important;
    border-bottom: 2px solid transparent !important;
    color: $text-color !important;
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
    font-size: 14px !important;
    margin-left: 0 !important;
    margin-bottom: -2px !important;
    padding: 14px 20px !important;
    &:hover {
        border-bottom: 2px solid $info !important;
        color: $info !important;
    }
    &.active {
        border-bottom: 2px solid $info !important;
        color: $info !important;
    }
}
