.entityTilesContainer {
    padding: 0;
}

.cardView {
    padding-left: 1.5vw;
    //padding-right: 40px;
    background-color: rgb(255, 255, 255)
}

.switchMapMaster{
    padding-left: 1vw;
}

.customNoEntityTitle{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333333;
    margin: -10px 10px 30px 28px;
}

.customEntityTitle{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333333;
    margin: 20px 10px 30px 0px;
}
