.entityContainer {
    padding: 40px 90px 150px 40px;
}

.cardView {
    padding-left: 1.5vw;
    //padding-right: 40px;
    background-color: rgb(255, 255, 255)
}

.switchMapMaster{
    padding-left: 1vw;
}