.recentSearches {
  

    td {
        border-bottom-color: #a0e2d3 !important;
    }
  
    td.query {
        color: #5d6aaa; 
    }

    th.icon, td.icon { 
    }

    td.icon {
        span.icon {
            cursor: pointer;
         
        }
    }
}