@import '../../theme/styles/variables';

$ml-blue: unquote("rgb(#{$palette-datahub-500})");

$path-bg-color: unquote("rgb(#{$palette-datahub-50})");

$path-fg-color: unquote("rgb(#{$palette-datahub-700})");

$subtle-background: unquote("rgb(#{$palette-datahub-400})");

$bg-color: unquote("rgb(#{$palette-datahub-A100})");

$install-border: unquote("rgb(#{$palette-datahub-800})");

$label-color: unquote("rgb(#{$palette-datahub-900})");

$red-color: unquote("rgb(#{$palette-datahub-red})");

/deep/ md-list {
  padding-top: 0px;
}

.credentials-prompt {
  background-color: $ml-blue;
  width: 100vw;
  min-height: 100vh;
  position: absolute;
}

a {
  color: #48afb3;
}

.marklogic-logo {
  padding: 20px;
  img{
    height: 30px;
  }
}

h1, h3, h4, :host /deep/ button[mdl-button], a[mdl-button] {
  color: white;
  max-width: 100%;
}

h3 {
  font-size: 26px;
}

.login-wrapper {
  width: 90%;
  margin: 1rem auto;
}

.initForm {
  h3 {
    margin-bottom: 0px;
  }
}

.init-box > div {
  width: 100%;
}

.init-buttons {
  margin-top: 20px;

  .btn {
    margin-left: 15px;
  }
}

.install-status {
  flex: none;
  overflow: auto;
  height: 500px;
  width: 90%;
  border: 1px solid $install-border;
  background-color: $bg-color;
}

.left-pane {
  max-width: 65%;
  width: 65%;
}

.tab-group {
  max-width: 35%;
  width: 35%;

  h1, h3 {
    text-align: center;
  }
}

#ProjectDirTab {

  app-select-list {
    width: 100%;
  }

  .project-list {
    overflow: auto;
  }

  .project-browser {
    p {
      margin: 2rem 0;
    }
  }

  folder-browser {
    width: 100%;
    overflow: hidden;

    /deep/ .folder-browser {
      border: 1px solid $ml-blue;
    }

    /deep/ input {
      color: black;
    }
  }

  select-list {
    margin-top: 1rem;
    overflow: hidden;
    width: 100%;
  }

  .shrinkable {
    width: 100%;
    overflow: hidden;
  }
}

$openDuration: 0.5s;
.fa-caret-right {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transition: transform $openDuration ease-in-out;
  -webkit-transition: -webkit-transform $openDuration ease-in-out;
}

.fa-caret-right.collapsed {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.tab-content {
  background-color: $subtle-background;
  padding: 2rem;
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);

  .scroller {
    max-height: 350px;
    overflow: auto;
  }

  h3 {
    margin-bottom: 2rem;
  }

  p {
    color: white;

    &.error {
      color: $red-color;
    }
  }
}


#PostInit {
  .project-path {
    background-color: $path-bg-color;
    padding: 15px;
    border-radius: 5px;
    color: $path-fg-color;
  }
}

#InitIfNeededTab {
  p {
    max-width: 100%;
  }

  .shrinky {
    overflow: visible;
    max-height: none;

    &.collapsed {
      overflow: hidden;
      max-height: 0px;
    }
  }

  .advanced-section {
    text-align: center;
  }
}

#InstallerTab {
  .fa-thumbs-up {
    color: white;
    font-size: 40pt;
  }

  .install-progress {
    color: white;

    mdl-progress {
      margin-bottom: 20px;
    }
  }
}

$openDuration: 0.5s;

$heightDuration: 1.5s;
$easingFunc: ease-in-out;


.shrinky {
  max-height: 250px;
  overflow: hidden;
  position: relative;
  -webkit-transition: max-height $heightDuration $easingFunc;
  -moz-transition: max-height $heightDuration $easingFunc;
  transition: max-height $heightDuration $easingFunc;
  transform-origin: top;

  &.collapsed {
    max-height: 0px;
  }
}

/deep/ md-progress-circle {
  path {
    stroke: white;
  }
}

form {
  display: block;
  width: 100%;
}

.error {
  color: $red-color;
  text-align: center;
  padding: 10px;
  background-color: rgba(255,255,255,0.15);
  margin-bottom: 10px;
  font-weight: bold;
}

.center-text {
  md-progress-circle {
    margin: 0pt auto;
    width: 25px;
    height: 25px;
  }
}

.help-text {
  max-width: 100%;
  font-size: 12px;
}

#InitIfNeededTab, #LoginTab {
  /deep/ .mdl-textfield--floating-label.is-focused .mdl-textfield__label,
  /deep/ .mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
  /deep/ .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label,
  /deep/ .mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
    color: white;
  }

  /deep/ .mdl-textfield__label:after {
    background-color: white;
  }

  /deep/ .mdl-textfield__input,
  /deep/ .mdl-textfield.is-invalid .mdl-textfield__input,
  /deep/ .mdl-textfield.is-invalid .mdl-textfield__input,
  /deep/ .mdl-textfield.is-invalid .mdl-textfield__label:after,
  /deep/ .mdl-textfield__label:after {
    color: white;
    border-bottom: 1px solid rgba(255,255,255, 0.12);
  }

  /deep/ .mdl-textfield.is-invalid .mdl-textfield__label:after {
    background-color: initial;
  }

  /deep/ .mdl-spinner--single-color .mdl-spinner__layer {
    border-color: white;
  }
}

.center-text {
  text-align: center;
}

.odh-icon {
  width: 50%;
  max-width: 200px;
}

.partial-install {
  color: white;

  table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;

    tr:nth-child(even) {
      background-color: rgba(255,255,255,0.05);
    }
  }

  .action-button {
    margin-bottom: 5px;
  }


  h4 {
    text-align: center;
  }

  span {
    text-align: right;
    margin-right: 5px;
  }

  .fa-check {
    color: green;
  }

  .fa-close {
    color: $red-color;
  }

}
.version {
  font-weight: bold;
  font-size: 120%;
  font-style: oblique;
}

.manual {
  margin-top: 40px;
  text-align: center;
  width: 100%;
  p {
    font-size: 80%;
  }
}

.auth {
  color: white;

  /deep/ .mdl-radio__outer-circle {
    border: 2px solid white;
  }

  /deep/ .mdl-radio.is-checked .mdl-radio__outer-circle {
    border: 2px solid #ccc;
  }

  /deep/ .mdl-radio__inner-circle {
    background: white;
  }
}

mdl-list.precheck-list {
  background-color: white;

  mdl-icon.material-icons.mdl-list__item-avatar {
    background-color: $red-color;
    margin-bottom: 50px;
  }

  .mdl-list__item--three-line,
  .mdl-list__item-primary-content,
  .mdl-list__item-text-body {
    height: auto;
    overflow: auto;
  }

  .mdl-list__item-text-body {
    margin-top: 5px;

    &.fix {
      color: black;
      border-top: 1px solid #aaa;
      padding-top: 5px;
    }
  }

  .solution {
    color: $red-color;
  }
}

/deep/ .mdl-textfield__label:after {
  bottom: 12px;
}
