.sidePanel {
    padding: 10px 10px;
  
    .selectedEntityHeading{
      font-size: 22px;
      color: #333333;
      padding-right: 10px;
    }
  
    .deleteIcon {
      color: #5B69AF;
      font-size: 24px;
    }
  
    .deleteIcon:hover{
      color: var(--hoverColor);
      cursor: pointer;
    }
  
    .close {
      position: relative;
      float: right;
      font-size: 20px;
      height: 28px;
      cursor: pointer;
    }
  
    .tabs {
      padding: 10px 0px 10px 0px;
      .sidePanelTabLabel {
        font-size: 18px;
      }
    }
  }