.sidePanel {
    padding: 10px 10px;

    .selectedEntityHeading{
      font-size: 22px;
      color: #333333;
      padding-right: 10px;
    }

    .deleteIcon {
      color: #5B69AF;
      font-size: 24px;
    }

    .deleteIconDisabled {
      color: #cccccc;
      font-size: 24px;
    }

    .deleteIcon:hover {
      color:var(--hoverColor);
      cursor: pointer;
    }

    .deleteIconDisabled:hover{
      cursor: not-allowed;
    }

    .close {
      position: relative;
      float: right;
      font-size: 20px;
      height: 28px;
      cursor: pointer;
    }

    .tabs {
      padding: 10px 0px 10px 0px;
      .sidePanelTabLabel {
        font-size: 18px;
      }
    }
  }

.formItem {
    display: flex;
    margin-left: 0.4vw;
    margin-bottom: 1vh;
}

.icon {
    position: absolute;
    top: 0px;
    right: -20px;
    font-size: 12px;
    color: #7F86B5;
}

.prefixTooltipIcon {
    position: absolute;
    top: -7px;
    right: -23px;
    font-size: 12px;
    color: #7F86B5;
}
.prefixLabel {
    display: inline-flex;
    width: 2.85vw;
    line-height: 32px;
    margin-left: 0.55vw;
    margin-right: 0.4vw;
}

.descriptionInput {
    margin-left: 1.5vw;
    width: 17.8vw;
}

.entityName {
    margin-left: 1.5vw;
}

.prefixInput {
    margin-left: -1vw;
}

.errorServer {
    color: #B32424;
    line-height: 20px;
    margin-left: 1.5vw;
}
