.sidePanel {
    padding: 10px 10px;
    max-height: 63vh;
    .selectedEntityHeading{
      font-size: 22px;
      color: #333333;
      padding-right: 10px;
    }

    .deleteIcon {
      color: #5B69AF;
      font-size: 24px;
    }

    .deleteIconDisabled {
      color: #cccccc;
      font-size: 24px;
    }

    .deleteIcon:hover {
      color:var(--hoverColor);
      cursor: pointer;
    }

    .deleteIconDisabled:hover{
      cursor: not-allowed;
    }

    .close {
      position: relative;
      float: right;
      font-size: 20px;
      height: 28px;
      cursor: pointer;
    }

    .tabs {
      padding: 10px 0px 10px 0px;
      .sidePanelTabLabel {
        font-size: 18px;
      }
    }
  }

.formItem {
    display: flex;
    margin-left: 0.4vw;
    margin-bottom: 1vh;
}

.icon {
    position: absolute;
    top: 0px;
    right: -20px;
    font-size: 12px;
    color: #7F86B5;
}

.editIconReadOnly {
  font-size: 27px;
  color: #cccccc;
  background-color: #f8f8f8;
  padding: 5px 3px 5px 3px;
  margin-bottom: -2px;
  margin-right: -3px;
  cursor: not-allowed;
}

.editIcon {
    font-size: 27px;
    color: #394494;
    background-color: #f8f8f8;
    padding: 5px 3px 5px 3px;
    margin-bottom: -2px;
    margin-right: -3px;
    cursor: pointer;
}

.questionCircle {
  font-size: 12px;
  vertical-align: top;
  margin-top: 10px;
  margin-left: 10px;
  color: #7F86B5;
}

.colorContainer {
    display: flex;
    flex-direction: row;
    margin-left: 8%;
    margin-top: 2px;
}

.colorSquare {
    width: 24px;
    height: 26px;
    background: red;
    margin-top: 4px;
}

.colorPickerContainer {
    width: 276px;
    margin-top: 5px;
    margin-left: 26%
}

.prefixTooltipIcon {
    position: absolute;
    top: -7px;
    right: -23px;
    font-size: 12px;
    color: #7F86B5;
}
.prefixLabel {
    display: inline-flex;
    width: 2.85vw;
    line-height: 32px;
    margin-left: 0.55vw;
    margin-right: 0.4vw;
}

.descriptionInput {
    margin-left: 1.5vw;
    width: 17.8vw;
}

.entityName {
    margin-left: 1.5vw;
}

.prefixInput {
    margin-left: -1vw;
}

.errorServer {
    color: #B32424;
    line-height: 20px;
    margin-left: 1.5vw;
}
