#entityTableContainer {
  .ant-table-body {
    min-height: 40vh;
  }
  .ant-table-column-has-actions.ant-table-column-has-filters.ant-table-column-has-sorters.ant-table-row-cell-break-word{
    padding-left: 22px;
    padding-right: 0px;
  }
  .ant-select-selection__clear {
    margin-top: -5px;
  }
  .ant-select-dropdown-menu-item-selected {
    background-color: #E9F7FE;
  }
}

.settingRow.ant-table-row, .settingRow.ant-table-row:hover {
  td {
    background-image: url("../../../../assets/grey-for-white-bg.png");
  }
}
