.entityTable {
  & thead > tr > th {
      background-color: #EEEEEE;
      padding-top: 12px;
      padding-bottom: 12px;
    };
  & tbody > tr > td {
      line-height: 2px;
      background-color: #FAFAFA;
      vertical-align: top;
  }
}

.entityTopRow {
  margin-top: -10px;
}

.entityTitle {
  margin-top: -8px;
  width: 96%;
  display: inline-block;
  padding-left: 10px;
}

.entitySettingsLink {
  display: inline-block;
  padding-right: 17px;
  font-size: 20px !important;
  color: #44499C;
  cursor: pointer;
  &:hover{
      color: var(--hoverColor);
  }
}

.deleteEntityLink {
  display: inline-block;
  margin-left: -10px;
  font-size: 20px !important;
  color: #44499C;
  cursor: pointer;
  &:hover{
      color: var(--hoverColor);
  }
}

.deleteTableIcon {
  padding-right: 10px;
}

.mapRelatedEntitiesText {
  display: inline-block;
  margin-left: -8px;
}

.entityFilterContainer {
  width: 98%;
  margin-top: 10px;
}

.entityFilter {
  display: inline-block;
  width: 91%;
  padding-left: 15px;
  padding-bottom: 3px;
}

.entityFilterDropdown {
  top: 114px !important;
}
.relatedEntityFilterDropdown {
  top: 69px !important;
}

.contextHelp, .uriHelp {
  width: 14vw;
  word-wrap: normal;
  font-size: 14px;
  color: #777777;
}

.docLink {
  cursor: pointer;
  margin-left: -5px;
  margin-top: 1vh;
}

.docLinksUl {
  padding-left: 1vw;
  margin-top: 1vh;
}

.xpathDoc {
  color: black;
}

.typeContainer {
  margin-bottom: -17px;

  > .typeContextContainer {
      margin-top: -13px;
      margin-bottom:-14px;
      > .typeContext {
          color: #777777;
          font-size: 12px;
      }

      > .typeText{
          margin-top: 10px;
      }
  }
}

.questionCircle {
  font-size: 12px;
  color: #7F86B5;
}

.mapExpParentContainer {
  margin-top: -12px;
  margin-bottom: -12px;
  > .validationErrors {
      width: 23vw;
      line-height: normal;
      padding-top: 6px;
      padding-left: 2px;
      padding-bottom: 4px;
      color: #DB4f59;
  }
}

.relatedMapExpParentContainer {
  margin-left: 9px;
  margin-top: -12px;
  margin-bottom: -12px;
  > .validationErrors {
      width: 23vw;
      line-height: normal;
      padding-top: 6px;
      padding-left: 2px;
      padding-bottom: 4px;
      color: #DB4f59;
  }
}

.mapExpressionContainer {
  width: 100%;
  display: inline-flex;
  vertical-align: top;
  align-items: flex-start;
}

.mapExpressionContainer > span > i,
.mapExpressionContainer > span > button {
  display: inline-block;
  cursor: pointer;
  margin-left: 6px;
}

.listIcon {
  color: #394494;
  background: transparent;
  border: none;
  margin-top: 5px;
  font-size: 20px;
  &:hover{
    color: var(--hoverColor);
  }
}

.disabledListIcon {
    color: #F5F5F5;
    background: transparent;
    border: none;
    margin-top: 5px;
    font-size: 20px;
    cursor: not-allowed;
}

.functionIcon {
  color: #394494;
  font-size: 14px;
  width: 22px;
  height: 20px;
  border: 1px solid #394494 !important;
  border-radius: 2px;
  padding: 0 !important;
  text-align: center;
  margin-top: 5px;
  background-color: #fff !important;
  &:hover{
    color: var(--hoverColor);
  }
}

.refIcon {
  color: #e2e0e6;
  background: #394494;
  width: 21px !important;
  height: 20px;
  border: 1px solid #394494;
  border-radius: 2px;
  padding: 5px 1px 3px 1px;
  margin-top: 5px;
  &:hover{
    color: var(--hoverColor);
  }
}

.disabledRefIcon {
    color: #e2e0e6;
    background: #F5F5F5;
    width: 21px !important;
    height: 20px;
    border-radius: 2px;
    padding: 5px 1px 3px 1px;
    margin-top: 5px;
    cursor: not-allowed;
}

.mapValue {
  margin-top: -6px;
  margin-bottom: -20px;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
}

.filterContainer {
  padding: 8px;
}

.searchInput {
  min-width: 8vw;
  margin-bottom: 8px;
  display: block
}
.resetButton {
  width: 90px;
  margin-right: 8px
}

.searchSubmitButton {
  width: 90px
}

.highlightStyle {
  background-color: #ffc069;
  padding: 0px;
  line-height:normal;
}

.expandIcon {
  margin-left: -10px;
  vertical-align:middle;
  text-align: left;
  font-size: 13px;
  padding-right: 1px;
}

.tableExpandIcon {
  margin-left: -18px;
  vertical-align:middle;
  text-align: left;
  font-size: 13px;
  padding-right: 5px;
}

.foreignKeyIcon {
  color: #37AA6C;
  font-size: 14px;
  margin-left: 5px;
  margin-bottom: -1px;
}

.relatedIcon {
  margin-left: 5px;
  margin-bottom: 1px;
}

.structuredIcon {
  color: #5B69AF;
  font-size: 14px;
  margin-left: 5px;
  margin-bottom: -1px;
}

.arrayImage {
  margin-left: 5px;
  margin-bottom: 1px;
  cursor: pointer;
}

.rowLink  {
  font-weight: bold;
}

.spinnerContainer { 
  display : flex;
  justify-content: center;
}