.DS_Store
.gradle/
.settings/
.metadata/
.idea/
.gradletasknamecache
npm-debug.log
marklogic-data-hub/bin/
marklogic-data-hub/src/main/resources/ml-modules/root/trace-ui
quick-start/bin/
build/
out/
releases/
.classpath
.project
gradle-local.properties
gradle-aws.properties
environment.properties
assetInstallTime.properties
/quick-start/input
/quick-start/plugins
flow.properties
node_modules/
.tmp/
*.sublime-*
.vscode/
*.iml
*.ipr
*.iws
*.db
ye-olde-project
/bin/
local-testing/test1
local-testing/mnt
gradle-aws2.properties
.java-version
