.DS_Store
.gradle/
.settings/
.metadata/
.idea/
.gradletasknamecache
npm-debug.log
marklogic-data-hub/bin/
marklogic-data-hub/src/main/resources/ml-modules/root/trace-ui
web/bin/
ml-data-hub-plugin/bin
build/
out/
releases/
.classpath
.project
gradle-local.properties
environment.properties
assetInstallTime.properties
/web/input
/web/plugins
flow.properties
node_modules/
.tmp/
*.sublime-*
.vscode/
*.iml
*.ipr
*.iws
*.db
ye-olde-project
/bin/
examples/dh-5-example/input
installer.log
.java-version
logs/
