matrix:
  include:
    - env: ML_VERSION=8.0-7
    - env: ML_VERSION=9.0-1.1
    - env: ML_VERSION=9.0-2
    - env: ML_VERSION=9.0-3

dist: trusty
sudo: required
services:
  - docker

before_install:
 - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16"
 - ./.travis/download.sh

script:
  - docker-compose run marklogic
