# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.

# Order is important. The last matching pattern has the most precedence.
marklogic-data-hub/* @ryanjdew @rahulvudutala

marklogic-data-hub-central/src/* @ryanjdew @rahulvudutala

marklogic-data-hub-central/ui/* @wooldridge @briantang @xnikhil08 @Sanjeevani19 @AkshayBajajML @rahulvudutala @aniamy @romanlescano

marklogic-data-hub-spark-connector/* @anu3990 @SameeraPriyathamTadikonda

performance-tests/* @devinnicholson

specs/* @ryanjdew
