# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.

# Order is important. The last matching pattern has the most precedence.
examples/* @rjrudin @srinathgit

marklogic-data-hub/* @rjrudin @srinathgit @ryanjdew @fsnow @rahulvudutala @akshaysonvane

marklogic-data-hub-central/src/* @rjrudin @srinathgit @ryanjdew @rahulvudutala @akshaysonvane

marklogic-data-hub-central/ui/* @wooldridge @briantang @xnikhil08 @Sanjeevani19 @timur-isangulov @brucean52 @akshaysonvane @AkshayBajajML @rahulvudutala @saarimrahman

marklogic-data-hub-spark-connector/* @rjrudin @srinathgit @anu3990 @SameeraPriyathamTadikonda

ml-data-hub-plugin/* @rjrudin @srinathgit

performance-tests/* @rjrudin @srinathgit @devinnicholson

specs/* @rjrudin @ryanjdew @srinathgit

web/* @wooldridge @srinathgit
