.pageHeader {
    padding-bottom: 10px;
}

.headerDescription {
    padding: 0 13px 10px 57px;
}

.stepNumberContainer {
    display: flex;
    margin-bottom: 10px;

    .stepText {
        margin: 8px 0 0 12px;
    }
}

.mergingDetailContainer {
    padding: 20px;

    .bold {
        font-weight: bold;
    }

    .italic {
        font-style: italic;
    }

    .greyContainer {
        padding: 10px;
        margin-left: 2%;
        margin-bottom: 35px;
        border-radius: 5px;
    }

    .topHeader {
        display: grid;
        grid-template-columns: 90% 10%;
    }

    .addStrategyButtonContainer {
        margin-left: 6.5vw;
        margin-right: -1vw;
    }

    .addRuleButtonContainer {
        margin-left: 58vw;
        margin-right: -1vw;
    }

    .addMergeButton {
        padding-left: 25px;
        padding-right: 25px;
    }

    .link {
        margin-left: 10px;
        color: #5B69AF;
        cursor: pointer;
    }
}

.disabledDeleteIcon{
    color: grey;
    opacity: 0.5;
    cursor: not-allowed;
}

.defaultIcon{
    color: green;
    margin-left: 15px;
    font-size: 20px;
}

.enabledDeleteIcon{
    color:#B32424
}

.priorityOrderContainer{
    background-color: #F4F4F4;
    max-width: 98%;
}

.priorityText{
    padding: 14px;
    font-weight: bold;
}

.questionCircle {
    font-size: 12px;
    color: #7F86B5;
    margin-left: 6px;
}

.footer {
    display: flex;
    justify-content: flex-end;

    .saveButton {
        margin-left: 5px;
    }
}

.deleteMessage {
    margin: 4% 0 8% 0;
}

.textContainer {
    display: flex;
}

.mergeDefinition {
    flex: auto;
}
