@import '../theme/styles/variables';

$bg-color: unquote("rgb(#{$palette-datahub-500})");

.container {
  margin: 10px 0px;

  .pagination {
    margin: 10px 0px;
  }
}

a,span {
  height: 50px;
  width: 50px;
  color: rgba(0,0,0,.5);
  cursor: pointer;
  display: inline-block;
  line-height: 50px;
}

span.active {
  background: $bg-color;
  border-radius: 50%;
  color: white;
}

span.active:hover {
  color: white;
}

span:hover {
  color: rgba(0,0,0,1);
}

:host {
  font-size: 20px;
  text-align: center;
}
