.settingsContainer {
    header {
        width: 100%;
        height: 0;
        .title {
            font-size :24px;
            font-weight: 500;
        }
        .stepName {
            font-size :18px;
            color: #777777;
        }
    }
}

.newDataForm {
    margin-left: 10px;
    margin-top: 20px;
}

.questionCircle {
    font-size: 12px;
    vertical-align: top;
    margin-top: 6px;
    color: #7F86B5;
}

.centerCircle {
    font-size: 12px;
    vertical-align: center;
    margin-top: 6px;
    color: #7F86B5;
}

.asterisk{
    color: #DB4f59;
}

.saveButton{
    pointer-events: none;
    &:disabled{
       &:hover{
         background-color: #f5f5f5;
         border-color: #d9d9d9;
       }
 }
}

.disabledCursor{
    cursor: not-allowed;
}

.submitButtonsForm {
    text-align: right;
    margin-bottom: -15px;
    margin-right: 5px;
}

.submitButtons {
    text-align: right;
    width: 640px;
}

span.readOnlyLabel {
    display: inline-block;
    font-size: 12px;
    position: absolute;
    top: 8px;
    left: 0;
    color: #999;
}

.copyIcon {
    color: #44499C;
    cursor: pointer;
    vertical-align: bottom;
}

.formItem {
    margin-bottom: 8px !important;
}

.defaultCollectionsLabel {
    margin-left: 25px !important;
}

.formItemTargetCollections {
    margin-bottom: 5px !important;
}

.defaultCollections {
    display: inline-block;
    line-height: 160%;
    padding-bottom: 2px;
    vertical-align: middle;
}

.inputWithTooltip {
    width: 95% !important;
}
.inputBatchSize {
    width: 60px;
}
.selectTooltip, .inputTooltip {
    position: absolute;
    top: -4px;
    right: -20px;
}

.selectHCTooltip, .inputHCTooltip {
    position: absolute;
    top: -16px;
    right: -20px;
}

.textarea {
    width: 95% !important;
    margin-top: 6px;
}
.textareaTooltip {
    position: absolute;
    display: inline-block;
    right: -20px;
    margin-top: 8px;
}

.textareaHCTooltip {
    position: absolute;
    display: inline-block;
    right: -20px;
    margin-top: 0px;
}

// Expandable form areas
.expandContainer {
    position: relative;
    margin-top: -5px;
}
.expandLabel {
    display: inline-block;
    color: #44499C;
    cursor: pointer;
    padding-left: 10px;
}
.rightArrow {
    font-size: 13px;
    color: #44499C;
    cursor: pointer;
}
.inputWithTooltip{
    width: 95% !important;
}
.validationError {
    line-height: normal;
    padding-top: 5px;
    padding-left: 1px;
    padding-bottom: 1px;
    color: #DB4f59;
}
.textareaExpand {
    width: 85% !important;
    margin-left: 24px;
}
.textareaExpandTooltip {
    position: absolute;
    display: inline-block;
    top: 0px;
    right: 54px;
}

.invalid {
    color: #C00;
    margin-top: -10px;
    margin-left: 1px;
}
.invalidExpand {
    color: #C00;
    margin-left: 24px;
}

.toggleSourceScopeMsg {
    color: #e1b657;
    line-height: normal;
    padding-top: 5px;
    padding-left: 1px;
    padding-bottom: 1px;
}

.alert {
    width: 585px;
}

.alertMessage {
    font-weight: bold;
}

.deprecatedLabel {
    font-size: 9px;
    color: #B32424;
    border: 1px solid #B32424;
    border-radius: 4px;
    margin-left: 0.5vw;
    padding: 3px;
}
