.ant-form-item-label {
    overflow: inherit;
}

#interceptorMapTooltip .ant-popover-arrow {
    margin-right: 0vh!important;
    border-style: none;
    background-color: white !important;
    margin-top: 18vh !important;
}

#interceptors-tooltip .tooltip-inner {
    max-width: 400px;
}

#interceptorMapTooltip .ant-popover {
    position: fixed;
    margin-top: 5vh;
    width: 20vw;
}

#interceptorMapTooltip .ant-popover-inner-content {
    padding: 16px !important;
    border-radius: 2px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

#interceptorMatchTooltip .ant-popover-arrow {
    margin-right: 0vh!important;
    border-style: none;
    background-color: white !important;
    margin-top: 15.5vh !important;
}

#interceptorMatchTooltip .ant-popover-inner-content {
    padding: 16px !important;
    border-radius: 2px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

#interceptorMatchTooltip .ant-popover {
    position: fixed;
    margin-top: 5vh;
    width: 20vw;
}

#interceptorMergeTooltip .ant-popover-arrow {
    margin-right: 0vh!important;
    border-style: none;
    background-color: white !important;
    margin-top: 18vh !important;
}

#interceptorMergeTooltip .ant-popover-inner-content {
    padding: 16px !important;
    border-radius: 2px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

#interceptorMergeTooltip .ant-popover {
    position: fixed;
    margin-top: 5vh;
    width: 20vw;
}
