[layout-align$="start"] {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

[layout-align$="center"] {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  max-width: 100%;
}

[layout-align$="end"] {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
}

[layout-align$="stretch"] {
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

[layout-align^="start"] {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

[layout-align="^center"] {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

[layout-align^="end"] {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}


[layout-align^="space-around"] {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

[layout-align^="space-between"] {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

[flex] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex: 1;
}

[layout-fill] {
  margin: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

[layout-padding],
[layout-padding-gt-sm],
[layout-padding-md],
[layout-padding] > *,
[layout-padding-gt-sm] > *,
[layout-padding-md] > *,
[layout-padding] > .flex,
[layout-padding] > .flex-gt-sm,
[layout-padding] > .flex-md {
  padding: 8px;
}

[layout-margin],
[layout-margin-gt-sm],
[layout-margin-md],
[layout-margin] > *,
[layout-margin-gt-sm] > *,
[layout-margin-md] > *,
[layout-margin] > .flex,
[layout-margin] > .flex-gt-sm,
[layout-margin] > .flex-md {
  margin: 8px;
}

[layout="row"] {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

[layout="column"] {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

[layout] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
