.clearContainer {
  margin: 30px 0 0 17px;
}

.clearAllBtn {
  margin-right: 2px;
}

.facetButton {
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 2px 2px 0;
}

.dateFacet {
  max-width: 280px;
  margin: 2px 2px 2px 0;
  text-overflow: ellipsis;
  overflow: hidden; 
}