.whatsNew {  
    #whatsNewDropdown{
        width: 90%;
        text-align: left;
        &::after{
            float:right;
            margin-top:8px;
        }
        & + .dropdown-menu{
            width: 90%;
        }
    }
    .content {
        .legend {
            table {  
                td.bar { 
                    div {
                        position: relative;
                        top: 5px;
                        height: 12px;
                        width: 18px;
                        border-radius: 4px;
                    }
                    div.new {
                        background-color: #3CDBC0;
                    }
                    div.changed {
                        background-color: #09ABDE;
                    }
                    div.submitted {
                        background-color: #09EFEF;
                    }
                } 
            }
        }

    }

}