.runContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 20px;
}

.errorHeader, .errorLabel {
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
}

.errorSummary {
    font-weight: normal;
}

.errorVal {
    font-weight: bold;
}