.layout {
  height: 100%;
}

.content {
  background: #fff;
  padding: 20px 24px 34px 36px;
  width: 100%;
  max-height: 100vh;
}

.sideBarFacets {
  background-color: #F1F2F5;
  margin-top: 4px;
}

.searchBar {
  background-color: white;
}

.selectedFacets {
  margin-top: -30px;
}

.spinViews {
  margin-right: 12px;
}

.switchViews {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.toggleView {
  float: right;
  padding: 8px;
  border: 1px solid #666;
  cursor: pointer;
}

.toggled {
  background-color: #44499c;
  float: right;
  padding: 8px;
  border: 1px solid #666;
  cursor: pointer;
  color: white;
}

.overlay {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 999;
}

.ant-table-content {
  height: 400px;
}