.layout {
  height: 100%;
}

.content {
  background: #fff;
  padding: 20px 24px 34px 36px;
  width: 100%;
  max-height: 100vh;
}

.sideBarFacets {
  background-color: #f1f2f5;
  margin-top: 4px;
}

.searchBar {
  background-color: white;
}

.selectedFacets {
  margin-top: -30px;
}

.spinViews {
  margin-right: 12px;
}

.viewContainer {
  padding-top: 5px;
}

.snippetViewResult {
  border-top: 1px solid #d0d1d5;
  border-bottom: 1px solid #d0d1d5;
  max-height: 55vh;
  overflow: auto;
}

.switchViews {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.sideBarExpanded {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 999;
}

.sideBarCollapsed {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 336px;
  right: 0;
  z-index: 999;
}

.ant-table-content {
  height: 400px;
}

.collapseIcon {
  width: 21px;
  height: 28px;
  line-height: 28px;
  margin-left: -36px;
  margin-top: -20px;
  background-color: #e8e8e8;
  border-radius: 0px 5px 5px 0px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}