.layout {
  height: 100%;
  display: flex;
}

.content {
  background: #fff;
  padding: 0 16px 70px 16px;
  max-height: 100vh;
  overflow-y: auto;
  width: 100%;
}

.stickyHeader{
  top: 0;
  z-index: 1;
  position: sticky;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 16px;
  padding-left: 7px;
}

.stickyHeaderCollapsed{
  position: absolute;
  background-color: #fff;
  z-index: 1;
  margin-top: -60px;
  padding-top: 10px;
  padding-right: 10px;
  width: 97%;
}

.sideBarFacets {
  background-color: #f1f2f5;
  margin-top: 4px;
  height: 100%;
}

.searchBar {
  background-color: white;
}

.selectedFacets {
  margin-top: -30px;
}

.spinViews {
  margin-right: 12px;
}

.viewContainer {
}

.viewGraphContainer {
  margin-top: 30px;
  padding-top: 10px;
}

.snippetViewResult {
  padding-top: 10px;
  margin-top: 40px;
  border-top: 1px solid #d0d1d5;
  border-bottom: 1px solid #d0d1d5;
}


.switchViews {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.spinnerContainer {
  flex-grow: 1;
  display:flex;
  justify-content: center;
}

.sideBarExpanded {
  position: absolute;
  margin-left: auto;
  margin-right: 50px;
  left: 0;
  right: 0;
  z-index: 999;
}

.sideBarCollapsed {
  position: absolute;
  margin-left: auto;
  margin-right: 363px;
  left: 336px;
  right: 0;
  z-index: 999;
}

.ant-table-content {
  height: 400px;
}

.collapseIcon {
  width: 21px;
  height: 28px;
  line-height: 28px;
  margin-left: -26px;
  margin-top: -60px;
  margin-bottom: 60px;
  background-color: #e8e8e8;
  border-radius: 0px 5px 5px 0px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  position: fixed;
}

.titleNoDefinition {
  width: 100%;
  padding-top: 3vh;
  padding-left: 2vw;
}
.borderBelowHeader {
  width: 100%;
  border-top: 1px solid #CCCCCC;
  margin-top: -10px;
}
