.layout {
  height: 100%;
}

.content {
  background: #fff;
  padding: 60px 24px 34px 26px;
  max-height: 100vh;
}

.stickyHeader{
  position: absolute;
  background-color: #fff;
  z-index: 1;
  margin-top: -60px;
  padding-top: 10px;
  padding-right: 10px;
  width: 75%;
}

.stickyHeaderCollapsed{
  position: absolute;
  background-color: #fff;
  z-index: 1;
  margin-top: -60px;
  padding-top: 10px;
  padding-right: 10px;
  width: 97%;
}

.sideBarFacets {
  background-color: #f1f2f5;
  margin-top: 4px;
  height: 100%;
}

.searchBar {
  background-color: white;
}

.selectedFacets {
  margin-top: -30px;
}

.spinViews {
  margin-right: 12px;
}

.viewContainer {
  margin-top: 150px;
  padding-top: 10px;
}

.snippetViewResult {
  padding-top: 10px;
  margin-top: 40px;
  border-top: 1px solid #d0d1d5;
  border-bottom: 1px solid #d0d1d5;
}

.tableViewResult {
  overflow: hidden;
  overflow-x: scroll;
}

.switchViews {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.spinnerContainer {
  flex-grow: 1;
  display:flex;
  justify-content: center;
}

.sideBarExpanded {
  position: absolute;
  margin-left: auto;
  margin-right: 50px;
  left: 0;
  right: 0;
  z-index: 999;
}

.sideBarCollapsed {
  position: absolute;
  margin-left: auto;
  margin-right: 363px;
  left: 336px;
  right: 0;
  z-index: 999;
}

.ant-table-content {
  height: 400px;
}

.collapseIcon {
  width: 21px;
  height: 28px;
  line-height: 28px;
  margin-left: -26px;
  margin-top: -60px;
  margin-bottom: 60px;
  background-color: #e8e8e8;
  border-radius: 0px 5px 5px 0px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  position: fixed;
}