.curateContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 20px;
    .intro {
        width: 100%;
        p {
            padding: 10px 0 15px 0;
        }
    }
}