.modelContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 20px;
}

.header {
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
}

.buttonContainer > button:nth-child(2), .buttonContainer > button:last-child {
  margin-left: 5px;
}

.icon {
  margin-right: 3px;
}

.publishIcon:before {       
  content: "\70";      
  font-family: MLCustomFont; 
  font-size: 15px;
  margin-right: 5px;
}