.modelContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 20px 20px 0px 20px;
  .intro {
    display: flex;
    justify-content: space-between;
    width: 100%;
    p {
        padding: 10px 0 15px 0;
    }
  }
}

.stickyHeader{
    position: fixed;
    background-color: #fff;
    z-index: 1;
    margin-top: -20px;
    padding-top: 20px;
    padding-right:10px;
}

.entityTableContainer{
    margin-top: 210px;
}

.entityTableContainerWithoutAlert{
    margin-top: 150px;
}

.alertContainer{
    margin-bottom: 20px;
}

.header {
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: space-between;
}

.borderBelowHeader {
  width: 100%;
  border-top: 1px solid #CCCCCC;
  margin-top: -10px;
}

.buttonContainer {
  margin-bottom: 10px;
}

.buttonContainer > button:nth-child(2), .buttonContainer > button:last-child {
  margin-left: 5px;
}

.icon {
  margin-right: 3px;
}

.publishIcon {
  font-size: 15px;
  margin-right: 3px;
}
.publishButtonParent {
  .publishButtonContainer {
    display: inline-flex;
    vertical-align: middle;
    .publishButtonText {
      align-items: center;
      margin-left: 4px;
    }
  }
}


.disabledPointerEvents{
    pointer-events: none;
}

.disabledCursor{
    cursor: not-allowed;
    margin-left: 5px;
}

.CursorButton{
    margin-left: 5px;
}

.legend {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  margin-bottom: 15px;

  .legendText {
    font-size: 14px;
    margin-left: 18px;
    img, svg {
      margin-right: 2px;
    }
  }

  .foreignKeyIcon {
    color: #37AA6C;
    font-size: 14px;
  }

  .relatedIcon {
    margin-bottom: 4px
  }

  .structuredIcon {
    color: #5B69AF;
    font-size: 14px;
  }

  .arrayImage {
    margin-bottom: 4px
  }

}
