.monitorContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 20px;
    .intro {
        display: flex;
        justify-content: space-between;
        width: 100%;
        p {
            padding: 10px 0 15px 0;
        }
        .switchViewContainer {
            display: flex;
            flex-direction: row-reverse;
            margin: 0;
            padding: 0;
        }
    }
}

.errorModal {
  margin-left: 38px;
}

.layout {
    height: 100%;
}

.content {
    background: #fff;
    padding: 20px 24px 34px 36px;
    width: 100%;
    max-height: 100vh;
}

.sideBarFacets {
    background-color: #f1f2f5;
    margin-top: 25px;
    height: 100%;
}
