.monitorContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    .intro {
        font-size: 24px;
        padding-bottom: 8px;
    }
}

.errorModal {
  margin-left: 38px;
}

.layout {
    height: 100%;
}

.content {
    background: #fff;
    padding: 20px 24px 34px 36px;
    width: 100%;
    max-height: 200vh;
    height:200vh;
}

.sideBarFacets {
    background-color: #f1f2f5;
    margin-top: 25px;
    max-height: 200vh;
    height:200vh;
}

.monitorPagination {
    display: flex;
    justify-content: flex-end;
    margin-right: -10px;
    margin-top: -39px;
}
