@import "../../src/theme/HCVariables.scss";

.spacer {
    padding: 15px 0 10px;
  }
  .errorContainer {
    border: 1px solid $danger;
    border-radius: 4px;
    padding: 15px;
    min-height: 100px;
    max-height: 350px;
    overflow-y: scroll;
  }
  .superiorMiddleContainer {
    padding-bottom: 40px;
    padding-top: 90px;
  }
  .copyButton {
    width: 70;
  }
  .buttonCopyCol {
    text-align: right;
    padding-top: 20px;
  }
  
  .backOperationFailed {
    text-align: right;
    color: $trash-icon;
    font-size: 17px;
  }
  .backOperationFailed:hover {
    color: $trash-icon-hover;
  }

  .contactSupport {
    padding-top: 10px;
    font-size: 17px;
  }
  .contactLink {
    color: $link;
  }
  .contactLink:hover {
    color: $hover-link;
  }