.Overview_homePageInfoPopover__32jVZ .ant-popover-inner-content{
    padding: 0px;
}

.Overview_homePageInfoPopover__32jVZ .ant-popover-arrow {
    margin-right: -0.45vw;
    border-style: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    background-color: #E9F7FE;
}
