@font-face {
    font-family: 'MLCustomFont';
    src: url('../fonts/ML_IconFont_explore.ttf') format('truetype');
    src: url('../fonts/icomoon_load-model-curate-run.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.overviewContainer {
    line-height: 1.4;
    color: #333;
    background: #fff;
    margin: 20px 70px 0px 40px;
    .title {
        font-size: 28px;
    }
    .introText {
        margin: 20px 0 60px 0;
    }
    .spacer {
        margin-top: 20px;
    }
    .note {
        color:#777777;
        font-weight: 600;
    }
    .cardsContainer {
        min-width: 700px;
        overflow: auto;
        .cards {
            display: grid;
            grid-template-columns: 20% 20% 20% 25%;
            grid-gap: 40px;
            .subtitle {
                padding: 10px;
                font-size: 16pt;
            }
            .body {
                padding: 0px 20px 10px 48px;
            }
            i {
                position: relative;
                top: 1px;
                padding-right: 10px;
                font-size: 24px;
            }

            // Enabled cards: hover border, cursor pointer, default backaground
            .cardLoad.enabled:hover,
            .cardModel.enabled:hover,
            .cardCurate.enabled:hover,
            .cardExplore.enabled:hover,
            .cardRun.enabled:hover {
                border: 1px solid #394494;
                cursor: pointer;
            }

            // Disabled cards: no hover border, default cursor, light-gray background
            .cardLoad.disabled:hover,
            .cardModel.disabled:hover,
            .cardCurate.disabled:hover,
            .cardExplore.disabled:hover,
            .cardRun.disabled:hover {
                cursor: default;
            }
            .cardLoad.disabled,
            .cardModel.disabled,
            .cardCurate.disabled {
                .head {
                    background-color: #FAFBFC;
                }
            }
            .cardExplore.disabled,
            .cardRun.disabled {
                background-color: #FAFBFC;
            }

            // Disabled cards have permissions text
            .permissions, .permissionsCurate, .permissionsRun, .permissionsExplore {
                position: relative;
                padding: 24px 0 0 10px;
                text-align: right;
                font-size: 9pt;
                bottom: 5px;
                right: 5px;
            }
            .permissionsCurate {
                padding: 42px 0 0 10px;
            }
            .permissionsRun {
                padding: 98px 0 0 10px;
            }
            .permissionsExplore {
                padding: 110px 0 0 10px;
            }

            .cardLoad {
                position: relative;
                border-radius: 4px;
                border: 1px solid #a8819c;
                background-color: #eee6eb;
                .head {
                    border-radius: 4px 4px 0 0;
                    min-height: 21vh;
                    border-bottom: 1px solid #a8819c;
                    background-image: url("../assets/load_visual_big.png");
                    background-color: #FFF;
                    background-size: 60%;
                    background-repeat:no-repeat;
                    background-position:center;
                }
                .subtitle {
                    i {
                        color: #520339;
                        padding-right: 12px;
                        padding-left: 4px;
                    }
                    .icon:before {
                        color: #3D409C;
                        content: "\e94e";
                        font-family: MLCustomFont;
                        font-size: 24px;
                        padding-bottom: 15px;
                        padding-right: 13px;
                    }
                }
            }
            
            .cardModel {
                position: relative;
                border-radius: 4px;
                border: 1px solid #7f9cc5;
                background-color: #e6ebf4;
                .head {
                    border-radius: 4px 4px 0 0;
                    min-height: 21vh;
                    border-bottom: 1px solid #7f9cc5;
                    background-image: url("../assets/model_visual_big.png");
                    background-color: #FFF;
                    background-size: 50%;
                    background-repeat:no-repeat;
                    background-position:center;
                }
                .subtitle {
                    i {
                        color: #003A8C;
                        padding-right: 11px;
                        padding-left: 2px;
                    }
                    .icon:before {
                        color: #304F7F;
                        content: "\e948";
                        font-family: MLCustomFont;
                        font-size: 24px;
                        padding-bottom: 15px;
                        padding-right: 13px;
                    }
                }
            }
            
            .cardCurate {
                position: relative;
                border-radius: 4px;
                border: 1px solid #dcbd8a;
                background-color: #f8f2e8;
                .head {
                    border-radius: 4px 4px 0 0;
                    min-height: 21vh;
                    border-bottom: 1px solid #dcbd8a;
                    background-image: url("../assets/curate_visual_map.png");
                    background-color: #FFF;
                    background-size: 60%;
                    background-repeat:no-repeat;
                    background-position:center;

                }
                .subtitle {
                    i {
                        color: #BC811D;
                    }
                    .icon:before {
                        color: #184B5A;
                        content: "\e955";
                        font-family: MLCustomFont;
                        font-size: 24px;
                        padding-bottom: 15px;
                        padding-right: 13px;
                    }
                }
            }
            
            .cardExplore {
                grid-row: span 2;
                border: 1px solid #90aeb2;
                background-color: #FFF;
                background-image: url("../assets/explore_visual_big.png");
                background-size: 60%;
                background-repeat:no-repeat;
                background-position: 50% 25%;
                position: relative;
                border-radius: 4px;
                .head {
                    border-radius: 0 0 4px 4px;
                    min-height: 22vh;
                    width: 100%;
                    border-top: 1px solid #90aeb2;
                    background-color: #e6eded;
                    position: absolute;
                    bottom: 0px;
                    .icon:before {
                        color: #00474F;  
                        content: "\68";  
                        font-family: MLCustomFont;
                        font-size: 24px;
                        float: left;
                        padding: 10px;
                        padding-left: 13px;
                    }
                }
            }
            
            .cardRun {
                position: relative;
                border-radius: 4px;
                grid-column: span 3;
                border: 1px solid #8288bb;
                background-color: #ffffff;
                background-image: url("../assets/run_visual_big.png");
                background-repeat:no-repeat;
                background-position: 85% 45%;
                background-size: 55%;
                .head {
                    border-radius: 4px 0 0 4px;
                    width: 30%;
                    border-right: 1px solid #8288bb;
                    min-height: 23vh;
                    background-color: #e6e7f2;
                }
                .subtitle {
                    i {
                        color: #061178;
                        padding-right: 11px;
                        padding-left: 2px;
                    }
                    .icon:before {
                        color: #82388A;
                        content: "\e926";
                        font-family: MLCustomFont;
                        font-size: 24px;
                        padding-bottom: 15px;
                        padding-right: 13px;
                    }
                }
            }

        }
    }
}

.active {
	background-color: #FFF;
}
.inactive {
	background-color: #EEE;
}

a {
	text-decoration: none;
	color: #5B69AF;
}

.links {
	padding: 0px 20px 5px 45px;
}
.docicon:before {
    content: "\f0f6";  
    font-family: FontAwesome;
	font-size: 18px;
	padding: 0 5px 0 0;
	color:  #333333;
 }
.videoicon:before {
    content: "\f03d";  
    font-family: FontAwesome;
	font-size: 18px;
	padding: 0 5px 0 0;
	color:  #333333;
 }
