#homePagePopover .ant-popover-inner-content {
    padding: 0px;
}

#homePagePopover .ant-popover-arrow {
    margin-right: -0.45vw !important;
    border-style: none;
    background-color: #E9F7FE;
}
