@font-face {
    font-family: 'MLCustomFont';
    src: url('../fonts/ML_IconFont_explore.ttf') format('truetype');
    src: url('../fonts/icomoon_load-model-curate-run.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.overviewContainer {
    line-height: 1.4;
    color: #333;
    background: #fff;
    margin: 20px 40px 0px 40px;
    .title {
        font-size: 42px;
        font-weight: bold;
    }
    .introText {
        margin: 20px 0 40px 0;
        width: 80%;
        font-size: 18px;
    }
    .spacer {
        margin-top: 20px;
    }
    .note {
        color:#777777;
        font-weight: 600;
    }
    .cardsContainer {
        min-width: 700px;
        overflow: auto;
        .cards {
            display: grid;
            grid-template-columns: 20% 20% 20% 25%;
            grid-gap: 40px;
            margin-bottom: 5px;
            .subtitle {
                padding: 10px 10px 10px 44px;
                font-size: 16pt;
            }
            .body {
                padding: 0px 20px 10px 44px;
            }
            i {
                position: relative;
                top: 1px;
                padding-right: 10px;
                font-size: 24px;
            }

            // Enabled cards: hover border, cursor pointer, default backaground
            .cardLoad.enabled:hover,
            .cardModel.enabled:hover,
            .cardCurate.enabled:hover,
            .cardExplore.enabled:hover,
            .cardRun.enabled:hover {
                border: 1px solid #394494;
                cursor: pointer;
            }

            // Disabled cards: no hover border, default cursor, light-gray background
            .cardLoad.disabled:hover,
            .cardModel.disabled:hover,
            .cardCurate.disabled:hover,
            .cardExplore.disabled:hover,
            .cardRun.disabled:hover {
                cursor: default;
            }
            .cardLoad.disabled,
            .cardModel.disabled,
            .cardCurate.disabled {
                .head {
                    background-color: #FAFBFC;
                }
            }
            .cardExplore.disabled,
            .cardRun.disabled {
                background-color: #FAFBFC;
            }

            // Disabled cards have permissions text
            .permissions, .permissionsCurate, .permissionsRun, .permissionsExplore {
                position: relative;
                padding-top: 24px;
                font-size: 9pt;
                bottom: 5px;
                color: #777;
                font-weight: 600;
            }
            .permissionsRun {
                padding-top: 98px;
            }
            .permissionsExplore {
                padding-top: 110px;
            }

            .cardLoad {
                position: relative;
                border-radius: 4px;
                border: 1px solid #DEE0E0;
                box-shadow: 0 4px 4px #ccc;
                .head {
                    min-height: 20vh;
                    border-bottom: 1px solid #f4f4f4;
                    background-image: url("../assets/load-overview.svg");
                    background-repeat:no-repeat;
                    background-position:center;
                    background-color: #F2F0FA;
                    border-radius: 4px 4px 0 0;
                }
                .subtitle {
                    i {
                        color: #520339;
                        padding-right: 12px;
                        padding-left: 4px;
                    }
                }
            }

            .cardModel {
                position: relative;
                border-radius: 4px;
                border: 1px solid #DEE0E0;
                box-shadow: 0 4px 4px #ccc;
                .head {
                    min-height: 20vh;
                    border-bottom: 1px solid #f4f4f4;
                    background-image: url("../assets/model-overview.svg");
                    background-repeat:no-repeat;
                    background-position:center;
                    background-color: #EDF3FB;
                    border-radius: 4px 4px 0 0;
                }
                .subtitle {
                    i {
                        color: #003A8C;
                        padding-right: 11px;
                        padding-left: 2px;
                    }
                }
            }

            .cardCurate {
                position: relative;
                border-radius: 4px;
                border: 1px solid #DEE0E0;
                box-shadow: 0 4px 4px #ccc;
                .head {
                    min-height: 20vh;
                    border-bottom: 1px solid #f4f4f4;
                    background-image: url("../assets/curate-overview.svg");
                    background-repeat:no-repeat;
                    background-position:center;
                    background-color: #E3F4F9;
                    border-radius: 4px 4px 0 0;
                }
                .subtitle {
                    i {
                        color: #BC811D;
                    }
                }
            }

            .cardExplore {
                grid-row: span 2;
                background-color: #ECFAF7;
                background-image: url("../assets/explore-overview.svg");
                background-repeat:no-repeat;
                background-position: 50% 25%;
                background-size: 45%;
                position: relative;
                border: 1px solid #DEE0E0;
                box-shadow: 0 4px 4px #ccc;
                border-radius: 4px 4px 0 0;
                .head {
                    min-height: 20vh;
                    width: 100%;
                    border-top: 1px solid #f4f4f4;
                    background-color: #FFF;
                    border-radius: 4px 4px 0 0;
                    position: absolute;
                    bottom: 0px;
                }
            }

            .cardRun {
                position: relative;
                grid-column: span 3;
                background-color: #FAF2FC;
                background-image: url("../assets/run-overview.svg");
                background-repeat:no-repeat;
                background-position: 70% 45%;
                border: 1px solid #DEE0E0;
                box-shadow: 0 4px 4px #ccc;
                border-radius: 4px 4px 0 0;
                .head {
                    width: 30%;
                    border-right: 1px solid #f4f4f4;
                    min-height: 20vh;
                    background-color: #FFF;
                    border-radius: 4px 4px 0 0;
                }
                .subtitle {
                    i {
                        color: #061178;
                        padding-right: 11px;
                        padding-left: 2px;
                    }
                }
            }

        }
    }
}

.active {
    background-color: #FFF;
    border: 2px solid #7F86B5;
}
.inactive {
    background-color: #FAFBFC;
}

a {
    text-decoration: none;
    color: #5B69AF;
}

.links {
    padding: 0px 20px 5px 45px;
}
.docicon:before {
    content: "\f0f6";
    font-family: FontAwesome;
    font-size: 18px;
    padding: 0 5px 0 0;
    color:  #333333;
}
.videoicon:before {
    content: "\f03d";
    font-family: FontAwesome;
    font-size: 18px;
    padding: 0 5px 0 0;
    color:  #333333;
}
