.runContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 20px;
    .intro {
        width: 100%;
        p {
            padding: 10px 0 0 0;
            margin-bottom: 0;
        }
    }
}

.errorHeader, .errorLabel {
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
}

.errorSummary {
    font-weight: normal;
    padding-top: 40px;
}

.errorVal {
    font-weight: bold;
}

.exploreIcon:before {
    content: "\68";
    font-family: ExploreIcon;
    font-size: 24px;
    padding-right: 6px;
    vertical-align: middle;
    color: #ffffff;
}

@font-face {
    font-family: 'ExploreIcon';
    src: url(../fonts/ML_IconFont.ttf)
    format('truetype');
}

.exploreDataContainer {
    margin: auto;
    width: 50%;
    padding-top: 10px;
    margin-bottom: -10px;
}

.exploreCuratedData, .exploreLoadedData {
    cursor: pointer;
    border-radius: 4px;
    padding: 0px 7px;
    margin-right: -3px;
}

.exploreText{
    font-size: 17px;
    padding-right: 5px;
}
.running {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 25px;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.6);
    .runningLabel {
        margin-top: 5px;
        color: #3b458f;
    }
}

.unSuccessfulRun {
    margin-right: 16px;
    float: left;
    color: #B32424;
    font-size: 22px;
}