
@font-face {
    font-family: 'ExploreIcon';
    src: url(../fonts/ML_IconFont.ttf)  format('truetype');
}

.exploreIconHeader:before {
    content: "\68";
    font-family: ExploreIcon;
    font-size: 24px;
    position: relative;
    left: -10px;
    display: inline-block;
    padding-left: 10px;
}


div.mosaic-container div.mosaic-tile {
    border: solid 1px;
    padding: 0;
    margin: 0;
}

div.mosaic-container-explore div.mosaic-tile {
    border-color: #00474F;
}

div.mosaic-container div.mosaic-window-toolbar {
    height: 40px;
}

div.mosaic-container div.mosaic-window-body {
    overflow: scroll;
}

div.mosaic-container-load div.mosaic-tile {
    border-color: #a8819c;
}
div.mosaic-container-model div.mosaic-tile {
    border-color: #7f9cc5;
}
div.mosaic-container-curate div.mosaic-tile {
    border-color: #dcbd8a;
}
div.mosaic-container-run div.mosaic-tile {
    border-color: #8288bb;
}
div.mosaic-container-explore div.mosaic-tile {
    border-color: #90aeb2;
}

footer.ant-layout-footer {
    margin-top: 0;
}
