
@font-face {
    font-family: 'ExploreIcon';
    src: url(../fonts/ML_IconFont_explore.ttf)  format('truetype');
}

.exploreIconHeader:before {
    content: "\68";
    font-family: ExploreIcon;
    font-size: 24px;
    position: relative;
    left: -10px;
    display: inline-block;
    padding-left: 10px;
}

div.mosaic-container{
    z-index: 0;
}


div.mosaic-container div.mosaic-tile {
    border: solid 1px;
    padding: 0;
    margin: 0;
}

div.ant-collapse-item{
    background: white;
}


div.mosaic-container-explore div.mosaic-tile {
    border-color: #00474F;
}

div.mosaic-container div.mosaic-window-toolbar {
    height: 40px;
}

div.mosaic-container div.mosaic-window-body {
    overflow: auto;
}

div.mosaic-container-load div.mosaic-tile,
div.mosaic-container-model div.mosaic-tile,
div.mosaic-container-curate div.mosaic-tile,
div.mosaic-container-run div.mosaic-tile,
div.mosaic-container-explore div.mosaic-tile {
    border-color: #BFBFBF;
    border-radius: 2px;
}

footer.ant-layout-footer {
    margin-top: 0;
}
