bin/
build/
.idea
.classpath
.project
.gradle
.settings
node_modules
src/main/resources/static
src/main/resources/templates
.DS_Store

# Typing #
/src/typings/tsd/
/typings/
/tsd_typings/
.webpack.json
src/main/ui/**/*.js
src/main/ui/**/*.map
coverage/
tmp/
