<div class="selected-entity" *ngIf="entity">
  <div class="mdl-dialog__title">
    <div>{{entity.name || 'New Entity'}}</div>
    <div class="mdl-layout-spacer"></div>
    <mdl-button mdl-button-type="icon" (click)="cancel()">
      <i class="fa fa-close"></i>
    </mdl-button>
  </div>
  <div class="mdl-dialog__content">
    <div>
      <mdl-textfield type="text" autofocus label="Title" required [(ngModel)]="entity.info.title" floating-label></mdl-textfield>
    </div>
    <div>
      <mdl-textfield type="text" label="Version" required [(ngModel)]="entity.info.version" floating-label></mdl-textfield>
    </div>
    <div>
      <mdl-textfield type="text" label="Description" [(ngModel)]="entity.info.description" floating-label></mdl-textfield>
    </div>
    <div>
      <mdl-textfield type="text" label="Base URI" [(ngModel)]="entity.info.baseUri" floating-label></mdl-textfield>
    </div>
    <h4>Properties</h4>
    <div class="toolbar">
      <button id="add-property" mdl-button mdl-button-type="mini-fab" mdl-colored="primary" (click)="addProperty()">
        <mdl-icon>add</mdl-icon>
      </button>
      <button id="delete-property" [disabled]="selectedCount() === 0" mdl-button mdl-button-type="mini-fab" (click)="deleteSelectedProperties()">
        <mdl-icon>delete</mdl-icon>
      </button>
    </div>
    <table class="properties">
      <thead>
        <th><input type="checkbox" (change)="toggleSelection($event)"></th>
        <th class="col-toggler" title="Primary Key"><i class="fa fa-key"></i></th>
        <th (click)="toggleRangeIndexSelection()" class="col-toggler" title="Element Range Index"><i class="fa fa-bolt"></i></th>
        <th (click)="togglePathRangeIndexSelection()" class="col-toggler" title="Path Range Index"><i class="fa fa-code"></i></th>
        <th (click)="toggleWordLexiconSelection()"  class="col-toggler" title="Word Lexicon"><i class="fa fa-won"></i></th>
        <th (click)="toggleRequiredSelection()"  class="col-toggler" title="Required Field"><i class="fa fa-exclamation"></i></th>
        <th>Name</th>
        <th>Type</th>
        <th>Cardinality</th>
        <th>Description</th>
      </thead>
      <tbody>
        <tr *ngFor="let property of entity.definition.properties; let i = index">
          <td><input type="checkbox" [(ngModel)]="property.selected"></td>
          <td class="col-toggler" (click)="togglePrimaryKey(property)"><i [ngClass]="{'active': property.isPrimaryKey}" class="fa fa-key"></i></td>
          <td class="col-toggler" (click)="property.hasElementRangeIndex = !property.hasElementRangeIndex"><i [ngClass]="{'active': property.hasElementRangeIndex}" class="fa fa-bolt"></i></td>
          <td class="col-toggler" (click)="property.hasRangeIndex = !property.hasRangeIndex"><i [ngClass]="{'active': property.hasRangeIndex}" class="fa fa-code"></i></td>
          <td class="col-toggler" (click)="property.hasWordLexicon = !property.hasWordLexicon"><i [ngClass]="{'active': property.hasWordLexicon}" class="fa fa-won"></i></td>
          <td class="col-toggler" (click)="property.required = !property.required"><i [ngClass]="{'active': property.required}" class="fa fa-exclamation"></i></td>

          <td><input type="text" [(ngModel)]="property.name"></td>
          <td>
            <select [ngModel]="getTypeForEdit(property)" (ngModelChange)="setType(property, $event)">
              <option *ngFor="let option of dataTypes" [disabled]="!!option.disabled" [ngValue]="option.value">{{option.label}}</option>
            </select>
            <span *ngIf="property.isString" (click)="setCollation(property)">
              <i class="fa fa-sort-alpha-asc"></i>
            </span>
          </td>
          <td>
            <select [ngModel]="getCardinality(property)" (ngModelChange)="setCardinality(property, $event)">
              <option *ngFor="let option of cardinalities" [ngValue]="option.value">{{option.label}}</option>
            </select>
          </td>
          <td><input type="text" [(ngModel)]="property.description" (keydown)="onDescKey($event, i)"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mdl-dialog__actions">
    <button mdl-button mdl-button-type="raised" mdl-colored="primary" (click)="saveEntity()">Save</button>
    <button mdl-button mdl-button-type="raised" (click)="cancel()">Cancel</button>
  </div>
</div>
