@import '../../../../../../../node_modules/material-design-lite/src/color-definitions';

$palette-datahub:
"177, 199, 217"
"125, 163, 192"
"87, 136, 173"
"62, 99, 127"
"52, 83, 107"
"42, 67, 86"
"32, 51, 65"
"22, 35, 45"
"12, 19, 24"
"2, 3, 4"
"177, 199, 217"
"125, 163, 192"
"52, 83, 107"
"22, 35, 45"
"204, 82, 79"
"42, 86, 53"
"204, 150, 150"
"225, 202, 150"
;

$palette-datahub-50: nth($palette-datahub, 1);
$palette-datahub-100: nth($palette-datahub, 2);
$palette-datahub-200: nth($palette-datahub, 3);
$palette-datahub-300: nth($palette-datahub, 4);
$palette-datahub-400: nth($palette-datahub, 5);
$palette-datahub-500: nth($palette-datahub, 6);
$palette-datahub-600: nth($palette-datahub, 7);
$palette-datahub-700: nth($palette-datahub, 8);
$palette-datahub-800: nth($palette-datahub, 9);
$palette-datahub-900: nth($palette-datahub, 10);
$palette-datahub-A100: nth($palette-datahub, 11);
$palette-datahub-A200: nth($palette-datahub, 12);
$palette-datahub-A400: nth($palette-datahub, 13);
$palette-datahub-A700: nth($palette-datahub, 14);
$palette-datahub-red: nth($palette-datahub, 15);
$palette-datahub-green: nth($palette-datahub, 16);
$palette-datahub-lightred: nth($palette-datahub, 17);
$palette-datahub-pale-yellow: nth($palette-datahub, 18);

$trim-color-classes: true;

$color-primary: $palette-datahub-500 !default;
$color-primary-dark: $palette-datahub-700 !default;
$color-accent: $palette-pink-A200 !default;
$input-text-error-color: unquote("rgb(#{$color-primary})") !default;
