@import '~@angular/material/theming';
@import './colors';

@include mat-core();

// TODO: Set Accent color

$md-DHF-blue: (
    50 : #e5e8eb,
    100 : #bfc7cc,
    200 : #95a1ab,
    300 : #6a7b89,
    400 : #4a5f6f,
    500 : #2a4356,
    600 : #253d4f,
    700 : #1f3445,
    800 : #192c3c,
    900 : #0f1e2b,
    A100 : #6ab1ff,
    A200 : #3797ff,
    A400 : #047cff,
    A700 : #0070ea,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$dhf-app-primary: mat-palette($md-DHF-blue);
$dhf-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$dhf-app-warn:    mat-palette($mat-red);

$dhf-app-theme: mat-light-theme($dhf-app-primary, $dhf-app-accent, $dhf-app-warn);
@include angular-material-theme($dhf-app-theme);

/* Outline Input */
.mat-form-field-outline, .mat-form-field-appearance-outline .mat-form-field-outline-thick, .mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgb(125, 163, 192);
  > .mat-form-field-outline-start, .mat-form-field-outline-gap, .mat-form-field-outline-end {
    background: #fefefe; 
  }
}

/* Outline Input focused */
.mat-form-field-appearance-outline.mat-focused {
   color: rgb(42, 67, 86);
}

.mat-form-field-label { 
  color: black;
}

/* Outline read only input */
.read-only > .mat-form-field-wrapper > .mat-form-field-flex {
  .mat-form-field-outline {
    // color: rgb(125, 163, 192);
    > .mat-form-field-outline-start, .mat-form-field-outline-gap, .mat-form-field-outline-end {
      background: rgba(217, 217, 217, 0.65);  
    }
  }
}

.mat-progress-bar-buffer {
  background-color: #f8f8f8;
}

// Drag step preview
.step.cdk-drag-preview{
  outline: 1px solid #e6e6e6;
  border-radius: 4px;
  width: 200px;
  height: 160px;
  background: white;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  .bar {
    height: 22px;
  }
  .bar.mapping {
    background: $color-mapping;
  }
  .bar.mastering {
    background: $color-mastering;
  }
  .bar.ingestion {
    background: $color-ingest;
  }
  .bar.custom {
    background: $color-custom;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
  .step-title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    margin: 3px 0 5px 5px;
  }
  .step-title.mapping {
    color: $color-mapping;
  }
  .step-title.mastering {
    color: $color-mastering;
  }
  .step-title.ingestion {
    color: $color-ingest;
  }
  .step-title.custom {
    color: $color-custom;
  }
  .step-icons, .move-icon {
    display: none;
  }
  h3.step-name {
    margin: 0 6px;
    font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
  }
  .summary {
    margin: 6px;
    line-height: 18px;
  }
  .summary-label {
    font-size: 12px;
    font-weight: 400;
    color: #777;
  }
  .summary-content {
    font-size: 14px;
    font-weight: 400;
  }
}