
.selectOptionsStyle {
    line-height: 2vh;
}

.dropDownStyle{
    max-height: 40vh;
    overflow: auto;
}

.searchIcon{
    font-size: 20px;
    margin-top: -4px;
    margin-right: -4px;
    cursor: default;
}