<h1>{{status.selectedEntity.entityName}}</h1>
<h2>Input Flows</h2><button type="submit" name="newInputFlow" class="btn btn-primary" ng-click="createFlow(status.selectedEntity.entityName, 'input')">New</button>
<ul>
    <li class="nav" ng-repeat="flow in status.selectedEntity.inputFlows">
      <h3><i ng-class="flow.synched ? 'fa fa-file-text-o sycned' : 'fa fa-file-text-o unsycned'"></i>{{flow.flowName}}</h3>
      <div class="button-group-right">
        <button type="submit" name="runFlow" class="btn btn-success" ng-click="runInputFlow(flow)" ng-disabled="!flow.synched" ng-if="flow.inputFlowTaskId == null">Load Data</button>
        <button type="submit" name="runFlow" class="btn btn-success" ng-click="cancelInputFlow(flow)" ng-if="flow.inputFlowTaskId != null">Cancel Load Data</button>
      </div>
      <abn-tree tree-data="flow.treeData.children" icon-leaf="fa fa-file-text-o" icon-expand="fa fa-folder-o" icon-collapse="fa fa-folder-open-o" expand-level="1"></abn-tree>
    </li>
</ul>
<div class="divider"></div>
<h2>Harmonize Flows</h2><button type="submit" name="newHarmonizeFlow" class="btn btn-primary" ng-click="createFlow(status.selectedEntity.entityName, 'harmonize')">New</button>
<ul>
    <li class="nav" ng-repeat="flow in status.selectedEntity.harmonizeFlows">
      <h3><i ng-class="flow.synched ? 'fa fa-file-text-o sycned' : 'fa fa-file-text-o unsycned'"></i>{{flow.flowName}}</h3>
      <div class="button-group-right">
        <button type="submit" name="runFlow" class="btn btn-success" ng-click="runFlow(flow)" ng-disabled="!flow.synched" ng-if="flow.runFlowTaskId == null">Run</button>
        <button type="submit" name="runFlow" class="btn btn-success" ng-click="cancelRunFlow(flow)" ng-if="flow.runFlowTaskId != null">Cancel Run</button>
        <button type="submit" name="testFlow" class="btn btn-success" ng-click="testFlow(flow)" ng-disabled="!flow.synched" ng-if="flow.testFlowTaskId == null">Test</button>
            <button type="submit" name="testFlow" class="btn btn-success" ng-click="cancelTestFlow(flow)" ng-if="flow.testFlowTaskId != null">Cancel Test</button>
      </div>
      <abn-tree tree-data="flow.treeData.children" icon-leaf="fa fa-file-text-o" icon-expand="fa fa-folder-o" icon-collapse="fa fa-folder-open-o" expand-level="1"></abn-tree>
    </li>
</ul>
