<header></header>
<spinner></spinner>
<div id="progressBar" ng-if="action.type">
  <div class="row-fluid row-flex">
    <div class="col-md-12">
      <uib-progressbar class="progress-striped active" value="100" type="{{action.progressType}}">{{action.message}}</uib-progressbar>
    </div>
  </div>
</div>
<div id="content" class="container-fluid" ng-if="!action.type">
  <div class="row-fluid row-flex">
    <div id="sidebar" class="col-md-4">
      <div ng-include="'top/entities.html'" ng-if="status.entities"></div>
    </div>
    <div id="center" class="col-md-8">
      <div class="deploy-errors" ng-if="deployErrors && deployErrors.length > 0">
        <h3>Deploy Errors</h3>
        <div ng-repeat="error in deployErrors">
          <div class="error-msg">{{error.msg}}</div>
          <div class="error-loc">at {{error.uri}}:{{error.line}}:{{error.column}}</div>
        </div>
      </div>
      <div ng-include="'top/flows.html'" ng-if="status.selectedEntity"></div>
    </div>
  </div>
</div>

<footer></footer>
