<div layout-padding layout="column" layout-align="center center">
  <div class="database-chooser">
    <mdl-select 
      [(ngModel)]="currentDatabase" 
      (ngModelChange)="currentDatabaseChanged.emit($event)">
      <mdl-option *ngFor="let database of databases" [value]="database">{{database}}</mdl-option>
    </mdl-select>
    <mdl-checkbox 
      [(ngModel)]="entitiesOnly" 
      (ngModelChange)="entitiesOnlyChanged.emit($event)">
      Entities Only
    </mdl-checkbox>
  </div>
  <div class="search-box" flex layout-align="center center" layout="row">
    <form (submit)="doSearch.emit()" flex layout-align="center center" layout="row">
      <input 
        type="search" 
        name="searchText" 
        [(ngModel)]="searchText" 
        (ngModelChange)="searchTextChanged.emit($event)"
        placeholder="Enter you search query here...">
      <button type="submit" mdl-colored="primary" mdl-button mdl-button-type="raised">Search</button>
    </form>
  </div>
  <div *ngIf="!loadingTraces" layout="column" flex layout-align="center center" class="full-width">
    <app-pagination 
      [start]="searchResponse.start"
      [total]="searchResponse.total"
      [pageLength]="searchResponse['page-length']"
      (pageChanged)="pageChanged.emit($event)"></app-pagination>
    <div *ngIf="!loadingTraces && (!searchResponse || searchResponse.total === 0)">No Data</div>
    <div class="mdl-grid results">
      <div class="mdl-cell mdl-cell--2-col">
        <app-facets
          [facets]="searchResponse.facets"
          [(activeFacets)]="activeFacets"
          (activeFacetsChange)="onActiveFacetsChange.emit($event)"></app-facets>
      </div>
      <div class="mdl-cell mdl-cell--10-col">
        <div *ngIf="searchResponse && searchResponse.total > 0">
          <div *ngFor="let result of searchResponse.results" class="result">
            <div class="link">
              <a (click)="showDoc.emit({ database: currentDatabase, docUri: result.uri })" #uri>{{ result.label || result.uri }}</a>
              <span
                class="copy-uri"
                [appClipboard]="uri"
                (onSuccess)="uriCopied.emit()">
                <i class="fa fa-copy" aria-hidden="true">
                </i>
              </span>
            </div>
            <div class="matches">
              <div class="match" *ngFor="let match of result.matches">
                <em *ngFor="let text of match['match-text']">
                  <span ngClass="{ highlight: text.highlight !== undefined }">
                    <span *ngIf="text.highlight !== undefined">{{ text.highlight }}</span>
                    <span *ngIf="text.highlight === undefined">{{ text }}</span>
                  </span>
                </em>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="loadingTraces" flex layout="column" layout-align="center center">
    <h3>Searching...</h3>
    <div class="center-text">
      <mdl-spinner single-color active></mdl-spinner>
    </div>
  </div>

</div>
