@import '../../theme/styles/variables';

$bg-color: unquote("rgb(#{$palette-datahub-500})");
$link-color: unquote("rgb(#{$palette-datahub-900})");
$line-color: unquote("rgb(#{$palette-datahub-100})");

.search-box {
  width: 60%;
  margin-bottom: 1rem;
  flex: none; // IE fix
}

pagination {
  margin: 1rem 0px;
}

.full-width {
  width: 100%;
}

input[type="search"] {
  margin-right: 10px;
  font-size: 14px;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
  // background: 0 0;
  width: 100%;
  padding: 0 15px;
  line-height: 40px;
  height: 40px;
  background: rgb(250,250,250);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}

.results {
  width: 90%;
}

.mdl-data-table {
  thead {
    tr {
      background: $bg-color;
      th {
        color: white;
      }
    }
  }

  tbody {
    tr {
      td {
        max-width: 400px;
      }
    }
  }
}

.result {
  border-bottom: 1px solid rgba(128,128,128,0.15);
  padding-bottom: 10px;
  &:last-child {
    border-bottom: none;
  }

  div.link {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 200;
    a {
      color: $link-color;
      cursor: pointer;
    }
  }
}

span.copy-uri {
  padding-left: 15px;
  font-size: 14px;
  cursor: pointer;
}

.database-chooser {
  /deep/ mdl-checkbox {
    display: inline-block;
    width: inherit;
    margin-left: 20px;
  }

  /deep/ mdl-select {
    display: inline-block;
  }
}
