.multiSlider {

    height: 120px;
    margin-top: 80px;
    width: 100%;

    .slider {
        position: relative;
        width: 100%;
        height: 80px;
        max-width: 84%;
        margin-left: 8%;
    }

    .sliderRail {
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #b5b8cd;
    }

    .sliderOptions {
        font-weight: 500;
        font-size: 16px;
        color: #CCCCCC;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 85%;
        max-width: 85%;
        margin-left: 7%;
    }

    .clearIcon {
        font-size: 10px;
        position: absolute;
        float: right;
        top: 1px;
        right: 5px;
        left: auto;
        cursor: pointer;
    }

    .handle {
        position: absolute;
        margin-left: -15px;
        margin-top: -10px;
        z-index: 2;
        width: 25px;
        height: 25px;
        border: solid 3px #8b94c6;
        text-align: center;
        cursor: pointer;
        border-radius: 50%;
        background-color: #fff;
    }

    .handleDisabled {
        z-index: 2;
        width: 25px;
        height: 25px;
        border: solid 3px #8b94c6;
        text-align: center;
        pointer-events: none;
        border-radius: 50%;
        background-color: #fff;
    }

    .handleDisabledParent{
        position: absolute;
        margin-left: -15px;
        margin-top: -10px;
        z-index: 2;
        width: 25px;
        height: 25px;
        text-align: center;
        cursor: not-allowed !important;
        border-radius: 50%;
    }

    .tooltipContainer {

        position: absolute;
        margin-left: 0px;
        margin-top: -5px;

        .tooltipDisplay {
            position: relative;
            display: block;
            width: 180px;
            bottom: 10px;
            right: 92px;
            max-width: 180px;
            border-radius: 6px;
            box-shadow: 5px 5px 5px #ccc;

            .tooltipText {
                margin-top: -30px;
                width: 180px;
                max-width: 180px;
                background-color: #444;
                color: #f0f0f0;
                opacity: 0.8;
                text-align: center;
                border-radius: 6px;
                padding: 3px 0;
                position: relative;
                z-index: 1;
                white-space: nowrap;
                text-overflow: ellipsis;
                cursor: pointer;
            }

            .activeTooltipTextDisplay {
                margin-top: -30px;
                z-index:3;
                text-align: center;
                position: relative;
                border-radius: 6px;
                padding: 3px 0;
                background-color: #E9F7FE;
                color: #5B69AF;
                opacity: 1;
                overflow: visible;
                width: 180px;
                max-width: 180px;
                cursor: pointer;
            }

            .tooltipText:hover {
                margin-top: -30px;
                z-index:2;
                background-color: #E9F7FE;
                color: #5B69AF;
                opacity: 1;
                overflow: visible;
                width: 180px;
                max-width: 180px;
            }

            .tooltipText::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #444 transparent transparent transparent;
            }

            .tooltipText:hover::after, .activeTooltipText::after {
                margin-top: -1px;
                z-index:2;
                opacity: 1;
                border-width: 5px;
                border-style: solid;
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-color: #E9F7FE transparent transparent transparent;
            }

            span {
              background-color: inherit;
              color: inherit;
            }

            .editText {
              font-size: 14px;
              display: block;
              text-overflow: ellipsis;
              white-space: nowrap;
              padding-left: 7px;
              width: 165px;
              overflow: hidden;
            }
        }

        .tooltipDisabled {
            position: relative;
            display: block;
            width: 120px;
            bottom: 10px;
            right: 62px;
            border-radius: 6px;
            box-shadow: 5px 5px 5px #ccc;

            .tooltipText{
                margin-top: -30px;
                width: 120px;
                background-color: #444;
                color: #f0f0f0;
                opacity: 0.8;
                text-align: center;
                border-radius: 6px;
                padding: 3px 0;
                position: relative;
                z-index: 1;
                white-space: nowrap;
                text-overflow: ellipsis;
                cursor: not-allowed;
            }

            .tooltipText::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #444 transparent transparent transparent;
            }

            span {
              background-color: inherit;
              color: inherit;
            }

            .editText {
              display: block;
              text-overflow: ellipsis;
              white-space: nowrap;
              width: 120px;
              overflow: hidden;
            }
        }
    }
        .tooltipValue {
            width:25px;
            border-radius: 6px;
            box-shadow: 5px 5px 5px #ccc;
            background-color: #E9F7FE;
            color: #5B69AF;
            max-width: 25px;
            line-height: 25px;
            height: 25px;
            position: absolute;
            margin-top: 25px;
            font-size: 12px;
            text-align: center;
        }

}
