.pickerWrapper {
    position: relative;
    padding: 5px;
    width: 50px;
    min-height: 40px;
    border-radius: 4px;
    border-width: 1px;
    border-color: #000;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    :hover {
        cursor: pointer;
    }
}

.pickerIcon {
    color: #000;
    font-size: 24px;
    padding: 2px;
}

.pickerContainer {
    position: absolute;
    top: 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    background-color: #fff;
    padding: 5px;
    width: 200px;
    max-height: 300px;
    border-radius: 4px;
    border-width: 2px;
    border-color: #000;
    border-style: solid;
    z-index: 10;
}