.customContainer{
    margin-top: 3vh;
}
.cardStyle{
    width: 330px;
    margin-top: 9px;
    text-align: left;
    align-content: left;
    padding-bottom: 2px;
    border: 1px solid #d7d6d6;
    margin-bottom: 10px;
}
.cardStyle:hover {
    border: 1px solid #67749c;
}
.customNameStyle{
    font-size: 20px;
    padding-bottom: 2px;
}
.sourceQuery {
    font-size: 13px;
    margin-top: 10px;
}
.formatFileContainer {
    position:absolute;
    width: 310px
}
.disabledDeleteIcon {
    font-size: 21px;
    opacity: 0.5;
    pointer-events: none;
    padding-bottom: 2px;
}

.lastUpdatedStyle{
    font-size: 13px;
    margin-bottom: 0px;
}

.input{
    width: 95%;
}

.viewStepSettingsIcon:hover{
    color: var(--hoverColor);
}

.cardLinks {
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.6);
}

.cardLink {
    color: #3f4692;
    background-color: #ecf6fe;
    padding: 20px 8px 8px 8px;
    font-size: 14px;
    cursor: pointer;
    &:hover{
        color: var(--hoverColor) !important;
    }
}

.cardDisabledLink {
    color: #3f4692;
    background-color: #ecf6fe;
    padding: 20px 8px 8px 8px;
    font-size: 14px;
    cursor: not-allowed;
}

.cardNonLink {
    color: rgba(0, 0, 0, 0.65);
    background-color: #ecf6fe;
    margin-bottom: 0px;
    padding: 8px 8px 16px 8px;
    font-size: 14px;
    cursor: default;
}

.cardLinkSelect {
    margin-top: 7px;
    margin-bottom: 10px;
}
