.gradle
build
gradle-local.properties
src/main/hub-internal-config
src/main/ml-config/database-fields
src/main/ml-config/databases
src/main/ml-config/servers

# Can't ignore the entity-config/databases files as those won't be generated when mlDeploy is run
src/main/entity-config/*.xml
