.jobResponseContainer {
  header {
    width: 100%;
    margin-bottom: 35px;
    .title {
      font-size :24px;
      font-weight: 500;
    }
    height: auto;
  }

  .flowOrStepsUpdatedSinceRun {
    float: right;
    line-height: normal;
    padding-top: 5px;
    padding-left: 1px;
    padding-bottom: 1px;
    color: #DB4f59;
  }

  .successfulRun {
    display: inline-block;
    color: #008000;
    font-size: 20px;
    cursor: pointer;
  }

  .unSuccessfulRun {
    display: inline-block;
    color: #db4f59;
    font-size: 20px;
    cursor: pointer;
  }

  .stepResponse {
    width: 35%;
    padding-right: 15px;
    padding-left: 1px;
    // padding-bottom: 15px;
    
    .stepName {
      vertical-align: center;
    }
  }

  .errorStepResponse {
    width: 100%;
    padding-right: 15px;
    padding-left: 1px;
    // padding-bottom: 15px;
    
    .stepName {
      vertical-align: center;
    }
  }


  .divider {
    margin: 10px 0px !important;
  }

  .stepRow{
    display: flex;
    flex-direction: row;
  }

  .headerRow {
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    margin-left: 25px;
  }

  .headerItem {
    width: 25%;
    margin-right: 75px;
    padding-left: 1px;
    text-align: left;
  }

  .documentsWritten {
    width: 25%;
    padding-right: 15px;
    text-align: left;
    margin-right: 12%;
    margin-left: 8%;
  }

  .running {
    padding-top: 25px;
    padding-left: 15px;
    background-color: rgba(255, 255, 255, 0.6);
    .runningLabel {
      margin-top: 5px;
      color: #3b458f;
    }
  }

  .descriptionLabel {
    display: inline-block;
    width: 100px;
  }
}

.errorHeader, .errorLabel {
  color: rgba(0, 0, 0, 0.85);
  font-weight: bold;
}

.errorSummary {
  font-weight: normal;
  padding-top: 40px;
}

.errorVal {
  font-weight: bold;
}

.exploreIcon:before {
  content: "\68";
  font-family: ExploreIcon;
  font-size: 24px;
  padding-right: 6px;
  vertical-align: middle;
  color: #ffffff;
}

@font-face {
  font-family: 'ExploreIcon';
  src: url(../../fonts/ML_IconFont.ttf)
  format('truetype');
}

.exploreActionIcon:before {
  content: "\68";
  font-family: ExploreIcon;
  font-size: 15px;
  padding-right: 6px;
  vertical-align: middle;
  color: #ffffff;
}

.exploreActionText{
  font-size: 15px;
  padding-right: 5px;
}

.exploreDataContainer {
  margin: auto;
  width: 50%;
  text-align: center;
}

.closeContainer {
  height: 40px;
  margin-top: -20px;
}

.exploreCuratedData, .exploreLoadedData {
  cursor: pointer;
  border-radius: 4px;
  padding: 0px 7px;
  margin-right: 12%;
}

.exploreText{
  font-size: 17px;
  padding-right: 5px;
}

.closeButton {
  float: right;
}