<div id="job-details-page" class="page-layout carded fullwidth">

  <div class="back-link">
    <a [routerLink]="['/jobs']">
      <span class="back-symbol">&lt;</span> Jobs
    </a>
  </div>

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent">
      <mat-toolbar style="background: transparent">
        <h1>Job Details</h1>
      </mat-toolbar>
    </div>
    <!-- / HEADER -->

    <div class="content-card">

      <div id="job-summary" [ngClass]="{hidden: !job}">
        <section class="name">
          <div class="flow-name">
            {{job.flowName}}
          </div>
          <div class="job-id">
            {{job.id}}
          </div>
        </section>
        <section>
          <div class="status">
            <span class="label">Status</span>
            <span class="capitalize">{{formatStatus(job.status)}}</span>
          </div>
          <div class="endTime">
            <span class="label">Ended</span>
              <span class="capitalize">{{friendlyDate(job.endTime)}}</span>
          </div>
        </section>
        <section>
          <div class="committed">
            <span class="label medium">Committed</span>
            <a *ngIf="job.successfulEvents !== 0" [routerLink]="['/browse']" [queryParams]="{  createdByJob:job.id, d: targetDatabase }">
              {{job.successfulEvents | number}}
            </a>
            <span *ngIf="job.successfulEvents === 0">
              {{job.successfulEvents | number}}
            </span>
          </div>
          <div class="errors">
            <span class="label medium">Failed</span>
            <!-- TODO link to committed docs from a job -->
            <!-- <a *ngIf="job.failedEvents !== 0" [routerLink]="">
              {{job.failedEvents | number}}
            </a> -->
            <span>
              {{job.failedEvents | number }}
            </span>
          </div>
        </section>
      </div>

      <mat-table id="job-details-table"
                 class="job-details-table"
                 #table [dataSource]="dataSource"
                 matSort>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell id="step-name-sort-btn" *matHeaderCellDef mat-sort-header>Step Name</mat-header-cell>
          <mat-cell class="step-name" *matCellDef="let step">
            <div class="name-container">
              {{step.name}}
            </div>
          </mat-cell>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="stepType">
          <mat-header-cell id="step-type-sort-btn" *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
          <mat-cell class="step-type" *matCellDef="let step">
            <span class="capitalize">
              {{step.stepDefinitionType}}
            </span>
          </mat-cell>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <mat-header-cell id="step-status-sort-btn" *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
          <mat-cell class="step-status" *matCellDef="let step">
            <span class="capitalize" *ngIf="step.status">
              <span *ngIf="!hasOutput(step)">
                {{formatStatus(step.status)}}
              </span>
              <span *ngIf="hasOutput(step)">
                <a (click)="openStatusDialog(getOutput(step))">
                  {{formatStatus(step.status)}} <mat-icon class="view-output">error</mat-icon>
                </a>
              </span>
            </span>
            <span class="capitalize" *ngIf="!step.status">
              not run
            </span>
          </mat-cell>
        </ng-container>

        <!-- Ended Column -->
        <ng-container matColumnDef="endTime">
          <mat-header-cell id="step-ended-sort-btn" *matHeaderCellDef mat-sort-header>Ended</mat-header-cell>
          <mat-cell class="step-ended" *matCellDef="let step">
            <span class="capitalize">
              {{friendlyDate(step.endTime)}}
            </span>
          </mat-cell>
        </ng-container>

        <!-- Duration Column -->
        <ng-container matColumnDef="duration">
          <mat-header-cell id="step-duration-sort-btn" *matHeaderCellDef mat-sort-header>Duration</mat-header-cell>
          <mat-cell class="step-duration" *matCellDef="let step">
            <span class="capitalize">
              {{friendlyDuration(step.startTime, step.endTime)}}
            </span>
          </mat-cell>
        </ng-container>

        <!-- Committed Column -->
        <ng-container matColumnDef="committed">
          <mat-header-cell id="step-committed-sort-btn" *matHeaderCellDef mat-sort-header>Committed</mat-header-cell>
          <mat-cell class="step-committed" *matCellDef="let step">
            <a *ngIf="step.successfulEvents !== 0" [routerLink]="['/browse']" [queryParams]="{ createdByJob:job.id, createdByStep:step.stepDefinitionName, d:step.targetDatabase }">
              {{step.successfulEvents | number}}
            </a>
            <span *ngIf="step.successfulEvents === 0">
              {{step.successfulEvents | number}}
            </span>
          </mat-cell>
        </ng-container>

        <!-- Errors Column -->
        <ng-container matColumnDef="errors">
          <mat-header-cell id="step-errors-sort-btn" *matHeaderCellDef mat-sort-header>Failed</mat-header-cell>
          <mat-cell class="step-errors" *matCellDef="let step">
            <!-- TODO link to failed docs from a job -->
            <!-- <a *ngIf="step.failedEvents !== 0" [routerLink]="">
              {{step.failedEvents | number}}
            </a> -->
            <span>
              {{step.failedEvents | number}}
            </span>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
        <mat-row
          *matRowDef="let step; columns: displayedColumns;"
          class="{{ 'step-' + step.name.toLowerCase().split(' ').join('-') }}"
        >
        </mat-row>

      </mat-table>

      <mat-paginator id="step-pagination"
                     *ngIf="job"
                     #paginator
                     [length]="job.steps.length"
                     [pageIndex]="0"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 50]">
      </mat-paginator>

    </div>
  </div>
</div>

<!-- <mat-menu class="step-menu-dialog" #jobMenu="matMenu">
  <ng-template matMenuContent let-step="step">
    <div class="step-menu-output-btn" mat-menu-item (click)="openOutputDialog(getOutput(step))">Output</div>
  </ng-template>
</mat-menu> -->
