button {
  outline: none;
}

h1.mat-dialog-title {
  margin-top: -12px;
  margin-left: -4px;
  margin-bottom: 11px;
}

.mat-dialog-content {
  background: #f3f3f3;
  padding: 20px;
  font-family: "Lucida Console", "Monaco", monospace;
  font-size: 12px;
}

.mat-dialog-actions {
  margin-right: -4px;
  justify-content: flex-end;
}
