button {
  outline: none;
}

.mat-expansion-panel-header {
    background: #fff !important;
}

h1.mat-dialog-title {
  margin-top: -12px;
  margin-left: -4px;
  margin-bottom: 11px;
}

.mat-dialog-content {
  background: #fff;
  padding: 10px 20px;
}

.mat-dialog-actions {
  margin-right: -4px;
  justify-content: flex-end;
}

.status-content {
  padding-bottom: 15px;
}

.status-label {
  font-weight: bold;
  font-size: 14px;
  padding-right: 4px;
}

.status-content-details {
  background: #f3f3f3;
  padding: 10px;
  overflow-y: scroll; 
  max-height: 300px;
}