<h1 mat-dialog-title>Status Details</h1>
<div id="status-dialog" mat-dialog-content class="content">

	<!-- PARSABLE -->
	<div *ngIf="parsed">
		<div *ngIf="parsed.message" class="status-content">
		  <span class="status-label">Message:</span>
		  {{ parsed.message }}
		</div>
		<div *ngIf="parsed.uri" class="status-content">
		  <span class="status-label">URI:</span>
		  {{ parsed.uri }}
		</div>
		<mat-expansion-panel (opened)="onOpened()">
			<mat-expansion-panel-header>
			  <mat-panel-title>
			    <span class="status-label">Error Details</span>
			  </mat-panel-title>
			</mat-expansion-panel-header>
			<div *ngIf="parsed.stack && opened" class="status-content-details">{{ parsed.stack.trim() }}</div>
		</mat-expansion-panel>
	</div>

	<!-- NOT PARSABLE -->
	<div *ngIf="!parsed">
		<div class="status-content-details">{{ data.statusDetails.trim() }}</div>
	</div>

</div>
<mat-dialog-actions class="bottom">
  <button id="status-cancel-btn" color="primary" mat-raised-button (click)="onCancel()">CLOSE</button>
</mat-dialog-actions>
