.clearContainer {
  margin: -30px 0 0 17px;
}

.clearAllBtn {
  margin-right: 2px;
}

.facetButton {
  color: #5B69AF;
  border: 1px solid #5B69AF;;
  margin: 0 2px 2px 0;
}

.dateFacet {
  color: #5B69AF;
  border: 1px solid #5B69AF;;
  margin: 2px 2px 2px 0;
}

.facetGreyButton {
  margin: 0 6px 2px 0;
  background-color: white;
  color: #777777;
  border: 1px dashed #777777;
}

.facetGreyButton:hover {
  background-color: #cccccc;
}

.checkIcon {
  color: #5b69af;
  margin-right: 6px;
  margin-left: 6px;
  cursor: pointer;
  &:hover{
    color: var(--hoverColor);
  }
}

.closeIcon {
  color: #5b69af;
  cursor: pointer;
  &:hover{
    color: var(--hoverColor);
  }
}
