.clearContainer {
  margin: 30px 0 0 17px;
}

.clearAllBtn {
  margin-right: 2px;
}

.facetButton {
  margin: 0 2px 2px 0;
}

.dateFacet {
  margin: 2px 2px 2px 0;
}

.facetGreyButton {
  margin: 0 6px 2px 0;
  background-color: #cccccc;
  color: black;
}

.facetGreyButton:hover {
  background-color: #cccccc;
}

.checkIcon{
  color: #5B69AF;
  margin-right: 6px;
}

.closeIcon {
  color: #5B69AF;
}
