@import "../../theme/HCVariables.scss";

.clearContainer {
    margin: 3px 0 0 10px;
}

.clearAllBtn {
    margin-right: 2px;
}

.facetButton {
    color: $info;
    border: 1px solid $info;
    margin: 0 2px 2px 0;
    display: inline-flex !important;
    align-items: center;
    gap: 8px;
}

.facetGreyButton {
    margin: 0 6px 2px 0;
    background-color: white !important;
    color: #777777 !important;
    border: 1px dashed #777777 !important;
    display: inline-flex !important;
    border-style: dashed !important;
    align-items: center;
    gap: 8px;
}

.facetGreyButton:hover {
    background-color: #cccccc !important;
    color: $info !important;
}

.checkIcon {
    color: $info;
    margin-right: 6px;
    margin-left: 6px;
    cursor: pointer;
    &:hover {
        color: var(--hoverColor);
    }
}

.closeIcon {
    color: $info;
    cursor: pointer;
    &:hover {
        color: var(--hoverColor);
    }
}

.close {
    height: 11px;
}
