@import "../../theme/HCVariables.scss";

.structuredIcon {
    color: $info;
    font-size: 14px;
    margin: 0 2px;
}

.arrayImage {
    margin-bottom: 4px;
}

.matchTypeSelect {
    :focus{
        outline: auto !important;
    }
    width: 400px !important;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    font-size: 14px !important;
    span[class="rc-tree-select-selection__placeholder"] {
        color: #bfbfbf;
    }
    :focus-visible{
        outline: auto 1px !important;
        opacity: 1 !important;
        background: rgba(255, 255, 255, 0) !important;
    }
}

.activeTreeNode {
    background-color: #d5d9e3;
}
