.structuredIcon {
    color: #5b69af;
    font-size: 14px;
    margin: 0 2px;
}

.arrayImage {
    margin-bottom: 4px;
}

.matchTypeSelect {
    width: 400px !important;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    font-size: 14px !important;
    span[class="rc-tree-select-selection__placeholder"] {
        color: #bfbfbf;
    }
}
