@import "../../theme/HCVariables.scss";

.structuredIcon {
    color: $info;
    font-size: 14px;
    margin: 0 2px;
}

.arrayImage {
    margin-bottom: 4px;
}

.matchTypeSelect {

    width: 400px !important;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    font-size: 14px !important;
    span[class="rc-tree-select-selection__placeholder"] {
        color: #bfbfbf;
    }
    :focus-visible{
        opacity: 1 !important;
        border: 1px solid #808cbd !important;
        box-shadow: 0 0 0 2px rgb(91 105 175 / 20%);
        background: rgb(255 0 0 / 0%) !important;
        border-radius: 3px;
        margin: -9px;
    }
}

.activeTreeNode {
    background-color: #d5d9e3;
}
