@import 'variables';

$openDuration: 0.5s;
$duration: 0.25s;
$easingFunc: ease-in-out;

.content {
  padding: 24px;
  background-color: #e9eef4;
  position: absolute;
  top: 0;
  left: 100%;
  right: 0;

  -webkit-transition: left $duration $easingFunc;
  -moz-transition: left $duration $easingFunc;
  transition: left $duration $easingFunc;

  &.visible {
    left: 0;
  }
}

.setting {
  margin-top: 10px;
}

.mdl-dialog__content {
  padding: 0px 24px 8px 24px;
}

.md-subheader ._md-subheader-inner {
  padding-left: 5px;
}

.group-container {
  margin-bottom: 10px;

  > h3 {
    cursor: pointer;
    margin: 2px 3px;
    font-size: 20px;

    .fa {
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transition: transform $openDuration ease-in-out;
      -webkit-transition: -webkit-transform $openDuration ease-in-out;
    }

    .fa.collapsed {
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
    }
  }
}

h4 {
  font-size: 20px;
  margin: 10px 0px;
}
$heightDuration: 0.5s;
$fadeDuration: 1s;

$easingFunc: ease-in-out;

.group-section {
  max-height: 5000px;
  overflow: hidden;
  position: relative;
  -webkit-transition: max-height $heightDuration $easingFunc;
  -moz-transition: max-height $heightDuration $easingFunc;
  transition: max-height $heightDuration $easingFunc;

  &.collapsed {
    max-height: 0px;
  }
}

@media (min-width: 960px) {
  md-tooltip.custom-tt ._md-content {
    max-width: 400px;
    height: auto;

    background-color: rgba(0,0,0,0.85);

    pre {
      white-space: pre-wrap;
      font-size: 12px;
    }
  }
}

.mlcp-cmd {
  background-color: unquote("rgb(#{$palette-indigo-50})");
  border: 1px solid #b1c7d9;
  padding: 5px;

  pre {
    white-space: pre-wrap;
    font-size: 10px;
    word-wrap: normal;
    max-width: 550px;
  }
}

.padded {
  padding: 15px;
}
