.recent-clear-records {
  display: flex;
  .clear-button {
    flex-grow: 1;
    margin-left: 10px;
    margin-top: 0px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 2px;
    padding: 0px 20px 0px 20px;
    height: 26px;
  }
}

.recent-clear-searches {
  .clear-button {
    background-color: white;
    font-size: 16px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    padding: 0px 20px 0px 20px;
    float: right;
    height: 26px;
  }
}