@import '../../theme/styles/variables';

$highlight-color: unquote("rgb(#{$palette-datahub-A100})");
$bg-color: unquote("rgb(#{$palette-datahub-500})");

header.mdl-layout__header {
  background-color: $bg-color;
}

.mdl-navigation .mdl-navigation__link {
  padding: 0 18px;
}

#header-menu {
  color: white;
  text-transform: none;
  font-family: Arial, Helvetica, sans-serif;
  width: 150px;
  padding: 0 8px !important;
  .user-name {
    font-size: 13px;
    display: inline-block;
    position: relative;
    top: -4px;
    padding-left: 5px;
  }
}

.version-link {
  display: inline;
  font-size: 12px;
  color: #f0f5f9;
  padding-left: 10px;
}

.debug-status {
  position: relative;
}

.mdl-layout__header-row {
  padding: 0 40px 0 20px;
}

/deep/ .mdl-menu__container {
  overflow: hidden;
}

img {
  margin-right: 20px;
  width: 32px;
}

.mdl-menu__item {
  &:hover {
    background-color: $highlight-color;
  }
}

a.active {
  position: relative;
  &::after {
    content: ' ';
    border-bottom: 2px solid rgba(255,255,255,0.65);
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 25%;
  }
}

a.mdl-navigation__link {
  cursor: pointer;
}

mdl-progress.mdl-progress {
  width: 100px;
}

.job-progress {
  cursor: pointer;

  span.label {
    margin-right: 5px;
  }

  span.percent {
    margin-left: 5px;
  }
}

@media(max-width: 1024px) {
  .mdl-layout__header {
    display: flex;
  }
}

@media(max-width: 850px) {
  .mdl-layout-title {
    display: none;
  }
}
