<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <a class="isActive('/')" [routerLink]="['']"><img src="/img/odh.svg"></a>
    <span class="mdl-layout-title">Data Hub QuickStart</span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <div *ngIf="runningJobs !== 0" layout="row" layout-align="center center" class="job-progress" [routerLink]="['jobs']">
      <span class="label">Running {{runningJobs}} jobs</span>
      <mdl-progress mode="determinate" [progress]="percentageComplete"></mdl-progress>
      <span class="percent">{{percentageComplete}}%</span>
    </div>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <a id="database-tab" class="mdl-navigation__link" [ngClass]="{'active': isActive('/')}" [routerLink]="['']"><i class="fa fa-dashboard"></i> Dashboard</a>
      <a id="entities-tab" class="mdl-navigation__link" [ngClass]="{'active': isActive('/entities')}" [routerLink]="['entities']"><i class="fa fa-industry"></i> Entities</a>
      <a id="flows-tab" class="mdl-navigation__link" [ngClass]="{'active': isActive('/flows')}" [routerLink]="['flows']"><i class="mdi mdi-looks"></i> Flows</a>
      <a id="mappings-tab" class="mdl-navigation__link" [ngClass]="{'active': isActive('/mappings')}" [routerLink]="['mappings']"><i class="fa fa-map"></i> Mappings</a>
      <a id="browser-tab" class="mdl-navigation__link" [ngClass]="{'active': isActive('/browse')}" [routerLink]="['browse']"><i class="mdi mdi-magnify"></i> Browse Data</a>
      <a id="jobs-tab" class="mdl-navigation__link" [ngClass]="{'active': isActive('/jobs')}" [routerLink]="['jobs']"><i class="fa fa-tasks"></i> <span *ngIf="runningJobs !== 0" [mdl-badge]="runningJobs">Jobs</span><span *ngIf="runningJobs === 0">Jobs</span></a>
      <a id="traces-tab" class="mdl-navigation__link" [ngClass]="{'active': isActive('/traces')}" [routerLink]="['traces']"><i class="fa fa-flash"></i> Traces</a>
      <a id="settings-tab" class="mdl-navigation__link" [ngClass]="{'active': isActive('/settings')}" [routerLink]="['settings']"><i class="fa fa-gear"></i> Settings</a>
    </nav>
    <mdl-button id="header-menu" #menuButton="mdlButton" (click)="headerMenu.toggle($event, menuButton)" mdl-button-type="icon" mdl-ripple>
      <i class="mdi mdi-account"></i>
    </mdl-button>

    <mdl-menu #headerMenu="mdlMenu" mdl-menu-position="bottom-right">
      <mdl-menu-item id="login-button" mdl-ripple (click)="logoutClicked()">Logout</mdl-menu-item>
    </mdl-menu>
  </div>
</header>
