@import '../../theme/styles/variables';

$highlight-color: unquote("rgb(#{$palette-datahub-A100})");
$bg-color: unquote("rgb(#{$palette-datahub-500})");

header.mdl-layout__header {
  background-color: $bg-color;
}

.debug-status {
  position: relative;
}

.mdl-layout__header-row {
  padding: 0 40px 0 20px;
}

/deep/ .mdl-menu__container {
  overflow: hidden;
}

img {
  margin-right: 20px;
  width: 32px;
}

.mdl-menu__item {
  &:hover {
    background-color: $highlight-color;
  }
}

a.active {
  position: relative;
  &::after {
    content: ' ';
    border-bottom: 2px solid rgba(255,255,255,0.65);
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 25%;
  }
}

mdl-progress.mdl-progress {
  width: 100px;
}

.job-progress {
  cursor: pointer;

  span.label {
    margin-right: 5px;
  }

  span.percent {
    margin-left: 5px;
  }
}

@media(max-width: 1024px) {
  .mdl-layout__header {
    display: flex;
  }
}

@media(max-width: 850px) {
  .mdl-layout-title {
    display: none;
  }
}
