.searchBar {
  width: 100%;
  position: relative;
  background: white;
  margin-top: -5px;
  padding: 10px;
  padding-left: 3px;
}

.searchInput {
  width: 100%;
  display: inline-block;
}

.dividerOption { 
  margin: 0px 0
}

.iconDropdownContainer {
  display: flex;
  align-items: center;
}

.selectEntityMenu > div {
  background-color: #5B69AF;
  border-color: #5B69AF;
  height: 100% !important;
}

.selectEntityMenu:focus > div {
  box-shadow: none;
  border: 0px;
}

.selectEntityMenu:hover > div {
  box-shadow: none;
  border-color: #5B69AF; 
}

.selectEntityMenu > div > div{
height: 100%;
display: flex;
align-items: center;
}

.colors {
background-color: "blue !important";  }