@import "../../../theme/HCVariables.scss";


.systemModal {
    top: 1.5em;
    left: -2em;
    min-width: 93%;
}

.systemModalBody {
    height: 750px;
}

.systemContainer {
  padding: 0px 27px;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: black;

  .serviceName {
    font-size: 1.5em;
    width: fit-content;
    margin-bottom: 35px;
  }

  .version {
    width: 50%;
    margin-bottom: 10px;
    div {
      display: inline-block;
      font-size: 13px;
    }
    .label {
      width: 125px;
    }
    .value {
      font-weight: 600;
    }
  }

  .copyIcon {
    color: #44499C;
    margin-left: 15px;
  }

  .copyIcon:focus{
   
      outline: auto
    
  }

  .focusTab:focus{ 
    outline: none !important; 
    box-shadow: 0 0 3px 3px #7f86b5  !important; 
  }

  .inputRadio input[type=radio]:focus{ 
    outline: none !important; 
    box-shadow: 0 0 3px 3px #7f86b5  !important; 
  }


  .copyIcon:hover {
    cursor: pointer;
    color: var(--hoverColor);
    margin-left: 15px;
  }

  .cardsContainer {
    width: 100%;
    text-align: center;
  }

  .cards {
    padding-top: 50px;
    padding-bottom: 80px;
    margin: auto;
    min-width: 700px;

    .download, .clearAll {
      display: block;
      min-width: 320px;
      width: 103%;
      padding: 1px;
      border-color: #44499C;
    }

    .title {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 30px;
      text-align: center;
    }

    .cardContent {
      font-size: 14px;
      font-weight: 300;
      height: 260px;
      text-align: left;

      .optionDisabled {
        color: #CCCCCC;
      }

      .subSetSelection {
        width: 35%;
        flex: 0 0 auto;
      }

      .searchIcon {
        position: absolute;
        margin-right: 5px;
        right: 15px;
        top: 9px;
        font-size: 16px;
        color: #bfbfbf;
      }
    }

    .buttonContainer {
      margin-top: 25px;
      width: 100%;
      text-align: center;
      button {
        width: 120px;
        font-weight: 500;
        background-color: #44499C;
      }
    }

    .disabledButtonContainer {
      margin-top: 25px;
      width: 100%;
      text-align: center;
      button {
        width: 120px;
        font-weight: 500;
      }
    }

  }

.subsetSelect { 
    margin-right: 7px;
    margin-left: -10px;
}

.subsetInputSelect { 
  width: 99%;
  margin-left: -10px;
}

.infoIcon {
    margin-right: -5px;
    margin-top: 8px;
    color: $span-hover;
}

.spinRunning {
    position: absolute;
    padding-top: 120px;
    padding-right: 40px;
    text-align: center;
    margin-top: -15px;
    margin-left: -15px;
    width: 110%;
    height: 110%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.6);
    .runningLabel {
        margin-top: 5px;
        color: #3b458f;
    }
}
.alertPosition {
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -163px;
}
}

.errorMessageEmpty {
  color: $danger;
  margin-left: 2px;
}

.confirmationModal {
  min-width: 48%;
  top: 5.1em;
  z-index: 1040;
}

.disabledMain {
  z-index: 1 !important;
}

