<h1 mat-dialog-title>{{getDialogTitle()}}</h1>
<div mat-dialog-content class="content">
  <mat-form-field layout-fill>
    <mat-label>Flow name</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field layout-fill>
    <mat-label>Description</mat-label>
    <input matInput
    />
  </mat-form-field>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Advanced Settings
      </mat-panel-title>
      <mat-panel-description>
        (optional)
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field layout-fill>
      <mat-label>Batch Size</mat-label>
      <input matInput
      />
    </mat-form-field>
    <mat-form-field layout-fill>
      <mat-label>Thread Count</mat-label>
      <input matInput
      />
    </mat-form-field>
  </mat-expansion-panel>
</div>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-button [mat-dialog-close]="true" autofocus>Create</button>
</mat-dialog-actions>
