<div id="flows-page" class="page-layout carded fullwidth">

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent">
      <mat-toolbar style="background: transparent">
        <div class="logo">
          <span class="logo-text h1">
            Manage Flows
          </span>
        </div>
        <button mat-raised-button
                class="new-flow-button"
                (click)="openFlowsettingsDialog(null)"
        >
          <span>NEW FLOW</span>
        </button>
        <span class="fill-space"></span>
        <button mat-raised-button
                class="redeploy-button"
        >
          <span>REDEPLOY</span>
        </button>
      </mat-toolbar>
    </div>
    <!-- / HEADER -->

    <div class="content-card">

      <mat-table class="flows-table"
                 #table [dataSource]="flows"
                 matSort>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let flow">
            <div class="name-container">
              <a routerLink="/edit-flow">{{flow.name}}</a>
              <step-icons-ui
                [steps]="flow.steps"
              ></step-icons-ui>
            </div>
          </mat-cell>
        </ng-container>

        <!-- Target Entity -->
        <ng-container matColumnDef="targetEntity">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Target Entinty</mat-header-cell>
          <mat-cell *matCellDef="let flow">
            <a>
              {{flow.targetEntity}}
            </a>
          </mat-cell>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
          <mat-cell *matCellDef="let flow">
            <a>
              {{flow.status}}
            </a>
          </mat-cell>
        </ng-container>

        <!-- Jobs Column -->
        <ng-container matColumnDef="jobsNumber">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Jobs</mat-header-cell>
          <mat-cell *matCellDef="let flow">
            <a>
              {{flow.jobsNumber}}
            </a>
          </mat-cell>
        </ng-container>

        <!-- Last Job Finished -->
        <ng-container matColumnDef="lastJobFinished">
          <mat-header-cell *matHeaderCellDef mat-sort-header="lastJobFinished">Last Job Finished</mat-header-cell>
          <mat-cell *matCellDef="let flow">
            <a>
              {{friendlyDate(flow.lastJobFinished)}}
            </a>
          </mat-cell>
        </ng-container>

        <!-- Docs Committed Column -->
        <ng-container matColumnDef="docsCommitted">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Docs Committed</mat-header-cell>
          <mat-cell *matCellDef="let flow" fxHide fxShow.gt-md>
            <a>
              {{flow.docsCommitted}}
            </a>
          </mat-cell>
        </ng-container>

        <!-- Docs Failed Column -->
        <ng-container matColumnDef="docsFailed">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Docs Failed</mat-header-cell>
          <mat-cell *matCellDef="let flow">
            <a>
              {{flow.docsFailed}}
            </a>
          </mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let flow">
            <button mat-raised-button
                    class="run-flow-button"
                    (click)="openPlayDialog()"
            >
              <span>RUN</span>
            </button>
            <!-- <mat-icon class="active-icon" (click)="openConfirmDialog(flow)">delete</mat-icon> -->
            <mat-icon class="flow-menu-icon" [matMenuTriggerFor]="flowMenu" [matMenuTriggerData]="{flow: flow}"
                      disableRipple>more_vert</mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
        <mat-row *matRowDef="let flow; columns: displayedColumns;">
        </mat-row>

      </mat-table>

      <mat-paginator #paginator
                     [length]="flows.length"
                     [pageIndex]="0"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

    </div>
  </div>
</div>

<mat-menu #flowMenu="matMenu">
  <ng-template matMenuContent let-flow="flow">
    <div mat-menu-item (click)="openFlowsettingsDialog(flow)">Edit Settings</div>
    <div mat-menu-item (click)="openConfirmDialog(flow)">Delete</div>
  </ng-template>
</mat-menu>

<mat-menu #actionsMenu="matMenu">
  <div mat-menu-item>Redeploy</div>
</mat-menu>
