$openDuration: 0.5s;

md-dialog.mlcp-dialog {
  min-width: 600px;

  folder-browser {
    width: inherit;
    margin: 8px;
    border: none;
    padding: 0px;
  }

  .md-subheader ._md-subheader-inner {
    padding-left: 5px;
  }

  .group-container {
    margin-bottom: 10px;

    > .md-subheader {
      cursor: pointer;

      .fa {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transition: transform $openDuration ease-in-out;
        -webkit-transition: -webkit-transform $openDuration ease-in-out;
      }

      .fa.collapsed {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
      }
    }
  }
  .group-section {
    border: 1px solid rgb(250,250,250);
  }
}

.slideDown.ng-hide {
  max-height: 0;
  opacity: 0;
}

$heightDuration: 0.75s;
$fadeDuration: 1s;

$easingFunc: cubic-bezier(0.35, 0, 0.25, 1);
.slideDown {
  max-height: 5000px;
  opacity: 1;
  overflow: hidden;
  position: relative;
  -webkit-transition: max-height $heightDuration $easingFunc, opacity $fadeDuration $easingFunc;
  -moz-transition: max-height $heightDuration $easingFunc, opacity $fadeDuration $easingFunc;
  transition: max-height $heightDuration $easingFunc, opacity $fadeDuration $easingFunc;
}

@media (min-width: 960px) {
  md-tooltip.custom-tt ._md-content {
    max-width: 400px;
    height: auto;

    background-color: rgba(0,0,0,0.85);

    pre {
      white-space: pre-wrap;
      font-size: 12px;
    }
  }
}

.mlcp-cmd {
  background-color: rgba(121,85,72,.25);
  padding: 5px;

  pre {
    white-space: pre-wrap;
    font-size: 10px;
    word-wrap: normal;
    max-width: 550px;
  }
}
