.meter {
    position: relative;  
    // border: solid 1px red; 

    .labelAll, .labelFilters {
        position: absolute;
        top: 8px;
    }

    .labelAll {
        left: 10px;
        .block {
            background-color: #eee;
        }
    }

    .labelFilters {
        left: 100px;
        width: 135px;
        .block {
            background-color: #1ACCA8;
        }
    }

    .block {
        display: inline-block;
        width: 12px;
        height: 12px;
        margin: 0 5px 0 0;
        border-radius: 4px;
    }

    .text {
        display: inline-block;
    }

    .min, .max {
        position: absolute;
        top: 102px;
    }
    .min {
        left: 55px;
    }
    .max {
        left: 229px;
    }
    .returned {
        position: absolute;
        width: 294px;
        top: 124px;
        text-align: center;
        font-weight: bold;
        padding-top: 3px;
    }

    .separator {
        height: 5px;
        width: 265px;
        position: absolute;
        border-bottom: solid 1px #ddd;
        top: -2px;
        left: 15px;
        z-index: 1000;
    }
}