<div class="container">
  <mdl-button #toggleButton="mdlButton" (click)="dropMenu.toggle($event, toggleButton)" mdl-ripple [ngClass]="{'novalue' : !hasValue()}">
    {{getButtonText()}}
    <i class="fa fa-caret-down"></i>
  </mdl-button>
  <mdl-menu #dropMenu="mdlMenu" mdl-menu-position="bottom-left">
     <mdl-menu-item [attr.data-value]="item.value || item" mdl-ripple *ngFor="let item of items" (click)="selectItem(item)">{{getItemText(item)}}</mdl-menu-item>
  </mdl-menu>
  <label *ngIf="hasValue()">{{labelText}}</label>
</div>
