mdl-button {
  text-transform: none;
  padding: 0px;

  &.novalue {
    color: rgba(0, 0, 0, 0.38);
  }
}

label {
  color: rgba(0, 0, 0, 0.38);
  -webkit-transform: translateY(-100%) scale(0.75);
  transform: translateY(-100%) scale(0.75);
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  position: absolute;
  left: 0;
  top: 4px;
  min-width: 200px;
}

.container {
  display: inline-block;
  margin-top: 10px;
  position: relative;
}

.dropdown {
  left: 2px;
  position: relative;
  display: inline-block;
  margin: 10px 0px;
  color: black;
  cursor: pointer;

  i {
    position: relative;
    top: 5px;
    margin-left: 10px;
  }
}
