.modal-body {
  padding: 20px 0px;
}

$duration: 0.5s;
$easingFunc: ease-in-out;

.dialog-container {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity $duration $easingFunc, visibility $duration $easingFunc;
  -moz-transition: opacity $duration $easingFunc, visibility $duration $easingFunc;
  transition: opacity $duration $easingFunc, visibility $duration $easingFunc;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.mdl-dialog {
  transform: scale(0);

  -webkit-transition: transform $duration $easingFunc, top $duration $easingFunc, left $duration $easingFunc;
  -moz-transition: transform $duration $easingFunc, top $duration $easingFunc, left $duration $easingFunc;
  transition: transform $duration $easingFunc, top $duration $easingFunc, left $duration $easingFunc;
}
