<div class="select-key-values">
  <div class="key-value-heading">
   {{title}}
  </div>
  <div class="key-value-add">
    <mdl-button mdl-button-type="icon" (click)="add(keyVals.length)">
      <i class="fa fa-plus"></i>
    </mdl-button>
  </div>
</div>
<div *ngFor="let kv of keyVals; let i = index">
  <div class="key-value-input">
    <mdl-textfield floating-label type="string"
      label="{{keyLabel}}"
      [(ngModel)]="kv.key"
      (blur)="onChange.emit(keyVals);"></mdl-textfield>
  </div>
  <div class="key-value-input">
    <mdl-textfield floating-label type="string"
      label="{{valLabel}}"
      [(ngModel)]="kv.val"
      (blur)="onChange.emit(keyVals);"></mdl-textfield>
  </div>
  <div class="key-value-remove">
    <mdl-button mdl-button-type="icon" (click)="remove(i)">
        <i class="fa fa-minus"></i>
    </mdl-button>
  </div>
</div>
