.key-value-heading {
  float:left;
}

.key-value-add {
  padding-top: 23px;
  padding-left: 10px;
}

.key-value-input:first-child {
  padding-left:0;
  clear: both;
}

.key-value-input {
  float:left;
  width: 180px;
  padding-left:10px;
}

.key-value-remove {
  float:left;
  padding-top:18px;
  padding-left:10px;
}
