@font-face {
  font-family: MLCustomFont;
  src: url(./fonts/ML_IconFont_explore.ttf);
  font-family: 'MLCustomFont'format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow: hidden;
}


.contentContainer{
  top: 70px;
  position: relative;
  margin-right: 70px;
  overflow-y: auto;
  height: 90vh;
  max-height: 92vh;
  margin-bottom: 70px;
  flex: 1;
}

.ant-layout-header {
  background-color: #2B333C;
}
.ant-menu-dark{
    background-color: #2B333C;
}

/* Ensure footer is pinned to bottom of browser or end of content */
#root {
  height: 100%;
  margin: 0;
}
main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#background {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.ant-layout-footer {
  display: flex;
  justify-content: center;
  padding: 20px 0 0 0;
  margin: 0;
  background-color: transparent;
  height: 60px;
}

/* Handle any excess scroll space below background image */
.bgColorImage {
  background-color: #181d23;
}
.bgColorWhite {
  background-color: #fff;
}

/* Customize icons in header */
ul#global-icons.ant-menu .ant-menu-item.ant-menu-item-selected {
  background-color: transparent;
}
ul#global-icons.ant-menu .ant-menu-item,
ul#global-icons.ant-menu .ant-dropdown-trigger {
  padding: 0 15px;
}
ul#global-icons.ant-menu .ant-menu-item .anticon.anticon-search,
ul#global-icons.ant-menu .ant-menu-item .anticon.anticon-question-circle,
ul#global-icons.ant-menu .ant-menu-item .anticon.anticon-setting,
ul#global-icons.ant-menu .ant-menu-item i.tour,
ul#global-icons.ant-menu .ant-dropdown-trigger .anticon.anticon-user {
  font-size: 24px;
}

/* Tool Bench Flows */
div#flows-container div.ant-collapse-content-box {
  padding: 4px 16px 16px;
}
div#flows-container div.ant-collapse-item div.ant-collapse-content {
  border-top: white;
}
div#flows-container div.ant-card-bordered {
  border: 1px dashed rgb(221, 221, 221);
}
div#flows-container div.ant-card-head {
  border-bottom: white;
}
div#flows-container div.ant-card-body {
  border-top: white;
  padding: 4px 12px 12px;
}

/* Tool Bench Flow Errors */
div#error-list div.ant-collapse {
  position: relative;
  left: -16px;
}
div#error-list div.ant-collapse div.ant-collapse-item {
  border-bottom: white;
}
div#error-list div.ant-collapse div.ant-collapse-item div.ant-collapse-content div.ant-collapse-content-box {
  padding: 0 16px;
}

tr.ant-table-row:hover > td {
  background: #E9F7FE !important;
}

.ant-upload.ant-upload-select {
  display: block;
}

.ant-table-row-collapsed::after {
  content: ">";
}

.ant-table-row-expanded::after {
  content: "\22C1";
}

.ant-table-body {
  overflow: auto !important;
}

.ant-table-header {
  background: #FAFAFA
}

.react-resizable {
  position: relative;
  background-clip: padding-box;
}

.react-resizable-handle {
  position: absolute;
  width: 30px;
  height: 100%;
  bottom: 0;
  right: -15px;
  cursor: col-resize;
  z-index: 1;
}

.ant-tooltip {
  white-space: pre-wrap;
  width: max-content;
  font-style: normal;
  font-weight: normal;
}

.react-resizable > .ant-table-header-column {
  cursor: move;
}

.ant-checkbox-group-item {
  display: block;
  margin-right: 0;
  padding: 2px;
}

.ant-calendar-picker {
  max-width: 265px;
}

.ant-layout-sider-zero-width-trigger {
  color: rgba(0, 0, 0, 0.65);
  background: #fff;
  top: 95px;
  right: -36px;
}

.ant-layout-sider-zero-width-trigger:hover {
  background: #44499c;
  color: #fff;
}

#export-preview-table .ant-collapse-header {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #5b69af;
}

/* Modeling - Property table type dropdown */
.ant-cascader-menu-item-disabled {
  cursor: default;
  color: #333333;
}

ul.ant-cascader-menu {
  height: auto;
  width: 165px;
  max-height: 500px;
}

ul.ant-cascader-menu:nth-child(2) {
  min-width: 150px;
  width: auto;
}

/* Mapping - Create/Edit step Typeahead search  */

.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: #E9F7FE;
}

.ant-select-auto-complete.ant-select .ant-select-selection--single {
  width: 95%;
}


/* Styles for MLtable */

.ml-header-table table {
    border-collapse: collapse; /* Hack to get borders between header-rows to show up */
}

.ml-table {
    td:not(.ant-table-row-expand-icon-cell) {
        vertical-align: top;
    }

    .ml-table .ant-table {
        margin-left: -16px;
    }

    .ant-table-row > td {
        .ml-header-table, .ml-table .ant-table {
            margin: -16px;
        }
    }

    .ant-table-middle {
        .ant-table-row > td {
            .ml-header-table, .ml-table .ant-table {
                margin: -12px -8px;
            }
        }
    }

    .ant-table-small {
        .ant-table-row > td {
            .ml-header-table, .ml-table .ant-table {
                margin: -8px;
            }
        }
    }

    // If the row-nested table has anything around it, don't set its margin-top
    .ant-table-expanded-row > td > .ml-table:not(first-child), .ant-table-expanded-row > td > * .ml-table {
        .ant-table {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .ml-header-table .ant-descriptions-item-label + td {
        display: none;
    }
}


.ant-modal-confirm-body{
    margin-top: 18px;
}

.ant-select-dropdown-menu-item{
  text-align: left;
}
