@import '../theme/styles/variables';

$title-color: unquote("rgb(#{$palette-datahub-100})");
$selected-color: unquote("rgb(#{$palette-datahub-500})");

:host {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.tools-container {
  position: absolute;
  z-index: 999999;
  padding: 5px;
  margin: 5px;

  border: 1px solid $selected-color;
  background-color: white;
  color: $selected-color;
  border-radius: 20px;

  .tools-toggler {
    vertical-align: top;
    display: inline;

    @keyframes changescale {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(10deg);
      }
    }

    &.none {
      animation-duration: 0.3s;
      animation-name: changescale;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: linear;
    }
  }

  .tools {
    text-align: center;
    display: inline-block;
    padding: 10px;
  }
}

.entities {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .none {
    text-align: center;
    margin-top: 20%;
    font-size: 26px;
  }
}

svg {
  width: 100%;
  height: 100%;
}

.foreign {
  position: fixed;
  transform-origin: 0 0 0;
}

.connection {

  &:hover {
    .vertex circle {
      opacity: 1;
    }
  }

  path.connector {
    stroke: #000000;
    fill: none;
  }

  path.connector-wrap {
    stroke: #000000;
    stroke-width: 15;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    opacity: 0;
    cursor: move;

    &:hover {
      opacity: .4;
      stroke-opacity: .4;
    }
  }

  .vertex {

    &.active,
    &:hover {
      .remove {
        opacity: 1;
      }
    }

    circle {
      fill: $title-color;
      opacity: 0;
      cursor: move;

      &:hover {
        .remove {
          opacity: 1;
        }
      }
    }

    .remove {
      cursor: pointer;
      opacity: 0;
      .remove-area {
        fill: #000000;
      }

      path.vertex-remove {
        fill: #ff0000;
      }
    }
  }

  .arrowhead {
    fill: $title-color;
  }

  .cardinality {
    fill: black;
  }
}

[gm-grid] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

[gm-col] {
  position: relative;
  // height: 100%;
  overflow: hidden;
}

.properties-panel {
  padding: 10px;
  overflow: scroll;
  min-width: 350px;
  width: 350px;

  h3 {
    margin: 0px;
    font-size: 24px;
    line-height: 24px;
  }

  h4 {
    margin: 5px 0px;
    font-size: 20px;
    line-height: 20px;
  }

  /deep/ .mdl-textfield {
    padding: 18px 0 5px 0px;
    width: 100%;
  }

  /deep/ .mdl-textfield--floating-label.is-focused .mdl-textfield__label,
  /deep/ .mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
  /deep/ .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
    font-size: 10px;
    top: 0px;
  }

  /deep/ .mdl-textfield__label {
    font-size: 14px;
    top: 18px;
  }

  /deep/ .mdl-textfield__input {
    font-size: 14px;
    padding: 2px 0;
    top: 18px;
  }

  /deep/ .mdl-textfield__label:after {
    bottom: 5px;
  }

  /deep/ .mdl-list__item {
    font-size: 14px;
    padding: 4px;
    min-height: 32px;
  }

  /deep/ mdl-select .mdl-textfield {
    padding: 5px 0;
  }

  .properties {
    // border: 1px solid #333;

    .name {
      padding: 5px;
      background-color: $title-color;
      // color: white;
    }
    .property {
      .property-data {
        padding: 10px;
      }
      margin-bottom: 10px;
    }
  }
}

.panel-contents {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  .actions {
    background-color: $selected-color;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 48px;

    button {
      color: white;
      margin-top: 6px;
    }
  }

  .selected-entity {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 36px;
    overflow: scroll;
  }
}

/deep/ .mdl-textfield__label:after {
  bottom: 12px;
}
