<div class="tools-container">
  <button class="tools-toggler" [ngClass]="{'none' : (!entities || entities.length === 0)}" mdl-button mdl-button-type="mini-fab" mdl-colored="primary" mdl-ripple (click)="toolsVisible = !toolsVisible">
    <i class="fa fa-wrench"></i>
  </button>
  <div class="tools" *ngIf="toolsVisible">
    <span>Scale: {{viewScale}}%</span>
    <div style="width: 300px;">
      <mdl-slider [(ngModel)]="viewScale" min="10" max="200" ></mdl-slider>
    </div>
    <button id="new-entity" mdl-button mdl-button-type="raised" mdl-ripple mdl-colored="primary" (click)="addEntity()">
      <mdl-icon>add</mdl-icon> New Entity
    </button>
  </div>
</div>
<div class="entities">
  <div class="none" *ngIf="!entitiesLoaded">
    Loading entities...
  </div>
  <div class="none" *ngIf="entitiesLoaded && entities.length === 0">
    You don't have any entities yet. Click the Wrench Icon to get started.
  </div>
  <svg #svgRoot *ngIf="entitiesLoaded && entities" xmlns="http://www.w3.org/2000/svg">
    <g class="nodes" [attr.transform]="mainTransform">
      <g #entityDef *ngFor="let entity of entities"
        class="entity-def"
        [attr.transform]="getTransform(entity)"
        >
        <foreignObject id="fo-{{entity.name}}" [attr.width]="entity.hubUi.width || 350" [attr.height]="entity.hubUi.height+77">
          <xhtml:div xmlns="http://www.w3.org/1999/xhtml" class="foreign" [ngStyle]="{ 'transform': mainTransform }">
            <app-entity-box xmlns="http://www.w3.org/1999/xhtml"
              id="aeb-{{entity.name}}"
              (click)="moveEntityToTop(entity)"
              [entity]="entity"
              [dataTypes]="dataTypes"
              [selected]="entity === selectedEntity"
              (dragStart)="handleStartDrag(entity, $event)"
              (onStartEditing)="startEditing($event)"
              (onDeleteEntity)="deleteEntity($event)"
              (entityStateChange)="handleEntityStateChange($event)"></app-entity-box>
          </xhtml:div>
        </foreignObject>
      </g>
      <g class="connection" *ngFor="let connection of connections">
        <path id="{{connection.from.name}}-{{connection.to.name}}" class="connector" [attr.d]="connection.d"></path>
        <path [attr.d]="connection.d" class="connector-wrap" (mousedown)="addVertex(connection, $event)"></path>
        <g class="arrorhead-group" [attr.transform]="connection.arrowTransform">
          <path class="arrowhead" d="M 0 0 L -14 7 L -14 -7 z"></path>
        </g>
        <g class="label" [attr.transform]="connection.labelTransform">
          <text text-anchor="middle" font-size="14" xml:space="preserve" transform="translate(0,-5)">
            <tspan dy="0em" x="0" class="cardinality">{{connection.label}}</tspan>
          </text>
        </g>
        <g class="vertex" *ngFor="let vertex of connection.vertices" attr.transform="translate({{vertex.x}} {{vertex.y}})">
          <circle class="circle" [ngClass]="{'active' : vertex === draggingVertex}" cx="0" cy="0" r="10" (mousedown)="vertexDrag(vertex, $event)"></circle>
          <g class="remove" (click)="removeVertex(connection, vertex)">
            <path class="remove-area" idx="0" d="M16,5.333c-7.732,0-14,4.701-14,10.5c0,1.982,0.741,3.833,2.016,5.414L2,25.667l5.613-1.441c2.339,1.317,5.237,2.107,8.387,2.107c7.732,0,14-4.701,14-10.5C30,10.034,23.732,5.333,16,5.333z" transform="translate(5, -33)"></path>
            <path class="vertex-remove" transform="scale(.8) translate(9.5, -37)" d="M24.778,21.419 19.276,15.917 24.777,10.415 21.949,7.585 16.447,13.087 10.945,7.585 8.117,10.415 13.618,15.917 8.116,21.419 10.946,24.248 16.447,18.746 21.948,24.248z">
              <title>Remove vertex.</title>
            </path>
          </g>
        </g>
      </g>
    </g>
  </svg>
</div>
