.recentRecords {
    width: 100%;
    padding: 0;
    color: #333333;
    .result:nth-of-type(1) {
        margin-top: 0;
    }
    .result {
        border-top-width: 0 !important; 
        display: flex;
        align-items: flex-start;
        min-height: 83px;
        border-bottom: solid 1px #ccc; 
        margin-top: 10px;
    }
    .result:last-child {
        border-bottom: none; 
    }
    .alert {
        position: relative;
        top: 4px;
        right: 8px;
        width: 36px;
    }
    .thumbnail {
        img {
            width: 70px;
            height: 70px;
            margin-right: 20px;
            border-radius: 4px;
        }
    }
    .text {
        width: 85%;
        position: relative;
    }
    div.title {
        position: relative;
        display: inline-block;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        color: #394494;
        cursor: pointer;
        span {
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
        }
    }
    div.subtitle {
        position: relative;
        top: -6px;
    }
    .phone {
        font-weight: bold;
    }
    .email {
        color: #5d6aaa;
    }
    .categories {
        position: absolute;
        top: -4px;
        right: 0;
        > .Chiclet {
            display: inline-block;
            padding: 1px 6px;
            border-radius: 4px;
            margin-left: 6px;
            font-size: 14px;
        }
    }
}
