@font-face {
  font-family: 'MLCustomFont';
  src: url('../../..//fonts/ML_IconFont.ttf') format('truetype');
  src: url('../../../fonts/icomoon.ttf') format('truetype');
}

.legend {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
  margin-bottom: 15px;
  flex-wrap: wrap;

  .foreignKeyLegendText {
    font-size: 14px;
    font-style: italic;
    margin-right: 18px;
    img, svg {
      margin-right: 2px;
    }
  }

  .multipleLegendText {
    font-size: 14px;
    margin-right: 18px;
    img, svg {
      margin-right: 2px;
    }
  }

  .relationshipLegendText {
    font-size: 14px;
    font-style: italic;
    margin-right: 18px;
    margin-left: 23px;
    img, svg {
      margin-right: 2px;
    }
  }

  .structuredLegendText {
    font-size: 14px;
    img, svg {
      margin-right: 2px;
    }
  }

  .modeledRelationshipIcon::before {
    content: "\e95e";
    font-family: MLCustomFont;
    font-size: 19px;
    margin-left: -26px;
    margin-top: -3px;
    color: #57c2da;
    position: absolute;
    padding-left: 25px;
  }

  .foreignKeyIcon {
    color: #37AA6C;
    font-size: 14px;
  }

  .relatedIcon {
    margin-bottom: 4px
  }

  .structuredIcon {
    color: #5B69AF;
    font-size: 14px;
  }

  .arrayImage {
    margin-bottom: 4px
  }

}