@import '../theme/styles/variables';

$palette-datahub-red: unquote("rgb(#{$palette-datahub-red})");
$palette-datahub-lightred: unquote("rgb(#{$palette-datahub-lightred})");
$highlight-color: unquote("rgb(#{$palette-datahub-A100})");
$bg-color: unquote("rgb(#{$palette-datahub-500})");

header.mdl-layout__header {
  background-color: $bg-color;
}

.debug-status {
  position: relative;
}

.mdl-layout__header-row {
  padding: 0 40px 0 20px;
}

/deep/ .mdl-menu__container {
  overflow: hidden;
}

.logo {
  margin-right: 20px;
  width: 32px;
}

.mdl-menu__item {
  &:hover {
    background-color: $highlight-color;
  }
}

.mdl-layout-spacer {
  display: flex;
  justify-content: center;
}

.alertLogo {
  width: 20px;
  height: 20px;
  color: $palette-datahub-lightred;
}

.alert {
  padding: 20px;
  color: #CB2626;
  background-color: rgb(253, 237, 237);
  display: flex;
  align-items: center;
  height: 40px;
  width: fit-content;
}

.alert-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

a.active {
  position: relative;
  &::after {
    content: ' ';
    border-bottom: 1px solid rgba(255,255,255,0.35);
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 25%;
  }
}

mdl-progress.mdl-progress {
  width: 100px;
}

.job-progress {
  cursor: pointer;

  span.label {
    margin-right: 5px;
  }

  span.percent {
    margin-left: 5px;
  }
}

@media(max-width: 1024px) {
  .mdl-layout__header {
    display: flex;
  }
}

@media(max-width: 850px) {
  .mdl-layout-title {
    display: none;
  }
}
