.searchResultsContainer {
    width: 100%;
    padding: 5px 10px;
    position: relative;
    min-height: 75vh;
    margin-top: 150px;
    margin-top: 144px;
}

.label {
    color: rgb(150, 150, 150);
    font-weight: bold;
}
