@import "../../../theme/HCVariables.scss";

.specificSidebar {
    padding-inline: 15px;
}

.specificSidebar {
    padding-inline: 15px;
}

.entityHeader {
    padding-block: 8px;
    color: $secondary-gray;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    font-size: 24px;
}

.entityHeaderIcon {
    padding-right: 7px;
}

.entityHeaderName {
    align-self: flex-end;
    font-size: 14px;
}

.entitySearchText {
    padding-bottom: 8px;
}