<app-flows-ui
  [hasErrors] = "hasErrorsInput"
  [markLogicVersion] = "markLogicVersionInput"
  [lastDeployed] = "lastDeployedInput"
  [entities] = "entities"
  [entity] = "entity"
  [errors] = "errorsInput"
  [flowType] = "flowType"
  [flow] = "flow"
  [mlcpOptions] = "mlcpOptions"
  (deleteFlowClicked) = "deleteFlow($event)"
  (showNewFlowClicked) = "showNewFlow($event)"
  (redeployClicked) = "redeployModules()"
  (runImportClicked) = "runInputFlow($event)"
  (runHarmonizeClicked) = "runHarmonizeFlow($event)"
  (savePluginClicked) = "savePlugin($event)"
>  
</app-flows-ui> 
