<div gm-grid>
  <div gm-row class="flex-100">
    <div gm-col class="flex-0 entities-bar">
      <span class="mdl-layout-title">
        <i class="fa fa-bug" *ngIf="hasErrors()"></i>
        Entities
      </span>

      <ul class="entities mdl-list">
        <li
          class="entity mdl-list__item"
          [ngClass]="{ 'active' : isActiveEntity(entity) }"
          *ngFor="let entity of entities">
          <div class="mdl-list__item-primary-content"
            [ngClass]="{ 'active' : !isCollapsed(entity) }"
            (click)="toggleEntity(entity)">
            <i class="fa fa-bug" *ngIf="entityHasError(entity.name)"></i>
            <i class="fa fa-industry"></i> {{ entity.name }}
            <div class="mdl-layout-spacer"></div>
            <i class="fa fa-caret-left" [ngClass]="{ 'collapsed' : isCollapsed(entity) }"></i>
          </div>
          <div class="flow-container" [ngClass]="{ 'collapsed' : isCollapsed(entity) }">
            <div class="padder">
              <ng-template ngFor let-type [ngForOf]="flowTypes">
                <div class="flow-subheader">
                  {{type}} Flows
                  <div class="mdl-layout-spacer"></div>
                  <mdl-button mdl-button-type="icon" id="new-flow" (click)="showNewFlow(entity, type.toUpperCase())">
                    <i class="fa fa-plus"></i>
                  </mdl-button>
                </div>
                <ul class="flows mdl-list">
                  <li
                    class="flow mdl-list__item"
                    [ngClass]="{'active': isActiveFlow(flow)}"
                    *ngFor="let flow of getFlows(entity, type)">
                    <div (click)="setFlow(flow, type.toUpperCase())">
                      <span class="mdl-list__item-primary-content">
                        <i class="mdi" [ngClass]="{'mdi-import': type === 'Input', 'mdi-looks' : type === 'Harmonize'}"></i>
                        {{ flow.flowName }}
                        <span class="mdl-layout-spacer"></span>
                        <i class="fa fa-trash" (click)="deleteFlow(flow, type.toUpperCase())"></i>
                        <i class="fa fa-bug" *ngIf="flowHasError(entity.name, flow.flowName)"></i>
                      </span>
                    </div>
                    <div>
                      <ul>
                        <li
                          *ngFor="let plugin of flow.plugins"
                          (click)="editPlugin(entity, flow, type.toUpperCase(), plugin)">
                          <span>
                            <i class="fa fa-arrow-right" aria-hidden="true" *ngIf="isActivePlugin(flow, plugin)"></i>
                            <i class="fa fa-code" aria-hidden="true"></i>
                            <span class="mdl-layout-spacer"></span>
                            {{ plugin.pluginType }}
                            <i class="fa fa-bug" *ngIf="pluginHasError(flow, plugin.pluginType)"></i>
                            <i class="fa fa-asterisk" title="Unsaved Changes" *ngIf="plugin.$dirty"></i>
                          </span>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </ng-template>
            </div>
          </div>
        </li>
      </ul>
      <div class="footer" layout="column" layout-align="center center">
        <p>Last Deployed: {{getLastDeployed()}}</p>
        <mdl-button
          mdl-button-type="raised" mdl-colored="primary" mdl-ripple
          (click)="redeployModules()"
          tooltip="This will clear our your modules database and reload the modules located in the plugins directory. You shouldn't need to do this since modules are automatically deployed."
          tooltipPlacement="top"
          >
          Redeploy <i class="fa fa-refresh"></i>
        </mdl-button>
      </div>
    </div>
    <gm-divider></gm-divider>
    <div gm-col class="flex-100">
      <div class="page-content">
        <div [style.display]="view === 'flowPlugin'?'none':'inherit'">
          <app-mlcp></app-mlcp>
          <app-harmonize-flow-options></app-harmonize-flow-options>
        </div>
        <div class="flow-plugin" *ngIf="view === 'flowPlugin' && flowPlugin">
          <ng-template ngFor let-plugin [ngForOf]="(flowPlugin.files | objectToArray)">
            <div class="toolbar">
              <i class="fa fa-bug" *ngIf="pluginHasError(flow, flowPlugin.pluginType)"></i>
              <span class="plugin-path">{{flowPlugin.pluginPath}}/{{plugin.__key}}</span>
              <span *ngIf="isSaving">Saving <i class="fa fa-spinner fa-pulse"></i></span>
              <div class="pull-right save-button">
                <mdl-button
                  mdl-button-type="raised" mdl-colored="primary" mdl-ripple
                  [disabled]="!flowPlugin.$dirty || isSaving"
                  (click)="savePlugin()"
                  tooltip="This will save the plugin code."
                  tooltipPlacement="bottom">
                  Save <i class="fa fa-floppy-o"></i>
                </mdl-button>
              </div>
            </div>
            <div class="plugin-codemirror">
              <app-codemirror [ngModel]="plugin.value"
                (ngModelChange)="syncPluginText(plugin.__key, $event)"
                (saveEvent)="savePlugin()"
                [config]="codeMirrorConfig"
                [error]="getPluginErrors(flow, flowPlugin.pluginType)"></app-codemirror>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
