@import '../../theme/styles/variables';

$error: unquote("rgb(#{$palette-datahub-red})");

:host {
  display: block;
  margin: 20px;
}

.run-options {
  padding: 10px;
  width: 50%;

  .mdl-textfield {
    width: 100%;
  }
}

.map-saved {
  font-size: 16px;
  padding-right: 10px;
  cursor: pointer;
}

.map-delete {
  .fa-trash {
    color: #999;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      color: $error;
    }
  }
}

.map-not-avail {
  color: #999;
  font-style: italic;
}

.map-saved a {
  color: #000;
}

.has-whitespace {
  color: #a94442;
}
