@import '../theme/styles/variables';
@import '../theme/styles/material';

$gutter-color: unquote("rgb(#{$palette-datahub-A100})");
$active-border-color: unquote("rgb(#{$palette-datahub-900})");
$bg-color: unquote("rgb(#{$palette-datahub-500})");
$subheader-bg-color: unquote("rgb(#{$palette-datahub-300})");
$red-color: unquote("rgb(#{$palette-datahub-red})");
$green-color: unquote("rgb(#{$palette-datahub-green})");

app-trace-viewer {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
}

/deep/ [layout] {
  flex: auto;
}

.layout-body {
  position: relative;
  flex: 1;
  background-color: white;
}

.gray {
  background-color: #f5f5f5;
}

.green {
  background-color: #b9f6ca;
}

.plugin {
  width: 125px;
  height: 80px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mdi-arrow-right {
  margin: 0px 15px;
}

.mdl-button--colored[disabled][disabled].start {
  background-color: $green-color;
  &:hover {
    background-color: $green-color;
  }
}

.mdl-button--colored[disabled][disabled].end {
  background-color: $red-color;
  &:hover {
    background-color: $red-color;
  }
}

.mdl-button--primary.mdl-button--primary.mdl-button--raised.error {
  background-color: $red-color;
  border: 1px solid red;
}

.plugin.active {
  font-weight: bold;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.28), 0 8px 16px rgba(0, 0, 0, 0.46);
  border: 1px solid $active-border-color;
}

.plugin-nav {
  margin-bottom: 10px;
  color: #666;
  font-size: 16px;
}

.subheader {
  display: block;
  padding: 10px 10px 10px 16px;
  cursor: pointer;
  background-color: $subheader-bg-color;
  color: white;
  border-bottom: 1px solid $gutter-color;

  &.error-sub {
    background-color: $red-color;
  }
}

app-codemirror {
  max-width: 100%;
  border-bottom: 1px solid #ccc;

  &:last-child {
    border-bottom: none;
  }
}

.CodeMirror {
  height: 600px;
}

.plugin-name {
  line-height: 30px;
}

.plugin-duration {
  line-height: 20px;
  font-size: 70%;

  .unit {
    font-size: 80%;
    font-weight: bold;
  }
}

*:focus {
  outline: none;
}

.CodeMirror-gutters {
  background-color: $gutter-color !important;
  color: black !important;
  border: none;
}

.CodeMirror-linenumber {
  color: black;
}

.json-formatter {
  background-color: white;
  padding: 5px;
}

.center-frame {
  margin: 0px auto;
}

.half-width {
  max-width: 50%;
}

.summary, .plugins {
  flex: none;
}

.summary {
  color: #666;
  color: 18px;
}

.selected-plugin-header {
  background-color: rgb(42, 67, 86);
  color: white;
  padding: 10px;
  text-align: center;
}

.mdl-layout__header-row {
  padding: 0 10px;
}

.info {
  text-align: center;
  margin-top: 40px;
  font-size: 18px;
  color: #666;
}
