<section class="plugin-nav" layout="row" layout-align="center center" *ngIf="trace">
  <div md-whiteframe-2dp class="center-frame" layout-padding layout="column" layout-align="center center">
    <div layout="column" flex layout-align="center center" class="summary">
      <div>Trace {{trace.traceId}}</div>
      <div>Identifier: {{trace.identifier}}</div>
      <div>Created: {{trace.created}}</div>
    </div>
    <div layout="row" flex layout="row" layout-align="center center" class="plugins">
      <button
        disabled="true"
        class="start mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
      </button>
      <i class="mdi mdi-arrow-right"></i>
      <ng-template ngFor let-plugin="$implicit" [ngForOf]="trace.steps" let-i="index">
        <mdl-button mdl-button-type="raised" mdl-colored="primary"
          (click)="setCurrent.emit(plugin)"
          class="plugin"
          [ngClass]="getButtonClasses(plugin)">
          <div class="plugin-name">{{plugin.label}}</div>
          <div class="plugin-duration">{{plugin.duration}}<span *ngIf="plugin.duration" class="unit">s</span></div>
        </mdl-button>
        <i class="mdi mdi-arrow-right"></i>
      </ng-template>
      <button
        disabled="true"
        class="end mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
      </button>
    </div>
  </div>
</section>

<section class="plugin-nav" *ngIf="currentPlugin">
  <div [hidden]="!currentPluginType" flex layout="column" layout-align="center center">
    <div class="subheader">{{currentPluginType}} Plugin</div>
    <div>Module URI: {{currentPlugin.pluginModuleUri}}</div>
    <div>Duration: {{currentPlugin.duration}}s</div>
  </div>
</section>

<div flex layout-margin layout="row" layout-align="center top" class="plugin-io" *ngIf="currentPlugin">
  <div md-whiteframe-z1 flex layout="column" class="half-width">
    <div class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Input</span>
      </div>
    </div>
    <div class="layout-body">
      <ng-template ngFor let-input="$implicit" [ngForOf]="getKeys(currentPlugin.input)" let-i="index">
        <div class="subheader" (click)="collapsed[i] = !collapsed[i]">{{input}} <i class="fa" [ngClass]="collapsed[i] ? 'fa-caret-left' : 'fa-caret-down'"></i></div>
        <app-codemirror *ngIf="!collapsed[i] && currentPlugin.input[input]" [ngModel]="formatData(currentPlugin.input[input])" [config]="codeMirrorConfig"></app-codemirror>
      </ng-template>
    </div>
  </div>
  <div md-whiteframe-z1 flex layout="column" class="half-width">
    <div class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Output</span>
      </div>
    </div>
    <div class="layout-body">
      <div class="subheader" (click)="outputCollapsed = !outputCollapsed" *ngIf="currentPlugin.output">Output <i class="fa" [ngClass]="outputCollapsed ? 'fa-caret-left' : 'fa-caret-down'"></i></div>
      <app-codemirror *ngIf="!outputCollapsed && currentPlugin.output" [ngModel]="formatData(currentPlugin.output)" [config]="codeMirrorConfig"></app-codemirror>
      <div class="subheader error-sub" (click)="errorCollapsed = !errorCollapsed" *ngIf="currentPlugin.error">Error <i class="fa" [ngClass]="errorCollapsed ? 'fa-caret-left' : 'fa-caret-down'"></i></div>
      <app-ml-error *ngIf="!errorCollapsed && currentPlugin.error" [error]="currentPlugin.error"></app-ml-error>
      <div class="info" *ngIf="currentPluginType === 'writer'">
        The Data Hub Framework can't capture output from a writer plugin.
      </div>
    </div>
  </div>
</div>
