// Import HC variables
@import "HCVariables.scss";

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

.accordion {
    &:not(:last-child) .accordion-item > .card,
    .accordion-item > .card .card-header {
        border-bottom: 0;
    }
    &:not(.accordion-sidebar) .accordion-body {
        border-top: 1px solid rgba(0, 0, 0, 0.125);
    }
}

.accordion-button {
    padding: $accordion-button-padding-y $accordion-button-padding-x;
    background-color: unset;
    &:not(.collapsed) {
        box-shadow: none;
        color: unset;
        background-color: unset;
        &::before {
            background-image: escape-svg($accordion-button-active-icon);
            transform: $accordion-icon-transform;
        }
    }
    &:focus {
        box-shadow: none;
    }
    // Accordion icon
    &::before {
        flex-shrink: 0;
        width: $accordion-icon-width;
        height: $accordion-icon-width;
        margin-right: 12px;
        content: "";
        background-image: escape-svg($accordion-button-icon);
        background-repeat: no-repeat;
        transform: rotate(-90deg);
        background-size: $accordion-icon-width;
        @include transition($accordion-icon-transition);
    }
    &::after {
        display: none;
    }

    &.after-indicator {
        &:not(.collapsed) {
            &::after {
                background-image: escape-svg($accordion-button-active-icon);
                transform: $accordion-icon-transform;
            }
        }
        &::before {
            display: none;
        }
        &::after {
            display: block;
            transform: $accordion-icon-after-transform;
        }
    }
}

.tooltip-inner {
    text-align: left;
}

.alert {
    color: $alert-text-color;
}

.btn-outline-light {
    color: $text-color;
    &:hover {
        background-color: transparent;
        border-color: $primary;
        color: $info;
    }
}

.btn-outline-blue {
    color: $info;
    background-color: transparent;
    border-color: $info;
    &:hover {
        color: $info;
    }
}

.btn-sm,
.btn-group-sm > .btn {
    padding: 0.05rem 0.45rem;
}

.cursor-pointer {
    cursor: pointer;
}
.dropdown-toggle::after {
    display: none !important;
}
.daterangepicker {
    font-family: $font-family-sans-serif;

    td.active,
    td.active:hover {
        background-color: $primary;
    }
    .cancelBtn {
        display: none;
    }
    .drp-selected {
        display: none;
    }
}

.form-label,
.form-check-label {
    color: $text-color;
    font-size: $font-size-base;
}

.form-check-label {
    cursor: pointer;
}

.modal-header.bb-none {
    border-bottom: none;
}

div[role="dialog"][aria-modal="true"]:nth-last-child(1) {
    z-index: 1125;
}
.modal-backdrop.show:nth-last-child(2) {
    z-index: 1100;
}
div[role="dialog"][aria-modal="true"]:nth-last-child(3) {
    z-index: 1075;
}
.modal-backdrop.show:nth-last-child(4) {
    z-index: 1050;
}
div[role="dialog"][aria-modal="true"]:nth-last-child(5) {
    z-index: 1025;
}
.modal-backdrop.show:nth-last-child(6) {
    z-index: 1000;
}

.switch-button-group {
    display: flex;
    input {
        position: absolute !important;
        clip: rect(0, 0, 0, 0);
        height: 0px;
        width: 0px;
        border: 0;
        overflow: hidden;
    }

    label {
        display: inline-block;
        vertical-align: middle;
        height: 32px;
        background-color: #ffffff;
        color: $text-color;
        font-size: 14px;
        font-weight: normal;
        text-align: center;
        text-shadow: none;
        padding: 4px 15px;
        border: 1px solid $light;
        transition: all 0.1s ease-in-out;
        svg {
            color: $secondary-gray;
        }
    }

    label:hover {
        cursor: pointer;
    }

    input:checked + label {
        background-color: $primary;
        color: #ffffff;
        box-shadow: none;
        svg {
            color: #ffffff;
        }
    }

    input:disabled + label {
        background-color: $disabled-color;
        color: $light;
        cursor: not-allowed;
        box-shadow: none;
        svg {
            color: $light;
        }
    }

    span:first-of-type label {
        border-radius: 4px 0 0 4px;
    }

    span:last-of-type label {
        border-radius: 0 4px 4px 0;
    }

    &.outline {
        input:checked + label {
            border: 1px solid $primary;
            background-color: #ffffff;
            color: $primary;
            svg {
                color: $primary;
            }
        }
    }
}

.form-switch {
    .form-check-input {
        cursor: pointer;
        background-color: #ccc;
        border: 0;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
        &:focus {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
        }
        &:checked {
            background-color: $primary;
        }
    }
}

/* TreeSelect*/

.rc-tree-select {
    .rc-tree-select-selection {
        display: flex;
        justify-content: space-between;
    }
    .rc-tree-select-selector {
        border: 0 !important;
        padding: 4.5px 25px 4.5px 11px !important;
        .rc-tree-select-selection-item {
            top: 4px;
            left: 11px;
        }
        .rc-tree-select-selection-placeholder {
            top: 4px;
            left: 11px;
        }
    }

    .rc-tree-select-arrow {
        right: 11px;
        top: 4px;
        svg {
            transition: transform ease-out 0.2s;
            font-size: 12px;
            color: #bfbfbf;
        }
    }

    &.rc-tree-select-open {
        .rc-tree-select-arrow {
            svg {
                transform: rotateZ(180deg);
            }
        }
    }
}

.rc-tree-select-dropdown {
    border: 0;
    box-shadow: 0 2px 8px #00000026;
    overflow-x: hidden !important;
    ul {
        list-style: none;
    }

    .rc-tree-select-tree {
        padding: 8px 0;
    }
    .clean-box {
        padding: 8px;
        clear: both;
    }
    .rc-tree-select-tree-switcher {
        background: transparent !important;
        background-image: none !important;
        padding-left: 4px ;
    }
    .rc-tree-select-tree-list-holder {
        overflow: hidden !important;
    }

    .rc-tree-select-tree {
        .rc-tree-select-tree-node-content-wrapper {
            display: inline-block;
            width: calc(100% - 15px);
            margin: 0;
            padding: 3px 0 3px 5px;
            color: #333;
            text-decoration: none;
            border-radius: 2px;
            cursor: pointer;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            .rc-tree-select-tree-iconEle {
                background-image: none !important;
                display: none;
            }
            &:hover {
                background-color: #e9f7fe;
            }

            &.rc-tree-select-tree-node-selected {
                background-color: #d5d9e3;
                box-shadow: none;
                border: 0;
                opacity: 1;
            }
        }
    }
}
.dropdown-item:hover, .dropdown-item:focus {
    background-color: $item-light;
}
.dropdown-item.active {
    all: unset;
    margin-left: 6px !important;
}
