
// Import HC variables
@import "HCVariables.scss";

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

.accordion {
    &:not(:last-child) .accordion-item > .card, 
    .accordion-item > .card .card-header {
        border-bottom: 0;
    }
    &:not(.accordion-sidebar) .accordion-body {
        border-top: 1px solid rgba(0, 0, 0, 0.125);
    }
}

.accordion-button {
    padding: $accordion-button-padding-y $accordion-button-padding-x;
    background-color: unset;
    &:not(.collapsed) {
        box-shadow: none;
        color: unset;
        background-color: unset;
        &::before {
            background-image: escape-svg($accordion-button-active-icon);
            transform: $accordion-icon-transform;
        }
    }
    &:focus{
        box-shadow: none;
    }
    // Accordion icon
    &::before {
        flex-shrink: 0;
        width: $accordion-icon-width;
        height: $accordion-icon-width;
        margin-right: 12px;
        content: "";
        background-image: escape-svg($accordion-button-icon);
        background-repeat: no-repeat;
        transform: rotate(-90deg);
        background-size: $accordion-icon-width;
        @include transition($accordion-icon-transition);
    }
    &::after {
        display: none;
    }

    &.after-indicator {
        &:not(.collapsed) {
            &::after {
                background-image: escape-svg($accordion-button-active-icon);
                transform: $accordion-icon-transform;
            }
        }
        &::before {
            display: none;
        }
        &::after {
            display: block;
            transform: $accordion-icon-after-transform;
        }
    }
}

.tooltip-inner {
    text-align: left;
}

.alert {
    color: $alert-text-color;
}

.btn-outline-light {
    color: $text-color;
    &:hover {
        background-color: transparent;
        border-color: $primary;
        color: $info;
    }
}

.btn-outline-blue {
    color: $info;
    background-color: transparent;
    border-color: $info;
    &:hover {
        color: $info;
    }
}

.btn-sm, .btn-group-sm > .btn {
    padding: 0.05rem 0.45rem;
}

.cursor-pointer {
    cursor: pointer;
  }
.dropdown-toggle::after {
    display:none !important;
}
.daterangepicker {
    font-family: $font-family-sans-serif;
    
    td.active, td.active:hover {
        background-color: $primary;
    }
    .cancelBtn {
        display: none;
    }
    .drp-selected {
        display: none;
    }
}

.form-label {
    color: $text-color;
    font-size: $font-size-base;
}