
// Import HC variables
@import "HCVariables.scss";

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

.accordion {
    &:not(:last-child) .accordion-item > .card, 
    .accordion-item > .card .card-header {
        border-bottom: 0;
    }
    &:not(.accordion-sidebar) .accordion-body {
        border-top: 1px solid rgba(0, 0, 0, 0.125);
    }
}

.accordion-button {
    padding: $accordion-button-padding-y $accordion-button-padding-x;
    background-color: unset;
    &:not(.collapsed) {
        box-shadow: none;
        color: unset;
        background-color: unset;
        &::before {
            background-image: escape-svg($accordion-button-active-icon);
            transform: $accordion-icon-transform;
        }
    }
    &:focus{
        box-shadow: none;
    }
    // Accordion icon
    &::before {
        flex-shrink: 0;
        width: $accordion-icon-width;
        height: $accordion-icon-width;
        margin-right: 12px;
        content: "";
        background-image: escape-svg($accordion-button-icon);
        background-repeat: no-repeat;
        transform: rotate(-90deg);
        background-size: $accordion-icon-width;
        @include transition($accordion-icon-transition);
    }
    &::after {
        display: none;
    }

    &.after-indicator {
        &:not(.collapsed) {
            &::after {
                background-image: escape-svg($accordion-button-active-icon);
                transform: $accordion-icon-transform;
            }
        }
        &::before {
            display: none;
        }
        &::after {
            display: block;
            transform: $accordion-icon-after-transform;
        }
    }
}

.tooltip-inner {
    text-align: left;
}

.alert {
    color: $alert-text-color;
}

.btn-outline-light {
    color: $text-color;
    &:hover {
        background-color: transparent;
        border-color: $primary;
        color: $info;
    }
}

.btn-outline-blue {
    color: $info;
    background-color: transparent;
    border-color: $info;
    &:hover {
        color: $info;
    }
}

.btn-sm, .btn-group-sm > .btn {
    padding: 0.05rem 0.45rem;
}

.cursor-pointer {
    cursor: pointer;
  }
.dropdown-toggle::after {
    display:none !important;
}
.daterangepicker {
    font-family: $font-family-sans-serif;
    
    td.active, td.active:hover {
        background-color: $primary;
    }
    .cancelBtn {
        display: none;
    }
    .drp-selected {
        display: none;
    }
}

.form-label, .form-check-label {
    color: $text-color;
    font-size: $font-size-base;
}

.form-check-label {
    cursor: pointer;
}

.modal-header.bb-none {
    border-bottom: none;
}

div[role="dialog"][aria-modal="true"]:nth-last-child(1) {
    z-index: 1125;
}
.modal-backdrop.show:nth-last-child(2){
    z-index: 1100;
}
div[role="dialog"][aria-modal="true"]:nth-last-child(3) {
    z-index: 1075;
}
.modal-backdrop.show:nth-last-child(4){
    z-index: 1050;
}
div[role="dialog"][aria-modal="true"]:nth-last-child(5) {
    z-index: 1025;
}
.modal-backdrop.show:nth-last-child(6){
    z-index: 1000;
}

.switch-button-group {
    display: flex;
    input {
        position: absolute !important;
        clip: rect(0, 0, 0, 0);
        height: 0px;
        width: 0px;
        border: 0;
        overflow: hidden;
    }
  
    label {
        display: inline-block;
        vertical-align: middle;
        height: 32px;
        background-color: #ffffff;
        color: $text-color;
        font-size: 14px;
        font-weight: normal;
        text-align: center;
        text-shadow: none;
        padding: 4px 15px;
        border: 1px solid $light;
        transition: all 0.1s ease-in-out;
        svg {
            color: $secondary-gray;
        }
    }
    
    label:hover {
        cursor: pointer;
    }
    
    input:checked + label {
        background-color: $primary;
        color: #ffffff;
        box-shadow: none;
        svg {
            color: #ffffff;
        }
    }

    input:disabled + label {
        background-color: $disabled-color;
        color: $light;
        cursor: not-allowed;
        box-shadow: none;
        svg {
            color: $light;
        }
    }
    
    span:first-of-type label {
        border-radius: 4px 0 0 4px;
    }
    
    span:last-of-type label {
        border-radius: 0 4px 4px 0;
    }

    &.outline{
        input:checked + label {
            border: 1px solid $primary;
            background-color: #ffffff;
            color: $primary;
            svg {
                color: $primary;
            }
        } 
    }
}
