@import "HCVariables.scss";

.validationError {
    line-height: normal;
    padding-top: 5px;
    padding-left: 1px;
    padding-bottom: 1px;
    color: $danger;
}

.modal1400w{
    width: 1400px !important;
    max-width: none !important;
}