.detail { 
    font-size: 14px;
        .heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .title {
                display: flex;
                align-items: center;
                .icon {
                    margin-right: 10px;
                    cursor: pointer;
                }
                .text {
                    font-size: 28px;
                }
                .thumbnail {
                    position: relative;
                    top: -4px; 
                    img {
                        width: 60px;
                        height: 60px; 
                        border-radius: 4px;
                    }
                }
            }
            .actions {
                display: flex; 
                .favorite {
                    margin-right: 12px;
                    .label {
                        display: inline-block;
                        padding-right: 6px;
                    }
                }
            }
        }
   
}
