.detail {
    padding-top: 20px;
    .heading {
        display: flex;
        align-items: center;
        .icon {
            margin-right: 10px;
            cursor: pointer;
        }
        .title {
            font-size: 28px;
        }
        .thumbnail {
            position: relative;
            top: -4px;
            width: 7%;
            img {
                width: 60px;
                height: 60px;
                margin-left: 20px;
                border-radius: 4px;
            }
        }
    }
}