.loadContainer {
    margin-top: 3vh;
}
.cardStyle {
    width: 330px;
    margin-top: 9px;
    text-align: left;
    align-content: left;
    padding-bottom: 0px;
    border: 1px solid #d7d6d6;
    margin-bottom: 10px;
}
.cardStyle:hover {
    border: 1px solid #67749c;
}
.mapNameStyle {
    font-size: 20px;
    padding-bottom: 2px;
}
.addNewCardDisabled {
    width: 300px;
    margin-top: 9px;
    border: 1px solid #d7d6d6;
    align-items: center;
    text-align: center;
    align-content: center;
    cursor: not-allowed !important;
}
.plusIconDisabled{
    font-size: 80px;
    margin-top: 16px;
    color: #67749c;
    opacity: 0.45;
    margin-bottom: 0px;
    cursor: not-allowed;
}
.lastUpdatedStyle {
    font-size: 13px;
    margin-bottom: 0px;
}

.formatFileContainer {
    position:absolute;
    width: 100%;
    width: 310px
}
.sourceQuery {
    font-size: 13px;
    margin-top: 10px;
}
.fileCount {
    display: block;
    text-align: right;
    font-size: 24px;
    padding: 0;
    margin-bottom: 0px;
    margin-right: 0px;
}

.addNewCard {
    width: 330px;
    margin-top: 9px;
    border: 1px solid #d7d6d6;
    align-items: center;
    text-align: center;
    align-content: center;
}
.plusIcon {
    font-size: 80px;
    margin-top: 11px;
    color: #67749c;
    margin-bottom: 0px;
    cursor: pointer;
    &:hover{
        color: var(--hoverColor);
    }

}

.plusIconNewFlow {
  font-size: 15px;
  color: #44499C;
  margin-right: 10px;
  cursor: pointer;
}

.addNewContent {
    font-size: 20px;
    color: #67749c;
    margin-bottom: 1.7vh;
    margin-top: 0px;
}

.newDataLoad {
    width: 700px;
    text-align: left;
}

.disabledIcon {
    font-size: 19px;
    opacity: 0.5;
    padding-bottom: 2px;
    cursor: not-allowed !important;
}

.runIcon {
    font-size: 19px;
    padding-top: 2px;
    &:hover{
        color: var(--hoverColor);
    }

}

.flowSelectGrid {
    font-size: 16px;
    padding-top: 30px;
}

.runNewFlow {
    display: flex;
}

.verticalDiv {
    margin-left: 15px;
    height: 55vh !important;
    margin-top: -3px;
}

.cardLinks {
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.6);
}

.cardLink {
    color: #3f4692;
    background-color: #ecf6fe;
    padding: 20px 8px 8px 8px;
    font-size: 14px;
    cursor: pointer;
    &:hover{
        color: var(--hoverColor) !important;
    }
}

.cardDisabledLink {
    color: #3f4692;
    background-color: #ecf6fe;
    padding: 20px 8px 8px 8px;
    font-size: 14px;
    cursor: not-allowed;
}

.stepDetails{
    font-size: 16px;
    margin-left: -5px;
    margin-right: 5px;
    &:hover{
        color: var(--hoverColor);
    }
}

.editIcon{
    font-size: 20px;
    &:hover{
        color: var(--hoverColor);
    }
}

.cardNonLink {
    color: rgba(0, 0, 0, 0.65);
    background-color: #ecf6fe;
    margin-bottom: 0px;
    padding: 8px 8px 16px 8px;
    font-size: 14px;
    cursor: default;
}

.cardLinkSelect {
    margin-top: 7px;
    margin-bottom: 10px;
}

.stepLink {
    color: #44499C;
    &:hover{
        color: var(--hoverColor);
    }
}

.stepLink:hover {
  cursor: pointer;
  .plusIconNewFlow {
    color: var(--hoverColor);
  }
}

.newFlowStepLink {
  margin-left: 5px;
  color: var(--hoverColor);
}

.stepLinkExisting {
    color: rgba(0, 0, 0, 0.65);
}


.stepLinkSelect {
    margin-top: 5px;
}

.deleteIcon:hover{
    color: var(--hoverColor);
}
