.new-entity-dialog {
  min-width: 500px;
  width: 500px;

  label {
    margin: 10px 0;
  }

  select-list {
    border: 1px solid #ccc;
    margin-bottom: 10px;

    md-list {
      padding: 0px;
    }
  }

  .md-dialog-content {
    padding-bottom: 0px;
  }

  mdl-textfield {
    width: 100%;
  }
}

/deep/ .mdl-textfield__label:after {
  bottom: 12px;
}
