@import "../../../../theme/HCUtils.scss";

.icon {
  font-size: 12px;
  color: #7F86B5;
}

.asterisk {
  color: $danger;
}

.footer {
  display: flex;
  justify-content: flex-end;

  .saveButton {
    margin-left: 5px;
  }
}

.input {
  position: relative;
  width: 400px;
}

.trashIcon {
    font-size: 20px;
    color: $danger;
    &:hover{
        color: var(--hoverColor);
    }
}

.editFooter{
    display: flex;
    justify-content: space-between;
}

.validationError {
  @extend .validationError;
}
