@import 'styles/flex';
@import 'styles/variables';
@import 'styles/dialog';
@import 'styles/tooltip';
@import 'styles/material2-theme';

div.main {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.mdi {
  font-size: 24px;
}

html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background-color: #e9eef4;
}

span.active {
  background-color: gray;
}

a:focus {
  outline: none;
  text-decoration: none;
}

a {
  a:focus {
    outline: none;
  }
}

.mdl-snackbar {
  z-index: 9999999;
}

$slide-bar-color: unquote("rgb(#{$palette-datahub-100})");
$slide-bar-handle-color: unquote("rgb(#{$palette-datahub-500})");

md-slide-toggle.primary-color.md-checked {
  label {
    div.md-slide-toggle-bar {
      background-color: $slide-bar-color;
    }

    div.md-slide-toggle-thumb {
      background-color: $slide-bar-handle-color;
    }
  }
}

mdl-switch.mdl-switch.is-upgraded {
  width: inherit;
}

.mdl-switch__label {
  position: static;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  margin-left: 24px;
}

$error-color: unquote("rgb(#{$palette-datahub-red})");

.mdl-data-table tbody tr {
  cursor: pointer;
}

.mdl-data-table tbody tr.error:hover {
  background-color: $error-color;
}

tr.error {
  background-color: $error-color;
  font-weight: bold;
}

table[left-align].mdl-data-table[left-align] td,
table[left-align].mdl-data-table[left-align] th {
  text-align: left;
}

$button-color: unquote("rgb(#{$palette-datahub-500})");

button.md-primary[md-raised-button],
button.md-primary[md-fab],
button.md-primary[md-mini-fab] {
  background-color: $button-color;
}

.mdl-switch__thumb {
  background: #dedede;
}
