.graphViewContainer {
    padding: 10px 10px 0px 0px;

    .graphHeader {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .filterInput{
          padding-bottom: 20px;
          width: 280px;
        }
        .buttons {
          display: flex;
          .stepMenu {
            margin-top: -40px;
            border: 1px solid rgb(222, 220, 220);
          }

          .addButtonContainer {
            padding-right: 10px;

            .addButtonText {
              font-size: 16px;
            }

            .downArrowIcon {
              font-size: 16px;
            }
          }
          .publishButtonContainer {
            display: inline-flex;
            vertical-align: middle;
            
            .publishButtonText {
              margin-left: 4px;
              font-size: 16px;
            }
          }

          .graphExportIcon{
            cursor: pointer;
            font-size: 24px;
            margin-left: 8px;
            margin-top: 2px;
            color: #777777;
            &:hover{
              color: var(--hoverColor);
            }
          }
      }
    }

    .searchIcon {
        float: right;
        font-size: 20px;
        position: relative;
        color: #bfbfbf;
    }
}

.resizerStyle {
  border: 1px solid rgba(1, 22, 39, 0.21);
  cursor: col-resize;
  height: auto;
  margin-top: 10px;
  min-height: 60vh;
};

.resizerStyle::before {
  content: '| |';
  position: absolute;
  top: 50%;
  padding: 0 8px;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: #CCCCCC;
  line-height: 16px;
  font-size: 16px;
  letter-spacing: 0px;
  display: inline-block;
}


.svgBox{
  fill: #cfe3e8;
  cursor: pointer;
}
.svgBox:hover{
  fill: blue;
}
.customIcon{
  fill: black;
  font-size: 16px;
};
