.graphViewContainer {
    padding: 10px 10px 0px 0px;

    .graphHeader {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .filterInput{
          padding-bottom: 0px;
          width: 280px;
        }
        .buttons {
          display: flex;
          align-items: center;
          .stepMenu {
            margin-top: -40px;
            border: 1px solid rgb(222, 220, 220);
          }

          .editModeInfoContainer {
            margin-left: 7px;
            margin-right: 20px;
          }

          .addButtonContainer {
            padding-right: 10px;
          }

          .publishButtonContainer {
            display: inline-flex;
            vertical-align: middle;
            margin-top: 2px;

            .publishButtonText {
              margin-left: 4px;
            }
          }

          .graphExportIcon{
            cursor: pointer;
            font-size: 21px;
            margin-left: 8px;
            margin-top: 2px;
            color: #777777;
            &:hover{
              color: var(--hoverColor);
            }
          }
      }
    }

    .searchIcon {
        float: right;
        font-size: 15px;
        position: relative;
        color: #bfbfbf;
    }
}
.resizerStyle {
  border: 1px solid rgba(1, 22, 39, 0.21);
  cursor: col-resize;
  height: auto;
  margin-top: 10px;
  min-height: 60vh;
};

.resizerStyle::before {
  content: '| |';
  position: absolute;
  top: 50%;
  padding: 0 8px;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: #CCCCCC;
  line-height: 16px;
  font-size: 16px;
  letter-spacing: 0px;
  display: inline-block;
}

.disabledPointerEvents{
  pointer-events: none;
}

.disabledCursor{
  cursor: not-allowed;
}
