@import '../theme/styles/variables';

$error: unquote("rgb(#{$palette-datahub-red})");

.has-bugs-dialog {
  max-width: 600px;

  .fa {
    color: $error;
  }
}

span.uri {
  font-weight: bold;
}

pre {
  width: 90%;
  padding: 10px;
  background: #f0f0f0;
  overflow: scroll;
  border: 1px solid #e0e0e0;
  margin: 0pt auto;
  border-radius: 5px;
  white-space: normal;
  margin-bottom: 20px;
}
