
.custom-page {
  padding: 20px 40px 150px 40px;
}

span.h4 {
  margin-left: 10px;
}

mat-form-field {
  width: 50%;
}

app-folder-browser {
  max-width: 700px;
  display: flex;
  justify-content: left;
}

#save-custom {
  position: absolute;
  top: 468px;
  left: 590px;
  .mat-raised-button {
    margin-right: 5px;
  }
}

div.label {
  padding-top: 15px;
  padding-bottom: 0px;
  font-size: 20px;
  font-weight: normal;
}

div.Input-label {
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: normal;
}

/deep/ .mat-tooltip {
  white-space: pre-line !important;
  position: relative;
  left: 418px;
  top: 5px;
  max-width: 259px !important;
}

/deep/ .mat-form-field.modules-database-field,
/deep/ .mat-form-field.custom-module-uri-field {
  width: 600px !important;
}


/deep/ .mat-tooltip.source-path-tooltip {
  left: 320px !important;
}

/deep/ .delimited-text-separator-field {
  padding: 8px 0 !important;
}

/deep/ .mat-tooltip.source-file-type-tooltip,
/deep/ .mat-tooltip.delimited-text-separator-field-tooltip,
/deep/ .mat-tooltip.target-file-type-tooltip {
  left: 300px !important;
}

/deep/ .mat-form-field.source-file-type,
/deep/ .mat-form-field.target-file-type {
  width: 200px !important;
}

/deep/ .mat-form-field.delimited-text-separator-field {
  width: 184px !important;
}

/deep/ .mat-form-field.delimited-text-separator-other-field {
  width: 80px !important;
  padding: 5px 10px;
}

/deep/ .mat-form-field.target-permissions-field,
/deep/ .mat-form-field.target-uri-replace-field {
  width: 600px !important;
}