<!-- <button id="save-custom" mat-raised-button color="primary" [disabled]="!uriChanged()" (click)="uriChanged() && onSave()">Save</button> -->
<div class="custom-container">
  <div>
    <span class="h2">Modules Database:</span>
    <span id="custom-module" class="h4">{{module}}</span> 
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Custom Module URI</mat-label>
    <input id="custom-module-uri" matInput 
      [(ngModel)]="step.config.customModuleUri"
    />
  </mat-form-field>
</div>
