
.custom-page {
  padding: 20px 40px 150px 40px;
}

span.h4 {
  margin-left: 10px;
}

mat-form-field {
  width: 50%;
}

#save-custom {
  position: absolute;
  top: 468px;
  left: 590px;
  .mat-raised-button {
    margin-right: 5px;
  }
}

div.label {
  padding-top: 15px;
  padding-bottom: 0px;
  font-size: 20px;
  font-weight: normal;
}
