
.custom-page {
  padding: 20px 40px 150px 40px;
}

span.h4 {
  margin-left: 10px;
}

mat-form-field {
  width: 50%;
}

#save-custom {
  position: absolute;
  top: 468px;
  left: 590px;
  .mat-raised-button {
    margin-right: 5px;
  }
}

div.label {
  padding-top: 15px;
  padding-bottom: 0px;
  font-size: 20px;
  font-weight: normal;
}

/deep/ .mat-tooltip {
  white-space: pre-line !important;
  position: relative;
  left: 418px;
  top: 5px;
  max-width: 259px !important;
}

/deep/ .mat-form-field.modules-database-field,
/deep/ .mat-form-field.custom-module-uri-field {
  width: 600px !important;
}