<div layout-padding layout="column" class="custom-page">
  <!-- <info-label
    labelText="Modules Database"
    tooltipPlacement="right"
    tooltipText="Tooltip here about Module Database"
  ></info-label> -->
  <div class="label">Modules Database</div>
  <mat-form-field class="read-only" appearance="outline" layout-fill>
    <input
      id="custom-module"
      matInput
      [value]="module"
      [readonly]="true"
    />
  </mat-form-field>
  <div class="label">Custom Module URI</div>
  <mat-form-field appearance="outline" >
    <input
      id="custom-module-uri"
      matInput
      [(ngModel)]="step.modulePath"
      (blur)="onChange()"
      (keypress)="onKeyChange($event)"
    />
  </mat-form-field>
</div>
