.map-container {
  width: 1200px;
  padding: 0;
}

#map-heading {
  height: 70px;
}

#map-heading h1 {
  font-size: 34px;
  font-weight: normal;
  margin: 10px 0;
  padding: 0;
  width: 750px;
  position: relative;
  float: left;
}

#save-map {
  padding-top: 15px;
  padding-left: 30px;
  mdl-button {
    margin-right: 5px;
  }
}

h4.item-type {
  margin: 0;
  padding: 0;
}

p.item-identifying-info {
  font-weight: bold;
  margin: 0 0 6px 2px;
}

#source, #harmonized, #save-map {
  position: relative;
  float: left;
  margin: 0;
  /* border: solid 1px red; */
}

#source {
  width: 430px;
}

#harmonized {
  width: 320px;
}

.prop-container {
  height: 45px;
  font-size: 14px;
  border: solid 2px #5b8db3;
  margin: 10px 0;
  padding: 0;
  display: flex;
  align-items: center; /* align vertical */
  justify-content: center;
}

#source .prop-container {
  width: 430px;
}

#harmonized .prop-container {
  width: 320px;
}

#harmonized .prop-container {
  justify-content: left;
  border-left: 0;
}

.prop-select {
  background-color: transparent;
  display: flex;
  align-items: center; /* align vertical */
  height: 32px;
  text-align: left;
  border: solid 1px #5b8db3;
  padding: 0 10px;
}

.prop-select-content {
  width: 374px;
}
.prop-clear-control {
  width: 11px;
  float: right;
  margin-right: 4px;
}
.prop-select-control {
  width: 11px;
  float: right;
}

.prop-name, .prop-type {
  display: inline-block;
  padding: 8px 10px;
}

.prop-name {
  width: 170px;
  font-size: 14px;
  cursor: default;
}

.prop-val {
  width: 110px;
  font-size: 12px;
  color: #666;
  white-space: nowrap;
  cursor: default;
}

.prop-type {
  width: 80px;
  font-size: 12px;
  color: #666;
  white-space: nowrap;
  cursor: default;
}

.prop-select-content .prop-name,
.prop-select-content .prop-val,
.prop-select-content .prop-type {
  padding: 0 5px;
}

.prop-select-content .prop-name {
  width: 170px;
}

.prop-select-content .prop-type {
  font-size: 12px;
  color: #666;
}

.prop-select-content .is-primary {
  padding-left: 10px;
}

.dropdown-menu .prop-type {
  font-size: 12px;
  color: #666;
}

.unselected {
  color: #999;
  font-style: italic;
}

.dropdown-menu {
  overflow: scroll;
  height: 300px;
}

.entity-icons {
  width: 160px;
  margin-left: 10px;
}

.entity-icon {
  cursor: default;
  margin-left: 3px;
  padding: 0;
}

.icon-hide {
  color: #ccc;
}
