@import './addon/hint/show-hint';
@import './addon/hint/marklogic-hint';

app-codemirror {
  display: block;
  height: 100%;
}

div.CodeMirror {
  height: 100%;
}

span.cm-tab {
  letter-spacing: 8px;
}