@import '../../theme/styles/variables';

$highlight-color: unquote("rgb(#{$palette-datahub-A100})");
$folder-color: unquote("rgb(#{$palette-datahub-50})");

:host {
  display: block;
  width: 100%;
}

.container {
  border: 1px solid rgb(177, 199, 217);
  padding-left: 0;
  padding-right: 0;
}

.mdl-textfield {
  width: 100%;
}

/deep/ .mdl-textfield__label:after {
  bottom: 12px;
}

.folder-browser {
}

.foldertree {
  margin: 0px;
  padding: 10px;
  list-style: none;
  background-color: white;

  .filetree {
    padding: 0px 10px;
  }

  div.entry {
    padding: 2px;
    &:hover {
      background-color: $highlight-color;
    }
    cursor: pointer;

    p {
      display: inline-block;
      margin: 2px;
    }

  }
}


.current-folder {
  background-color: $folder-color;
  padding: 0px 5px;

  div {
    font-weight: bold;
  }

  input {
    width: 100%;
  }

  md-input-container {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

}

md-input-container {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.foldertree-container {
  position: relative;
  width: 100%;

  .ajax-progress {
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0;
    background-color: rgba(255,255,255,0.55);
  }
}

.foldertree {

  max-height: 150px;
  overflow: auto;
  *:focus {
    outline: none;
  }

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}
