<div layout-padding layout="column" class="ingest-page">

    <!-- TODO reconsider adding tooltips for inputs
    <info-label
      [labelText]="config.inputFilePath.label"
      tooltipPlacement="right"
      [tooltipText]="config.inputFilePath.description"
    ></info-label> -->
    <div class="label">{{config.inputFilePath.label}}</div>
    <app-folder-browser
      [startPath]="this.step.fileLocations.inputFilePath"
      (folderChosen)="changeFolder($event)"
      showFiles="true"
      [absoluteOnly]="true"
    ></app-folder-browser>

    <div class="label">{{config.fileTypes.label}}</div>
    <mat-form-field layout-fill appearance="outline">
      <mat-select
        id="source-file-type-select"
        [(ngModel)]="this.step.fileLocations.inputFileType"
        name="filetype"
        (selectionChange)="onChange()"
      >
        <mat-option
          *ngFor="let option of config.fileTypes.options"
          [value]="option.value"
          [id]="'source-file-type-option-' + option.value"
        >{{option.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="label">{{config.outputDocTypes.label}}</div>
    <mat-form-field layout-fill appearance="outline">
      <mat-select
        id="target-file-type-select"
        [(ngModel)]="this.step.options.outputFormat"
        name="doctype"
        (selectionChange)="onChange()"
      >
        <mat-option
          *ngFor="let option of config.outputDocTypes.options"
          [value]="option.value"
          [id]="'target-file-type-option-' + option.value"
        >{{option.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="label">{{config.outputPermissions.label}}</div>
    <mat-form-field layout-fill appearance="outline">
      <input
        id="target-permissions"
        matInput
        [(ngModel)]="this.step.options.permissions"
        name="permissions"
        (blur)="onChange()"
        (keypress)="onKeyChange($event)"
      />
    </mat-form-field>

    <!-- <info-label
      [labelText]="config.outputURIReplacement.label"
      tooltipPlacement="right"
      [tooltipText]="config.outputURIReplacement.description"
    ></info-label> -->
    <div class="label">{{config.outputURIReplacement.label}}</div>
    <mat-form-field layout-fill appearance="outline">
      <mat-hint>Optional</mat-hint>
      <input
        id="target-uri-replace"
        matInput
        [(ngModel)]="this.step.fileLocations.outputURIReplacement"
        name="permissions"
        (blur)="onChange()"
        (keypress)="onKeyChange($event)"
      />
    </mat-form-field>
</div>
