.ingest-page {
  padding: 20px 40px 150px 40px;
}

mat-form-field {
  width: 50%;
}

app-folder-browser {
  max-width: 700px;
}

div.label {
  padding-top: 15px;
  padding-bottom: 0px;
  font-size: 20px;
  font-weight: normal;
}

/deep/ .mat-tooltip {
  white-space: pre-line !important;
  position: relative;
  left: 418px;
  top: 5px;
  max-width: 259px !important;
}

/deep/ .mat-form-field.source-file-type,
/deep/ .mat-form-field.target-file-type {
  width: 200px !important;
}

/deep/ .mat-form-field.target-permissions-field,
/deep/ .mat-form-field.target-uri-replace-field {
  width: 600px !important;
}