.projectPageContainer{
    top: 6.5em;
    left: -1.5em;
    //right: 300em;
}

.projectName{
    background-color: #ffffff !important;
    display: flex;
    justify-content: flex-start;
  }

.title {
    font: 500 22px/64px 'HelveticaNeue-Light', 'Helvetica Neue', sans-serif;
    margin-left: 20px;
    color: #050186;
}

.projTitle {
    font-size: 1.5em;
    width: fit-content;
}

.downloadCard {
    display: block;
    width: 30vw;
    height: 18em;
    padding: 1px;
    border-color: #44499C;
}
.clearAllCard {
    //background-color:#F8F8F8;
    display: block;
    width: 30vw;
    height: 18em;
    padding: 1px;
    margin-left: 2em;
    border-color: #44499C;
}

.aligncenterDownload {
    float: center;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 300;
    color: black;
    text-align: left;
  }

  .aligncenterClearAll {
    float: center;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 300;
    color: black;
    text-align: center;
  }

  .dataHubVersion {
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 600;
    color: black;
    padding-left: 2em;
  }

  .marklogicVersion {
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 600;
    color: black;
    padding-left: 1.5em;
  }

  .addNewButton {
    width:120px;
    font-family: HelveticaNeue;
    font-weight: 500;
    background-color: #44499C;
    align-items: center;
    justify-content: center;
    top: 40%;
    left: 40%;
  }

  .cardTitle{
    float: center;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: 600;
    color: black;
    text-align: center;
  }
