<header></header>

<div class="container">
    <div class="row spacing-top">
        <div class="col-xs-12">
            <ul class="alert alert-info">
                <li ng-if="status.serverVersionAccepted" th:text="#{server.is.acceptable}"></li>
                <li ng-if="!status.serverVersionAccepted" th:text="#{server.is.unacceptable}"></li>
                <li ng-if="status.installed" th:text="#{dhib.is.installed}"></li>
                <li ng-if="!status.installed" th:text="#{dhib.is.not.installed}"></li>
            </ul>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group" ng-if="!status.installed">
                <button type="submit" name="install" class="btn btn-default" ng-click="install())">Install</button>
            </div>
            <div class="form-group" ng-if="status.installed">
                <button type="submit" name="uninstall" class="btn btn-default" ng-click="uninstall()">Uninstall</button>
            </div>
            <div class="form-group">
                <button type="submit" name="installUserModules" class="btn btn-default" ng-click="installUserModules()">Install User Modules</button>
            </div>
        </div>
    </div>
</div>

<footer></footer>