<div id="header" class="container-fluid">
    <div class="row">
        <div class="col-xs-11 col-sm-8 col-md-8"><h1 id="sitename">Data Hub in a Box</h1></div>
        <div id="sitemenu" class="dropdown" ng-if="username">
			<button class="btn btn-default dropdown-toggle" type="button" id="headerDropdownMenu" data-toggle="dropdown" aria-expanded="true">
			    Welcome {{username}}! <span class="caret"></span>
			</button>
			<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="headerDropdownMenu">
			  <li role="presentation"><a href="javascript:void(0)" ng-click="logout()">Logout</a></li>
			</ul>
		</div>
    </div>
</div>