@font-face {
    font-family: 'MLCustomFont';
    src: url('../../fonts/ML_IconFont.ttf') format('truetype');
    src: url('../../fonts/icomoon.ttf') format('truetype');
}

.exploreIconHeader:before {
    content: "\68";
    font-family: MLCustomFont;
    font-size: 24px;
    position: relative;
    left: -10px;
    display: inline-block;
    padding-left: 10px;
}

.loadIconHeader:before {
    content: "\e94e";
    font-family: MLCustomFont;
    font-size: 24px;
    position: relative;
    left: -10px;
    display: inline-block;
    padding-left: 10px;
}

.modelIconHeader:before {
    content: "\e948";
    font-family: MLCustomFont;
    font-size: 24px;
    position: relative;
    left: -10px;
    display: inline-block;
    padding-left: 10px;
}

.curateIconHeader:before {
    content: "\e955";
    font-family: MLCustomFont;
    font-size: 24px;
    position: relative;
    left: -10px;
    display: inline-block;
    padding-left: 10px;
}

.runIconHeader:before {
    content: "\e926";
    font-family: MLCustomFont;
    font-size: 24px;
    position: relative;
    left: -10px;
    display: inline-block;
    padding-left: 10px;
}

.monitorIconHeader:before {
    content: "\e97a";
    font-family: MLCustomFont;
    font-size: 24px;
    position: relative;
    color: #000000;
    left: -10px;
    display: inline-block;
    padding-left: 10px;
}

#modelInfo .ant-popover-inner-content {
    padding: 0px;
}

#modelInfo .ant-popover-arrow {
    margin-right: -0.45vw !important;
    border-style: none;
    background-color: #E9F7FE;
}
