@import "../../theme/HCVariables.scss";

@font-face {
    font-family: 'MLCustomFont';
    src: url('../../fonts/ML_IconFont.ttf') format('truetype');
    src: url('../../fonts/icomoon.ttf') format('truetype');
}

.exploreIcon:before {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: $explore-icon;
    cursor: pointer;
    content: "\68";
    font-family: MLCustomFont;
    font-size: 24px;
    position: relative;
    background-color: #FFF;
    border: 1px solid #7F86B5;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    min-height: 40px;
    text-align: center;
    outline: none;
}

.exploreIcon:focus-within {
    box-shadow: 0px 0px 1px 1px #7F86B5;
    background-color: #7F86B5;
    outline: none;
}

.loadIcon:before {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    content: "\e94e";
    color: $load-icon;
    cursor: pointer;
    font-family: MLCustomFont;
    font-size: 24px;
    position: relative;
    background-color: #FFF;
    border: 1px solid #7F86B5;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    min-height: 40px;
    text-align: center;
    outline: none;
}

.loadIcon:focus-within {
    box-shadow: 0px 0px 1px 1px #7F86B5;
    background-color: #7F86B5;
    outline: none;
}


.modelIcon:before {
    display: flex;
    color: $model-icon;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    content: "\e948";
    font-family: MLCustomFont;
    font-size: 24px;
    position: relative;
    background-color: #FFF;
    border: 1px solid #7F86B5;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    min-height: 40px;
    text-align: center;
    outline: none;
}

.modelIcon:focus-within {
    box-shadow: 0px 0px 1px 1px #7F86B5;
    background-color: #7F86B5;
    outline: none;
}

.curateIcon:before {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    content: "\e955";
    color: $curate-icon;
    cursor: pointer;
    font-family: MLCustomFont;
    font-size: 24px;
    position: relative;
    background-color: #FFF;
    border: 1px solid #7F86B5;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    min-height: 40px;
    text-align: center;
    outline: none;
}

.curateIcon:focus-within {
    box-shadow: 0px 0px 1px 1px #7F86B5;
    background-color: #7F86B5;
    outline: none;
}

.runIcon:before {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    content: "\e926";
    
    color: $run-icon;
    cursor: pointer;
    font-family: MLCustomFont;
    font-size: 24px;
    position: relative;
    background-color: #FFF;
    border: 1px solid #7F86B5;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    min-height: 40px;
    text-align: center;
    outline: none;
}

.runIcon:focus-within {
    box-shadow: 0px 0px 1px 1px #7F86B5;
    background-color: #7F86B5;
    outline: none;
}

.monitorIcon:before {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    content: "\e97a";
    color: #000000;
    
    color: $monitor-icon;
    cursor: pointer;
    font-family: MLCustomFont;
    font-size: 24px;
    position: relative;
    background-color: #FFF;
    border: 1px solid #7F86B5;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    min-height: 40px;
    text-align: center;
    outline: none;
}

.monitorIcon:focus-within {
    box-shadow: 0px 0px 1px 1px #7F86B5;
    background-color: #7F86B5;
    outline: none;
}

.selected:before {
    box-shadow: 0px 0 3px 2px #7f86b5;
}