#toolbar {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    top: 64px;
    right: 0;
    width: 70px;
    background-color: #F1F1F1;
    padding: 40px 15px;
    height: 100%;
    z-index: 100;
    .tool {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        font-size: 18px;
        margin: 0 20px 40px 0;
        padding: 0;
        background-color: #FFF;
        border: 1px solid #7F86B5;
        border-radius: 4px;
        width: 40px;
        height: 40px;
        min-height: 40px;
        text-align: center;
        cursor: pointer;
    }
    .tool[aria-label='tool-curate'] {
        margin-bottom: 80px;
    }
}
