#toolbar {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    top: 64px;
    right: 0;
    width: 70px;
    background-color: #F1F1F1;
    padding: 40px 15px;
    height: 100%;
    .tool {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        font-size: 18px;
        padding: 0;
        background-color: #FFF;
        border: 1px solid #7F86B5;
        border-radius: 4px;
        width: 40px;
        height: 40px;
        min-height: 40px;
        text-align: center;
        outline: none;
    }
    .tool:focus-within {
        box-shadow: 0px 0px 1px 1px #7F86B5;
        background-color: #7F86B5;
        outline: none;
    }
    .toolWrapper {
        height: 80px;
    }
    .toolTallWrapper {
        height: 120px;
    }
    .toolTallWrapper:after {
        background-color: #d8d8d8;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 100%;
        margin-top: 40px;
    }
    :hover {
        color: var(--hoverColor) !important;
    }
}
