@import "../../theme/HCVariables.scss";

#toolbarContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    top: 64px;
    right: 0;
    width: 70px;
    background-color: $bg-toolbar;
    padding: 40px 15px;
    height: 100%;
    hr {
        margin: 20px 0;
    }
}

.toolbarIcon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: MLCustomFont;
    flex-direction: row;
    font-size: 24px;
    background-color: $white;
    border: 1px solid $span-hover;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    text-align: center;
    outline: none;
    margin: 20px 0;

    &:hover {
        color: var(--hoverColor) !important;
        box-shadow: 0px 4px 4px $shadow;
    }
}

.toolbarIcon:focus-within {
    outline: auto;
}

.exploreIcon {
    &:before {
        content: "\68";
        color: $explore-icon;
        box-shadow: none;
    }
}

.modelIcon {
    &:before {
        color: $model-icon;
        content: "\e948";
    }
}

.runIcon {
    &:before {
        content: "\e926";
        color: $run-icon;
    }
}

.monitorIcon {
    &:before {
        content: "\e97a";
        color: $monitor-icon;
    }
}

.curateIcon {
    &:before {
        content: "\e955";
        color: $curate-icon;
    }
}

.loadIcon {
    margin-top: 0;
    &:before {
        color: $load-icon;
        content: "\e94e";
    }
}

.selected {
    box-shadow: 0px 0 3px 2px $span-hover;
}

.disabled,
.disabled>* {
    color: $grey;
    opacity: 0.5;
    cursor: not-allowed;
}
