.title {
    font-family: 'helvetica neue';
    font-size :22px;
    color: #333333;
}

.name {
    font-family: 'helvetica neue';
    font-size :14px;
    color: #5B69AF;
}

.cell {
    font-family: 'helvetica neue';
    font-size :14px;
    color: #333333;
}
