<ng-template [ngIf]="flow">
  <h3>
    <i class="mdi mdi-looks"></i>
    {{flow.entityName}} : {{flow.flowName}}
  </h3>
  <div class="run-options">
    <h3>Run Flow</h3>
    <div class="group-section slideDown" flex layout="column">
      <div class="setting">
        <mdl-textfield floating-label type="number"
          label="Batch Size"
          name="batchSize"
          [(ngModel)]="settings.batchSize"></mdl-textfield>
      </div>
      <div class="setting">
        <mdl-textfield floating-label type="number"
          label="Thread Count"
          name="threadCount"
          [(ngModel)]="settings.threadCount"></mdl-textfield>
      </div>
    </div>
    <div>
      <mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple (click)="runHarmonize()">Run Harmonize</mdl-button>
    </div>
  </div>
</ng-template>
