.sideBarContainer {
  overflow-y: auto;
  background-color: #f1f2f5;
  height: 90%;
}

.sideBarFacets {
  background-color: #f1f2f5;
  width: 100%;
  height: 100%;
  padding: 0 0 0 5px;
}

.toggleIcon {
  font-size: 14px !important;
}

.title {
  font-size: 15px !important;
  color: #979797 !important;
  text-transform: uppercase;
  font-weight: bold;
}

.facet {
  font-weight: bold;
}
.test {
  display: flex;
}

.facetContainer {
  background-color: rgb(245, 245, 245);
}
.clear {
  padding: 0 5px;
}
.clear:hover {
  text-decoration: underline;
}

.clearContainer {
  margin: 10px 0 0 17px;
}

.clearAllBtn {
  margin-right: 2px;
}

.facetButton {
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 2px 2px 0;
}

.facetName {
  font-size: 15px;
  color: #777777;
  font-weight: bold;
}

.datePicker {
  margin: 10px 0;
}

.dateFacet {
  width: 225px;
  margin: 2px 2px 2px 0;
}

.infoIcon {
  font-size: 12px;
  margin-left: 6px;
  color: #a9a9a9;
  position: relative;
  top: -1px;
}

.applyButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.dateTimeWindow {
  margin-left: 6px;
  margin-top: 2px;
  margin-bottom: 4px;
  font-size: 12px;
}

.button {
  height: 30px;
  width: 80px;
  font-size: 14px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.toggleDataHubArtifacts {
  margin-left: 15px;
}