.sideBarContainer {
  background-color: #f1f2f5;
}

.sideBarFacets {
  background-color: #f1f2f5;
  width: 100%;
  height: 100%;
  padding: 0 0 0 5px;
}

.toggleIcon {
  font-size: 14px !important;
}

.title {
    font-size: 15px;
    color: #979797 !important;;
    text-transform: uppercase;
    font-weight: bold;
}

.titleBaseEntities,
.titleCheckbox {

  span {
    font-size: 15px;
    color: #979797 !important;;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    input {
      padding-right: 3px;
    }
  }
}

.titleCheckbox {
  .panelTitle{
    div{
      padding-right: 2px;
    }
  }
}

.facet {
  font-weight: bold;
}
.test {
  display: flex;
}

.facetContainer {
  background-color: rgb(245, 245, 245);
}
.clear {
  padding: 0 5px;
}
.clear:hover {
  text-decoration: underline;
}

.clearContainer {
  margin: 10px 0 0 17px;
}

.clearAllBtn {
  margin-right: 2px;
}

.facetButton {
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 2px 2px 0;
}

.facetName {
  font-size: 15px;
  color: #777777;
  font-weight: bold;
}

.datePicker {
  margin: 10px 0;
}

.dateFacet {
  width: 225px;
  margin: 2px 2px 2px 0;
}

.infoIcon {
  font-size: 12px;
  margin-left: 6px;
  color: #a9a9a9;
  position: relative;
}

.applyButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.dateTimeWindow {
  margin-left: 6px;
  margin-top: 2px;
  margin-bottom: 4px;
  font-size: 12px;
}

.button {
  height: 30px;
  width: 80px;
  font-size: 14px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.query {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 7px;
}

.queryIconsSave {
  width: 18px;
  color: #5b69af;
  cursor: pointer;
}

.queryIconsEllipsis {
  width: 18px;
  margin-left: 5px;
  color: #777777;
  cursor: pointer;
}

.queryMenuItem {
  color: #333;
}

.queryMenuItemIcon {
  font-size: 14px;
  margin-right: 8px;
}

.clearQuery {
  padding-left: 16px;
  padding-bottom: 10px;
  color:  #5B69AF;
  svg {
    margin-right: 5px;
    font-size: 14px;
  }
}

.searchInput {
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
}

.searchIcon {
  float: right;
  font-size: 20px;
  position: relative;
  color: #bfbfbf;
}

.toggleDataHubArtifacts {
  margin-left: 15px;
}

.panelTitle {
  display: flex;
}

.entitiesInfoIcon {
  font-size: 12px;
  margin-left: 6px;
  position: relative;
  color: #5B69AF;
}

.switchToggleDataHubArtifacts {
  font-size: 1.2em;
}

.dropdownMenu {

  padding: 0 !important;
  border: 0 !important;
  background-color: transparent;
}

.dropdownMenuItem {
  background-color: transparent !important;
  height: 15px;
}

.sourceDrop { 
  cursor: pointer;
  width: 22px;
  height: 20px;
  padding: 0 !important;
  background-color: transparent !important;
  border: 0 !important;
  svg {
    margin-top: 0 !important;
  }
 }

.iconContainer {
  display: flex;
  align-items: center;
  margin-left: 3rem !important;
}

.menuContainer{
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(12, 12, 12, 0.15);
  z-index: 1000;
  background-color: #fff;
  position: absolute;
  border-radius: 3px;
  padding: 5px 0;
  right: 15px ;
}
.navTabs {
  margin-left: 0;
}