.modal {
    &.modal-header {
    border-bottom: 0 none;
    }
    height: 483px;
}

.modal .modal-footer {
    border-top: 0 none;
}

.title {
    font-size :23px;
}

.questionCircle {
    font-size: 12px;
    color: #7F86B5;
}
.questionCircleTextArea {
    font-size: 12px;
    color: #7F86B5;
    margin-bottom: 22px;
}

.asterisk{
    color: #DB4f59;
}

.submitButtonsForm{
    text-align: right;
    top: -15px;
    margin-bottom: -15px;
    margin-right: 5px;
}

.submitButtons{
    text-align: right;
    width: 640px;
}

.ConfirmationMessage {
    font-size: 16px
}

.input{
    width: 95%;
}

.srcCollectionInput{
    display:block;
    width:100%;
    height:42px;
}
