//= require ./syntax

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

// @import '../_sass/syntax-highlighting';

$scotch-primary: rgb(255, 69, 69);
$scotch-secondary: #337ab7;

section, header, footer, main, article, nav, aside { position: relative; }

article {
  margin-top: 20px;
}

main {
  margin-top: 20px;
}
a {
  outline: none !important;
  text-decoration: none !important;
  transition: all 225ms ease;
  color: $scotch-secondary;

  &:hover { color: #6165FF; }
}
.btn {
  text-transform: uppercase;
  font-weight: 400;
}

::selection {
  background: #086AFF;
  color: #fff;
}

.navbar-inverse {
  border-top: 10px solid #44499C;
  background: #292929;
  color: #fff;
  border-radius: 0px;
}

nav.navbar {
  margin: 0;

  a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 200;
  }

  .navbar-brand {
    text-transform: none;
    padding-top: 15px !important;
  }
}

.title-group {
  text-align: center;
  padding: 15px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: white;
  margin-top: 30px;

  p {
    max-width: 800px;
    margin: 0pt auto;
  }
}
h1.special {
  position: relative;
  text-align: center;
  overflow: hidden;
  margin: 0;
  text-transform: uppercase;
  font-size: 20pt;
  line-height: 50px;
  font-weight: 700;
  color: #292929;

  span {
    display: inline-block;
    position: relative;
    padding: 0 15px;
    max-width: 1000px;
  }
}

.tile {
  position: relative;
  box-shadow: 0 0.15em 0.35em 0 rgba(0, 0, 0, 0.135);
  margin-bottom: 125px;

  .inner-guts { padding: 50px; }

  h2 {
    margin: 0;
    font-size: 100px;
    font-weight: 400;
    letter-spacing: -0.05em;
    line-height: 100px;
  }

  .featurette {
    position: relative;
    display: block;
    overflow: hidden;
    margin-bottom: 15px;
    width: 100%;
    height: 550px;
    background-color: #e8e8e8;

    .img {
      background-size: cover;
      background-position: 50% 0;
      background-repeat: no-repeat;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 225ms ease;
      transform: scale(1);

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        content: '';
        background: #000;
        opacity: 0.4;
        transition: all 225ms ease;
      }
    }

    iframe {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &:hover {
      .img {
        transform: scale(1.2);

        &:before {
          opacity: 0.2;
        }
      }
    }
  }

  .excerpt {
    font-size: 35px;
    font-weight: 300;
    line-height: 49px;
    color: #484848;

    p {
      margin: 0;
    }
  }

  .tags {
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 15px;

    span {
      padding: 1px 5px;
      font-size: 12px;
      line-height: 1.5;
      text-transform: uppercase;
    }
  }

  .read-more {
    margin-top: 50px;
    width: 100%;
    max-width: 175px;
    position: relative;
    padding-right: 75px;

    i {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-54%);
      font-size: 31px;
      line-height: 100%;
    }
  }
}

aside {
  font-size: 17px;
  color: #525252;
  margin: 16px 0;

  span {
    text-transform: uppercase;
    margin: 0 5px;
  }
}

.site-footer {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  background-color: #333;
  color: white;
}

.pagination-wrap {
  text-align: center;
}

.topper {
  height: 500px;
  position: relative;

  .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .hide-small {
    display: none;
  }
}

@media only screen and (max-width : 991px) {
  .hide-small {
    display: none;
  }

  pre {
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width : 480px) {
  .tile .featurette, .topper {
    height: 300px;
  }

  h1.special,
  .tile h2 {
    font-size: 40px;
    line-height: 44px;
  }

  .tile .inner-guts {
    padding: 15px 25px;
  }

  .tile .excerpt {
    font-size: 22px;
    line-height: 35px;
  }
}

img {
  max-width: 100%;
}

.section {
  border: 1px solid #ccc;
  background-color: white;
  padding: 0.5em 1em;
  margin: 2em 0px;
}

.embed-git {
  background-color: #f8f8ff;
  pre {
    background-color: transparent;
    padding: .25em .5em .5em .5em !important
  }
}

h2 {
  margin-top: 40px;
}

.smaller {
  font-size: 80%;
}

.blue-button {
  background-color: #2a4356;
  color: white;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
  border: none;
  border-radius: 2px;
  height: 36px;
  margin: 0;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
}

.circle-button {
  display: inline-block;
  background-color: #2a4356;
  color: white;
  height: 40px;
  min-width: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  line-height: 36px;
  box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}

// img {
//   margin-top: 10px;
// }

.center-image
{
  margin: 0 auto;
  display: block;
}


.logo {
  img {
    margin: 0pt;
    top: -5px;
    position: relative;
  }
}

.bannered-image {
  position: relative;
  height: 100px;
  overflow: hidden;

  .banner {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0px;
    z-index: 2;
    background: rgba(0,0,0,0.65);
    border-top: 1px solid rgba(255,255,255,0.08);
    color: white;
  }

  img, picture {
    width: 100% !important;
    height: auto !important;
    display: block;
    z-index: 1;
    top: -50%;
    position: relative;
  }

  .banner-center {
    height: 100%;

    .center-container {
      margin: auto;
      width: 100%;
      height: 100%;
      display: table;
    }

    .centered-text {
      vertical-align: middle;
      display: table-cell;

      img.icon-left {
        width: 60px !important;
        height: 60px !important;
        display: inline-block;
      }

      h3 {
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 10px;
        // line-height: 60px;
        color: white;
        font-size: 30px;

        @media only screen and (max-width : 400px) {
          font-size: 16px;
        }
      }
    }
  }

  .banner-light {
    background: transparent;
    color: #191919;
  }
}

.cmdline {
  color: #A1E8AF;
  background-color: #505050;
  white-space: pre-wrap;
}

.panel-default {
  .panel-heading {
    background-color: #292929;
    color: white;
  }
}

.list-group-item {
  padding: 0px;
  background-color: transparent;
  a {
    padding: 5px 10px 5px 10px;
    display: block;
  }

  &.active {
    >a {
      font-weight: bold;
    }

    a {
      color: white;
    }
  }
}


.side-nav {
  padding: 0px;
}

.list-group-item.active, .list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: inherit;
  border-bottom: none;

  a {
    color: #337ab7;
  }

  > a {
    background-color: #337ab7;
    border-color: #337ab7;
    color: white;
  }
}

.list-group {
  .list-group {
    margin-bottom: 0px;

    .list-group-item {
      border-width: 0px;

      a {
        padding: 5px 10px 5px 30px;
      }

      &.active {
        >a {
          font-weight: normal;
        }
      }

      .list-group {
        .list-group-item {
          a {
            padding: 5px 10px 5px 50px;
          }
        }
      }
    }
  }
}

.screenshot {
  margin-top: 10px;
}

.screenshot-border {
  border: solid 1px #CCC;
}
