@import "../../theme/HCVariables.scss";

.numberIcon {
  background-color: $info;
  border-color: $info;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  position: relative;
}

.numberValue {
  color: white;
  position: absolute;
  top: 6px;
  left: 12px;
}
