.numberIcon {
  background-color: #5B69AF;
  border-color: #5B69AF;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  position: relative;
}

.numberValue {
  color: white;
  position: absolute;
  top: 6px;
  left: 12px;
}
