<h1 mat-dialog-title>{{getDialogTitle()}}</h1>
<div id="merge-option-dialog" mat-dialog-content [formGroup]="form" class="content">

  <mat-form-field layout-fill>
    <mat-select id="merge-option-type" placeholder="Merge Type" formControlName="mergeType" [(value)]="selectedType">
      <mat-option id="merge-option-type-standard" value="standard">Standard</mat-option>
      <mat-option id="merge-option-type-strategy" value="strategy">Strategy</mat-option>
      <mat-option id="merge-option-type-custom" value="custom">Custom</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field layout-fill>
    <mat-select id="merge-option-property" placeholder="Property to Merge" formControlName="propertyName" [(value)]="propertyName" required>
      <mat-option [id]="'merge-option-property-' + prop.name" *ngFor="let prop of data.entityProps" [value]="prop.name">{{prop.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="selectedType !== 'strategy' && selectedType !== 'custom'" layout-fill>
    <mat-label>Max Values</mat-label>
    <input id="merge-option-max-values" matInput formControlName="maxValues"/>
    <mat-error id="merge-option-max-values-error" *ngIf="form.get('maxValues').invalid">Enter a number</mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="selectedType !== 'strategy' && selectedType !== 'custom'" layout-fill>
    <mat-label>Max Sources</mat-label>
    <input id="merge-option-max-sources" matInput formControlName="maxSources"/>
    <mat-error id="merge-option-max-sources-error" *ngIf="form.get('maxSources').invalid">Enter a number</mat-error>
  </mat-form-field>

  <div *ngIf="selectedType !== 'strategy' && selectedType !== 'custom'" id="source-weights">
    <mat-label>Source Weights</mat-label>
    <button id="add-merge-option-source-weight-btn" mat-icon-button (click)="onAddSourceWeight()">
      <mat-icon>add_circle</mat-icon>
    </button>
    <div
      id="source-weights-wrapper"
      formArrayName="sourceWeights"
      *ngFor="let sw of this.sourceWeights.controls; let i = index;">
      <div [formGroupName]="i" class="source-weights-group">
        <mat-form-field>
          <mat-label>Source Name</mat-label>
          <input [class]="'source-weights-name-' + i" matInput formControlName="source"/>
        </mat-form-field>
        <mat-icon></mat-icon>
        <mat-form-field>
          <mat-label>Weight</mat-label>
          <input [class]="'source-weights-weight-' + i" matInput formControlName="weight"/>
          <!-- TODO validate weights in SourceWeight options -->
          <mat-error id="'source-weights-weight-' + i + '-error" *ngIf="sourceWeights.controls[i].get('weight').invalid">Enter a number</mat-error>
        </mat-form-field>
        <button [id]="'remove-merge-option-source-weight-btn-' + i" mat-icon-button (click)="onRemoveSourceWeight(i)">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <mat-form-field *ngIf="selectedType !== 'strategy' && selectedType !== 'custom'" layout-fill>
    <mat-label>Length Weight</mat-label>
    <input id="merge-option-length" matInput formControlName="length"/>
    <mat-error id="merge-option-length-error" *ngIf="form.get('length').invalid">Enter a number</mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="selectedType === 'strategy'"  layout-fill>
    <mat-select id="merge-option-strategy" placeholder="Strategy Name" formControlName="strategy" [(value)]="strategy">
      <div *ngFor="let strName of strategies">
        <mat-option *ngIf="strName" [id]="'merge-option-strategy-' + strName" [value]="strName">{{strName}}</mat-option>
      </div>
    </mat-select>
  </mat-form-field>

  <div *ngIf="selectedType === 'custom'">
    <mat-form-field layout-fill>
      <mat-label>URI</mat-label>
      <input id="merge-option-custom-uri" matInput formControlName="customUri"/>
    </mat-form-field>
    <mat-form-field layout-fill>
      <mat-label>Function</mat-label>
      <input id="merge-option-custom-function" matInput formControlName="customFunction"/>
    </mat-form-field>
    <mat-form-field layout-fill>
      <mat-label>Namespace</mat-label>
      <input id="merge-option-custom-namespace" matInput formControlName="customNs"/>
    </mat-form-field>
  </div>

</div>

<mat-dialog-actions align="end" class="bottom">
  <button mat-raised-button color="primary" id="merge-option-cancel-btn" (click)="onCancel()">CANCEL</button>
  <button mat-raised-button color="primary" id="merge-option-save-btn" [disabled]="!form.valid" (click)="onSave()">{{getSubmitButtonTitle()}}</button>
</mat-dialog-actions>
