<h1 mat-dialog-title>{{getDialogTitle()}}</h1>
<div id="merge-strategy-dialog" mat-dialog-content [formGroup]="form" class="content">

  <div id="merge-strategy-default-container">
    <label>Default?</label>
    <mat-radio-group id="merge-strategy-default" formControlName="default" [(ngModel)]="selectedDefault">
      <mat-radio-button id="merge-strategy-default-yes-radio" value="true">Yes</mat-radio-button>
      <mat-radio-button id="merge-strategy-default-no-radio" value="false">No</mat-radio-button>
    </mat-radio-group>
  </div>

  <mat-form-field *ngIf="selectedDefault === 'false'" layout-fill>
    <mat-label>
      Name
      <span class="name-req">*</span>
    </mat-label>
    <input id="merge-strategy-name" matInput formControlName="name"/>
  </mat-form-field>

  <mat-form-field layout-fill>
    <mat-label>Max Values</mat-label>
    <input id="merge-strategy-max-values" matInput formControlName="maxValues"/>
    <mat-error id="merge-strategy-max-values-error" *ngIf="form.get('maxValues').invalid">Enter a number</mat-error>
  </mat-form-field>

  <mat-form-field layout-fill>
    <mat-label>Max Sources</mat-label>
    <input id="merge-strategy-max-sources" matInput formControlName="maxSources"/>
    <mat-error id="merge-strategy-max-sources-error" *ngIf="form.get('maxSources').invalid">Enter a number</mat-error>
  </mat-form-field>

  <div id="merge-strategy-source-weights-container">
    <mat-label>Source Weights</mat-label>
    <button id="add-merge-strategy-source-weight-btn" mat-icon-button (click)="onAddSourceWeight()">
      <mat-icon>add_circle</mat-icon>
    </button>
    <div
      id="source-weights-wrapper"
      formArrayName="sourceWeights"
      *ngFor="let sw of this.sourceWeights.controls; let i = index;">
      <div [formGroupName]="i" class="source-weights-group">
        <mat-form-field>
          <mat-label>Source Name</mat-label>
          <input [class]="'source-weights-name-' + i" matInput formControlName="source"/>
        </mat-form-field>
        <mat-icon></mat-icon>
        <mat-form-field>
          <!-- TODO validate weights in SourceWeight options -->
          <mat-label>Weight</mat-label>
          <input [class]="'source-weights-weight-' + i" matInput formControlName="weight"/>
        </mat-form-field>
        <button [id]="'remove-merge-strategy-source-weight-btn-' + i" mat-icon-button (click)="onRemoveSourceWeight(i)">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <mat-form-field layout-fill>
    <mat-label>Length Weight</mat-label>
    <input id="merge-strategy-length" matInput formControlName="length"/>
    <mat-error id="merge-strategy-length-error" *ngIf="form.get('length').invalid">Enter a number</mat-error>
  </mat-form-field>

</div>

<mat-dialog-actions align="end" class="bottom">
  <button mat-raised-button color="primary" id="merge-strategy-cancel-btn" (click)="onCancel()">CANCEL</button>
  <button mat-raised-button color="primary" id="merge-strategy-save-btn" [disabled]="!form.valid" (click)="onSave()">{{getSubmitButtonTitle()}}</button>
</mat-dialog-actions>
