/deep/ h1.mat-dialog-title {
  margin-top: -12px !important;
  margin-left: -4px !important;
  margin-bottom: 11px !important;
}

/deep/ .mat-dialog-content {
  background: #f3f3f3 !important;
  padding: 20px !important;
}

/deep/ .mat-dialog-actions {
  margin-right: -4px !important;
  justify-content: flex-end !important;
}

div.source-weights-group input {
  border: 0;
}

.source-weights-wrapper .mat-form-field {
  width: 390px;
}

#source-weights {
  margin-bottom: 10px;
}

.mat-icon {
  color: #2a4356;
}

.add-source-weight-btn .mat-icon {
  position: relative;
  top: -2px;
}

div.source-weights-group input {
  background-color: #f3f3f3;
}