/deep/ h1.mat-dialog-title {
  margin-top: -12px !important;
  margin-left: -4px !important;
  margin-bottom: 11px !important;
}

/deep/ .mat-dialog-content {
  background: #f3f3f3 !important;
  padding: 20px !important;
}

/deep/ .mat-dialog-actions {
  margin-right: -4px !important;
  justify-content: flex-end !important;
}

div.add-group input,
div.remove-group input,
div.set-group input {
  border: 0;
}

.collections-add-wrapper .mat-form-field,
.collections-remove-wrapper .mat-form-field,
.collections-set-wrapper .mat-form-field {
  width: 390px;
}

#collections-add,
#collections-remove,
#collections-set {
  margin-bottom: 10px;
}

.mat-icon {
  color: #2a4356;
}

.add-add-btn .mat-icon,
.add-remove-btn .mat-icon,
.add-set-btn .mat-icon {
  position: relative;
  top: -2px;
}

div.add-group input,
div.remove-group input,
div.set-group input {
  background-color: #f3f3f3;
}