<h1 mat-dialog-title>Edit Additional Collections</h1>
<div id="merge-collection-dialog" mat-dialog-content [formGroup]="form" class="content">

  <mat-form-field layout-fill>
    <mat-label>Event</mat-label>
    <input id="event-name" matInput readonly formControlName="event" />
  </mat-form-field>

  <div id="merge-collection-add-container">
    <mat-label
    [matTooltip]="tooltips.merging.collectionsAdd"
    matTooltipPosition="left"
    matTooltipShowDelay="500"
    matTooltipHideDelay="500" 
    >Additional Collections</mat-label>
    <button id="merge-collection-add-add-btn" mat-icon-button (click)="onAddColl('add')">
      <mat-icon>add_circle</mat-icon>
    </button>
    <div
      class="collections-add-wrapper"
      formArrayName="add"
      *ngFor="let a of this.add.controls; let i = index;">
      <div [formGroupName]="i" class="add-group">
        <mat-form-field layout-fill>
          <mat-label>Collection Name</mat-label>
          <input [class]="'add-key-' + i" matInput formControlName="coll"/>
        </mat-form-field>
        <button class="add-remove-collection-btn" mat-icon-button (click)="onRemoveColl('add', i)">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </div>
    </div>
  </div>

</div>
<mat-dialog-actions align="end" class="bottom">
  <button mat-raised-button color="primary" id="merge-collection-cancel-btn" mat-button (click)="onCancel()">CANCEL</button>
  <button mat-raised-button color="primary" id="merge-collection-save-btn" mat-button (click)="onSave()">SAVE</button>
</mat-dialog-actions>
