<div id="merge-options" class="page-layout carded fullwidth">

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent">
      <mat-toolbar style="background: transparent">
        <div class="logo">
          <span class="logo-text h2">
            Merge Options
          </span>
        </div>
        <button *ngIf="targetEntity" mat-raised-button class="new-option-button" color="primary" (click)="openMergeOptionDialog(null, null, targetEntity.definition.properties, mergeStrategies)">ADD</button>
        <span class="fill-space"></span>
      </mat-toolbar>
    </div>
    <!-- / HEADER -->

    <div *ngIf="!targetEntity">
      Configuring merge options requires a target entity. Define it in the <a [routerLink]="['/entities']">Entities</a> view.
    </div>

    <div [ngClass]="{ hidden: !targetEntity}" class="content-card">

      <mat-table id="merge-options-table"
                 class="merging-table"
                 #table [dataSource]="dataSource" matSort>

        <!-- Property to Merge Column -->
        <ng-container matColumnDef="propertyName">
          <mat-header-cell id="merge-option-property-sort-btn" *matHeaderCellDef mat-sort-header>Property to Merge</mat-header-cell>
          <mat-cell class="merge-option-property" *matCellDef="let mOpt">
            {{mOpt.propertyName}}
          </mat-cell>
        </ng-container>

        <!-- Merge Type Column -->
        <ng-container matColumnDef="mergeType">
          <mat-header-cell id="merge-option-type-sort-btn" *matHeaderCellDef mat-sort-header>Merge Type</mat-header-cell>
          <mat-cell *matCellDef="let mOpt">
            <span class="merge-option-type" class="capitalize">{{mOpt.mergeType}}</span>
          </mat-cell>
        </ng-container>

        <!-- Details Column -->
        <ng-container matColumnDef="details">
          <mat-header-cell id="merge-option-details-sort-btn" *matHeaderCellDef mat-sort-header>Type Details</mat-header-cell>
          <mat-cell *matCellDef="let mOpt" class="merge-option-details">
            <div *ngIf="mOpt.mergeType === 'strategy'" class="details-content">
              <div>{{mOpt.strategy}}</div>
            </div>
            <div *ngIf="mOpt.mergeType === 'custom'" class="details-content">
              <div>
                <span class="details-custom-label">URI</span>
                <span title="{{mOpt.customUri}}">
                  {{mOpt.customUri | truncate : -40}}
                </span>
              </div>
              <div>
                <span class="details-custom-label">Function</span>
                {{mOpt.customFunction}}
              </div>
              <div *ngIf="mOpt.customNs">
                <span class="details-custom-label">Namespace</span>
                <span title="{{mOpt.customNs}}">
                  {{mOpt.customNs | truncate : -40}}
                </span>
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <!-- Max Values Column -->
        <ng-container matColumnDef="maxValues">
          <mat-header-cell id="merge-option-max-values-sort-btn" *matHeaderCellDef mat-sort-header>Max Values</mat-header-cell>
          <mat-cell class="merge-option-max-values" *matCellDef="let mOpt; let i = index">
            <span class="max-values-value" *ngIf="mOpt.mergeType === 'strategy'">
              {{mOpt.maxValues}}
            </span>
            <a class="max-values-value" *ngIf="mOpt.mergeType !== 'strategy' && mOpt.editing !== 'maxValues'" (click)="valueClicked($event, mOpt, 'maxValues')">
              {{mOpt.maxValues}}
            </a>
            <mat-form-field floatLabel="never" *ngIf="mOpt.mergeType !== 'strategy' && mOpt.editing === 'maxValues'" (keypress)="valueKeyPress($event, mOpt, i, 'maxValues')" class="editing-field">
              <input matInput [value]="mOpt.maxValues" [(ngModel)]="mOpt.maxValues" [focusElement]="valueFocus[mOpt.propertyName]">
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <!-- Max Sources Column -->
        <ng-container matColumnDef="maxSources">
          <mat-header-cell id="merge-option-max-sources-sort-btn" *matHeaderCellDef mat-sort-header>Max Sources</mat-header-cell>
          <mat-cell class="merge-option-max-sources" *matCellDef="let mOpt; let i = index">
            <span class="max-sources-value" *ngIf="mOpt.mergeType === 'strategy'">
              {{mOpt.maxSources}}
            </span>
            <a class="max-sources-value" *ngIf="mOpt.mergeType !== 'strategy' && mOpt.editing !== 'maxSources'" (click)="valueClicked($event, mOpt, 'maxSources')">
              {{mOpt.maxSources}}
            </a>
            <mat-form-field floatLabel="never" *ngIf="mOpt.mergeType !== 'strategy' && mOpt.editing === 'maxSources'" (keypress)="valueKeyPress($event, mOpt, i, 'maxSources')" class="editing-field">
              <input matInput [value]="mOpt.maxSources" [(ngModel)]="mOpt.maxSources" [focusElement]="valueFocus[mOpt.propertyName]">
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <!-- Source Weights Column -->
        <ng-container matColumnDef="sourceWeights">
          <mat-header-cell id="merge-option-source-weights-sort-btn" *matHeaderCellDef mat-sort-header>Source Weights</mat-header-cell>
          <mat-cell class="merge-option-source-weights" *matCellDef="let mOpt; let i = index">

            <div *ngIf="mOpt.sourceWeights.length > 0" class="other-content">
              <div *ngFor="let sw of mOpt.sourceWeights; let i = index;" class="other-item">
                <span class="source-weights-name">{{sw.source.name}}:</span>
                <span class="source-weights-value" *ngIf="mOpt.mergeType === 'strategy'">
                  {{sw.source.weight}}
                </span>
                <a class="source-weights-value" *ngIf="mOpt.mergeType !== 'strategy' && mOpt.editing !== getIdSW(sw,i)" (click)="valueClicked($event, mOpt, getIdSW(sw,i))">
                  {{sw.source.weight}}
                </a>
                <mat-form-field floatLabel="never" *ngIf="mOpt.mergeType !== 'strategy' && mOpt.editing === getIdSW(sw,i)" (keypress)="valueKeyPress($event, mOpt, i, getIdSW(sw,i))" class="editing-field">
                  <input matInput [value]="mOpt.sourceWeights[i].source.weight" [(ngModel)]="mOpt.sourceWeights[i].source.weight" [focusElement]="valueFocus[mOpt.propertyName]">
                </mat-form-field>
              </div>
            </div>

          </mat-cell>
        </ng-container>

        <!-- Length Weight Column -->
        <ng-container matColumnDef="length">
          <mat-header-cell id="merge-option-length-sort-btn" *matHeaderCellDef mat-sort-header>Length Weight</mat-header-cell>
          <mat-cell class="merge-option-length" *matCellDef="let mOpt; let i = index">
            <span class="length-value" *ngIf="mOpt.mergeType === 'strategy'">
              {{(mOpt.length) ? mOpt.length.weight : ''}}
            </span>
            <a class="length-value" *ngIf="mOpt.mergeType !== 'strategy' && mOpt.editing !== 'length'" (click)="valueClicked($event, mOpt, 'length')">
              {{(mOpt.length) ? mOpt.length.weight : ''}}
            </a>
            <mat-form-field floatLabel="never" *ngIf="mOpt.mergeType !== 'strategy' && mOpt.editing === 'length'" (keypress)="valueKeyPress($event, mOpt, i, 'length')" class="editing-field">
              <input matInput [value]="mOpt.length.weight" [(ngModel)]="mOpt.length.weight" [focusElement]="valueFocus[mOpt.propertyName]">
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell class="merge-option-menu" *matCellDef="let mOpt; let i = index">
            <mat-icon class="merge-menu-icon" [matMenuTriggerFor]="mergeMenu" [matMenuTriggerData]="{mOpt: mOpt, i: paginator.pageIndex * paginator.pageSize + i}"
                      disableRipple>more_vert</mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
        <mat-row class="{{ 'merge-option-' + (mOpt.propertyName || '').toLowerCase().split(' ').join('-') }}"
                 *matRowDef="let mOpt; columns: displayedColumns;">
        </mat-row>

      </mat-table>

      <mat-paginator id="merge-option-pagination"
                     #paginator
                     [length]="mergeOptions.length"
                     [pageIndex]="0"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 50]">
      </mat-paginator>

    </div>
  </div>
</div>

<mat-menu class="merge-option-menu-dialog" #mergeMenu="matMenu">
  <ng-template matMenuContent let-mOpt="mOpt" let-i="i">
    <div class="merge-option-menu-edit-btn" mat-menu-item (click)="openMergeOptionDialog(mOpt, i, targetEntity.definition.properties, mergeStrategies)">Edit Settings</div>
    <div class="merge-option-menu-delete-btn" mat-menu-item (click)="openConfirmDialog(mOpt)">Delete</div>
  </ng-template>
</mat-menu>
