<div id="merge-strategies" class="page-layout carded fullwidth">

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent">
      <mat-toolbar style="background: transparent">
        <div class="logo">
          <span class="logo-text h2">
            Merge Strategies
          </span>
        </div>
        <button mat-raised-button class="new-strategy-button" color="primary" (click)="openMergeStrategyDialog(null, null)">ADD</button>
        <span class="fill-space"></span>
      </mat-toolbar>
    </div>
    <!-- / HEADER -->

    <div class="content-card">

      <mat-table id="merge-strategies-table"
                 class="merging-table"
                 #table [dataSource]="dataSource" matSort>

        <!-- Property to Merge Column -->
        <ng-container matColumnDef="strategyName">
          <mat-header-cell id="merge-strategy-property-sort-btn" *matHeaderCellDef mat-sort-header>Strategy</mat-header-cell>
          <mat-cell *matCellDef="let mStr">
            <span class="merge-strategy-property" [class.default-name]="mStr.default">
              {{mStr.name}}
            </span>
          </mat-cell>
        </ng-container>

        <!-- Max Values Column -->
        <ng-container matColumnDef="maxValues">
          <mat-header-cell id="merge-strategy-max-values-sort-btn" *matHeaderCellDef mat-sort-header>Max Values</mat-header-cell>
          <mat-cell class="merge-strategy-max-values" *matCellDef="let mStr; let i = index">
            <a *ngIf="mStr.editing !== 'maxValues'" (click)="valueClicked($event, mStr, 'maxValues')" class="max-values-value">
              {{mStr.maxValues}}
            </a>
            <mat-form-field floatLabel="never" *ngIf="mStr.editing === 'maxValues'" (keypress)="valueKeyPress($event, mStr, i, 'maxValues')" class="editing-field">
              <input matInput [value]="mStr.maxValues" [(ngModel)]="mStr.maxValues" [focusElement]="valueFocus[mStr.propertyName]">
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <!-- Max Sources Column -->
        <ng-container matColumnDef="maxSources">
          <mat-header-cell id="merge-strategy-max-sources-sort-btn" *matHeaderCellDef mat-sort-header>Max Sources</mat-header-cell>
          <mat-cell class="merge-strategy-max-sources" *matCellDef="let mStr; let i = index">
            <a *ngIf="mStr.editing !== 'maxSources'" (click)="valueClicked($event, mStr, 'maxSources')" class="max-sources-value">
              {{mStr.maxSources}}
            </a>
            <mat-form-field floatLabel="never" *ngIf="mStr.editing === 'maxSources'" (keypress)="valueKeyPress($event, mStr, i, 'maxSources')" class="editing-field">
              <input matInput [value]="mStr.maxSources" [(ngModel)]="mStr.maxSources" [focusElement]="valueFocus[mStr.propertyName]">
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <!-- Source Weights Column -->
        <ng-container matColumnDef="sourceWeights">
          <mat-header-cell id="merge-strategy-source-weights-sort-btn" *matHeaderCellDef mat-sort-header>Source Weights</mat-header-cell>
          <mat-cell class="merge-strategy-source-weights" *matCellDef="let mStr; let i = index">

            <div *ngIf="mStr.sourceWeights.length > 0" class="other-content">
              <div *ngFor="let sw of mStr.sourceWeights; let i = index;" class="other-item">
                {{sw.source.name}}:
                <a *ngIf="mStr.editing !== getIdSW(sw,i)" (click)="valueClicked($event, mStr, getIdSW(sw,i))" class="source-weights-value">
                  {{sw.source.weight}}
                </a>
                <mat-form-field floatLabel="never" *ngIf="mStr.editing === getIdSW(sw,i)" (keypress)="valueKeyPress($event, mStr, i, getIdSW(sw,i))" class="editing-field">
                  <input matInput [value]="mStr.sourceWeights[i].source.weight" [(ngModel)]="mStr.sourceWeights[i].source.weight" [focusElement]="valueFocus[mStr.propertyName]">
                </mat-form-field>
              </div>
            </div>

          </mat-cell>
        </ng-container>

        <!-- Length Weight Column -->
        <ng-container matColumnDef="length">
          <mat-header-cell id="merge-strategy-length-sort-btn" *matHeaderCellDef mat-sort-header>Length Weight</mat-header-cell>
          <mat-cell class="merge-strategy-length" *matCellDef="let mStr; let i = index">
            <a *ngIf="mStr.editing !== 'length'" (click)="valueClicked($event, mStr, 'length')" class="length-value">
              {{(mStr.length) ? mStr.length.weight : ''}}
            </a>
            <mat-form-field floatLabel="never" *ngIf="mStr.editing === 'length'" (keypress)="valueKeyPress($event, mStr, i, 'length')" class="editing-field">
              <input matInput [value]="mStr.length.weight" [(ngModel)]="mStr.length.weight" [focusElement]="valueFocus[mStr.propertyName]">
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell class="merge-strategy-menu" *matCellDef="let mStr; let i = index">
            <mat-icon class="merge-menu-icon" [matMenuTriggerFor]="mergeStrategiesMenu" [matMenuTriggerData]="{mStr: mStr, i: paginator.pageIndex * paginator.pageSize + i}"
                      disableRipple>more_vert</mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
        <mat-row class="{{ 'merge-strategy-' + mStr.name.toLowerCase().split(' ').join('-') }}"
                 *matRowDef="let mStr; columns: displayedColumns;">
        </mat-row>

      </mat-table>

      <mat-paginator id="merge-strategy-pagination"
                     #paginator
                     [length]="mergeStrategies.length"
                     [pageIndex]="0"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 50]">
      </mat-paginator>

    </div>
  </div>
</div>

<mat-menu class="merge-strategy-menu-dialog" #mergeStrategiesMenu="matMenu">
  <ng-template matMenuContent let-mStr="mStr" let-i="i">
    <div class="merge-strategy-menu-edit-btn" mat-menu-item (click)="openMergeStrategyDialog(mStr, i)">Edit Settings</div>
    <div class="merge-strategy-menu-delete-btn" mat-menu-item (click)="openConfirmDialog(mStr)">Delete</div>
  </ng-template>
</mat-menu>

<div class="timestamp-container">
  <div class="h2">Timestamp Path</div>
  <mat-form-field class="editing-field" appearance="standard">
    <input matInput [(ngModel)]="timestamp" />
  </mat-form-field>
  <button id="save-timestamp" mat-raised-button color="primary" [disabled]="!timestampChanged()" (click)="onSaveTimestamp()">SAVE</button>
</div>
