<h2>Edit Flow</h2>
<div class="steps-container">
  <header>
    <div class="steps-header">
      <h3>{{flow.name}}</h3>
      <button mat-raised-button color="primary" (click)="openDialog()">New Step</button>
    </div>
    <div class="steps-header ">
      <button mat-raised-button color="primary" (click)="openRunDialog()">Run</button>
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      <div class="text">Started: 2019-02-07 13:01:45</div>
      <a href="#" class="text">View Jobs</a>
      <mat-icon class="flow-menu-icon" [matMenuTriggerFor]="flowMenu">more_vert</mat-icon>
      <mat-icon class="flow-menu-icon">arrow_drop_down</mat-icon>
    </div>
  </header>
  <div class="steps-body">
    <p>Click the <span>New Step</span> button to create a step for your flow</p>
  </div>
</div>
<div class="steps-container step">
    <header>
      <div class="steps-header step">
        <h3>My Mapping 1</h3>
        <button mat-raised-button color="primary">Save</button>
        <button mat-raised-button color="primary">Reset</button>
      </div>
      <div class="steps-header step">
        <mat-icon class="flow-menu-icon" [matMenuTriggerFor]="flowSubMenu">more_vert</mat-icon>
        <mat-icon class="flow-menu-icon">arrow_drop_down</mat-icon>
      </div>
    </header>
    <div class="steps-body step">
    </div>
  </div>

<mat-menu #flowMenu="matMenu">
  <div mat-menu-item>Edit Settings</div>
  <div mat-menu-item>Redeploy</div>
  <div mat-menu-item>Delete</div>
</mat-menu>

<mat-menu #flowSubMenu="matMenu">
  <div mat-menu-item>Edit Settings</div>
</mat-menu>
