.content {
  background: #fff;
  padding: 24px;
  margin-left: 300px;
  margin-top: 45px;
  width: 100%
}

.sideBarFacets {
  background: #f3f3f3;
  position: fixed;
  margin-top: 61px;
}

.searchBar {
  position: fixed;
  z-index: 1;
  left: 324px;
  right: 20px;
}

