.content {
  background: #fff;
  padding: 24px;
  margin-left: 300px;
  margin-top: 50px;
}

.sideBarFacets {
  background: #f3f3f3;
  position: fixed;
  margin-top: 61px;
}

.searchBar {
  position: fixed;
  width: 74%;
  z-index: 1;
}

