.content {
  background: #fff;
  padding: 24px;
  margin-left: 300px;
  margin-top: 45px;
  width: 100%
}

.sideBarFacets {
  background: #f3f3f3;
  position: fixed;
  margin-top: 61px;
}

.searchBar {
  position: fixed;
  z-index: 1;
  left: 324px;
  right: 20px;
  background-color: white;
}

.toggleView{
  float: right;
  padding: 8px;
  border: 1px solid #666;
  cursor: pointer;
}

.toggled{
  background-color: #2f92ad;
  float: right;
  padding: 8px;
  border: 1px solid #666;
  cursor: pointer;
  color: white;
}



