.container {
  padding: 2.5% 15%;
  background: transparent;
}

.statsContainer {
  display: flex;
  margin-top: 50px;
}

.statContainer {
  width: 84px;
}

.statistic {
  margin: 0 6% 3% 6%;
}

.infoIcon {
  font-size: 12px;
  margin-left: 6px;
  color: #A9A9A9;
  position: relative;
  top: -1px;
}