<div class="dialog-container new-flow-dialog">
  <div class="mdl-dialog__title">
    <div>Create New Mapping</div>
    <div class="mdl-layout-spacer"></div>
    <mdl-button mdl-button-type="icon" (click)="onCancel()">
      <i class="fa fa-close"></i>
    </mdl-button>
  </div>
  <div class="mdl-dialog__content">
    <form (submit)="onCreate()">
      <div class="modal-body">
        <div class="md-dialog-content" flex layout="column">
          <mdl-textfield
            name="mapNameInput"
            type="text"
            [class.is-invalid]="nameDuplicate()"
            floating-label
            id="mapNameInput"
            label="Mapping Name (required)"
            disableNativeValidityChecking
            #mapNameInput="ngModel"
            [(ngModel)]="mapName"
            error-msg="A mapping with this name already exists"
          >
          </mdl-textfield>
        </div>
        <mdl-textfield
          name="mapDescInput"
          type="text"
          floating-label
          id="mapDescInput"
          label="Mapping Description"
          disableNativeValidityChecking
          #mapDescInput="ngModel"
          [(ngModel)]="mapDesc"
        >
        </mdl-textfield>
      </div>
      <div class="mdl-dialog__actions">
        <button type="submit" [disabled]="nameEmpty() || nameDuplicate()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Create</button>
        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>
