<div ng-if="notificationBar.show">
  <div class="alert alert-error alert-danger" ng-if="notificationBar.messageType == 'error'">
    <a href="dismiss" class="close" data-dismiss="alert">&times;</a>error: {{ notificationBar.message }}
  </div>
  <div class="alert alert-success" ng-if="notificationBar.messageType == 'success'">
    <a href="dismiss" class="close" data-dismiss="alert">&times;</a>success: {{ notificationBar.message }}
  </div>
  <div class="alert alert-warning" ng-if="notificationBar.messageType == 'warning'">
    <a href="dismiss" class="close" data-dismiss="alert">&times;</a>warning: {{ notificationBar.message }}
  </div>
</div>
