.mat-dialog-title {
  margin: -6px 0 20px;
  font-size: 24px;
}

.mat-dialog-actions {
  padding: 12px 0;
  margin-bottom: -20px;
}

div.prop-group input {
  border: 0;
}

.property-reduce-wrapper .mat-form-field {
  width: 390px;
}

#properties-reduce {
  margin-bottom: 10px;
}

.mat-icon {
  color: #2a4356;
}

.add-property-btn .mat-icon {
  position: relative;
  top: -2px;
}
