<h1 mat-dialog-title>{{getDialogTitle()}}</h1>
<div id="match-threshold-dialog" mat-dialog-content [formGroup]="form" class="content">
  <mat-form-field layout-fill>
    <mat-label>Name</mat-label>
    <input id="match-threshold-name" matInput formControlName="label" required [errorStateMatcher]="instantErrorMatcher" />
    <mat-error id="match-threshold-name-error" *ngIf="form.get('label').invalid">Name is required</mat-error>
  </mat-form-field>
  <mat-form-field layout-fill>
    <mat-label>Weight</mat-label>
    <input id="match-threshold-weight" matInput formControlName="above" required [errorStateMatcher]="instantErrorMatcher"/>
    <mat-error id="match-threshold-weight-error" *ngIf="form.get('above').invalid">A number is required</mat-error>
  </mat-form-field>
  <mat-form-field layout-fill>
    <mat-select id="match-threshold-action" placeholder="Action" formControlName="action" [(value)]="selectedAction" required>
      <mat-option value="merge">Merge</mat-option>
      <mat-option value="notify">Notify</mat-option>
      <mat-option value="custom">Custom</mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="selectedAction === 'custom'">
    <mat-form-field layout-fill>
      <mat-label>URI</mat-label>
      <input id="match-threshold-custom-uri" matInput formControlName="customUri" required [errorStateMatcher]="instantErrorMatcher"/>
      <mat-error id="match-option-custom-uri-error" *ngIf="form.get('customUri').invalid">URI is required</mat-error>
    </mat-form-field>
    <mat-form-field layout-fill>
      <mat-label>Function</mat-label>
      <input id="match-threshold-custom-function" matInput formControlName="customFunction" required [errorStateMatcher]="instantErrorMatcher"/>
      <mat-error id="match-option-custom-function-error" *ngIf="form.get('customFunction').invalid">Function is required</mat-error>
    </mat-form-field>
    <mat-form-field layout-fill>
      <mat-label>Namespace</mat-label>
      <input id="match-threshold-custom-namespace" matInput formControlName="customNs"/>
    </mat-form-field>
  </div>
  <mat-hint>Fields with * are required</mat-hint>
</div>

<mat-dialog-actions align="end" class="bottom">
  <button mat-raised-button color="primary" id="match-threshold-cancel-btn" (click)="onCancel()">CANCEL</button>
  <button mat-raised-button color="primary" id="match-threshold-save-btn" [disabled]="!form.valid" (click)="onSave()">{{getSubmitButtonTitle()}}</button>
</mat-dialog-actions>
