.mat-dialog-title {
  margin: -6px 0 20px;
  font-size: 24px;
}

.mat-dialog-actions {
  padding: 12px 0;
  margin-bottom: -20px;
}
/deep/ .mat-tooltip {
  white-space: pre-line !important;
  position: relative;
  left: 440px;
  top: -8px;
}
