<h1 mat-dialog-title>{{getDialogTitle()}}</h1>
<div id="match-option-dialog" mat-dialog-content [formGroup]="form" class="content">

  <mat-form-field layout-fill>
    <mat-select id="match-option-type" placeholder="Match Type" formControlName="matchType" [(value)]="selectedType">
      <mat-option value="exact">Exact</mat-option>
      <mat-option value="synonym">Synonym</mat-option>
      <mat-option value="double metaphone">Double Metaphone</mat-option>
      <mat-option value="zip">Zip</mat-option>
      <mat-option value="reduce">Reduce</mat-option>
      <mat-option value="custom">Custom</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="selectedType !== 'reduce'" layout-fill>
    <mat-select id="match-option-property" placeholder="Property to Match *" formControlName="propertyName" [(value)]="propertyName">
      <mat-option class="type-option" *ngFor="let prop of data.entityProps" [value]="prop.name">{{prop.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="selectedType === 'reduce'" id="properties-reduce">
    <mat-label>
      Properties to Match
    </mat-label>
    <button class="add-property-btn" mat-icon-button (click)="onAddProp()">
      <mat-icon>add_circle</mat-icon>
    </button>
    <div
      class="property-reduce-wrapper"
      formArrayName="propertiesReduce"
      *ngFor="let prop of this.propertiesReduce.controls; let i = index;">
      <div [formGroupName]="i" class="prop-group">
        <mat-form-field layout-fill>
          <mat-select class="match-option-property-reduce" placeholder="Property Name{{(i === 0) ? ' *' : ''}}" formControlName="name">
            <mat-option class="type-option" *ngFor="let prop of data.entityProps" [value]="prop.name">{{prop.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button *ngIf="i !== 0" class="remove-property-btn" mat-icon-button (click)="onRemoveProp(i)">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <mat-form-field *ngIf="selectedType !== 'zip'" layout-fill>
    <mat-label>Weight</mat-label>
    <input id="match-option-weight" matInput formControlName="weight" required />
    <mat-error id="match-option-weight-error" *ngIf="form.get('weight').invalid">A number is required</mat-error>
  </mat-form-field>

  <div *ngIf="selectedType === 'synonym'">
    <mat-form-field layout-fill>
      <mat-label>Thesaurus URI</mat-label>
      <input id="match-option-synonym-thesaurus" matInput formControlName="thesaurus"/>
    </mat-form-field>
    <mat-form-field layout-fill>
      <textarea id="match-option-synonym-filter" matInput formControlName="filter" placeholder="Filter"></textarea>
    </mat-form-field>
  </div>

  <div *ngIf="selectedType === 'double metaphone'">
    <mat-form-field layout-fill>
      <mat-label>Dictionary URI</mat-label>
      <input id="match-option-metaphone-dictionary" matInput formControlName="dictionary"/>
    </mat-form-field>
    <mat-form-field layout-fill>
      <mat-label>Distance Threshold</mat-label>
      <input id="match-option-metaphone-distance-threshold" matInput formControlName="distanceThreshold"/>
    </mat-form-field>
    <mat-form-field layout-fill>
      <mat-label>Collation</mat-label>
      <input id="match-option-metaphone-distance-collation" matInput formControlName="collation"/>
    </mat-form-field>
  </div>

  <div *ngIf="selectedType === 'zip'">
    <mat-form-field layout-fill>
      <mat-label>5-Matches-9 Boost</mat-label>
      <input id="match-option-zip-zip5match9" matInput formControlName="zip5match9"/>
    </mat-form-field>
    <mat-form-field layout-fill>
      <mat-label>9-Matches-5 Weight</mat-label>
      <input id="match-option-zip-zip9match5" matInput formControlName="zip9match5"/>
    </mat-form-field>
  </div>

  <div *ngIf="selectedType === 'custom'">
    <mat-form-field layout-fill>
      <mat-label>URI</mat-label>
      <input id="match-option-custom-uri" matInput formControlName="customUri"/>
    </mat-form-field>
    <mat-form-field layout-fill>
      <mat-label>Function</mat-label>
      <input id="match-option-custom-function" matInput formControlName="customFunction"/>
    </mat-form-field>
    <mat-form-field layout-fill>
      <mat-label>Namespace</mat-label>
      <input id="match-option-custom-namespace" matInput formControlName="customNs"/>
    </mat-form-field>
  </div>

</div>

<mat-dialog-actions align="end" class="bottom">
  <button mat-raised-button color="primary" id="match-option-cancel-btn" (click)="onCancel()">CANCEL</button>
  <button mat-raised-button color="primary" id="match-option-save-btn" [disabled]="!form.valid" (click)="onSave()">{{getSubmitButtonTitle()}}</button>
</mat-dialog-actions>
