.matching {
  padding: 10px 40px;
}

#match-thresholds {
  padding: 8px 30px 24px 30px;

  .center .header .mat-toolbar-single-row {
    padding: 0;
  }
}

/* HEADER ROW HEIGHT */
.matching-table .mat-header-row {
    min-height: 48px !important;
}

/* BODY ROW HEIGHT */
.matching-table .mat-row {
    min-height: 38px !important;
}

.action-content {
  padding: 4px 0;
}

.actionLabel {
  display: inline-block;
  width: 80px;
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
}

.editing-field {
  padding: 0;
  margin: 0;
  width: 30px;
}

/deep/ .mat-column-above div.mat-form-field-wrapper {
  position: absolute;
  top: -25px;
  width: 30px;
}

/deep/ .mat-cell a.weight-value {
  cursor: pointer!important;
}

$header-height: 70px !default;

button {
  outline: none;
}

.page-layout {
  position: relative;
  overflow: hidden;

  // Carded layout
  &.carded {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    width: 100%;
    min-width: 100%;

    // Top bg
    > .top-bg {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      left: 0;
    }

    // Fullwidth
    &.fullwidth {

      // Center
      > .center {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        position: relative;
        z-index: 2;
        padding: 0;
        width: 100%;
        min-width: 0;
        max-width: 100%;
        height: 100%;
        max-height: 100%;

        > .header {
          height: $header-height !important;
          min-height: $header-height !important;
          max-height: $header-height!important;
        }

        > .content-card {
          display: flex;
          flex-direction: column;
          flex: 1 0 auto;
          overflow: hidden;

          > .content {
            flex: 1 0 auto;
          }
        }
      }
    }
  }
}

.matching-table {
  flex: 1 1 auto;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  a {
    color: black;
  }

  a:hover {
    text-decoration-color: blue;
  }

  .mat-header-row {
    min-height: 64px;
  }

  .flow {
    position: relative;
    cursor: pointer;
    height: 84px;
  }

  .mat-cell {
    min-width: 0;
    display: flex;
    align-items: center;
  }

  /* .mat-column-label {
    flex: 0 1 180px;
  }

  .mat-column-above {
    flex: 0 1 100px;
  } */

  .mat-column-action {
    flex: 0 1 480px;
  }

  .mat-column-actions {
    flex: 0 1 80px;
  }

  .mat-header-cell .mat-icon {
    cursor: pointer;
  }

  .logo {
    padding-right: 30px;
  }

  .run-flow-button {
    margin: 0 15px 0 7px;
  }

  .actions-menu-icon {
    margin-left: 10px;
  }

  .quantity-indicator {
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    margin-right: 8px;

    & + span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .active-icon {
    border-radius: 50%;
  }
}

.fill-space {
  flex: 1 1 auto;
}

.name-container {
  position: relative;
  width: 240px;
}

.logo {
  padding-right: 30px;
}

.mat-column-actions .mat-icon {
  cursor: pointer;
}

.capitalize {
   text-transform: capitalize;
}

/deep/ .mat-dialog-title {
  margin: -6px 0 20px !important;
  font-size: 24px;
}
/deep/ .mat-dialog-actions {
  padding: 12px 0 !important;
  margin-bottom: -20px !important;
  justify-content: flex-end;
}

/deep/ .mat-dialog-content {
  background: #fff !important;
  padding: 10px 24px 20px 24px !important;
}

/deep/ .mat-button {
  outline: none !important;
  color: white !important;
  background-color: #2a4356 !important;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
}
