<div id="match-options" class="page-layout carded fullwidth">

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent">
      <mat-toolbar style="background: transparent">
        <div class="logo">
          <span class="logo-text h2">
            Match Options
          </span>
        </div>
        <button *ngIf="targetEntity" mat-raised-button class="new-option-button" color="primary" (click)="openMatchOptionDialog(null, null, targetEntity.definition.properties)">Add</button>
        <span class="fill-space"></span>
      </mat-toolbar>
    </div>
    <!-- / HEADER -->

    <div *ngIf="!targetEntity">
      Configuring match options requires a target entity. The target entity "{{targetEntityName}}" is not defined. Define it in the <a [routerLink]="['/entities']">Entities</a> view.
    </div>

    <div *ngIf="targetEntity" class="content-card">

      <mat-table id="match-options-table"
                 class="matching-table"
                 #table [dataSource]="dataSource" matSort>

        <!-- Property to Match Column -->
        <ng-container matColumnDef="propertyName">
          <mat-header-cell id="match-option-property-sort-btn" *matHeaderCellDef mat-sort-header>Property to Match</mat-header-cell>
          <mat-cell class="match-option-property" *matCellDef="let mOpt">
            {{mOpt.propertyName.join(', ')}}
          </mat-cell>
        </ng-container>

        <!-- Match Type Column -->
        <ng-container matColumnDef="matchType">
          <mat-header-cell id="match-option-type-sort-btn" *matHeaderCellDef mat-sort-header>Match Type</mat-header-cell>
          <mat-cell class="match-option-type" *matCellDef="let mOpt">
            <span class="capitalize">
              {{mOpt.matchType}}
            </span>
          </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <mat-header-cell id="match-option-weight-sort-btn" *matHeaderCellDef mat-sort-header>Weight</mat-header-cell>
          <mat-cell class="match-option-weight" *matCellDef="let mOpt">
            <a *ngIf="!mOpt.editing" (click)="weightClicked($event, mOpt)" class="weight-value">
              {{mOpt.weight}}
            </a>
            <mat-form-field floatLabel="never" *ngIf="mOpt.editing" (keypress)="weightKeyPress($event, mOpt)" class="editing-field">
              <input matInput [value]="mOpt.weight" [(ngModel)]="mOpt.weight" [focusElement]="weightFocus[mOpt.propertyName]">
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <!-- Other Column -->
        <ng-container matColumnDef="other">
          <mat-header-cell *matHeaderCellDef>Other</mat-header-cell>
          <mat-cell class="match-option-other" *matCellDef="let mOpt">

            <div *ngIf="mOpt.matchType === 'exact'" class="other-content">
              <div>&nbsp;</div>
            </div>
            <div *ngIf="mOpt.matchType === 'reduce'" class="other-content">
              <div>&nbsp;</div>
            </div>
            <div *ngIf="mOpt.matchType === 'synonym'" class="other-content">
              <div>
                <span class="other-label">Thesaurus</span>
                {{truncate(mOpt.thesaurus, 40)}}
              </div>
              <div>
                <span class="other-label">Filter</span>
                {{mOpt.filter}}
              </div>
            </div>
            <div *ngIf="mOpt.matchType === 'double metaphone'" class="other-content">
              <div>
                <span class="other-label">Dictionary</span>
                {{truncate(mOpt.dictionary, 40)}}
              </div>
              <div>
                <span class="other-label">Distance Threshold</span>
                {{mOpt.distanceThreshold}}
              </div>
              <div>
                <span class="other-label">Collation</span>
                <span title="{{mOpt.collation}}">
                  {{truncate(mOpt.collation, 40)}}
                </span>
              </div>
            </div>
            <div *ngIf="mOpt.matchType === 'custom'" class="other-content">
              <div>
                <span class="other-label">URI</span>
                {{truncate(mOpt.customUri, 40)}}
              </div>
              <div>
                <span class="other-label">Function</span>
                {{mOpt.customFunction}}
              </div>
              <div *ngIf="mOpt.customNs">
                <span class="other-label">Namespace</span>
                {{mOpt.customNs}}
              </div>
            </div>
            <div *ngIf="mOpt.matchType === 'zip'" class="other-content">
              <div>
                <span class="other-label">5-Matches-9 Boost</span>
                {{mOpt.zip5match9}}
              </div>
              <div>
                <span class="other-label">9-Matches-5 Weight</span>
                {{mOpt.zip9match5}}
              </div>
            </div>

          </mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell class="match-option-menu" *matCellDef="let mOpt; let i = index">
            <mat-icon class="match-menu-icon" [matMenuTriggerFor]="matchMenu" [matMenuTriggerData]="{mOpt: mOpt, i: paginator.pageIndex * paginator.pageSize + i}"
                      disableRipple>more_vert</mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
        <mat-row class="{{ 'match-option-' + mOpt.propertyName.join('-').toLowerCase().split(' ').join('-') }}"
                 *matRowDef="let mOpt; columns: displayedColumns;">
        </mat-row>

      </mat-table>

      <mat-paginator id="match-option-pagination"
                     #paginator
                     [length]="matchOptions.length"
                     [pageIndex]="0"
                     [pageSize]="15"
                     [pageSizeOptions]="[3, 5, 15, 30]">
      </mat-paginator>

    </div>
  </div>
</div>

<mat-menu class="match-option-menu-dialog" #matchMenu="matMenu">
  <ng-template matMenuContent let-mOpt="mOpt" let-i="i">
    <div class="match-option-menu-edit-btn" mat-menu-item (click)="openMatchOptionDialog(mOpt, i, targetEntity.definition.properties)">Edit Settings {{index}}</div>
    <div class="match-option-menu-delete-btn" mat-menu-item (click)="openConfirmDialog(mOpt)">Delete</div>
  </ng-template>
</mat-menu>
