<div id="match-options" class="page-layout carded fullwidth">

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent">
      <mat-toolbar style="background: transparent">
        <div class="logo">
          <span class="logo-text h2">
            Match Options
          </span>
        </div>
        <button *ngIf="targetEntity" mat-raised-button class="new-option-button" color="primary" (click)="openMatchOptionDialog(null, null, targetEntity.definition.properties)">ADD</button>
        <span class="fill-space"></span>
      </mat-toolbar>
    </div>
    <!-- / HEADER -->

    <div *ngIf="!targetEntity">
      Configuring match options requires a target entity. Define it in the <a [routerLink]="['/entities']">Entities</a> view.
    </div>

    <div [ngClass]="{ hidden: !targetEntity}" class="content-card">

      <mat-table id="match-options-table"
                 class="matching-table"
                 #table [dataSource]="dataSource" matSort>

        <!-- Property to Match Column -->
        <ng-container matColumnDef="propertyName">
          <mat-header-cell id="match-option-property-sort-btn" *matHeaderCellDef mat-sort-header>Property to Match</mat-header-cell>
          <mat-cell class="match-option-property" *matCellDef="let mOpt">
            {{mOpt.propertyName.join(', ')}}
          </mat-cell>
        </ng-container>

        <!-- Match Type Column -->
        <ng-container matColumnDef="matchType">
          <mat-header-cell id="match-option-type-sort-btn" *matHeaderCellDef mat-sort-header>Match Type</mat-header-cell>
          <mat-cell class="match-option-type" *matCellDef="let mOpt">
            <span class="capitalize">
              {{mOpt.matchType}}
            </span>
          </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <mat-header-cell id="match-option-weight-sort-btn" *matHeaderCellDef mat-sort-header>Weight</mat-header-cell>
          <mat-cell class="match-option-weight" *matCellDef="let mOpt; let i = index">
            <a *ngIf="mOpt.editing !== 'weight'" (click)="valueClicked($event, mOpt, 'weight')" class="weight-value">
              {{mOpt.weight}}
            </a>
            <mat-form-field floatLabel="never" *ngIf="mOpt.editing === 'weight'" (keypress)="valueKeyPress($event, mOpt, i, 'weight')" class="editing-field">
              <input matInput [value]="mOpt.weight" [(ngModel)]="mOpt.weight" [focusElement]="valueFocus[mOpt.propertyName]">
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <!-- Other Column -->
        <ng-container matColumnDef="other">
          <mat-header-cell *matHeaderCellDef>Other</mat-header-cell>
          <mat-cell class="match-option-other" *matCellDef="let mOpt; let i = index">

            <div *ngIf="mOpt.matchType === 'exact'" class="other-content">
              <div>&nbsp;</div>
            </div>
            <div *ngIf="mOpt.matchType === 'reduce'" class="other-content">
              <div>&nbsp;</div>
            </div>
            <div *ngIf="mOpt.matchType === 'synonym'" class="other-content">
              <div>
                <span class="other-label">Thesaurus</span>
                <span title="{{mOpt.thesaurus}}">
                  {{mOpt.thesaurus | truncate : -40}}
                </span>
              </div>
              <div>
                <span class="other-label">Filter</span>
                {{mOpt.filter}}
              </div>
            </div>
            <div *ngIf="mOpt.matchType === 'double metaphone'" class="other-content">
              <div>
                <span class="other-label">Dictionary</span>
                <span title="{{mOpt.dictionary}}">
                  {{mOpt.dictionary | truncate : -40}}
                </span>
              </div>
              <div>
                <span class="other-label">Distance Threshold</span>
                <a *ngIf="mOpt.editing !== 'distanceThreshold'" (click)="valueClicked($event, mOpt, 'distanceThreshold')" class="distance-threshold-value">
                  {{mOpt.distanceThreshold}}
                </a>
                <mat-form-field floatLabel="never" *ngIf="mOpt.editing === 'distanceThreshold'" (keypress)="valueKeyPress($event, mOpt, i, 'distanceThreshold')" class="editing-field">
                  <input matInput [value]="mOpt.distanceThreshold" [(ngModel)]="mOpt.distanceThreshold" [focusElement]="valueFocus[mOpt.propertyName]">
                </mat-form-field>
              </div>
              <div>
                <span class="other-label">Collation</span>
                <span title="{{mOpt.collation}}">
                  {{mOpt.collation | truncate : -40}}
                </span>
              </div>
            </div>
            <div *ngIf="mOpt.matchType === 'custom'" class="other-content">
              <div>
                <span class="other-label">URI</span>
                <span title="{{mOpt.customUri}}">
                  {{mOpt.customUri | truncate : -40}}
                </span>
              </div>
              <div>
                <span class="other-label">Function</span>
                {{mOpt.customFunction}}
              </div>
              <div *ngIf="mOpt.customNs">
                <span class="other-label">Namespace</span>
                <span title="{{mOpt.customNs}}">
                  {{mOpt.customNs | truncate : -40}}
                </span>
              </div>
            </div>
            <div *ngIf="mOpt.matchType === 'zip'" class="other-content">
              <div>
                <span class="other-label">5-Matches-9 Boost</span>
                <a *ngIf="mOpt.editing !== 'zip5match9'" (click)="valueClicked($event, mOpt, 'zip5match9')" class="distance-zip5match9-value">
                  {{mOpt.zip5match9}}
                </a>
                <mat-form-field floatLabel="never" *ngIf="mOpt.editing === 'zip5match9'" (keypress)="valueKeyPress($event, mOpt, i, 'zip5match9')" class="editing-field">
                  <input matInput [value]="mOpt.zip5match9" [(ngModel)]="mOpt.zip5match9" [focusElement]="valueFocus[mOpt.propertyName]">
                </mat-form-field>
              </div>
              <div>
                <span class="other-label">9-Matches-5 Weight</span>
                <a *ngIf="mOpt.editing !== 'zip9match5'" (click)="valueClicked($event, mOpt, 'zip9match5')" class="distance-zip9match5-value">
                  {{mOpt.zip9match5}}
                </a>
                <mat-form-field floatLabel="never" *ngIf="mOpt.editing === 'zip9match5'" (keypress)="valueKeyPress($event, mOpt, i, 'zip9match5')" class="editing-field">
                  <input matInput [value]="mOpt.zip9match5" [(ngModel)]="mOpt.zip9match5" [focusElement]="valueFocus[mOpt.propertyName]">
                </mat-form-field>
              </div>
            </div>

          </mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell class="match-option-menu" *matCellDef="let mOpt; let i = index">
            <mat-icon class="match-menu-icon" [matMenuTriggerFor]="matchMenu" [matMenuTriggerData]="{mOpt: mOpt, i: paginator.pageIndex * paginator.pageSize + i}"
                      disableRipple>more_vert</mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
        <mat-row class="{{ 'match-option-' + (mOpt.propertyName || '').join('-').toLowerCase().split(' ').join('-') }}"
                 *matRowDef="let mOpt; columns: displayedColumns;">
        </mat-row>

      </mat-table>

      <mat-paginator id="match-option-pagination"
                     #paginator
                     [length]="matchOptions.length"
                     [pageIndex]="0"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 50]">
      </mat-paginator>

    </div>
  </div>
</div>

<mat-menu class="match-option-menu-dialog" #matchMenu="matMenu">
  <ng-template matMenuContent let-mOpt="mOpt" let-i="i">
    <div class="match-option-menu-edit-btn" mat-menu-item (click)="openMatchOptionDialog(mOpt, i, targetEntity.definition.properties)">Edit Settings</div>
    <div class="match-option-menu-delete-btn" mat-menu-item (click)="openConfirmDialog(mOpt)">Delete</div>
  </ng-template>
</mat-menu>
