@import '~@angular/material/theming';

@include mat-core();

/* Outline Input */
.mat-form-field-outline {
  color: rgb(125, 163, 192);
  > .mat-form-field-outline-start, .mat-form-field-outline-gap, .mat-form-field-outline-end {
    background: #fefefe; 
  }
}

/* Outline Input focused */
.mat-form-field-appearance-outline.mat-focused {
   color: rgb(42, 67, 86);
}

.mat-form-field-label { 
  color: black;
}

/* Outline read only input */
.read-only > .mat-form-field-wrapper > .mat-form-field-flex {
  .mat-form-field-outline {
    // color: rgb(125, 163, 192);
    > .mat-form-field-outline-start, .mat-form-field-outline-gap, .mat-form-field-outline-end {
      background: rgba(217, 217, 217, 0.65);  
    }
  }
}