.entityContainer {
  border: solid 1px blue;
  width: 50%;
  margin: auto;
}
.definitionContainer {
  border: solid 1px green;
  margin-left: 5%;
}

.propertyContainer {
  border: solid 1px red;
  margin-left: 5%;
}

.itemContainer {
  border: solid 1px purple;
  margin-left: 5%;
}