  .loginForm {
    margin: 20px 0 20px;
  }

  div.host, div.username, div.password {
    width: 300px;
  }

  .host div, .username div, .password div {
    text-align: left;
  }

  .help {
    margin: 15px 0 35px 0;

    .remember .rememberCheck {
      margin-left: -3.9em;
      margin-right: 10px;
      color: #44499C;
    }

    .forgot {
      float: right;
      color: #44499C;
    }
  }

  .loginButton button {
    color:#ffffff;
    width: 100%;
    background-color: #394494;
    border: none;
  }

  .unauthorized {
    text-align: center;
    white-space: nowrap;
  }

  .hostIcon {
    position: relative;
    font-size: 17px;
    left: -3px;
    top: 1px;
  }

  .hostIcon, .usernameIcon, .passwordIcon {
    color: rgba(0,0,0,.25);
    margin-left: -2px;
  }
  
  .usernameIcon {
    font-size: 17px;
  }

  .passwordIcon {
    font-size: 15px;
  }

  .formLabel {
    display: inline-block;
    width: 300px;
    text-align: left;
  }

  .questionIcon {
    color: #7F86B5;
    position: relative;
    font-size: 14px;
    left: 4px;
    top: -6px;
  }


.unauthorized {
  text-align: center;
  white-space: nowrap;
}

  .loginSpinner {
      position: absolute;
      top: 0;
      left: 0;
      padding-top: 150px;
      text-align: center;
      width: 100%;
      height: 100%;
      z-index: 999;
      background-color: rgba(255, 255, 255, 0.6);
  }


