.title {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size :22px;
    color: #333333;
}

.name {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size :14px;
    color: #5B69AF;
    &:hover{
        color: var(--hoverColor);
    }
}

.cell {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size :14px;
    color: #333333;
}

.manageQueryIconsHover:hover{
        color: var(--hoverColor);
}

.modal1000w{
    width: 1000px !important;
    max-width: none !important;
}