.title {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size :22px;
    color: #333333;
}

.name {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size :14px;
    color: #5B69AF;
    &:hover{
        color: var(--hoverColor);
    }
}

.cell {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size :14px;
    color: #333333;
}

.manageQueryIconsHover:hover{
    color: var(--hoverColor);
    cursor: pointer;
}

.modal1000w{
    width: 1000px !important;
    max-width: none !important;
}

.modal1000w th:nth-child(4), .modal1000w th:nth-child(5), .modal1000w th:nth-child(6) {
    text-align: center;
}

.modal1000w th:nth-child(7), .modal1000w th:nth-child(8), .modal1000w th:nth-child(9),
.modal1000w td:nth-child(7), .modal1000w td:nth-child(8), .modal1000w td:nth-child(9) {
    display: none;
}

.modal1000w td:nth-child(4), .modal1000w td:nth-child(5), .modal1000w td:nth-child(6) {
    text-align: center;
}

.modal1000w table thead tr th {
    background-color: #e8e8e8 !important;
}

.modal1000w table thead tr th:hover {
    background-color: #f5f5f5 !important;
}

.modal1000w th:nth-child(4):hover, .modal1000w th:nth-child(5):hover, .modal1000w th:nth-child(6):hover {
    background-color: #e8e8e8 !important;
}