.navigate_source_uris{
  width: 115px;
  display: flex;
  align-content: center ;
  vertical-align: bottom;
  justify-content: space-between;
  text-align: center;
  margin-top: -32px;
  margin-left: 45%;
  white-space: nowrap;
}

.navigate_uris_left {
  user-select: none;
  cursor: pointer;
  width: 2vw;
  text-align: center;
  align-content: center ;
  justify-content: center;
  background:none;
  outline: none !important;
  > .navigateIcon {
      display: block;
      margin-left: -6px;
  }
}
.URI_Index{
  > p {
  border: 1px solid #7F86B5;
  border-radius: 4px;
  background-color: #7F86B5;
  color: #ffffff;
  width: 32px;
  height: 32px;
  padding-top: 4px;

  font-size: 15px;

  }
}

.navigate_uris_right {
  user-select: none;
  cursor: pointer;
  width: 2vw;
  background:none;
  outline: none !important;
  text-align: center;
  outline: none;
  align-content: center ;
  justify-content: center;
  > .navigateIcon {
      display: block;
      margin-left: -6px;
  }
}