.navigate_source_uris{
  width: 110px;
  display: flex;
  align-content: center ;
  vertical-align: bottom;
  justify-content: space-between;
  text-align: center;
  margin-top: -32px;
  margin-left: 45%;
  white-space: nowrap;
}

.navigate_uris_left,
.navigate_uris_right {
  user-select: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  text-align: center;
  padding: 1px 6px !important;
  background:none;
  outline: none !important;
  > .navigateIcon {
      display: block;
      margin-left: 3px;
      margin-top: 1px;
  }
}

.URI_Index{
  > p {
  border: 1px solid #7F86B5;
  border-radius: 4px;
  background-color: #7F86B5;
  color: #ffffff;
  width: 32px;
  height: 32px;
  padding-top: 4px;
  font-size: 15px;
  }
}
