/*@import '../node_modules/antd/dist/antd.css';*/
@import '../node_modules/marklogic-ui-library/dist/styles.min.css';

body {
	font-family: 'Helvetica Neue';
}

.ant-layout-header {
    background-color: #031529;
}

/* Ensure footer is pinned to bottom of browser or end of content */
#root {
    height: 100%;
    margin: 0;
}
main {
    flex: 1;
}
#background {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.ant-layout-footer {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    margin: 0;
    background-color: transparent;
}

/* Handle any excess scroll space below background image */
.bgColorImage {
    background-color: #ac4c58;
}
.bgColorWhite {
    background-color: #fff;
}

/* Customize icons in header */
ul#global-icons.ant-menu .ant-menu-item.ant-menu-item-selected {
    background-color: transparent;
}
ul#global-icons.ant-menu .ant-menu-item,
ul#global-icons.ant-menu .ant-dropdown-trigger {
    padding: 0 15px;
}
ul#global-icons.ant-menu .ant-menu-item .anticon.anticon-search,
ul#global-icons.ant-menu .ant-menu-item .anticon.anticon-question-circle,
ul#global-icons.ant-menu .ant-menu-item .anticon.anticon-setting,
ul#global-icons.ant-menu .ant-menu-item i.tour,
ul#global-icons.ant-menu .ant-dropdown-trigger .anticon.anticon-user {
    font-size: 24px;
}

/* Load Data Contextual Menu, based on: */
/* https://github.com/vkbansal/react-contextmenu/blob/master/examples/react-contextmenu.css */
div#load-data-card-view nav.react-contextmenu {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d9d9d9;
    border-radius: .25rem;
    color: rgba(0,0,0,0.65);
    font-family: "Helvetica Neue";
    font-size: 14px;
    margin: 2px 0 0;
    min-width: 160px;
    outline: none;
    opacity: 0;
    padding: 5px 0;
    pointer-events: none;
    text-align: left;
    transition: opacity 250ms ease !important;
}
div#load-data-card-view nav.react-contextmenu.react-contextmenu--visible {
    opacity: 1;
    pointer-events: auto;
    z-index: 9999;
}
div#load-data-card-view .react-contextmenu-item {
    background: 0 0;
    border: 0;
    color: #373a3c;
	cursor: pointer;
    font-weight: 400;
    line-height: 1.5;
    padding: 3px 20px;
    text-align: inherit;
    white-space: nowrap;
}
div#load-data-card-view .react-contextmenu-item.react-contextmenu-item--active,
div#load-data-card-view .react-contextmenu-item.react-contextmenu-item--selected {
    color: #44499C;
    text-decoration: none;
}
div#load-data-card-view .react-contextmenu-item.react-contextmenu-submenu {
	padding: 0;
}
div#load-data-card-view .react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item:after {
    content: "▶";
    font-size: 9px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 7.4px;
}

/* Tool Bench Flows view */
div#flows-container div.ant-collapse-content-box {
    padding: 4px 16px 16px;
}
div#flows-container div.ant-collapse-item div.ant-collapse-content {
    border-top: white;
}
div#flows-container div.ant-card-bordered {
    border: 1px dashed rgb(221, 221, 221);
}
div#flows-container div.ant-card-head {
    border-bottom: white;
}
div#flows-container div.ant-card-body {
    border-top: white;
    padding: 4px 12px 12px;
}