@import "../../theme/HCVariables.scss";

.tabular{
}

.events{
    margin-left: 10px;
}

.columnSelector {
    display: flex;
    justify-content: flex-end;
}

.fixedPopup {
    margin-top: 2px;
    margin-bottom: 3px;
    display: inline-flex;
}

.columnIcon {
    cursor: pointer;
    &:hover{
        color: var(--hoverColor);
    }
}

.spanColumnIcon {
    padding-top: 2px;
    margin-left: 5px;
}

.DropdownMenuItem {
    display: flex;
    vertical-align: middle;
    max-height: 4vh;
    height: 40px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0 16px;
    &:hover{
        background-color: $background-hover;
    }
}

.divider {
    margin-top: 8px;
    margin-bottom: 8px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    height: 20px;
}

.popoverJobResults {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border: 0px !important;
}

.job-results-table th:nth-child(2) {
    width: 320px !important;
    max-width: 320px !important;
  }