.tabular{
}

.events{
    margin-left: 10px;
}

.columnSelector {
    display: flex;
    justify-content: flex-end;
}

.fixedPopup {
    margin-top: 2px;
    margin-bottom: 3px;
}

.columnIcon {
    cursor: pointer;
    &:hover{
        color: var(--hoverColor);
    }
}

.DropdownMenuItem {
    display: flex;
    vertical-align: middle;
    max-height: 4vh;
    height: 40px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0 16px;
    &:hover{
        background-color: #E9F7FE;
    }
}

.divider {
    margin-top: 8px;
    margin-bottom: 8px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    height: 20px;
}
