<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.springframework" level="WARN"/>
  <logger name="org.apache.http" level="WARN"/>

  <logger name="com.marklogic" level="INFO"/>
  <logger name="com.marklogic.hub.job" level="INFO"/>
  <logger name="com.marklogic.spring.batch.hub" level="ERROR"/>
  <logger name="com.marklogic.spring.batch.core.repository" level="ERROR"/>
  <logger name="com.marklogic.client" level="ERROR"/>
  <logger name="com.marklogic.appdeployer" level="INFO"/>
  <logger name="com.marklogic.hub" level="INFO"/>
  <logger name="com.marklogic.contentpump" level="INFO"/>

  <root level="ERROR">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
