@import "../../theme/HCVariables.scss";

.searchPaginationContainer {
    position: relative;
    float: right;
    padding: 8px 3px 8px 8px;
}

.paginationContainer {
    display: flex;
    gap: 4px;
}
.paginationWrapper {
    li[class="page-item active"] {
        border: none;
        margin-left: 0 !important;
        a[class="page-link"],
        span[class="page-link"] {
            background: #fff;
            border: 1px solid $primary;
            color: $primary;
            border-radius: 4px;
            padding: 1px 7px;
        }
    }
    a[class="page-link"],
    span[class="page-link"] {
        margin-left: 0 !important;
        border: none;
        background: #fff;
        padding: 2px 8px;
        &:focus,
        &:hover {
            border: none;
            box-shadow: none;
        }
    }
    &:first-child {
        li {
            &:first-child {
                a[class="page-link"],
                span[class="page-link"] {
                    span {
                       display: none;
                    }
                    &::after {
                        content: "<";
                    }
                }
            }
            &:last-child {
                 a[class="page-link"],
                span[class="page-link"] {
                    span {
                       display: none;
                    }
                    &::after {
                        content: ">";
                    }
                }
            }
        }
    }
}

.select {
    padding-top: 0px !important;
    padding-bottom: 0 !important;
    margin-top: 2px;
    height: 27px;
}
.corner {
    a[class="page-link"],
    span[class="page-link"] {
        font-size: 16px;
    }
}
.disable {
    cursor: not-allowed;
    border: none;
    a {
        border: none;
    }
}
.optionSelected {
    font-weight: 600;
    background-color: $bg-clean;
}
