@import "../../theme/HCVariables.scss";

.fileExportIcon{
    cursor: pointer;
    font-size: 21px;
    margin-left: 8px;
    margin-top: 2px;
    color: $secondary-gray;
    &:hover{
      color: var(--hoverColor);
    }
}
