<div layout-padding layout="column" layout-align="center center" class="settings-page">
  <h3>Data Hub Settings</h3>

  <table left-align
    class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <tbody>
      <tr>
        <td>
          <label>MLCP Path</label>
          <p>
            By default QuickStart runs MLCP by including the MLCP Jar internally. In some cases you might want to run a
            specific version of MLCP. If that's the case, set the location to MLCP here.
          </p>
          <i *ngIf="mlcpPath && mlcpPath.length > 0 && isMlcpPathValid" class="fa fa-check"></i>
          <i *ngIf="mlcpPath && mlcpPath.length > 0 && !isMlcpPathValid" class="fa fa-close"></i>
          <mdl-textfield type="text"
            name="mlcpPath"
            [(ngModel)]="mlcpPath"></mdl-textfield>
        </td>
      </tr>
      <tr>
        <td>
          <label>Flow Tracing</label>
          <p>
            Enables or Disable Trace Logging for Flows. Even when off, traces will be logged
            for uncaught exceptions. We recommend you turn this off in production.
            <mdl-switch
              class="primary-color" [ngModel]="traceEnabled()"
              (change)="toggleTrace($event)"></mdl-switch>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <label>Request Debugging</label>
          <p>
            Enables or Disables Debug Logging for Hub HTTP Requests to MarkLogic.
            Turning this on will result in more verbose output for Hub related
            HTTP requests.
            <mdl-switch class="primary-color"
              [ngModel]="debugEnabled()"
              (change)="toggleDebug($event)"></mdl-switch>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <label>Uninstall the Data Hub</label>
          <p>
            Use this button to uninstall the Data Hub Framework from MarkLogic.
            <button mdl-button mdl-button-type="raised"
              mdl-colored mdl-ripple
              [disabled]="isUninstalling || isInstalling"
              (click)="uninstall()">Uninstall Hub</button>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <label>Redeploy the Data Hub</label>
          <p>
            Use this button to reinstall the Data Hub Framework into MarkLogic.
            <button mdl-button mdl-button-type="raised"
              mdl-colored mdl-ripple
              [disabled]="isUninstalling || isInstalling"
              (click)="redeploy()">Redeploy Hub</button>
          </p>
        </td>
      </tr>
    </tbody>
  </table>

  <section flex layout-padding layout="column" class="uninstall-status" *ngIf="uninstallStatus">
    <h3>Uninstall Status</h3>
    <mdl-progress mode="determinate" [progress]="percentComplete"></mdl-progress>
    <div flex>
      <pre>{{uninstallStatus}}</pre>
    </div>
  </section>
  <section flex layout-padding layout="column" class="uninstall-status" *ngIf="installStatus">
    <h3>Redeploy Status</h3>
    <mdl-progress mode="determinate" [progress]="percentComplete"></mdl-progress>
    <div flex>
      <pre>{{installStatus}}</pre>
    </div>
  </section>
</div>
