@import 'variables';

pre {
  margin: 0px;
  border: 1px solid unquote("rgb(#{$palette-datahub-800})");
  background-color: unquote("rgb(#{$palette-datahub-A100})");
  padding: 1rem;
  overflow: auto;
  display: flex;
  flex: 1;
}


.uninstall-status {
  h3 {
    text-align: center;
  }
}
