<div layout-padding layout="column" layout-align="center center">
  <h1>Data Hub Settings</h1>

  <div class="debug-status">
    <mdl-switch
      mdl-tooltip="Enables or Disables Debug Logging for Hub HTTP Requests to MarkLogic."
      class="primary-color" [ngModel]="debugEnabled()" (change)="toggleDebug($event)">Debugging</mdl-switch>
  </div>

  <div class="trace-status">
    <mdl-switch
      mdl-tooltip="Enables or Disable Trace Logging for Flows"
      class="primary-color" [ngModel]="traceEnabled()" (change)="toggleTrace($event)">Tracing</mdl-switch>
  </div>

  <div>
    <button mdl-button mdl-button-type="raised"
      mdl-colored mdl-ripple
      [disabled]="isUninstalling || isInstalling"
      (click)="uninstall()">Uninstall Hub</button>
  </div>

  <div>
    <button mdl-button mdl-button-type="raised"
      mdl-colored mdl-ripple
      [disabled]="isUninstalling || isInstalling"
      (click)="redeploy()">Redeploy Hub</button>
  </div>

  <section flex layout-padding layout="column" class="uninstall-status" *ngIf="uninstallStatus">
    <h3>Uninstall Status</h3>
    <mdl-progress mode="determinate" [progress]="percentComplete"></mdl-progress>
    <div flex>
      <pre>{{uninstallStatus}}</pre>
    </div>
  </section>
  <section flex layout-padding layout="column" class="uninstall-status" *ngIf="installStatus">
    <h3>Redeploy Status</h3>
    <mdl-progress mode="determinate" [progress]="percentComplete"></mdl-progress>
    <div flex>
      <pre>{{installStatus}}</pre>
    </div>
  </section>
</div>
