<div class="jobs-page" layout-padding layout="column" layout-align="center center">
  <h1>Jobs</h1>

  <div class="search-box" flex layout-align="center center" layout="row">
    <form (submit)="searchClicked.emit($event)" flex layout-align="center center" layout="row">
      <input
        type="search"
        name="searchText"
        [(ngModel)]="searchText"
        (ngModelChange)="searchTextChanged.emit($event)"
        placeholder="Enter you search query here..." />
      <button type="submit" mdl-colored="primary" mdl-button mdl-button-type="raised">Search</button>
    </form>
  </div>
  <div *ngIf="!loadingJobs" layout="column" flex layout-align="center center" class="full-width">
    <app-pagination [start]="searchResponse.start"
          [total]="searchResponse.total"
          [pageLength]="searchResponse.pageLength"
          (pageChanged)="pageChanged.emit($event)"></app-pagination>
    <div *ngIf="!loadingJobs && (!jobs || jobs.length === 0)">No Jobs</div>
    <div class="mdl-grid results">
      <div class="mdl-cell mdl-cell--2-col">
        <app-facets
          [facets]="searchResponse.facets"
          [(activeFacets)]="activeFacets"
          (activeFacetsChange)="activeFacetsChange.emit($event)"></app-facets>
      </div>
      <div class="mdl-cell mdl-cell--10-col">
        <table left-align
          class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp"
          *ngIf="jobs && jobs.length > 0">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Type</th>
              <th class="mdl-data-table__cell--non-numeric">Job ID</th>
              <th class="mdl-data-table__cell--non-numeric">Entity Name</th>
              <th class="mdl-data-table__cell--non-numeric">Flow Name</th>
              <th class="mdl-data-table__cell--non-numeric">Status</th>
              <th class="mdl-data-table__cell--non-numeric">Created</th>
              <th class="mdl-data-table__cell--non-numeric">Duration</th>
              <th class="mdl-data-table__cell--non-numeric">Output</th>
              <th class="mdl-data-table__cell--non-numeric"></th>
              <th class="mdl-data-table__cell--non-numeric job-actions">
                <button mdl-button #btn1="mdlButton" (click)="m1.toggle($event, btn1)" mdl-ripple>Action
                  <i class="material-icons">keyboard_arrow_down</i></button>
                <mdl-menu #m1="mdlMenu" mdl-menu-position="bottom-left">
                  <mdl-menu-item mdl-ripple (click)="exportJobsClicked.emit($event)">Export Jobs and Traces</mdl-menu-item>
                  <mdl-menu-item mdl-ripple [attr.disabled]="selectedJobs.length === 0 ? 'disabled' : null" (click)="deleteJobsClicked.emit($event)">Delete Jobs and Traces</mdl-menu-item>
                </mdl-menu>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let job of jobs" [ngClass]="{'error' : job.status === 'FAILED' }">
              <td><i class="mdi" [ngClass]="job.iconClass"></i> {{job.flowType}}</td>
              <td>{{job.jobId}}</td>
              <td>{{job.entityName}}</td>
              <td>{{job.flowName}}</td>
              <td>{{job.status}}</td>
              <td>{{job.startTime | datePipe}}</td>
              <td><span *ngIf="job.endTime">{{job.duration}} seconds</span></td>
              <td>
                <mdl-button
                  *ngIf="job.jobOutput || job.hasLiveOutput"
                  mdl-button-type="raised" mdl-colored="primary" mdl-ripple
                  (click)="showConsoleClicked.emit(job)"><i class="fa fa-terminal"></i></mdl-button>
              </td>
              <td>
                <span
                  tooltip="Show the Traces for this job."
                  container="body">
                  <mdl-button
                    mdl-button-type="icon" mdl-colored="primary" mdl-ripple
                    (click)="showTracesClicked.emit(job.jobId)">
                    <i (click)="showTracesClicked.emit(job.jobId)" class="fa fa-flash"></i>
                  </mdl-button>
                </span>
              </td>
              <td class="job-delete-checkbox">
                <mdl-checkbox
                  ng-checked="selectedJobs.indexOf(job.jobId) !== -1"
                  (click)="toggleSelectJobClicked.emit(job.jobId)"></mdl-checkbox>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="loadingJobs" flex layout="column" layout-align="center center">
    <h3>Loading Jobs...</h3>
    <div class="center-text">
      <mdl-spinner single-color active></mdl-spinner>
    </div>
  </div>
</div>
