@import "../../../../theme/HCVariables.scss";

.contextMenu {
    background-color: $background-light;
    border-radius: 4px;
    position: absolute;
    padding: 7px 0;
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
}
.contextMenuItem{
    padding: 5px 12px;
    background-color: transparent;
    cursor: pointer;
    &:hover {
        background-color: $background-hover;
    }
}