<div class="selected-entity" *ngIf="entity">
  <div class="mdl-dialog__title">
    <div>{{entity.name || 'New Entity'}}</div>
    <div class="mdl-layout-spacer"></div>
    <mdl-button mdl-button-type="icon" (click)="cancel()">
      <i class="fa fa-close"></i>
    </mdl-button>
  </div>
  <div class="mdl-dialog__content" #dialogContent>
    <div>
      <mdl-textfield type="text" autofocus label="Title" required [(ngModel)]="entity.info.title" floating-label></mdl-textfield>
      <span *ngIf="!validTitle" class="alert-text">Only Alphanumeric characters are allowed in the Title</span>
    </div>
    <div>
      <mdl-textfield type="text" label="Version" required [(ngModel)]="entity.info.version" floating-label></mdl-textfield>
    </div>
    <div>
      <mdl-textfield type="text" label="Description" [(ngModel)]="entity.info.description" floating-label></mdl-textfield>
    </div>
    <div>
      <mdl-textfield type="text" label="Base URI" [(ngModel)]="entity.info.baseUri" floating-label></mdl-textfield>
    </div>
    <div class="properties-heading">
      <div class="properties-title">Properties</div>
      <span class="help-icon">
        <a href="https://marklogic.github.io/marklogic-data-hub/refs/index-settings/" target="_blank"><i class="fa fa-question-circle fa-lg"></i></a>
      </span>
    </div>
    <div class="toolbar">
      <button id="add-property" mdl-button mdl-button-type="mini-fab" mdl-colored="primary" (click)="addProperty()">
        <mdl-icon>add</mdl-icon>
      </button>
      <button id="delete-property" [disabled]="selectedCount() === 0" mdl-button mdl-button-type="mini-fab" (click)="deleteSelectedProperties()">
        <mdl-icon>delete</mdl-icon>
      </button>
    </div>
    <table class="properties">
      <thead>
        <th><input type="checkbox" (change)="toggleSelection($event)"></th>
        <th class="col-toggler"><i class="fa fa-key" tooltip="Primary Key" placement="top"></i></th>
        <th (click)="toggleRangeIndexSelection()" class="col-toggler"><i class="fa fa-bolt" tooltip="Element Range Index" placement="top"></i></th>
        <th (click)="togglePathRangeIndexSelection()" class="col-toggler"><i class="fa fa-code" tooltip="Path Range Index" placement="top"></i></th>
        <th (click)="toggleWordLexiconSelection()" class="col-toggler"><i class="fa fa-krw" tooltip="Word Lexicon" placement="top"></i></th>
        <th (click)="toggleRequiredSelection()" class="col-toggler"><i class="fa fa-exclamation" tooltip="Required Field" placement="top"></i></th>
        <th (click)="togglePiiSelection()" class="col-toggler"><i class="fa fa-lock" tooltip="Personally Identifiable Information" placement="top"></i></th>
        <th>Name</th>
        <th>Type</th>
        <th>Cardinality</th>
        <th>Description</th>
      </thead>
      <tbody>
        <tr *ngFor="let property of entity.definition.properties; let i = index">
          <td><input type="checkbox" [(ngModel)]="property.selected"></td>
          <td class="col-toggler" (click)="togglePrimaryKey(property)"><i [ngClass]="{'active': property.isPrimaryKey}" class="fa fa-key" tooltip="Primary Key" placement="top"></i></td>
          <td class="col-toggler" (click)="property.hasElementRangeIndex = !property.hasElementRangeIndex"><i [ngClass]="{'active': property.hasElementRangeIndex}" class="fa fa-bolt" tooltip="Element Range Index" placement="top"></i></td>
          <td class="col-toggler" (click)="property.hasRangeIndex = !property.hasRangeIndex"><i [ngClass]="{'active': property.hasRangeIndex}" class="fa fa-code" tooltip="Path Range Index" placement="top"></i></td>
          <td class="col-toggler" (click)="property.hasWordLexicon = !property.hasWordLexicon"><i [ngClass]="{'active': property.hasWordLexicon}" class="fa fa-krw" tooltip="Word Lexicon" placement="top"></i></td>
          <td class="col-toggler" (click)="property.required = !property.required"><i [ngClass]="{'active': property.required}" class="fa fa-exclamation" tooltip="Required Field" placement="top"></i></td>
          <td class="col-toggler" (click)="property.pii = !property.pii"><i [ngClass]="{'active': property.pii}" class="fa fa-lock" tooltip="Personally Identifiable Information" placement="top"></i></td>
          <td><input type="text" name="name" [ngClass]="{'invalid':!isPropertyValid(property)}" [(ngModel)]="property.name" required></td>
          <td>
            <select [ngModel]="getTypeForEdit(property)" (ngModelChange)="setType(property, $event)">
              <option *ngFor="let option of dataTypes" [disabled]="!!option.disabled" [ngValue]="option.value">{{option.label}}</option>
            </select>
            <span *ngIf="property.isString" (click)="setCollation(property)">
              <i class="fa fa-sort-alpha-asc"></i>
            </span>
          </td>
          <td>
            <select [ngModel]="getCardinality(property)" (ngModelChange)="setCardinality(property, $event)">
              <option *ngFor="let option of cardinalities" [ngValue]="option.value">{{option.label}}</option>
            </select>
          </td>
          <td><input type="text" [(ngModel)]="property.description" (keydown)="onDescKey($event, i)"></td>
        </tr>
      </tbody>
    </table>
    <span *ngIf="!isValid" class="alert-text">Property names are required, must be unique and whitespaces are not allowed</span>
  </div>
  <div class="mdl-dialog__actions">
    <button mdl-button mdl-button-type="raised" mdl-colored="primary" [disabled]="!isValid" (click)="saveEntity()">Save</button>
    <button mdl-button mdl-button-type="raised" (click)="cancel()">Cancel</button>
  </div>
</div>
