<div layout-padding layout="column" layout-align="center center" class="map-page">

  <div class="map-container2">

    <div id="map-heading">

      <div id="map-name">
        <h1>
         {{mapping.name}}
          <!-- <p>Version: {{mapping.version}}</p> -->
          <p *ngIf="!editingDesc">
            <span *ngIf="!mapping.description" (click)="editingDesc=true" class="no-desc">No description</span>
            <span *ngIf="mapping.description" (click)="editingDesc=true" class="desc">{{ mapping.description }}</span>   <span class="fa fa-pencil edit-item" (click)="editingDesc=true"></span>
          </p>
          <p *ngIf="editingDesc" class="edit-desc">
            <input type="text" class="edit-desc-val" [(ngModel)]="editDescVal" (keypress)="keyPressDesc($event)" />
            <span class="edit-save" (click)="onUpdateDesc();"><i class="fa fa-check"></i></span>
            <span class="edit-cancel" (click)="cancelEditDesc();"><i class="fa fa-remove"></i></span>
          </p>
        </h1>
      </div>

      <div id="save-map">
        <mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple ng-class="btn-save-map" [disabled]="!mapChanged()" (click)="mapChanged() && onSaveMap()">Save Mapping</mdl-button>
        <mdl-button mdl-button-type="raised" mdl-colored mdl-ripple ng-class="btn-cancel-map" [disabled]="!mapChanged()" (click)="mapChanged() && onResetMap()">Reset</mdl-button>
      </div>

    </div>

    <div id="source">
      <div id="src-heading" #srcheading>
        <div class="item-title">
          <div class="item-type">Source</div>
          <span class="help-icon">
            <a href="https://marklogic.github.io/marklogic-data-hub/harmonize/mapping/#changing-the-mapping-source-document" target="_blank"><i class="fa fa-question-circle fa-lg"></i></a>
          </span>
        </div>
        <p *ngIf="!editingURI" class="item-identifying-info">
          <span class="uri-label" tooltip="The URI of the source document from which QuickStart generates the list of source property names." container="body">URI:</span>
          <span (click)="editingURI=true" ng-class="sample-doc-uri" class="sample-doc-uri" tooltip="{{ getURITooltip(mapping.sourceURI, 45) }}" container="body">{{ getLastChars(mapping.sourceURI, 45, '...') }}</span>
          <span class="fa fa-pencil edit-item" (click)="editingURI=true"></span>
        </p>
        <p *ngIf="editingURI" class="edit-uri">
          <span class="uri-label" tooltip="The URI of the source document from which QuickStart generates the list of source property names." container="body">URI:</span>
          <input type="text" class="edit-uri-val" [(ngModel)]="editURIVal" (keypress)="keyPressURI($event)" />
          <span class="edit-save" (click)="onUpdateURI();"><i class="fa fa-check"></i></span>
          <span class="edit-cancel" (click)="cancelEditURI()"><i class="fa fa-remove"></i></span>
        </p>
      </div>

      <!-- Dropdown row for each entity property -->
      <div *ngFor="let entityProp of chosenEntity?.definition.properties; let i = index;" class="src-prop-container">

          <div class="btn-group" dropdown #dropdown="bs-dropdown" (onShown)="filterFocus[entityProp.name] = true;" (onHidden)="filterFocus[entityProp.name] = false;">
            <button dropdownToggle type="button" class="btn prop-select {{ 'prop-entity-' + entityProp.name }}">

              <div class="prop-clear-control {{ 'prop-clear-control-' + entityProp.name }}">
                <span *ngIf="conns[entityProp.name]"
                      class="fa fa-remove"
                      (click)="clearSelection($event, entityProp.name)">
                </span>
              </div>

              <!-- Connection exists, display selected item -->
              <div *ngIf="conns[entityProp.name]">
                <div class="prop-select-content {{ 'prop-select-content-' + entityProp.name }}">
                  <span class="prop-name">{{ getConnSrcData(entityProp.name, 'key') }}</span>
                  <span class="prop-type">{{ getConnSrcData(entityProp.name, 'type') }}</span>
                  <span class="prop-val" title="{{ getConnSrcData(entityProp.name, 'val') }}">{{ isQuoted(getConnSrcData(entityProp.name, 'type')) ? '"' : '' }}{{ getConnSrcData(entityProp.name, 'val') | slice:0:valMaxLen }}{{ getConnSrcData(entityProp.name, 'val').length > valMaxLen ? '...' : '' }}{{ isQuoted(getConnSrcData(entityProp.name, 'type')) ? '"' : '' }}</span>
                </div>
              </div>

              <!-- Connection does not exist, display placeholder -->
              <div *ngIf="!conns[entityProp.name]">
                <div class="prop-select-content unselected">Select...</div>
              </div>

              <div class="prop-select-control"><span class="fa fa-caret-down"></span></div>
            </button>
            <div *dropdownMenu class="dropdown-menu" role="menu">
              <div class="dropdown-filter dropdown-filter-{{entityProp.name}}"><input type="text" [(ngModel)]="filterText[entityProp.name]" [focusElement]="filterFocus[entityProp.name]" (click)="$event.stopPropagation();" /></div>
              <ul class="prop-select-menu prop-select-menu-{{entityProp.name}}"l>
                <li *ngFor="let srcProp of sampleDocSrcProps | listFilter:['key','type']:filterText[entityProp.name]"
                    role="menuitem"
                    class="prop-select-item"
                    (mouseup)="handleSelection(entityProp.name, srcProp.key); dropdown.hide();">
                  <a class="dropdown-item dropdown-item-{{srcProp.key}}" href="javascript:void(0)">
                    <span class="prop-name">{{srcProp.key}}</span>
                    <span class="prop-type">{{srcProp.type}}</span>
                    <span class="prop-val" title="{{type}}">{{ isQuoted(srcProp.type) ? '"' : '' }}{{ srcProp.val | slice:0:valMaxLen }}{{ srcProp.val.length > valMaxLen ? '...' : '' }}{{ isQuoted(srcProp.type) ? '"' : '' }}</span>
                  </a>
                </li>
              </ul>
            </div>
          </div><!-- button-group -->

      </div><!-- ngFor -->

    </div><!-- source -->

    <div id="harmonized">
      <div id="harm-heading">
        <div class="item-title">
          <div class="item-type">Entity</div>
          <span class="help-icon">
            <a href="https://marklogic.github.io/marklogic-data-hub/refs/index-settings/" target="_blank"><i class="fa fa-question-circle fa-lg"></i></a>
          </span>
        </div>
        <p class="item-identifying-info"ng-class="title-entity-model">{{ chosenEntity?.info.title }}
        </p>
      </div>

      <div *ngIf="chosenEntity?.definition.properties.length === 0">
        <em>{{ chosenEntity?.info.title }} has no properties to map. Add them in the <a [routerLink]="['/entities']">Entities</a> view.</em>
      </div>

      <!-- Row for each entity property -->
      <div *ngFor="let prop of chosenEntity?.definition.properties; let i = index;">

        <div class="entity-prop-container {{ 'entity-prop-container-' + prop.name }} ">
          <span class="prop-name">{{prop.name}}</span>
          <span class="prop-type">{{prop.datatype}}</span>
          <span class="entity-icons">
            <span class="entity-icon" tooltip="Primary Key" container="body"><i class="fa fa-key fa-fw" [ngClass]="isPrimaryKey(prop.name) ? 'entity-icon-selected' : 'icon-hide'"></i></span>
            <span class="entity-icon" tooltip="Element Range Index" container="body"><i class="fa fa-bolt fa-fw" [ngClass]="hasElementRangeIndex(prop.name) ? 'entity-icon-selected' : 'icon-hide'"></i></span>
            <span class="entity-icon" tooltip="Path Range Index" container="body"><i class="fa fa-code fa-fw" [ngClass]="hasRangeIndex(prop.name) ? 'entity-icon-selected' : 'icon-hide'"></i></span>
            <span class="entity-icon" tooltip="Word Lexicon" container="body"><i class="fa fa-krw fa-fw" [ngClass]="hasWordLexicon(prop.name) ? 'entity-icon-selected' : 'icon-hide'"></i></span>
            <span class="entity-icon" tooltip="Required Field" container="body"><i class="fa fa-exclamation fa-fw" [ngClass]="isRequired(prop.name)? 'entity-icon-selected' : 'icon-hide'"></i></span>
            <span class="entity-icon" tooltip="Personally Identifiable Information" container="body"><i class="fa fa-lock fa-fw" [ngClass]="isPII(prop.name)? 'entity-icon-selected' : 'icon-hide'"></i></span>
          </span>
        </div>

      </div><!-- ngFor -->
    </div><!-- harmonized -->

  </div><!-- map-container -->

</div><!-- layout-padding -->
