<div gm-grid>
  <div gm-row class="flex-100 maps-page">
    <div gm-col class="flex-0 maps-bar">
      <span class="mdl-layout-title">
        Mappings
      </span>

      <ul class="entities mdl-list">
        <li
          class="entity mdl-list__item"
          *ngFor="let entity of entities">
          <div [attr.data-entity]="entity.name" class="mdl-list__item-primary-content">
            <i class="fa fa-industry"></i> {{ entity.name }}
            <div class="mdl-layout-spacer"></div>
            <mdl-button *ngIf="entity.hasDocs" mdl-button-type="icon" id="new-map" (click)="onShowNewMapping(entity, mappings)">
              <i class="fa fa-plus"></i>
            </mdl-button>
            <mdl-button *ngIf="!entity.hasDocs" mdl-button-type="icon" id="new-map-disabled" disabled>
              <i class="fa fa-plus"></i>
            </mdl-button>
          </div>
          <div *ngIf="!entity.hasDocs" class="no-src-docs">To enable mapping, load source data</div>
          <div *ngIf="entity.hasDocs" [attr.data-for-entity]="entity.name" class="map-container">
            <div class="padder">
              <!-- <ng-template ngFor let-type [ngForOf]="flowTypes"> -->
                <ul class="maps mdl-list">
                  <li
                    class="map mdl-list__item"
                    [ngClass]="{'active': isActiveMap(entity, map)}"
                    *ngFor="let map of entityMappingsMap.get(entity)">
                    <div [attr.data-map-name]="map.name" (click)="onEditMapping(entity, map)">
                      <span class="mdl-list__item-primary-content">
                        <i class="fa fa-map"></i>
                        {{ map.name }}
                        <span class="mdl-layout-spacer"></span>
                        <i class="fa fa-trash" (click)="onDeleteMapping($event, map)"></i>
                      </span>
                    </div>
                  </li>
                </ul>
              <!-- </ng-template> -->
            </div>
          </div>
        </li>
      </ul>

    </div>
    <gm-divider></gm-divider>
    <div gm-col class="flex-100 maps-content">
      <div class="page-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
