.selected {  
    &:empty {
     margin-bottom: 0;
      }
    & > span{
        text-transform: capitalize; 
    }
    margin-bottom: 20px;
    .facetLabel, .nameLabel {
        font-size: 14px;
        color: #666;
        font-weight: normal;
        padding-right: 8px;
    }
    .facetLabel::after {
        content: ':';
    }
    .name::after {
        content: '|';
        font-weight: normal;
        padding-left: 8px;
        padding-right: 8px;
        position:relative;
        top:-1px;
    }
    .name:last-child::after {
        content: '';
        padding-left: 2px;
        padding-right: 0;
    }
    .close {
        font-size: 12px;
        color: #666;
        font-weight: normal;
        cursor: pointer;
    }
}