<div class="matching">

<app-match-options-ui
    [matchOptions]="matchOptions"
    (createOption)="this.onCreateOption($event)"
    (saveOption)="this.onSaveOption($event)"
    (deleteOption)="this.onDeleteOption($event)"
  ></app-match-options-ui>

<app-match-thresholds-ui
    [matchThresholds]="matchThresholds"
    (createThreshold)="this.onCreateThreshold($event)"
    (saveThreshold)="this.onSaveThreshold($event)"
    (deleteThreshold)="this.onDeleteThreshold($event)"
  ></app-match-thresholds-ui>

</div>
