<div class="matching">

<app-match-options-ui
    [matchOptions]="matchOptions"
    (createOption)="this.onCreateOption($event)"
    (saveOption)="this.onSaveOption($event)"
    (deleteOption)="this.onDeleteOption($event)"
  ></app-match-options-ui>

<h2>Match Thresholds</h2>

<button>
  <span>ADD</span>
</button>

<table border=1>
  <thead>
    <tr>
      <th>Threshold Name</th>
      <th>Weight</th>
      <th>Action</th>
      <td>&nbsp;</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let mThr of matchThresholds.thresholds; let i = index;">
      <td>{{mThr.label}}</td>
      <td>{{mThr.above}}</td>
      <td>{{mThr.action}}</td>
      <td>...</td>
    </tr>
  </tbody>
</table>

</div>
