.loadCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10px;
}
.cardStyle {
    width: 300px;
    margin-top: 9px;
    text-align: left;
    align-content: left;
    padding-bottom: 0px;
    border: 1px solid #d7d6d6;
    margin-bottom: 10px;
}
 
.cardBody {
    padding: 12px;
}

.stepNameStyle {
    font-size: 20px;
    padding-bottom: 2px;
}

.lastUpdatedStyle {
    font-size: 13px;
    margin-bottom: 0px;
}

.formatContainer {
    width: 273px;
    height: 53px;
}

.popover {
    color: #FF8C00;
    align-items: flex-start;
    cursor: pointer;
}
.addNewCard {
    width: 300px;
    margin-top: 9px;
    border: 1px solid #d7d6d6;
    align-items: center;
    text-align: center;
    align-content: center;
}
.addNewCardDisabled {
    width: 300px;
    margin-top: 9px;
    border: 1px solid #d7d6d6;
    align-items: center;
    text-align: center;
    align-content: center;
    cursor: not-allowed !important;
}
.plusIcon {
    font-size: 80px;
    margin-top: 9px;
    color: #67749c;
    margin-bottom: 0px;
    cursor: pointer;
    &:hover{
        color: var(--hoverColor);
    }
}
.plusIconNewFlow {
  font-size: 15px;
  color: #44499C;
  margin-right: 10px;
  cursor: pointer;
}
.plusIconDisabled{
    font-size: 80px;
    margin-top: 16px;
    color: #67749c;
    opacity: 0.45;
    margin-bottom: 0px;
    cursor: not-allowed;
}
.editIcon{
    font-size: 20px;
    &:hover{
        color: var(--hoverColor) !important;
    }
}
.addNewContent {
    font-size: 20px;
    color: #67749c;
    margin-bottom: 7px;
    margin-top: 0px;
}
.addNewContentDisabled {
    font-size: 20px;
    color: #67749c;
    opacity: 0.5;
    margin-bottom: 7px;
    margin-top: 0px;
}
.newDataLoad {
    width: 700px;
    text-align: left;
}

.disabledIcon {
    font-size: 19px;
    opacity: 0.5;
    padding-bottom: 2px;
    cursor: not-allowed !important;
}

.runIcon {
    font-size: 19px;
    padding-top: 2px;
    &:hover{
        color: var(--hoverColor);
    }
}

.flowSelectGrid {
  font-size: 16px;
  padding-top: 30px;
}

.runNewFlow {
  display: flex;
}

.verticalDiv {
  margin-left: 15px;
  height: 55vh !important;
  margin-top: -3px;
}

.cardContainer {
    position: relative;
}

.cardLinks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.6);
}

.cardLink {
    color: #3f4692;
    background-color: #ecf6fe;
    padding: 20px 8px 8px 8px;
    font-size: 14px;
    cursor: pointer;
    &:hover{
        color:var(--hoverColor) !important;
    }
}

.cardDisabledLink {
    color: #3f4692;
    background-color: #ecf6fe;
    padding: 20px 8px 8px 8px;
    font-size: 14px;
    cursor: not-allowed;
}

.cardNonLink {
    color: rgba(0, 0, 0, 0.65);
    background-color: #ecf6fe;
    padding: 8px 8px 9px 8px;
    font-size: 14px;
    cursor: default;
}

.cardLinkSelect {
    margin-top: 7px;
    margin-bottom: 10px;
}

.sourceFormat:before {
    content:'';
    float: left;
    width: auto;
    padding-bottom: 100%;
}

.deleteIcon:hover{
    color: var(--hoverColor);
}

.stepLink {
    color: #44499C;
    &:hover{
        color: var(--hoverColor);
    }
}

.stepLink:hover {
  cursor: pointer;
  .plusIconNewFlow {
    color: var(--hoverColor);
  }
}

.newFlowStepLink {
  margin-left: 5px;
  color: var(--hoverColor);
}

.stepLinkExisting {
    color: rgba(0, 0, 0, 0.65);
}


.stepLinkSelect {
    margin-top: 5px;
}

