.loadCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10px;
}
.cardStyle {
    width: 300px;
    margin-top: 9px;
    text-align: left;
    align-content: left;
    padding-bottom: 0px;
    border: 1px solid #d7d6d6;
    margin-bottom: 10px;
}

.stepNameStyle {
    font-size: 20px;
    padding-bottom: 2px;
}

.lastUpdatedStyle {
    font-size: 13px;
    margin-bottom: 0px;
}

.formatContainer {
    width: 273px;
    height: 53px;
}

.popover {
    color: #FF8C00;
    align-items: flex-start;
    cursor: pointer;
}
.addNewCard {
    width: 300px;
    margin-top: 9px;
    border: 1px solid #d7d6d6;
    align-items: center;
    text-align: center;
    align-content: center;
}
.plusIcon {
    font-size: 80px;
    margin-top: 16px;
    color: #67749c;
    margin-bottom: 0px;
    cursor: pointer;
}
.addNewContent {
    font-size: 20px;
    color: #67749c;
    margin-bottom: 7px;
    margin-top: 0px;
}

.newDataLoad {
    width: 700px;
    text-align: left;
}

.disabledIcon {
    font-size: 19px;
    opacity: 0.5;
    padding-bottom: 2px;
    cursor: not-allowed !important;
}

.runIcon {
    font-size: 19px;
    padding-top: 2px;
}

.cardLinks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.6);
}

.cardLink {
    color: #3f4692;
    background-color: #ecf6fe;
    padding: 20px 8px 8px 8px;
    font-size: 14px;
    cursor: pointer;
}

.cardDisabledLink {
    color: #3f4692;
    background-color: #ecf6fe;
    padding: 20px 8px 8px 8px;
    font-size: 14px;
    cursor: not-allowed;
}

.cardNonLink {
    color: rgba(0, 0, 0, 0.65);
    background-color: #ecf6fe;
    padding: 8px 8px 1px 8px;
    font-size: 14px;
    cursor: default;
}

.cardLinkSelect {
    margin-top: 7px;
    margin-bottom: 10px;
}

.sourceFormat:before {
    content:'';
    float: left;
    width: auto;
    padding-bottom: 100%;
}

.stepLink {
    color: #44499C;
}

.stepLinkExisting {
    color: rgba(0, 0, 0, 0.65);
}


.stepLinkSelect {
    margin-top: 5px;
}
