.loadList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.addNewContainer {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding-top: 10px;
}

.loadTable {
    padding-top: 20px;
    & thead > tr > th {
        color: #44499C;
        background-color: #fafafa;
      };
}

.editLoadConfig{
    color: #44499C;
    cursor: pointer;
    &:hover{
        color:var(--hoverColor) !important;
    }
}

.popover {
    color: #FF8C00;
    align-items: flex-start;
    cursor: pointer;
}

.addNewButton {
    float: right;
    background-color: #394494;
    border: none;
}
.addNewButton:hover{
    background-color: #394494;
    border: none;
}

.plusIconNewFlow {
  font-size: 15px;
  color: #44499C;
  margin-right: 10px;
  cursor: pointer;
}

.settingsIcon {
    color: #44499C;
    font-size: 19px;
}

.stepLink {
    color: #44499C;
    &:hover{
        color: var(--hoverColor);
    }
}

.stepLinkExisting {
    color: rgba(0, 0, 0, 0.65);
}


.stepLinkSelect {
    margin-top: 5px;
}

.disabledStepLink {
    color: #999;
    cursor: not-allowed;
}

.deleteIcon {
    color: #B32424;
    font-size: 21px;
    align-items: flex-start;
    cursor: pointer;
    padding-bottom: 2px;
    &:hover{
        color: var(--hoverColor) !important;
    }
}

.disabledDeleteIcon {
    font-size: 21px;
    opacity: 0.5;
    padding-bottom: 2px;
    cursor: not-allowed;
}

.disabledRunIcon {
    font-size: 20px;
    opacity: 0.5;
    padding-bottom: 2px;
    padding-right: 7px;
    cursor: not-allowed !important;
}

.dropdownMenu {
    right: '80px';
}

.flowSelect {
    width: 100%;
}

.runIcon {
    font-size: 20px;
    padding-top: 2px;
    padding-right: 7px;
    color: #44499C;
    cursor: pointer;
    &:hover{
        color: var(--hoverColor);
    }
}

.flowSelectGrid {
  font-size: 16px;
  padding-top: 30px;
}

.runNewFlow {
  display: flex;
}

.verticalDiv {
  margin-left: 15px;
  height: 55vh !important;
  margin-top: -3px;
}

.stepLink:hover {
  cursor: pointer;
  .plusIconNewFlow {
    color: var(--hoverColor);
  }
}

.newFlowStepLink {
  margin-left: 5px;
  color: var(--hoverColor);
}

.sourceFormatFS{
    font-size: 12px;
    color: #999;
}
