.loadList{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.addNewContainer{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding-top: 20px;
}

.loadTable {
    padding-top: 20px;
    & thead > tr > th {
        color: #44499C;
        background-color: #fafafa;
      };
}

.editLoadConfig{
    color: #44499C;
    cursor: pointer;
}

.popover {
    color: #FF8C00;
    align-items: flex-start;
    cursor: pointer;
}

.addNewButton {
    float: right;
    background-color: #394494;
    border: none;
}
.addNewButton:hover{
    background-color: #394494;
    border: none;
}

.settingsIcon {
    color: #44499C;
    font-size: 19px;
}

.stepLink{
    color: #44499C;
}

.stepLinkExisting{
    color: rgba(0, 0, 0, 0.65);
}


.stepLinkSelect{
    margin-top: 5px;
}

.disabledStepLink{
    color: #999;
    cursor: not-allowed;
}

.deleteIcon {
    color: #B32424;
    font-size: 19px;
    align-items: 'flex-start';
    cursor: pointer;
    padding-bottom: 2px;

}

.disabledDeleteIcon {
    font-size: 19px;
    opacity: 0.5;
    pointer-events: none;
    padding-bottom: 2px;
}
.sourceFormatFS{
    font-size: 12px;
    color: #999;
}