#switch-view .ant-radio-group-large .ant-radio-button-wrapper {
    height: 40px;
    font-size: 24px;
    border-color: #999;
    color: #999
}

#switch-view .ant-radio-group-large .ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
    border-color: #5B69AF;
    color: #5B69AF
}

#switch-view .ant-radio-group-large .ant-radio-button-wrapper:hover {
    color: var(--hoverColor);
  }

.radioGroupView:focus-within {
    box-shadow: 0 0 1px 1px #7F86b5;
    background-color: #7f86b5;
}
