@import '../../theme/styles/variables';

:host {
  display: block;
  max-width: 100%;
}

pre {
  margin: 0px;
  border: 1px solid unquote("rgb(#{$palette-datahub-800})");
  background-color: unquote("rgb(#{$palette-datahub-A100})");
  padding: 1rem;
  overflow: auto;
  display: flex;
  flex: 1;
}

.fa-check {
  color: green;
}

.fa-close {
  color: red;
}

label {
  font-weight: bold;
}
p {
  color: #777;
  margin: 0px;
}

.mdl-switch {
  float: right;
}

button {
  float: right;
}

.mdl-data-table {
  white-space: normal;

  tbody tr {
    &:hover {
      background-color: inherit;
    }

    cursor: inherit;
  }
}

.mdl-textfield {
  padding: 0px;
  width: 100%;
}

.uninstall-status {
  h3 {
    text-align: center;
  }
}

/deep/ .mdl-progress {
  width: 90%;
  margin: 0pt auto;
}
