.saveDropdown {
    margin-top: -39px;
    margin-bottom: 43px;
    margin-left: 10px;
}

.description {
  margin-left: 10px;
  font-size: 12px;
  color: #777777;
}

.longDescription {
  margin-left: 10px;
  font-size: 12px;
  color: #777777;
  text-overflow: ellipsis;
}

.disabledSaveIcon {
  color: grey;
  opacity: 0.5;
  cursor: not-allowed;
  marginBottom: 9px;
}

.enabledSaveIcon {
  cursor: pointer;
  color: #5b69af;
  marginBottom: 9px;
}
