@import "../../../theme/HCUtils.scss";

.modal {
    &.modal-header {
    border-bottom: 0 none;
    }
}

.modal .modal-footer {
    border-top: 0 none;
}

.title {
    font-size :23px;
}

.newDataLoadForm {
    margin-left: 10px;
    margin-top: 20px;
}
.questionCircle {
    font-size: 12px;
    color: #7F86B5;
}

.asterisk{
    color: $danger;
}

.upload {
    margin-right: 0px;
    width: 100%;
    display: flex;
    align-items: center;
}

.submitButtonsForm{
    text-align: right;
    top: -5px;
    margin-bottom: -15px;
    margin-right: 5px;
}

span.readOnlyLabel {
    display: inline-block;
    font-size: 12px;
    position: absolute;
    top: 8px;
    left: 0;
    color: #999;
}

.fieldSeparator{
    width: 100px;
}
.otherSeparator{
    width: 120;
}

.ConfirmationMessage {
    font-size: 16px
}

.fileUploadErrorContainer{
    margin-top: 10px;
    margin-bottom: 0px;
    color: $danger;
    line-height: 4px;
    padding-left: 4px;
    .fileUploadError{
        margin: 0;
        color: $danger;
    }
}

.input{
    width: 95%;
}

.input:focus {
    outline: 2px solid #7f86b5;
    outline-offset: 2px;
}

.editLoadTooltip:focus {
    outline: 2px solid #7f86b5;
    outline-offset: 2px;
}

.tooltipRef {
    margin-left: 10px;
}

.tooltipRef:focus {
    outline: 2px solid #7f86b5;
    outline-offset: 2px;
}

.inputRef {
    margin-right: 10px;
}

.inputRef:focus {
    outline: 2px solid #7f86b5;
    outline-offset: 2px;
}

.lineBreak {
    line-height: 1px;
    width: 0px;
    margin-bottom: -20px;
}

.newLoadCardTitle{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333333;
    margin: -25px 10px 30px -8px;
}

.disabledSaveButton{
    pointer-events: none;
    &:disabled{
        &:hover{
            background-color: #f5f5f5;
            border-color: #d9d9d9;
        }
    }
}

.disabledCursor{
    cursor: not-allowed;
}

.questionMarkIcon{
    margin-left: 7px;
}

.validationError {
    @extend .validationError;
}
