
.nestedTable{
  padding: 30px;
  margin: 0px;
}

.redirectIcons a {
  padding: 8px;
  color: #666;
}

.columnSelector {
  padding: 8px;
  margin-right: 5px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

