@import '../../theme/styles/variables';

$title-color: unquote("rgb(#{$palette-datahub-100})");
$table-title-color: unquote("rgb(#{$palette-datahub-50})");
$selected-color: unquote("rgb(#{$palette-datahub-500})");
$red-color: unquote("rgb(#{$palette-datahub-red})");

:host {
  display: block;
}

.entity-def-box {
  min-width: $entity-model-min-width;

  background-color: #eee;
  border: 1px solid #ccc;

  &.selected {
    border: 2px solid $selected-color;
  }

  &.has-flows {
    border: 2px solid $selected-color;
  }

  .title {
    cursor: move;

    app-inline-edit {
      display: inline-block;
    }


    background-color: $title-color;
    color: black;
    font-weight: bold;
    padding: 5px;

    .version {
      margin-left: 10px;
      font-weight: normal;
      color: #333;
    }

    .help-icon {
      padding-left: 15px;
      i.fa-question-circle {
        cursor: pointer;
      }
      a, a:hover {
        color: #333;
      }
    }

    .edit-area {
      float: right;

      .fa-remove {
        color: $red-color;
      }

      .edit-start {
        cursor: pointer;
      }

      .delete-entity {
        padding-left: 5px;
        cursor: pointer;
      }

      .mdi {
        font-size: 14px;
      }

      .edit-start {
        margin-left: 20px;
      }
    }
  }

  .description {
    input {
      width: 100%;
    }
  }

  .meta, .properties {
    padding: 2px;
    width: 100%;
  }

  .meta {
    .nada {
      color: #999;
      font-style: italic;
    }

    app-inline-edit {
      width: 100%;
      display: block;

      /deep/ input {
        width: 100%;
      }
    }
  }

  .key-cell {
    font-weight: bold;
    color: #333;
    /*width: 40%;*/
  }

  .value-cell {
    // width: 90%;
    overflow: hidden;
  }

  .scroller {
    overflow: auto;
    display: block;
    position: absolute;
    top: 74px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .properties {
    border-spacing: 0;
    border-collapse: collapse;
    border-top: 1px solid #ccc;
    // table-layout: fixed;

    th {
      border-right: 1px solid #ccc;
      text-align: left;
      background-color: $table-title-color;

      &.icons {
        text-align: center;
      }
    }

    tr.no-props {
      text-align: center;
      td {
        padding-top: 20px;
      }
    }

    tr.primary {
      background-color: rgba(255,255,255,0.5);
    }

    tr:nth-child(even) {
      background-color: rgba(200,200,255,0.25);
    }

    tr.property {
      td {
        padding: 1px 2px;
        border-right: 1px solid #ccc;
      }

      /deep/ .container {
        margin: 0px;
      }

      /deep/ .mdl-button {
        text-transform: none;
      }
    }

    .collation {
    }

    .collation-toggler {
      cursor: pointer;
    }

    .icons {
      text-align: center;
      width: 20px;
      min-width: 20px;
    }

    .invalid {
      color: #a94442;
    }
  }
}

/deep/ app-resizable {
  min-width: $entity-model-min-width;
}

/* Fix bug showing double tooltip arrows */
/deep/ .tooltip .arrow::before {
  visibility: hidden;
}

/* Widen tooltip container for long phrases */
/deep/ .tooltip .tooltip-inner {
  max-width: 250px;
}
