/*Vis-timeline styles*/
@import "../../../../../theme/HCVariables.scss";

.vis-item{
    background-color: #444 !important;
    color: #f0f0f0 !important;
    opacity: 0.8 !important;
    cursor: pointer;
}

.vis-item .vis-item-content {
    text-align: center;
    position: relative;
    z-index: 1;
    white-space: nowrap;
    cursor: pointer;
}

.vis-item.vis-box{
    border-style: none !important;
    border-radius:8px !important;
}

.vis-major{
    display: none;
}

.vis-item.vis-dot {
    background-color: #5B69AF;
    border-color: #5B69Af;
}

.vis-timeline.vis-bottom{
    visibility: visible!important;
}

.itemValue{
    display: inline-block;
    background-color: white;
    border-color: #5B69AF;
    width: 22px;
    height: 18px;
    border-radius: 12px;
    position: relative;
    color: black;
    font-size: 12px;
    font-weight: bold;
    margin-left:11px;
}

.itemReduceValue{
    display: inline-block;
    background-color: white;
    border-color: #5B69AF;
    width: 26px;
    height: 18px;
    border-radius: 12px;
    position: relative;
    color: $danger ;
    font-size: 12px;
    font-weight: bold;
    margin-left:11px;
}
