.table {
  margin: 0;
  padding: 0;
}
.iconContainer > .icon:first-child, .iconContainer > .icon:nth-child(2) {
  margin-right: 8px;
}
.icon {
  font-size: 21px;
  cursor: pointer;
}
th.actions,
td.actions {
  text-align: center !important;
}