@import "../../../theme/HCVariables.scss";

.iconRevert, .iconTrash, .iconViewGraph {
  font-size: 21px;
  cursor: pointer;
  margin-right: 8px;
  margin-bottom: 2px;
  color: #5B69AF;
  &:hover{
      color:var(--hoverColor) !important;
  }
}
.iconTrash {
  color: $danger;
}

.iconRevertReadOnly, .iconTrashReadOnly {
  font-size: 21px;
  cursor: not-allowed;
  margin-right: 8px;
  margin-bottom: 2px;
  color: #cccccc;
}

.iconSave {
  cursor: pointer;
  color: #5B69AF;
  font-size: 22px;
  margin-right: 8px;
  margin-bottom: 2px;
  &:hover{
      color:var(--hoverColor) !important;
  }
}

.iconSaveReadOnly {
  cursor: not-allowed;
  color: #cccccc;
  font-size: 22px;
  margin-right: 8px;
  margin-bottom: 2px;
}
th.actions,
td.actions {
  text-align: center !important;
}
td.rightHeader, th.rightHeader {
  text-align: right !important;
}

td.tableText, td.rightHeader {
  vertical-align: middle!important;
}

.link {
  color: #5B69AF;
  cursor: pointer;
  margin-top: 15px;
  &:hover{
      color: var(--hoverColor);
  }
}

.iconHover:hover{
  color: var(--hoverColor) !important;
}
