.modal {
    &.modal-header {
    border-bottom: 0 none;
    }
}

.modal .modal-footer {
    border-top: 0 none;
}

.title {
    font-size :23px;
}

.newFlowForm {
    margin-left: 10px;
}
.questionCircle {
    font-size: 12px;
    color: #7F86B5;
    margin-left: 7px;
}

.asterisk{
    color: #DB4f59;
}

.validationError {
    line-height: normal;
    padding-top: 5px;
    padding-left: 1px;
    padding-bottom: 1px;
    color: #DB4f59;
}