.modal {
    &.modal-header {
    border-bottom: 0 none;
    }
}

.modal .modal-footer {
    border-top: 0 none;
}

.title {
    font-size :23px;
}

.newFlowForm {
    margin-left: 10px;
}
.questionCircle {
    font-size: 12px;
    color: #7F86B5;
    margin-left: 7px;
}

.asterisk{
    color: #DB4f59;
}

.submitButtonsForm{
    text-align: right;
    top: -15px;
    margin-bottom: -15px;
    margin-right: 5px;
}

.submitButtons{
    text-align: right;
    width: 162%;
}

.input{
    width: 95%;
}
