@import "../../../../theme/HCVariables.scss";

.asterisk{
    color: $danger;
}

.submitButtonsForm{
    text-align: right;
    top: -15px;
    margin-bottom: -15px;
    margin-right: 5px;
}

.submitButtons{
    text-align: right;
    width: 152%;
}

.title {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size :18px;
    color: #333333;
}

.text {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size :14px;
    color: #333333;
}
