.title {
	padding-top: 5px;
	font-size: 16px;
	font-weight: bold;

	.entityName {
		color: #999;
		font-weight: bold;
		padding-right: 8px;
	}

}

.snippet {
	padding-top: 8px;
}

.metadata {
	padding-top: 8px;
	padding-bottom: 6px;

	.metaItem {
		display: inline-block;
		width: 240px;
	}

	.metaLabel {
		font-weight: bold;
		color: #999;
		padding-right: 8px;
	}

	.metaValue {
		padding-right: 5px;
  }
  .format {
    padding-right: 5px;
    text-transform: uppercase;
  }
}

.primaryKey {
  color: #777;
  padding-right: 5px;
}