<!-- No header, and the drawer stays open on larger screens (fixed drawer). -->
<div class="mdl-layout mdl-layout--fixed-drawer">
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">
      Entities
      <div class="mdl-layout-spacer"></div>
      <button id="new-entity" md-icon-button aria-label="New Entity" (click)="showNewEntity($event)">
        <i class="fa fa-plus"></i>
      </button>
    </span>

    <ul class="entities mdl-list">
      <li
        class="entity mdl-list__item"
        [ngClass]="{ 'active' : isActiveEntity(entity) }"
        *ngFor="let entity of entities">
        <div class="mdl-list__item-primary-content"
          [ngClass]="{ 'active' : !isCollapsed(entity) }"
          (click)="setEntity(entity)">
          <i class="fa fa-industry"></i> {{ entity.entityName }}
          <div class="mdl-layout-spacer"></div>
          <i class="fa fa-caret-left" [ngClass]="{ 'collapsed' : isCollapsed(entity) }"></i>
        </div>
        <div class="flow-container" [ngClass]="{ 'collapsed' : isCollapsed(entity) }">
          <div class="padder">
            <div class="subheader">
              Input Flows
              <div class="mdl-layout-spacer"></div>
              <button id="new-input-flow" md-icon-button aria-label="New Input Flow" (click)="newInputFlow($event, entity)">
                <i class="fa fa-plus"></i>
              </button>
            </div>
            <ul class="flows mdl-list">
              <li
                class="flow mdl-list__item"
                *ngFor="let flow of entity.inputFlows"
                (click)="setFlow(entity, flow, 'Input')">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons mdl-list__item-icon">transform</i>
                  {{ flow.flowName }}
                </span>
                <span class="run-input-flow mdl-list__item-secondary-action" (click)="runInputFlow($event, flow)">
                  <button class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons mdl-list__item-icon">play_circle_outline</i>
                  </button>
                </span>
              </li>
            </ul>
            <div class="subheader">
              Harmonize Flows
              <div class="mdl-layout-spacer"></div>
              <button id="new-harmonize-flow" md-icon-button aria-label="New Harmonize Flow" (click)="newHarmonizeFlow($event, entity)">
                <i class="fa fa-plus"></i>
              </button>
            </div>
            <ul class="flows mdl-list">
              <li
                class="flow mdl-list__item"
                *ngFor="let flow of entity.harmonizeFlows"
                (click)="setFlow(entity, flow, 'Harmonize')">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons mdl-list__item-icon">transform</i>
                  {{ flow.flowName }}
                </span>
                <span class="run-harmonize-flow mdl-list__item-secondary-action" (click)="runHarmonizeFlow($event, flow)">
                  <button class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons mdl-list__item-icon">play_circle_outline</i>
                  </button>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content" layout-padding>
      <div class="current-flow" *ngIf="flow">
        <h2>{{flow.flowName}} {{flowType}} flow</h2>
        <h3>Plugins</h3>
        <ul>
          <li *ngFor="let plugin of flow.plugins">
            <h4>{{plugin.pluginType}}</h4>
            <ul>
              <li *ngFor="let file of plugin.files">
                <p>{{file}}</p>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </main>
  <mlcp></mlcp>
  <new-entity></new-entity>
  <new-flow></new-flow>
</div>
