@import 'variables';

$highlight-color: unquote("rgb(#{$palette-datahub-50})");

.mdl-layout__drawer {
  width: 300px;
}

.mdl-layout--fixed-drawer > .mdl-layout__content {
  margin-left: 300px;
}

.entities {
  margin-top: 0px;
  padding-top: 0px;
}

.entity {
  flex-direction: column;
  align-items: flex-start;
}

.subheader {
  font-weight: bold;
  margin: 20px 10px 0;
}

.mdl-list {
  width: 100%;
}

.mdl-list__item .mdl-list__item-primary-content .mdl-list__item-icon {
  margin-right: 16px;
}

.mdl-list__item {
  &.active {
    background-color: $highlight-color;
  }
}

.mdl-list__item-primary-content {
  cursor: pointer;
}
// .left-nav {
//   min-width: 300px;
// }

// .section-header {
//   background-color: #eee;
//   padding: 1rem;
// }
// .home-component {
//   > h2 {
//     color: black;
//   }
// }

// new-entity {
//   label {
//     margin-bottom: 10px;
//   }
// }

// form {
//   md-toolbar {
//     min-height: 40px;
//     max-height: 40px;
//     height: 40px;
//   }
// }

// .entity-item {
//   &.active {
//     background-color: rgba(121,85,72,.25);
//   }

//   &:hover {
//     background-color: rgba(121,85,72,.15);
//     cursor: pointer;
//   }
// }

// .mlcp-status {
//   border: 1px solid black;
//   background-color: #333;
//   color: green;
// }
