.facets {
    padding-left: 25px;
    font-size: 15px;
    .facet {
        border-bottom: solid 1px #ddd;
        padding-top: 15px;
        padding-bottom: 10px;
    }
    .facet:first-child {
        padding-top: 0;
    }
    .facet:last-child {
        margin-bottom: 20px;
    }
    .title {
        text-transform: uppercase;
        padding-bottom: 8px;
        font-weight: bold;
        margin-left: 5px;
        color: #666;
        .facetInfo {
            display: inline-block;
            padding-left: 5px;
        }
    }
    .facetValues {
        table {
            margin-bottom: 0;
            width: 320px;
        }
        overflow-x: hidden;
        overflow-y: auto;
    }
    tbody {
        tr {
            border-bottom: 0 none transparent;
        }
        td {
            padding: 1px;
        }
        td.label {
            display: flex;
            .form-check-input {
                margin-left: 5px;
                margin-right: 8px;
            }
            .form-check-input:checked {
                background-color: #394494;
                border-color: none;
            }
            label {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 160px;
            }
        }
        td.meter {
            width: 100%;
            .total {
                position: relative;
                top: 8px;
                height: 9px;
                width: 100%;
                background-color: transparent;
                transform: rotate(180deg);
                padding: 0 2px;
                .count {
                    position: relative;
                    height: 9px;
                    width: 40px;
                    border-radius: 4px;
                }
            }
        }
        td.count {
            position: relative;
            top: 3px;
            font-size: 13px;
            text-align: right;
        }
    }
    .moreLess {
        font-size: 14px;
        color: #394494;
        margin-left: 5px;
        cursor: pointer;
        .doubleRight, .doubleLeft {
            position: relative;
            top: -1px;
            display: inline-block;
        }
        .doubleRight {
            margin-left: 2px;
        }
        .doubleLeft {
            margin-right: 2px;
        }
    }
    .dateRangeFacet {
        padding-top: 2vh;

        .pickerContainer {
            background-color: white;
            position: relative;
            max-width: 265px;

            &:focus-visible {
                border: none;
                outline: none;
            }
        }
        .input {
            background-color: transparent;
            border-radius: 4px;
            border: 1px solid #d9d9d9;
            //color: $text-color;
            padding: 4px 11px;
            width: 100%;
            //font-size: $font-size-base;
            text-align: center;

            &:focus-visible {
                border: #808cbd 1px solid;
                border-radius: 4px;
                outline: none;
            }

            &:focus, &:hover {
                border-color: #808cbd;
                border-radius: 4px;
                border-right-width: 1px !important;
                box-shadow: 0 0 0 2px rgba(128, 140, 189, 0.2);
            }
        }
        .calendarIcon {
            position: absolute;
            top: 8px;
            right: 8px;
            color: blue;
            background-color: white;
            font-size: 12px;
            cursor: pointer;
            pointer-events: all;
            z-index: 10;
        }
        .clearIcon {
            position: absolute;
            top: 8px;
            right: 8px;
            //color: $light;
            background-color: white;
            font-size: 12px;
            cursor: pointer;
            pointer-events: all;
            z-index: 10;
        }

    }
}
