.facets { 
   
    .title {
        text-transform: uppercase; 
        font-weight: bold; 
        color: #666;
        .facetInfo {
            display: inline-block; 
        }
    }
    tbody { 
        td.label { 
            label {
                white-space: nowrap; 
            }
        }
        td.meter {
            width: 100%;
            .total {
                position: relative; 
                height: 9px;
                width: 100%;
                background-color: transparent;
                transform: rotate(180deg); 
                .count {
                    position: relative;
                    height: 9px;
                    width: 40px;
                    border-radius: 4px;
                }
            }
        } 
    }
    .moreLess {  
        cursor: pointer;
        .doubleRight, .doubleLeft {
            position: relative;
            top: -1px;
            display: inline-block;
        }
        .doubleRight {
            margin-left: 2px;
        }
        .doubleLeft {
            margin-right: 2px;
        }
    }
}