.popover {
  height: auto;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  border: '1px solid #d9d9d9 !important';
  border-radius: 4px !important;
}

.checkIcon {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.popoverIcons {
  font-size: 25px;
  color: #999;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.scrollOptions {
  overflow: auto;
  height: 79px;
}

.ant-popover-inner-content {
  padding: 0px;
}