<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title" id="myModalLabel">New Entity</h4>
</div>
<div class="modal-body">
  <div class="row" ng-show="hasError">
    <div class="col-xs-12 col-md-12">
      <div class="alert alert-danger">
        {{ errorMessage }}
      </div>
    </div>
  </div>
  <div class="row">
     <div id="details" class="col-xs-12 col-md-12">
       <form ng-submit="saveEntity()">
        <div class="form-group">
          <label for="entityName">Entity Name</label>
          <input class="form-control" name="entityName" type="text" ng-model="entityForm.entityName" placeHolder="Enter Entity Name" required="required"/>
        </div>
        <div class="form-group">
          <label for="inputFlowName">Ingest Flow Name</label>
          <input name="inputFlowName" type="text" ng-model="entityForm.inputFlowName" class="form-control" placeHolder="Enter Ingest Flow Name"/>
        </div>
        <div class="form-group">
          <label for="harmonizeFlowName">Harmonize Flow Name</label>
          <input name="harmonizeFlowName" type="text" ng-model="entityForm.harmonizeFlowName" class="form-control" placeHolder="Enter Harmonize Flow Name"/>
        </div>
        <div class="form-group">
          <label for="pluginFormat">Plugin Type</label>
          <select class="form-control" name="pluginFormat" ng-model="entityForm.pluginFormat">
            <option value="sjs">Javascript</option>
            <option value="xqy">XQuery</option>
            <option value="xsl">XSLT</option>
          </select>
        </div>
        <div class="form-group">
          <label for="dataFormat">Data Format</label>
          <select name="dataFormat" class="form-control" ng-model="entityForm.dataFormat">
            <option value="application/xml">XML</option>
            <option value="application/json">JSON</option>
          </select>
        </div>
       </form>
     </div>
  </div>
</div>
<div class="modal-footer">
  <div class="col-xs-12 col-md-12">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" ng-click="ok()">Submit</button>
  </div>
</div>
