<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">
    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title" id="myModalLabel">Load Data</h4>
</div>
<div class="modal-body" id="myModalBody">
  <div class="row">
    <div id="details" class="col-xs-12 col-md-12">
      <form ng-submit="ok()">
        <div class="form-group">
          <label for="inputPath">Path</label>
          <input id="inputPath" class="form-control" name="inputPath" type="text" ng-model="loadDataForm.inputPath"
            placeHolder="Enter Path" required="required" ng-change="searchPath(loadDataForm.inputPath)" ng-focus="showInputPathTreeBrowser = true">
          <div id="inputPathTreeBrowser" class="panel panel-primary tree-scroller-cust1" ng-show="showInputPathTreeBrowser">
            <div class="panel-body">
              <treecontrol class="tree-classic" tree-model="dataForTheTree"
              options="treeOptions" on-node-toggle="onNodeToggle(node,expanded)" on-selection="onSelection(node,selected)">
                {{node.folder}}
              </treecontrol>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="inputFileType">Input File Type</label>
          <select class="form-control" name="inputFileType" ng-model="loadDataForm.inputFileType" ng-change="updateMlcpCommand()" ng-focus="hideInputPathTreeBrowser()">
            <option value="aggregates">Aggregates</option>
            <option value="archive">Archive</option>
            <option value="delimited_text">Delimited Text</option>
            <option value="delimited_json">Delimited Json</option>
            <option value="documents">Documents</option>
            <option value="forest">Forest</option>
            <option value="rdf">RDF</option>
            <option value="sequencefile">Sequence File</option>
          </select>
        </div>
        <div class="form-group">
          <uib-accordion close-others="true">
            <uib-accordion-group heading="{{group.category}}" ng-repeat="group in groups" ng-show="showBasedOnCategoryAndInputFileType(group.category,loadDataForm.inputFileType)">
			        <div class="form-group" ng-repeat="setting in group.settings" ng-show="showIfHasNoFilterFieldOrWithSpecifiedValue(setting['FilterField'],setting['FilterValue'],group.settings)">
			          <input type="checkbox" name="{{setting['Field']}}" ng-if="setting['Type'] === 'boolean'" ng-model="setting['Value']" value="true" ng-change="updateMlcpCommand()" ng-focus="hideInputPathTreeBrowser()">
                <label class="control-label" for="{{setting['Field']}}" title="{{setting['Description']}}">{{setting['Label']}}</label><br ng-if="setting['Type'] !== 'boolean'"/>
			          <input type="text" class="form-control" name="{{setting['Field']}}" ng-if="isText(setting['Type'])" ng-model="setting['Value']" placeholder="{{setting['Placeholder Value'] ? setting['Placeholder Value'] : ''}}" ng-change="updateMlcpCommand()" ng-focus="hideInputPathTreeBrowser()"/>
			          <select class="form-control" name="{{setting['Field']}}" ng-if="setting['Type'] === 'type'" ng-model="setting['Value']" ng-change="updateMlcpCommand()" ng-focus="hideInputPathTreeBrowser()">
			            <option ng-repeat="option in setting['Options']" value="{{option.value}}">{{option.label}}</option> 
			          </select>
			        </div>
			      </uib-accordion-group>
			    </uib-accordion>
        </div>
        <div class="form-group">
           <h4>MLCP Command</h4>
        </div>
        <div class="form-group">
          <section class="code">{{mlcpCommand}}</section>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="col-xs-12 col-md-12">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="download()">Download Config</button>
    <button class="btn btn-success" ng-click="ok()">Load Data</button>
  </div>
</div>
