<h2>Edit Flow</h2>
<app-stepper
  *ngIf="flow && stepsArray"
  [flow]="flow"
  [stepsArray]="stepsArray"
  (newStep)="openStepDialog()"
  (runFlow)="openRunDialog(flow)"
  (stopFlow)="stopFlow.emit($event)"
  (deleteStep)="deleteStepDialog($event)"
  (editFlow)="openFlowSettingsDialog()"
  (redeploy)="redeployDialog()"
  (deleteFlow)="deleteFlowDialog()"
  (updateFlow)="updateFlow()">
  <cdk-step *ngFor="let step of stepsArray; let i = index" label="{{stepsArray[i].name}}">
    <app-step [step]="step" [flow]="flow" [databases]="databases" [collections]="collections" (updateStep)="updateStep($event)"></app-step>
  </cdk-step>
</app-stepper>
