<div id="edit-flow">
  <div class="back-link">
    <a [routerLink]="['/flows']">
      <span class="back-symbol">&lt;</span> Manage Flows
    </a>
  </div>
  <app-stepper
    *ngIf="flow && stepsArray"
    [flow]="flow"
    [stepsArray]="stepsArray"
    (newStep)="openStepDialog($event)"
    (runFlow)="openRunDialog(flow)"
    (stopFlow)="openStopDialog($event)"
    (deleteStep)="deleteStepDialog($event)"
    (editFlow)="openFlowSettingsDialog()"
    (stepSelected)="stepSelected.emit($event)"
    (deleteFlow)="deleteFlowDialog()"
    (updateFlow)="updateFlow()">
    <cdk-step *ngFor="let step of stepsArray; let i = index" label="{{stepsArray[i].name}}">
      <app-step 
        [step]="step"
        [(selectedStepId)]="selectedStepId"
        [flow]="flow"
        [databases]="databases" 
        [collections]="collections" 
        [entities]="entities"
        [projectDirectory]="projectDirectory"
        [flowEnded]="flowEnded"
        (updateStep)="updateStep($event)"
      ></app-step>
    </cdk-step>
  </app-stepper>
</div>
