button {
  outline: none;
}

mat-form-field {
 width: 100%;
}
mat-radio-group {
  margin-left: 10px;
}
mat-radio-button {
  margin-left: 10px;
}

.type-select, .type-option {
  text-transform: capitalize;
}

.content {
  background: #f3f3f3;
  padding: 10px 15px 20px 15px;
}

h1.mat-dialog-title {
  margin-top: -12px;
  margin-left: -4px;
  margin-bottom: 11px;
}

.mat-dialog-content {
  background: #f3f3f3;
  padding: 20px;
}

.mat-dialog-actions {
  margin-right: -4px;
  justify-content: flex-end;
}
