button {
  outline: none;
}

mat-form-field {
 width: 100%;
}
mat-radio-group {
  margin-left: 10px;
}
mat-radio-button {
  margin-left: 10px;
}

#additional-collections-wrapper .mat-form-field {
  width: 390px;
}

div.additional-collections-group input {
  border: 0;
  outline-width: 0;
  width: 300px;
}

.type-select, .type-option {
  text-transform: capitalize;
}

/deep/ .mat-dialog-content {
  background: #f3f3f3 !important;
  padding: 20px !important;
}

/deep/ h1.mat-dialog-title {
  margin-top: -12px !important;
  margin-left: -4px !important;
  margin-bottom: 11px !important;
}

/deep/ .mat-dialog-actions {
  margin-right: -4px !important;
  justify-content: flex-end !important;
}

/deep/ .mat-tooltip {
  white-space: pre-line !important;
  position: relative;
  left: 550px;
  top: -8px;
}

.source-type-label {
  position: relative;
  top: -3px;
  .source-req {
    font-size: 11px;
    position: relative;
    top: -2px;
  }
}

/deep/ #step-source-type .mat-radio-button.mat-accent.mat-radio-checked div.mat-radio-outer-circle {
  border-color: #6d8ba5 !important;
}

/deep/ #step-source-type .mat-radio-button.mat-accent div.mat-radio-inner-circle {
  background-color: #6d8ba5 !important;
}

.step-add-option-btn .mat-icon {
  position: relative;
  top: -1px;
}

/deep/ .mat-tooltip.options-tooltip {
  white-space: pre-line !important;
  position: relative;
  left: 427px;
  top: 0;
}

.key-value-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

div.key-value-group {
  /deep/ div.mat-form-field-infix {
    width: 170px !important;
  }
  input {
    border: 0;
  }
}
#custom-hook-parameters{
  font-family: monospace;
}
