<h1 mat-dialog-title>{{data.title}}</h1>
<div id="step-dialog" mat-dialog-content class="content">
  <mat-form-field>
    <mat-select id="step-type" class="type-select" placeholder="Step Type" (selectionChange)="stepTypeChange(newStep.type)" [(value)]="newStep.type">
      <mat-option class="type-option" *ngFor="let option of stepOptions" [value]="option">{{option}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="">
    <input id="step-name" matInput [(ngModel)]="newStep.name" placeholder="Name">
  </mat-form-field>
  <mat-form-field class="">
    <input id="step-description" matInput [(ngModel)]="newStep.description" placeholder="Description">
    <mat-hint>Optional</mat-hint>
  </mat-form-field>
  <div>
    <label>Source Type: </label>
    <mat-radio-group id="step-source-type" [(ngModel)]="selectedSource">
      <mat-radio-button id="step-source-type-collection-radio" value="collection">Collection</mat-radio-button>
      <mat-radio-button id="step-source-type-query-radio" value="query">Query</mat-radio-button>
    </mat-radio-group>
  </div>
  
  <mat-form-field *ngIf="selectedSource === 'collection'">
    <mat-select id="step-source-collection" class="type-select" placeholder="Source Collection">
      <mat-option class="type-option" *ngFor="let collection of data.collections" [value]="collection">{{collection}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field id="step-source-query" *ngIf="selectedSource === 'query'" >
    <textarea matInput placeholder="Source Query" [(ngModel)]="newStep.sourceQuery"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select id="step-target-entity" class="" placeholder="Target Entity" [(value)]="newStep.targetEntity">
      <mat-option class="" *ngFor="let entity of data.entities" [value]="entity.name">{{entity.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Advanced Settings (optional)
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <mat-form-field>
        <mat-select id="step-source-database" placeholder="Source Database" [(value)]="newStep.sourceDatabase">
          <mat-option *ngFor="let database of databases" [value]="database">{{database}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select id="step-target-database" placeholder="Target Database" [(value)]="newStep.targetDatabase">
          <mat-option *ngFor="let database of databases" [value]="database">{{database}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div mat-dialog-actions class="bottom">
  <button id="step-cancel-btn" mat-button (click)="onNoClick()">Cancel</button>
  <button id="step-save-btn" mat-button cdkFocusInitial [mat-dialog-close]="newStep">Save</button>
</div>
