<h1 mat-dialog-title>Run Flow</h1>
<div id="run-flow-dialog" mat-dialog-content class="content">
  <mat-checkbox 
    id="run-flow-all"
    [indeterminate]="indeterminate" 
    [checked]="isCheckAll()" 
    (change)="toggleSelection($event)">Run All</mat-checkbox>
  <mat-divider></mat-divider>
  <div *ngFor="let step of data.steps; let i = index;">
    <mat-checkbox 
      [id]="'run-flow-' + i + '-' + (step || '')"
      [checked]="selected[i]" 
      (change)="checkSelections($event, i)">{{step}}</mat-checkbox>
  </div>
</div>
<div mat-dialog-actions class="bottom">
  <button id="run-cancel-btn" mat-raised-button color="primary" (click)="onNoClick()">CANCEL</button>
  <button id="run-flow-btn" mat-raised-button color="primary" cdkFocusInitial [mat-dialog-close]="returnSelectedSteps()">RUN</button>
</div>
