@import '../../../theme//styles/colors';

.flow-container h2 {
  margin: 0 30px 0 16px;
  font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 40px;
}
a:hover {
  text-decoration: none;
  color: #6d8ba5;
}
a {
  color: #2a4356;
}
.steps-container {
  background: white;
  width: 90%;
  margin: auto;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,.35);
  padding: 8px;
  background: #fff;
  .flow-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
  .item {
    margin: 0 12px;
  }
  .spacer {
    flex: 1;
  }
  .icon-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
  .flow-menu-icon {
    cursor: pointer;
    margin: 0;
  }
  .show-running {
    visibility: visible;
  }
  .hide-running {
    visibility: hidden;
  }
}

.steps-header {
  display: flex;
}

.steps-body {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  min-height: 200px;
  background: rgba(238,238,238,.65);
  > p {
    font-size: 24px;
    text-align: center;
    width: 100%;
    height: 200px;
    line-height: 200px;

    > span {
      font-weight: bold;
    }
  }
  .step-navigation-bar {
    width: 100%;
    display: flex;
    padding: 20px 25px;
  }
}

.text {
  white-space: nowrap;
}
.stepper-container {
  display: inline-flex;
  .line {
    font-size: 40px;
    color: #696969;
    margin: auto 0;
  }
  .step {
    cursor: pointer;
    border-radius: 4px;
    width: 200px;
    height: 160px;
    position: relative;
    background: white;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
    .bar {
      height: 22px;
      border-radius: 4px 4px 0 0;
    }
    .bar.mapping {
      background: $color-mapping;
    }
    .bar.mastering {
      background: $color-mastering;
    }
    .bar.ingestion {
      background: $color-ingest;
    }
    .bar.custom {
      background: $color-custom;
    }
    .header {
      display: flex;
      justify-content: space-between;
    }
    .step-title {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
      margin: 3px 0 5px 5px;
    }
    .step-title.mapping {
      color: $color-mapping;
    }
    .step-title.mastering {
      color: $color-mastering;
    }
    /* Keeping the following two CSS declarations as part of conflict resolution */
    .step-title.ingest {
      color: $color-ingest;
    }
    .step-title.ingestion {
      color: #AD1457;
    }
    .step-title.custom {
      color: $color-custom;
    }
    .step-icons {
      margin: 3px 0;
      .material-icons {
        font-size: 20px;
      }
    }
    .check-icon {
      color: #00e600;
    }
    .grey-icon {
      color: rgba(169,169,169,.5);
    }
    .delete-icon {
      cursor: pointer;
      color: rgba(169,169,169,.5);
    }
    .delete-icon:hover {
      color: #f5403d;
    }
    .spinner-container {
      margin: 2px;
    }
    h3.step-name {
      margin: 0 6px;
      font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 30px;
    }
    .summary {
      margin: 6px;
      line-height: 18px;
    }
    .summary-label {
      font-size: 12px;
      font-weight: 400;
      color: #777;
    }
    .summary-content {
      font-size: 14px;
      font-weight: 400;
    }
    .progress-bar {
      width: 188;
      height: 15px;
      border: solid 1px #ddd;
      background-color: #fafafa;
      margin: 12px 6px 5px 6px;
    }
  }
  .step:hover {
    box-shadow: 0 0 0 2px  #b3b3b3;
  }
  .step.active {
    box-shadow: 0 0 0 2px  #696969;
  }
  .spacer {
    width: 15px;
  }
  .move-icon {
    position: absolute;
    top: 0;
    left: 1%;
    cursor: move;
    width: 16px !important;
    height: 16px !important;
    margin-bottom: 20px;
  }
}

button {
  height: 35px;
  outline: none;
}

mat-progress-bar {
  width: 90%;
  margin: auto;
  height: 15px;
}

mat-icon {
  user-select: none;
}

#latest-job-info {
  width: 335px;
  #latest-job-status,
  #job-started-timestamp {
    display: inline-block;
  }
  #latest-job-status {
    padding: 0 10px;
  }
}

.view-jobs-disabled {
  color: #ccc;
}