<div class="steps-container">
  <header>
    <div class="flow-container">
        <h2 id="flow-name" title={{flow?.description}}>{{flow.name}}</h2>
        <button id="new-step-btn"
                mat-raised-button color="primary"
                (click)="this.newStepClicked()">NEW STEP</button>
    </div>
    <div class="spacer"></div>
    <div class="flow-container">
        <button *ngIf="!flow.latestJob || status[0] !== 'running'"
                id="run-flow-btn"
                class="item"
                mat-raised-button
                color="primary"
                [disabled]="flow.steps.length ? false : true"
                (click)="this.runClicked()">RUN</button>
        <button *ngIf="flow.latestJob && status[0] === 'running'"
          id="stop-flow-btn"
          class="item"
          mat-raised-button
          color="primary"
          (click)="this.stopClicked()">STOP</button>
        <div id="latest-job-info">
          <a id="latest-job-status" *ngIf="flow.latestJob && flow.latestJob.id && flow.latestJob.status" [routerLink]="['/jobs', flow.latestJob.id]">
          {{formatStatus(flow.latestJob.status)}}</a>
          <span id="latest-job-status" *ngIf="!flow.latestJob || !flow.latestJob.status">
          {{flow.latestJob === null ? '': 'Never run'}}</span>
          <div id="job-started-timestamp" *ngIf="flow.latestJob" class="text item">
            <span *ngIf="flow.latestJob.status === 'running' && flow.latestJob.startTime !== null">Started {{friendlyDate(flow.latestJob.startTime)}}</span>
            <span *ngIf="flow.latestJob.status !== null && flow.latestJob.endTime !== null">Ended {{friendlyDate(flow.latestJob.endTime)}}</span>
          </div>
        </div>
        <a id="view-jobs-btn" *ngIf="flow.latestJob && flow.latestJob.id" class="text item view-jobs" [routerLink]="['/jobs']" [queryParams]="{flowName:flow.name}">View Jobs</a>
        <span id="view-jobs-btn-disabled" *ngIf="!flow.latestJob || !flow.latestJob.id" class="text item view-jobs-disabled">View Jobs</span>
        <div class="icon-container">
          <mat-icon id="flow-menu" class="flow-menu-icon item" [matMenuTriggerFor]="flowMenu">more_vert</mat-icon>
          <mat-icon id="flow-expand-collapse-btn" class="flow-menu-icon item" (click)="this.toggleBody()">{{ this.showBody ? 'expand_less' : 'expand_more' }}</mat-icon>
        </div>
    </div>
  </header>

    <div *ngIf="stepsArray.length > 0 && showBody" class="steps-body">
        <section class="step-navigation-bar" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="dropped($event)" >
          <div class="stepper-container" *ngFor="let step of steps; let i = index;">
            <div
            class="step {{ 'step-' + i }}"
            [ngClass]="{'active': selectedIndex === i}"
            (click)="stepClicked(i)"
            cdkDrag
            >
              <div class="bar {{stepsArray[i].stepDefinitionType.toLowerCase()}}"></div>
              <div *ngIf="!flow.latestJob || status[0] !== 'running'" class="step-reorder-handle move-icon" cdkDragHandle>
                <svg width="18px" fill="white" viewBox="0 0 24 24">
                  <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                  <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
              </div>
              <div class="header">
                <div class="step-type step-title {{stepsArray[i].stepDefinitionType.toLowerCase()}}">{{stepsArray[i].stepDefinitionType}}</div>
                <div class="step-icons header-icons">
                  <!-- TODO display validity icon when functionality works DHFPROD-2296 -->
                  <!-- <mat-icon *ngIf="stepsArray[i].isValid" class="step-valid check-icon">check_circle</mat-icon>
                  <mat-icon *ngIf="!stepsArray[i].isValid"  class="step-invalid grey-icon">lens</mat-icon> -->
                  <mat-icon *ngIf="!flow.latestJob || status[0] !== 'running'" (click)="deleteStepClicked(stepsArray[i])" class="step-delete delete-icon">delete</mat-icon>
                </div>
              </div>
              <h3 class="step-name" title={{stepsArray[i]?.description}}>{{step.label}}</h3>
              <div class="summary" *ngIf="stepsArray[i].stepDefinitionType === stepType.INGESTION">
                <div class="summary-label">Source File Path</div>
                <div class="summary-content" *ngIf="stepsArray[i].fileLocations.inputFilePath"
                title="{{stepsArray[i].fileLocations.inputFilePath}}">
                  {{stepsArray[i].fileLocations.inputFilePath | truncate : -23}}
                </div>
              </div>
              <div class="summary" *ngIf="stepsArray[i].stepDefinitionType === stepType.MAPPING">
                <div class="summary-label">Target Entity</div>
                <div class="summary-content" *ngIf="stepsArray[i].options.targetEntity">
                  {{stepsArray[i].options.targetEntity | truncate : 23}}
                </div>
              </div>
              <div class="summary" *ngIf="stepsArray[i].stepDefinitionType === stepType.MASTERING">
                <div class="summary-label">Target Entity</div>
                <div class="summary-content" *ngIf="stepsArray[i].options.targetEntity">
                  {{stepsArray[i].options.targetEntity | truncate : 23}}
                </div>
              </div>
              <div class="summary" *ngIf="stepsArray[i].stepDefinitionType === stepType.CUSTOM">
                <div class="summary-label">Module</div>
                <div *ngIf="stepsArray[i].modulePath"  class="summary-content">{{stepsArray[i].modulePath | truncate : -23}}</div>
              </div>
              <mat-progress-bar
                *ngIf="flow.latestJob && flow.latestJob.stepId === stepsArray[i].id && status[0] === 'running'"
                id="job-progress-bar"
                class="item"
                mode="determinate"
                [value]="flow.latestJob.stepRunningPercent"
              ></mat-progress-bar>
            </div>
            <div *ngIf="i !== (steps.length-1); else spacer" class="line">&rarr;</div>
            <ng-template #spacer><span class="spacer" ></span></ng-template>
          </div>
        </section>
    </div>
    <div *ngIf="stepsArray.length === 0" class="no-steps steps-body">
      <p>Click the <span>New Step</span> button to create a step for your flow</p>
    </div>
  </div>

  <ng-container *ngIf="stepsArray.length > 0" [ngTemplateOutlet]="selected.content"></ng-container>

  <mat-menu id="flow-menu-dialog" #flowMenu="matMenu">
      <div id="flow-menu-edit-btn" mat-menu-item (click)="this.editSettingsClicked()">Edit Settings</div>
      <div id="flow-menu-delete-btn" mat-menu-item (click)="this.deleteFlowClicked()">Delete</div>
  </mat-menu>
