<div *ngIf="step" class="steps-container step-details">
  <div class="bar {{step.type}}"></div>
    <header>
      <div class="steps-header">
        <h3 id="step-details-name">{{step.name}}</h3>
        <!-- <button id="save-step-btn" *ngIf="step.type !== 'mapping'" (click)=saveStep(step); mat-raised-button color="primary">Save</button> -->
        <!-- <button id="reset-step-btn" mat-raised-button color="primary">Reset</button> -->
      </div>
      <div class="steps-header">
        <mat-icon id="step-menu" class="flow-menu-icon" [matMenuTriggerFor]="flowSubMenu">more_vert</mat-icon>
        <mat-icon id="step-expand-collapse-btn" class="flow-menu-icon" (click)="this.toggleBody()">arrow_drop_down</mat-icon>
      </div>
    </header>
    <div *ngIf="showBody" class="steps-body">
      <div id="step-type-ingestion-container" *ngIf="step.type === 'ingestion'">
        <p>{{step.type}}</p>
        <p>{{step.description}}</p>
      </div>
      <div id="step-type-mapping-container" *ngIf="step.type === 'mapping'">
        <app-mapping
          [step]="step"
          (saveStep)="saveStep($event)"
        ></app-mapping>
      </div>
      <div id="step-type-mastering-container" *ngIf="step.type === 'mastering'">
        <mat-tab-group>
          <mat-tab label="Matching">
            <app-matching
              [step]="step"
              (saveStep)="saveStep($event)"
            ></app-matching>
          </mat-tab>
          <mat-tab label="Merging">
            <app-merging
              [step]="step"
              (saveStep)="saveStep($event)"
            ></app-merging>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div id="step-type-custom-container" *ngIf="step.type === 'custom'">
        <app-custom
          [step]="step"
          (saveStep)="saveStep($event)"
          [module]="databases.modules"
        ></app-custom>
      </div>
    </div>
</div>
<mat-menu id="step-menu-dialog" #flowSubMenu="matMenu">
    <div id="step-menu-edit-btn" mat-menu-item (click)="this.editSettingsClicked()">Edit Settings</div>
</mat-menu>
