@import '../../../theme//styles/colors';

.steps-header h2 {
  margin: 0 30px 0 16px;
  font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 40px;
}
.steps-container {
  background: white;
  // border: 1px solid black;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 15px;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}
header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,.35);
  padding: 8px;
}

.steps-header {
  display: flex;
  > button:last-child {
    margin-left: 8px;
  }
}

.steps-header-buttons {
  padding-right: 5px;
}

header > .steps-header:last-child {
  width: 40%;
  justify-content: flex-end;
}

.steps-body {
  min-height: 250px;
  background: rgba(238,238,238,.65);
  > p {
    font-size: 24px;
    text-align: center;
  }
}

button {
  height: 35px;
  outline: none;
}

.flow-menu-icon {
  padding: 1%;
  cursor: pointer;
  font-size: 24px;
}

.bar {
  height: 22px;
}
.mapping {
  background: $color-mapping;
}
.mastering {
  background: $color-mastering;
}
.ingestion {
  background: $color-ingest;
}
.custom {
  background: $color-custom;
}

mat-icon {
  user-select: none;
}
