header.container {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding-right: 0.5rem;
  div.logoContainer {
    height: 0px;
    width: 240px;
    position: relative;
    top: -1px;
    left: -52px;
    cursor: pointer;
    padding: 0px 20px 0px 20px;
    img.logo {
      width: 28px;
      height: 29px;
    }
    a.logo:focus {
      outline: 2px solid #7f86b5;
      outline-offset: 1.5px;
    }
    .vertical{
      display: inline-block;
      position: relative;
      top: 3px;
      border-left: dotted 1px rgba(255, 255, 255, 0.65);
      height: 24px;
      margin: -6px 15px;
      cursor: default;
    }
  }
  div.titleContainer {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    float: left;
    margin: 0 60px 0 29px;
    text-align: right;
    color: #fff;
    cursor: pointer;
    line-height: 64px;
    height: 64px;
    .title {
      line-height: normal;
      font-size: 28px;
      font-weight: 400;
      display: inline-block;
      vertical-align: middle;
    }
    .title:focus {
      outline: 2px solid #7f86b5;
      outline-offset: 1.5px;
    }
  }
}
.serviceName {
  line-height: 0px;
  margin-right: 10px;
  .infoIcon { 
    font-size: 24px !important;
    color: #b5b8bb;
    margin-right: 0px !important;
  }
}

.serviceName:focus {
  outline: 2px solid #7f86b5;
  outline-offset: 2px;
}

.infoTooltip > div {
  max-width: 500px;
}

li.menuLink {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.ant-menu-dark {
  background-color: #2B333C;
}
div.iconsContainerAuth {
  line-height: normal;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  i {
      color: #ffffffa6;
  }
  i:hover {
    cursor: pointer;
    color: #fff;
  }
  .vertical {
    display: inline-block;
    position: relative;
    top: 3px;
    border-left: dotted 1px rgba(255, 255, 255, 0.65);
    height: 24px;
    margin: 0 26px;
  }
  .helpIconContainer {
    margin-right: 10px;
    margin-left: 10px;
    .helpIconLink {
      .helpIcon {
        color: rgba(255, 255, 255, 0.65);
        margin: 0px;
      }
      .helpIcon:hover {
        cursor: pointer;
        color: #fff;
      }
    }
    .helpIconLink:focus {
      outline: 2px solid #7f86b5;
      outline-offset: 2px;
    }
  }
  .userDropDown {
    margin: 0 30px 0 15px;
    padding: 0 !important;
  }
  .userDropDown:focus {
    outline: 2px solid #7f86b5;
    outline-offset: 2px;
  }
}

div.iconsContainer {
  line-height: normal;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  .helpIconContainer {
    margin-right: 10px;
    .helpIconLink {
      line-height: 0px;
      color: rgba(255, 255, 255, 0.65);
      .helpIcon {
        color: rgba(255, 255, 255, 0.65);
        margin: 0px;
      }
      .helpIcon:hover {
        cursor: pointer;
        color: #fff;
      }
    }
    .helpIconLink:focus {
      outline: 2px solid #219e4b;
      outline-offset: 2px;
    }
  }
}
div.userDrop{
  margin-right: 1rem;
  > [class~=dropdown-menu]{
    margin-top: .75rem;
    border-radius: 0;
  }
}

div.userMenu {
  width: 185px;
  padding: 1.25rem 0;
  div.username {
    width: 100%;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
    color: #333;
  }
  div.logout {
    width: 100%;
    text-align: center;
    button {
      color:#ffffff;
      background-color: #44499C;
      border: none;
    }
    button:hover {
      background-color: #44499C;
      border: transparent;
    }
  }
}
