header.container {
  position: fixed;
  z-index: 1;
  width: 100%;
  div.logoContainer {
    height: 0px;
    width: 240px;
    position: relative;
    top: -1px;
    left: -52px;
    cursor: pointer;
    padding: 0px 20px 0px 20px;
    img.logo {
      width: 28px;
      height: 29px;
    }
    a.logo:focus {
      outline: 2px solid #7f86b5;
      outline-offset: 1.5px;
    }
    .vertical{
      display: inline-block;
      position: relative;
      top: 3px;
      border-left: dotted 1px rgba(255, 255, 255, 0.65);
      height: 24px;
      margin: -6px 15px;
      cursor: default;
    }
  }
  div.titleContainer {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    float: left;
    margin: 0 60px 0 29px;
    text-align: right;
    color: #fff;
    cursor: pointer;
    line-height: 64px;
    height: 64px;
    .title {
      line-height: normal;
      font-size: 28px;
      font-weight: 400;
      display: inline-block;
      vertical-align: middle;
    }
    .title:focus {
      outline: 2px solid #7f86b5;
      outline-offset: 1.5px;
    }
  }
}
.serviceName {
  line-height: 0px;
  margin-right: 10px;
  .infoIcon { 
    font-size: 24px !important;
    color: #b5b8bb;
    margin-right: 0px !important;
  }
}

.serviceName:focus {
  outline: 2px solid #7f86b5;
  outline-offset: 2px;
}

.infoTooltip > div {
  max-width: 500px;
}

li.menuLink {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.ant-menu-dark {
  background-color: #2B333C;
}
div.iconsContainerAuth {
  position: absolute;
  top: 13px;
  right: 10px;
  i:hover {
    cursor: pointer;
    color: #fff;
  }
  .vertical {
    display: inline-block;
    position: relative;
    top: 3px;
    border-left: dotted 1px rgba(255, 255, 255, 0.65);
    height: 24px;
    margin: 0 26px;
  }
  .helpIconContainer {
    margin-right: 10px;
    margin-left: 10px;
    .helpIconLink {
      .helpIcon {
        color: rgba(255, 255, 255, 0.65);
        margin: 0px;
      }
      .helpIcon:hover {
        cursor: pointer;
        color: #fff;
      }
    }
    .helpIconLink:focus {
      outline: 2px solid #7f86b5;
      outline-offset: 2px;
    }
  }
  .userDropDown {
    margin: 0 30px 0 15px;
    padding: 0 !important;
  }
  .userDropDown:focus {
    outline: 2px solid #7f86b5;
    outline-offset: 2px;
  }
}

div.iconsContainer {
  position: absolute;
  top: 12px;
  right: 0;
  color: rgba(255, 255, 255, 0.65);
  .helpIconContainer {
    margin-right: 10px;
    .helpIconLink {
      line-height: 0px;
      color: rgba(255, 255, 255, 0.65);
      .helpIcon {
        color: rgba(255, 255, 255, 0.65);
        margin: 0px;
      }
      .helpIcon:hover {
        cursor: pointer;
        color: #fff;
      }
    }
    .helpIconLink:focus {
      outline: 2px solid #219e4b;
      outline-offset: 2px;
    }
  }
}

div.userMenu {
  position: relative;
  top: 17px;
  width: 200px;
  background-color: white;
  border: solid 1px #aaa;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
  color: black;
  padding: 10px;
  div.username {
    width: 100%;
    padding: 10px 0 10px 0;
    font-weight: bold;
    text-align: center;
  }
  div.logout {
    width: 100%;
    padding: 10px 0 20px 0;
    text-align: center;
    button {
      color:#ffffff;
      background-color: #44499C;
      border: none;
    }
    button:hover {
      background-color: #44499C;
      border: transparent;
    }
  }
}
