.projectName{
  background-color: #ffffff !important;
  display: flex;
  justify-content: flex-start;
}
.title {
  font: 500 22px/64px 'HelveticaNeue-Light', 'Helvetica Neue', sans-serif;
  margin-left: 20px;
  color: #050186;
}
  