.systemModal {
    top: 6.5em;
    left: -1.5em;
}

.systemContainer {
  padding: 10px 20px;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: black;

  .serviceName {
    font-size: 1.5em;
    width: fit-content;
    margin-bottom: 35px;
  }

  .version {
    width: 50%;
    margin-bottom: 10px;
    div {
      display: inline-block;
      font-size: 13px;
    }
    .label {
      width: 125px;
    }
    .value {
      font-weight: 600;
    }
  }

  .copyIcon {
    color: #44499C;
    margin-left: 15px;
  }

  .copyIcon:hover {
    cursor: pointer;
    color: var(--hoverColor);
    margin-left: 15px;
  }

  .cardsContainer {
    width: 100%;
    text-align: center;
  }

  .cards {
    padding-top: 80px;
    padding-bottom: 100px;
    margin: auto;
    min-width: 700px;

    .download, .clearAll {
      display: block;
      min-width: 320px;
      width: 25vw;
      height: 18em;
      padding: 1px;
      border-color: #44499C;
    }

    .title {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 30px;
    }

    p {
      font-size: 14px;
      font-weight: 300;
      height: 125px;
      text-align: left;
    }

    .buttonContainer {
      width: 100%;
      text-align: center;
      button {
        width: 120px;
        font-weight: 500;
        background-color: #44499C;
      }
    }

    .disabledButtonContainer {
      width: 100%;
      text-align: center;
      button {
        width: 120px;
        font-weight: 500;
      }
    }

  }
.spinRunning {
    position: absolute;
    padding-top: 120px;
    padding-right: 40px;
    text-align: center;
    margin-top: -15px;
    margin-left: -15px;
    width: 110%;
    height: 110%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.6);
    .runningLabel {
        margin-top: 5px;
        color: #3b458f;
    }
}
.alertPosition {
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -163px;
}
}
