@font-face {
    font-family: "MLCustomFont";
    src: url("../../fonts/ML_IconFont.ttf") format("truetype");
    src: url("../../fonts/icomoon.ttf") format("truetype");
}

@import "../../theme/HCVariables.scss";

.queryExport {
    margin-right: 5px;
    margin-top: 8px;
    height: 10px;
}

.iconHover:hover {
    color: var(--hoverColor);
}

.tabular {
    margin-top: 20px;
    display: grid;
    overflow: hidden;
    overflow-x: scroll;
}

.columnSelector {
    margin-right: 1px;
    margin-top: 5px;
    height: 10px;
}

.icon {
    display: flex;
    justify-content: flex-end;
}

.nestedTable {
    padding: 30px;
    margin: 0px;
}

.redirectIcons a {
    color: #44499c;
    cursor: pointer;
    padding: 0px 8px;
}

.jsonIcon:before {
    content: "\e94c";
    font-family: MLCustomFont;
    font-size: 18px;
    position: relative;
    font-weight: 200;
    top: -2px;
    display: inline-block;
}

.jsonIcon:hover:before {
    color: var(--hoverColor);
}

.graphIcon {
    color: #44499c;
    cursor: pointer;
    padding: 0px 8px;
}
.redirectIcons {
    display: flex;
}

.innerColumnTable {
    padding: 0 !important;
    background-color: transparent !important;
    width: 100%;
    th {
        padding: 12px 16px;
        border-bottom: 1px solid #e8e8e8;
        background-color: #e8e8e8;
        font-weight: 500 !important;
        max-width: 100px;
    }
    td {
        border-left: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
        padding: 12px 16px;
        max-width: 100px;
    }
    .innerTableContainer {
        max-width: 100%;
        padding: 0 !important;
    }
    .subColumnsHeadersContainer {
        padding: 0;
    }
    .subColumnsHeadersItem {
        padding: 16px 24px;
        border-bottom: 1px solid #e8e8e8;
        background-color: #fafafa;
    }
    .subTableColumContainer {
        padding: 0;
    }
    .columHeaderClicked {
        cursor: pointer;
    }
    .nestedColumn {
        padding: 0 !important;
        vertical-align: top;
        & > div {
            padding: 16px 24px;
            border-bottom: 1px solid #e8e8e8;
            background-color: #fafafa;
        }
    }
    .noData {
        padding: 16px 24px;
    }
}
