.queryExport {
    margin-right: 55px;
    display: flex;
    justify-content: flex-end;
}
.tabular {
    margin-top: 20px;
    overflow-x: auto;
}

.nestedTable{
    padding: 30px;
    margin: 0px;
  }

.redirectIcons a {
  padding: 8px;
  color: #44499C;
}