.queryExport {
  margin-right: 5px;
  margin-top: 8px;
  height: 10px;
}
.tabular {
    margin-top: 20px;
    overflow: auto;
    height: 46vh;
    display: grid;
}

.columnSelector {
  margin-right: 1px;
  margin-top: 5px;
  height: 10px;
}

.icon {
  display: flex;
  justify-content: flex-end;
}

.nestedTable {
  padding: 30px;
  margin: 0px;
}

.redirectIcons a {
  padding: 8px;
  color: #44499C;
}
