@font-face {
  font-family: 'MLCustomFont';
  src: url('../../fonts/ML_IconFont.ttf') format('truetype');
  src: url('../../fonts/icomoon.ttf') format('truetype');
}

.queryExport {
  margin-right: 5px;
  margin-top: 8px;
  height: 10px;
}

.iconHover:hover{
    color: var(--hoverColor);
}

.tabular {
    margin-top: 20px;
    display: grid;
}

.columnSelector {
  margin-right: 1px;
  margin-top: 5px;
  height: 10px;
}

.icon {
  display: flex;
  justify-content: flex-end;
}

.nestedTable {
  padding: 30px;
  margin: 0px;
}

.redirectIcons a {
  padding: 8px;
  color: #44499C;
}

.jsonIcon:before {
  content: "\e94c";
  font-family: MLCustomFont;
  font-size: 18px;
  position: relative;
  font-weight: 200;
  top: 3px;
  display: inline-block;
}

.jsonIcon:hover:before{
    color: var(--hoverColor);
}
