.resultsList {
    .sortContainer {
        display: flex;
        justify-content: flex-end;
        gap: 5px;
        height: 30px;
        padding-bottom: 5px;
        .thumbnailClean {
            width: 70px;
        }
        .detailClean {
            width: 93%;
        }
        .sortElements {
            max-width: 260px;
            display: flex;
            grid-gap: 5px;
            gap: 5px;
            align-items: center;
            min-width: 200px;
            padding-left: 20px;
            cursor: pointer;
            .sortName {
                font-size: 16px;
                color: #394494;
                font-weight: 700;
                white-space: nowrap;
            }
            .sortIcons {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                svg {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
    .result:hover {
        background-color: #ebf9f6;
    }
    .result {
        &:not(:first-child) {
            border-top:1px solid #ccc;
        }
        .entityIcon {
            font-size: 18px; 
        }
        .thumbnail {
            img {
                width: 48px;
                height: 48px;
                margin-right: 20px;
                border-radius: 4px;
            }
        }
        .details {  
            div.title { 
                color: #394494;
                cursor: pointer;
                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: inline-block;
                }
            }
            div.title.no-entity {
                color: #333333;
                cursor: auto;
            } 
            .phone {
                font-weight: 600;
            }
            .email { 
                color: #394494;
            }
            .categories { 
                > .Chiclet {
                    display: inline-block;
                    padding: 1px 6px;
                    border-radius: 4px;
                    margin-right: 3px;
                    margin-bottom: 3px;
                    font-size: 14px;
                }
            }
        }
        > div {
            display: inline-block;
        }
        .timestamp {
            white-space: nowrap;
        }
        .actions {  
            justify-content: space-between;   
            font-size: 15px;
            .icons { 
                white-space: nowrap;
                .status {
                    display: inline-block;
                    width: 100px;
                    font-weight: bold;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    position: relative;
                    top: 5px;
                    padding-right: 4px;
                }
                svg {
                    margin-left: 10px;
                }
                svg:nth-of-type(1) {
                    margin-left: 0;
                }
            }
        }
    }
} 
