.resultsList {
    .result:hover {
        background-color: #ebf9f6;
    }
    .result {
        display: flex;
        align-items: flex-start;
        width: 100%;
        border-bottom: solid 1px #ccc;
        padding: 10px 0;
        color: #333333;
        .thumbnail {
            img {
                width: 70px;
                height: 70px;
                margin-right: 20px;
                border-radius: 4px;
            }
        }
        .details {
            position: relative;
            width: 93%;
            top: 10px;
            div.title {
                position: relative;
                display: inline-block;
                font-size: 18px;
                font-weight: bold;
                text-decoration: none;
                color: #394494;
                cursor: pointer;
            }
            div.subtitle {
                line-height: 18px;
                margin-bottom: 10px;
                div.item {
                    position: relative;
                    display: inline-block;
                    margin-right: 20px;
                    top: 5px;
                    font-size: 15px;
                    span {
                        display: inline-block;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
            .phone {
                width: 120px;
                font-weight: bold;
            }
            .email {
                width: 180px;
                color: #394494;
            }
            .categories {
                position: absolute;
                top: -8px;
                right: 0;
                > .Chiclet {
                    display: inline-block;
                    padding: 1px 6px;
                    background-color: #cfe3e9;
                    border-radius: 4px;
                    margin-left: 6px;
                    font-size: 14px;
                }
            }
        }
        > div {
            display: inline-block;
        }
        .timestamp {
            white-space: nowrap;
        }
        .actions {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            width: 245px;
            height: 80px;
            padding: 0 10px 0 20px;
            font-size: 15px;
            .icons {
                .status {
                    display: inline-block;
                    width: 105px;
                    font-weight: bold;
                }
                svg {
                    margin-left: 10px;
                }
                svg:nth-of-type(1) {
                    margin-left: 0;
                }
            }
        }
    }
}
.result:nth-of-type(1) {
    border-top: solid 1px #ccc;
} 

