.ant-table-row-collapsed::after {
  content: '>';
}

.ant-table-row-expanded::after {
  content: '\22C1';
}

.react-resizable {
  position: relative;
  background-clip: padding-box;
}

.react-resizable-handle {
  position: absolute;
  width: 30px;
  height: 100%;
  bottom: 0;
  right: -15px;
  cursor: col-resize;
  z-index: 1;
}

.ant-tooltip {
  white-space: pre-wrap;
}

.ant-popover {
  position: fixed;
  z-index: 1;
}

.react-resizable > .ant-table-header-column {
  cursor: move; 
}

.ant-checkbox-group-item {
  display: block;
  margin-right: 0;
  padding: 2px;
}