.login-form {
  max-width: 300px;
  margin: auto;
}

.login-form-button {
  width: 100%;
} 
.entity-container {
  border: solid 1px blue;
  width: 50%;
  margin: auto;
}
.definition-container {
  border: solid 1px green;
  margin-left: 5%;
}

.property-container {
  border: solid 1px red;
  margin-left: 5%;
}

.item-container {
  border: solid 1px purple;
  margin-left: 5%;
}

