<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title th:text="#{app.title}"></title>
	<link th:href="@{/static/lib/bootstrap-3.3.6-dist/css/bootstrap.min.css}" rel="stylesheet"></link>
	<link th:href="@{/static/css/quick-start.css}" rel="stylesheet"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script th:src="@{/static/lib/bootstrap-3.3.6-dist/js/bootstrap.min.js}"></script>
	<script th:src="@{/static/lib/angular.js/js/angular.min.js}"></script>
	<script th:src="@{/static/js/quick-start.js}"></script>
</head>
<body>
	<div id="header" class="container-fluid">
		<div class="row">
			<div class="col-xs-8 col-sm-8 col-md-8"><h1 id="sitename" th:text="#{app.title}"></h1></div>
		</div>
	</div>
	
	<section id="content" class="container-fluid" layout:fragment="content"></section>
	
	<div id="footer" class="container-fluid">
		<span th:utext="#{app.footer}"></span>
	</div>

	<div layout:fragment="page-script" th:remove="tag"></div>

</body>
</html>