.new-flow-dialog {
  min-width: 500px;
  width: 500px;

  label {
    margin: 5px 0;
  }

  /deep/ .select-list {
    .mdl-list__item {
      padding: 8px;
    }
  }

  mdl-textfield {
    width: 100%;
  }

  /deep/ mdl-textfield.custom-invalid input.mdl-textfield__input {
    border-bottom: 1px solid #a94442;
  }

  .alert-text {
    margin-top:-20px;  /* position directly under the input */
    color: #a94442;
  }
}

/deep/ .mdl-textfield__label:after {
  bottom: 12px;
}
