.install-box {
  width: 100%;
  background-color: #333;
  color: white;
  height: 300px;
  max-height: 300px;
  overflow: auto;
}

.hidden-tabs {
  border: none;

  md-tabs-wrapper {
    border-style: none;
  }
}

md-tabs.hidden-tabs[md-border-bottom] md-tabs-wrapper {
  border-style: none;
}

.hidden-tabs md-tabs-canvas {
  display: none;
}

div[layout=column] {
  width: 100%;
}

.initForm, .loginForm {
  md-input-container {
    margin: 0px;
  }

  h3 {
    padding-bottom: 10px;
    margin-bottom: 15px;
  }

  .sub-section {
    margin-left: 2em;
  }
}

.init-box {
  background-color: rgba(255,255,255,0.5);
  padding: 20px;
}

.init-buttons {
  margin-top: 20px;
}

.loginForm {
  min-width: 300px;
}

.project-list {
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 10px;

  cursor: pointer;

  .fa-check {
    margin-left: 10px;
    color: green;
  }

  .md-list-item-component {
    &:hover {
      background-color: rgba(121,85,72,.25);
    }
  }

}

.shrink-me {
  height: auto;
  opacity: 1;
}

.shrink-me.ng-hide-add,
.shrink-me.ng-hide-remove {
  transition: all linear 0.25s;
}

.shrink-me.ng-hide {
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  height: 0px;
  opacity: 0;
}
