<div class="current-folder" flex layout-fill layout="column">
  <md-input-container>
    <label>Current Folder</label>
    <input type="text" ng-model="ctrl.currentPath" required="required" (change)="ctrl.changedPath()" />
  </md-input-container>
</div>
<div class="foldertree-container">
  <div ng-show="ctrl.isLoading" layout="row" layout-sm="column" class="ajax-progress" layout-align="center start">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
  <ul class="foldertree">
    <li ng-repeat="folder in ctrl.folders">
      <div class="entry" ng-init="folder.collapsed = false" ng-click="ctrl.entryClicked(folder)">
        <i class="fa fa-folder-o"></i>
        <p>{{folder.name}}</p>
      </div>
    </li>
  </ul>
</div>

