@font-face {
	font-family: 'MLCustomFont';
	src: url('../../fonts/ML_IconFont.ttf') format('truetype');
	src: url('../../fonts/icomoon.ttf') format('truetype');
}

.title {
	padding-top: 5px;
	font-size: 16px;
	font-weight: bold;

	.entityName {
		color: #666;
		font-weight: bold;
		padding-right: 8px;
	}

	.primaryKey {
	  color: #666;
	  padding-right: 5px;
	}

}

.snippet {
	padding-top: 8px;
}

.metadata {
	padding-top: 8px;
	padding-bottom: 6px;

	.metaItem {
		display: inline-block;
		width: 260px;
	}

	.metaLabel {
		font-weight: bold;
		color: #666;
		padding-right: 8px;
	}

	.metaValue {
		padding-right: 15px;
  }
  .format {
    padding-right: 5px;
    text-transform: uppercase;
  }
}

.expandableIcon {
	font-size: 15px;
	margin-right: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.redirectIcons {
	float: right;
}

.redirectIcons a {
	padding: 8px;
}

.jsonIcon:before {
	content: "\e94c";
	font-family: MLCustomFont;
	font-size: 18px;
	position: relative;
	font-weight: 200;
	top: 3px;
	display: inline-block;
}
.jsonIcon:hover:before{
    color: var(--hoverColor);
}
.iconHover:hover{
    color: var(--hoverColor);
}
