<options xmlns="http://marklogic.com/appservices/search">
  <constraint name="jobInstance">
    <element-query name="jobInstance" ns="http://marklogic.com/spring-batch" />
  </constraint>
  <constraint name="jobInstanceId">
    <value>
      <element name="id" ns="http://marklogic.com/spring-batch" />
    </value>
  </constraint>
  <constraint name="jobName">
    <value>
      <element name="jobName" ns="http://marklogic.com/spring-batch" />
    </value>
  </constraint>
  <constraint name="jobKey">
    <value>
      <element name="jobKey" ns="http://marklogic.com/spring-batch" />
    </value>
  </constraint>
  <constraint name="jobParameter">
    <value>
      <element name="jobParameter" ns="http://marklogic.com/spring-batch/job-parameter" />
    </value>
  </constraint>
  <constraint name="status">
    <value>
      <element name="status" ns="http://marklogic.com/spring-batch" />
    </value>
  </constraint>
  <constraint name="jobExecutionId">
    <range type="xs:unsignedLong" facet="false">
        <path-index xmlns:msb="http://marklogic.com/spring-batch">/msb:mlJobInstance/msb:jobExecutions/msb:jobExecution/msb:id</path-index>
    </range>
  </constraint>
  <constraint name="endDateTime">
    <container>
      <element name="endDateTime" ns="http://marklogic.com/spring-batch" />
    </container>
  </constraint>
  <constraint name="type">
    <collection prefix="http://marklogic.com/spring-batch/" facet="false" />
  </constraint>
  <constraint name="jobExecution-createDateTime">
    <range>
      <element ns="http://marklogic.com/spring-batch" name="createDateTime"/>
    </range>
  </constraint>
  <constraint name="jobInstance-createDateTime">
    <range>
      <element ns="http://marklogic.com/spring-batch" name="createDateTime"/>
    </range>
  </constraint>
  <values name="jobExecutionId">
    <range type="xs:unsignedLong">
        <element ns="http://marklogic.com/spring-batch" name="id" />
    </range>
  </values>
  <values name="jobInstanceId">
    <range type="xs:unsignedLong">
        <element ns="http://marklogic.com/spring-batch" name="id" />
    </range>
  </values>
  <values name="jobName">
    <range type="xs:string">
        <element ns="http://marklogic.com/spring-batch" name="jobName" />
    </range>
  </values>
  <operator name="sort">
    <state name="date">
      <sort-order direction="descending" type="xs:dateTime">
        <element ns="http://marklogic.com/spring-batch" name="createDateTime"/>
      </sort-order>
    </state>
    <state name="date-desc">
      <sort-order direction="descending" type="xs:dateTime">
        <element ns="http://marklogic.com/spring-batch" name="createDateTime"/>
      </sort-order>
    </state>
    <state name="date-asc">
      <sort-order direction="ascending" type="xs:dateTime">
        <element ns="http://marklogic.com/spring-batch" name="createDateTime"/>
      </sort-order>
    </state>
  </operator>
  <transform-results apply="raw" />
</options>
