#compareValuesTable .ant-table-thead {
    display: none;
}

#compareValuesTable td {
    border-color: white;
}

#compareValuesTable td {
    border-color: white;
}

#compareValuesTable td:nth-child(1) {
    background-color: #f1f1f1;
}

#compareValuesTable td:nth-child(2) {
    background-color: #d2eae2;
}

#compareValuesTable td:nth-child(3) {
    background-color: #bfc5f3;
}

.react-bootstrap-table {
    &.compare-values-model {
        thead {
            tr {
                th {
                    background-color: #f1f1f1 !important;
                    max-width: 250px;
                    &:first-child {
                        border: 0 !important;
                    }
                    &:nth-child(2) {
                        border-right: 1px solid rgba(0,0,0,.05) !important;
                        font-weight: bold !important;
                        max-width: 180px;
                        min-width: 180px;
                    }                    
                    &:last-child {
                        border-left: 1px solid rgba(0,0,0,.05) !important;
                        font-weight: bold !important;
                        max-width: 250px;
                        min-width: 250px;
                    }
                }
            }
        }
        tr {
            td {
                max-width: 290px;
                &.expand-cell {
                    background-color: transparent !important;
                }
                &:nth-child(2) {
                    border-right: 1px solid rgba(0,0,0,.05) !important;
                    max-width: 180px;
                    min-width: 180px;
                }                    
                &:last-child {
                    border-left: 1px solid rgba(0,0,0,.05) !important;
                    max-width: 290px;
                    min-width: 290px;
                }
            }
            &:hover {
                td {
                    background-color: #e9f7fe !important;
                }
                td.reset-expansion-style {
                    background-color: #fff !important;
                    .hc-table_row {
                        &:hover {
                            background-color: #e9f7fe !important;
                        }
                    }
                }
            }
        }
        tbody {
            border-top: 1px solid #e8e8e8;
        }
    }
}

.react-bootstrap-table {
    &.compare-values-model-unmerge {
        thead {
            tr {
                th {
                    background-color: #f1f1f1 !important;
                    max-width: 290px;
                    &:first-child {
                        border: 0 !important;
                    }
                    &:nth-child(2) {
                        border-right: 1px solid rgba(0,0,0,.05) !important;
                        font-weight: bold !important;
                        max-width: 180px;
                        min-width: 180px;
                    }                    
                    &:nth-child(3) {
                        border-right: 1px solid rgba(0,0,0,.05) !important;
                        font-weight: bold !important;
                        max-width: 180px;
                        min-width: 180px;
                    }                    
                    &:last-child {
                        max-width: 290px;
                        min-width: 290px;
                    }
                }
            }
        }
    }
}