#compareValuesTable .ant-table-thead {
    display: none;
}

#compareValuesTable td {
    border-color: white;
}

#compareValuesTable td {
    border-color: white;
}

#compareValuesTable td:nth-child(1) {
    background-color: #f1f1f1;
}

#compareValuesTable td:nth-child(2) {
    background-color: #D2EAE2;
}

#compareValuesTable td:nth-child(3) {
    background-color: #BFC5F3;
}
