#compareValuesTable .ant-table-thead {
    display: none;
}

#compareValuesTable td {
    border-color: white;
}

#compareValuesTable td {
    border-color: white;
}

#compareValuesTable td:nth-child(1) {
    background-color: #f1f1f1;
}

#compareValuesTable td:nth-child(2) {
    background-color: #d2eae2;
}

#compareValuesTable td:nth-child(3) {
    background-color: #bfc5f3;
}

.react-bootstrap-table {
    &.compare-values-model {
        thead {
            tr {
                th {
                    background-color: #e0e0e0 !important;
                }
            }
        }
        tr {
            td {
                &.expand-cell {
                    background-color: transparent !important;
                }
            }
            &:hover {
                td {
                    background-color: #e9f7fe !important;
                }
                td.reset-expansion-style {
                    background-color: #fff !important;
                    .hc-table_row {
                        &:hover {
                            background-color: #e9f7fe !important;
                        }
                    }
                }
            }
        }
    }
}