@import "../../../../theme/HCUtils.scss";

.compareValuesModalHeading {
    font-size: 2.3vh;
}

.compareValuesTable {
    margin-top: 2vh;
}

.matchedRow {
    background: #39944d;
}

.nameColumnStyle {
    margin-left: 3px;
}

.matchIconContainer{
    line-height: 0;
}

.matchIcon {
    background: #85bf97;
    margin-right: 0.5rem ;
    width: 2vh;
    height: 2vh;
}

.deleteMatch {
    margin-left: 10px;
    &:hover {
      cursor: pointer;
    }
}

.objectNotation {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px
}

.compareTableHeader {
    display: table;
    width: 100%;
    > span {
        padding: 0 16px;
        display: table-cell;
    }
}

.matchIconText {
    font-weight: bold;
    float: right;
}

.compareHeaderContainer {
    display: table;
    width: 100%;
    > span {
        padding: 0 16px;
        display: table-cell;
    }
}

.expandCell {
    width: 50px;
    min-width: 50px;
}

.entityPropertiesHeader {
    width: 25%;
}

.entity1 {
    font-weight: bold;
    width: 25%;
}

.entity2 {
    width: 25%;
    font-weight: bold;
}
.entityPreview {
    font-weight: bold;
    width: calc(25% - 50px);
}

.moreUrisPopover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15) !important;
    border: 0px !important;
    font-size: 14px !important;
    min-width: 670px !important;
}

.uriText {
    max-width: 90%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    font-family: "monospace";
    text-overflow: ellipsis;
}

.uriText:hover {
    overflow: visible;
    white-space: normal;
}

.infoIcon {
    position: absolute;
    top: 21px;
    font-size: 18px;
    margin-left: 8px;
    color: $primary;
    cursor: pointer;

    &:hover {
        color: var(--hoverColor);
    }
}

.originalUri {
  font-weight: bold;
  color: $info;
  width: 22%;
  word-break: break-all;
}

.uri1 {
    font-weight: bold;
    color: $info;
    width: 25%;
    word-break: break-all;
}

.uri2 {
    font-weight: bold;
    color: $info;
    width: 25%;
    word-break: break-all;
}

.modal1400w {
    @extend .modal1400w;
}


@media (max-width: 1400px) {
    .modal1400w {
      width: 98% !important
    }
  }
  
.footerText {
    width: 180px;
}

.compareValuesModelTable {
    padding-top: 1rem;

    tr {
        th {
            height: 54px;
        }

        &:hover {
            td {
                background-color: #e9f7fe !important;
            }

            th {
                background: #fafafa !important;
            }
        }
    }
}


.paginationRow {
    width: 100%;
    display: flex;
}

.paginationRowCleanSpace {
    width: 223px;
}
.paginationRowActions {
    flex: 1 1 auto;
    padding: 0 16px;
}
.paginationRowLegend {
    width: 280px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.paginationContainer {
    display: flex;
    justify-content: center;
}
.paginationArrow {
    margin: 0 0.5rem;
    cursor: pointer;
    background-color: $primary;
    padding: 0.5rem 0.7rem;
    &:hover {
        background-color: #303a7e;
        border-color: #2e3676
    }
}
.paginationArrowDisabled {
    margin: 0 0.5rem;
    cursor: not-allowed;
    background-color: $primary;
    opacity: 0.65;
    padding: 0.5rem 0.7rem;
}
.paginationLegend {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}

.compareValuesEntityName {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -55px;
    margin-bottom: 20px;
}

.compareValuesModelBodyContainer {
    display: grid;
}