
.active{
    color: #fafafa;
    margin-left: -7px !important;
}

.ant-table-filter-icon.ant-dropdown-trigger.ant-table-filter-selected{
    background: #394494; 
}

#srcContainer {
  #jsonTable {
    .ant-table-column-has-actions.ant-table-column-has-filters.ant-table-column-has-sorters.ant-table-row-cell-break-word{
    padding-left: 22px;    
    }
    .ant-table-wrapper {
      margin-top: 20px;
    }
  }
  #lowerTableXML {
  .ant-table-column-has-actions.ant-table-column-has-filters.ant-table-column-has-sorters.ant-table-row-cell-break-word{
    padding-left: 44px;    
    }
  }

  #upperTableXML {
    .ant-table-column-has-actions.ant-table-column-has-filters.ant-table-column-has-sorters.ant-table-row-cell-break-word{
      padding-left: 22px;    
      }
    .ant-table-wrapper { 
      margin-top: 20px;
    }
  }
}

.datatype-string::before {
    content: '"';
}
.datatype-string::after {
    content: '"';
}

.moreVal {
    color: grey;
}

#ClearTestButtons .ant-btn-sm{
    font-size: 16px;
    height: 30px;
    width: 60px;
}

.Resizer.vertical {
  border-style: dashed !important;
}


#columnOptionsSelectorButton {
    text-decoration: none !important;
    outline: none;
    box-shadow: none;
    &:active,&:focus {
      box-shadow: none;
    }
}
