@import 'flex';
@import 'variables';
@import 'dialog';
@import 'tooltip';

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/assets/fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(/assets/fonts/MaterialIcons-Regular.woff) format('woff'),
       url(/assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


$fa-font-path: '/assets/fonts';
$subtle-background: rgba(121,141,157,0.25);
@import 'font-awesome/scss/font-awesome';

html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background-color: #e9eef4;
}

span.active {
  background-color: gray;
}

a:focus {
  outline: none;
  text-decoration: none;
}

a {
  a:focus {
    outline: none;
  }
}

main {
  height: 100%;
}
