div.content {
	font-size: 14px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: 'transparent';
	span {
		padding: 0 5px;
	}
	.link {
		cursor: pointer;
	}
	.link:focus {
		outline: 2px solid #7F86B5;
		outline-offset: -1px;
	}
}

.linkStyle:hover {
        color : var(--hoverColor) !important;
    }

