@import '../../theme/styles/variables';

$primary: unquote("rgb(#{$color-primary})");
$light: unquote("rgb(#{$palette-datahub-A100})");

.section-header {
  width: 100%;
  flex: none;
}

.section-title {
  padding: 10px;
  font-size: 24px;
  color: $primary;
  width: 100%;
  text-align: left;
}

.databases {
  background-color: $light;
  flex: none;
}

.info-card {
  margin: 20px;
  padding: 10px;
  background-color: rgba(255,255,255,0.5);
  min-width: 250px;

  .info-title {
    color: $primary;
    font-size: 18px;
  }

  .info-body {
    padding: 10px;

    .column-head {
      width: 100%;
      font-size: 92%;
    }
    .column-body {
      line-height: 100%;
      font-size: 30px;
      font-weight: 300;
      color: $primary;
    }
  }
}

/* Fix bug showing double tooltip arrows */
/deep/ .tooltip .arrow::before {
  visibility: hidden;
}
