<section class="search-results" layout="row" layout-align="center center">
  <form flex="60" layout="row" ng-submit="ctrl.runSearch()" layout-align="center center">
    <md-autocomplete flex md-search-text="ctrl.query" md-selected-item-change="ctrl.itemSelected(item)" md-items="item in ctrl.getMatches(searchText)" md-item-text="item.identifier">
      <span md-highlight-text="searchText">{{item.identifier}}</span>
    </md-autocomplete>
    <md-button type="submit" class="md-raised md-primary">Search</md-button>
  </form>
</section>

<section class="search-results" layout="row" layout-align="center center">
  <md-list flex="60">
    <md-subheader class="md-no-sticky">
      <pagination [start]="ctrl.searchResponse.start"
        [end]="ctrl.searchResponse.end"
        [total]="ctrl.searchResponse.total"
        [page-count]="ctrl.searchResponse.pageCount"
        (page-changed)="ctrl.pageChanged($event)"></pagination>
    </md-subheader>

    <md-list-item class="md-3-line"
      ng-repeat="trace in ctrl.searchResponse.traces"
      ng-click="ctrl.itemSelected(trace)">
      <div class="md-list-item-text" layout="row">
        <md-button class="md-fab" ng-class="trace.flowType" ng-disabled="true" aria-label="Comment">
        </md-button>
        <div layout="column">
          <h3>Idenfitier: {{ trace.identifier }}</h3>
          <h4>FlowType: {{ trace.flowType }}</h4>
          <p>Created: {{ trace.created }}</p>
        </div>
      </div>
    </md-list-item>
  </md-list>
</section>
