<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <section th:fragment="content" data-ng-app="deployment" data-ng-controller="DeploymentController" data-ng-cloak="ng-cloak">
        <!-- Server side errors will display here -->
        <div id="page-message">
            <div class="alert alert-danger" th:if="${hasErrors}" th:each="error : ${errors}" th:utext="${error}"></div>
            <form  th:object="${deploymentForm}" th:remove="tag">
                <div class="alert alert-danger" th:if="${#fields.hasErrors('*')} " th:each="err : ${#fields.errors('*')}" th:text="${err}"></div>
            </form>
        </div>
        <div class="row" data-ng-show="deploymentForm.$invalid">
            <div class="col-md-12">
                <ul class="alert alert-danger">
                    <li data-ng-show="deploymentForm.mlHost.$invalid" th:text="#{mlHost.is.required}"></li>
                    <li data-ng-show="deploymentForm.mlUsername.$invalid" th:text="#{mlUsername.is.required}"></li>
                    <li data-ng-show="deploymentForm.mlPassword.$invalid" th:text="#{mlPassword.is.required}"></li>
                </ul>
            </div>
        </div>
        <div class="row" data-ng-show="config.serverValidated">
            <div class="col-md-12">
                <ul class="alert alert-info">
                    <li data-ng-show="config.serverAcceptable" th:text="#{server.is.acceptable}"></li>
                    <li data-ng-show="!config.serverAcceptable" th:text="#{server.is.unacceptable}"></li>
                    <li data-ng-show="config.installed" th:text="#{dhib.is.installed}"></li>
                    <li data-ng-show="!config.installed" th:text="#{dhib.is.not.installed}"></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form id="deploymentForm" name="deploymentForm" th:action="@{/}" method="post" class="form-inline" role="form">
                    <div class="form-group">
                        <label th:text="#{label.host}" for="mlHost"></label>
                        <input name="mlHost" type="text" data-ng-model="config.mlHost" class="form-control" th:placeHolder="#{placeholder.host}" required="required" data-ng-disabled="config.installed"/>
                      </div>
                      <div class="form-group">
                        <label th:text="#{label.username}" for="mlUsername"></label>
                        <input name="mlUsername" type="text" data-ng-model="config.mlUsername" class="form-control" th:placeHolder="#{placeholder.username}" required="required" data-ng-disabled="config.installed"/>
                      </div>
                      <div class="form-group">
                        <label th:text="#{label.password}" for="mlPassword"></label>
                        <input name="mlPassword" type="text" data-ng-model="config.mlPassword" class="form-control" th:placeHolder="#{placeholder.password}" required="required" data-ng-disabled="config.installed"/>
                      </div>
                      <div class="form-group" data-ng-show="!config.installed">
                          <button type="submit" name="validateServer" class="btn btn-default" data-ng-disabled="deploymentForm.$invalid">Validate Server</button>
                      </div>
                      <div class="form-group" data-ng-show="config.canBeDeployed">
                          <button type="submit" name="install" class="btn btn-default" data-ng-disabled="deploymentForm.$invalid">Install</button>
                      </div>
                      <div class="form-group" data-ng-show="config.installed">
                          <button type="submit" name="uninstall" class="btn btn-default" data-ng-disabled="deploymentForm.$invalid">Uninstall</button>
                      </div>
                  </form>
            </div>
        </div>
    </section>
    
    <div th:fragment="page-script">
        <script type="text/javascript" th:inline="javascript">
            var myApp = angular.module('deployment', []);
            myApp.controller('DeploymentController', ['$scope', function ($scope) {
                $scope.config = /*[[${deploymentForm}]]*/;
            }]);
        </script>
        <script th:src="@{/static/js/deployment/deployment.js}"></script>
    </div>
</body>
</html>