.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  
  .zeroContent {
    flex: 1;
  }
  
  .italicized {
    font-size: 18px;
    font-family: "helvetica neue";
    font-style: italic;
    color: #333333;
    margin: 10px 10px 30px 30px;
  }
  
  @media all and (max-width: 800px) {
    .italicized {
      font-size: 12px;
      font-family: "helvetica neue";
      font-style: italic;
      color: #333333;
      margin: 10px 10px 30px 30px;
    }
  }
  
  .graphic {
    width: auto;
    height: 7vh;
    max-height: 7vh;
    min-height: 2vh;
    display: flex;
    align-items: center;
    margin: 15px 40px 30px 30px;
  }
  
  .image {
    display: flex;
    justify-content: flex-end;
  }
  
  .p {
    font-size: 2vw;
    font-family: "helvetica neue";
    color: #333333;
    float: center;
    display: flex;
    justify-content: center;
    margin: auto;
  }
  
  .largeCard {
    background-color: #f8f8f8;
    display: block;
    width: 760px;
    max-width: 48vw;
    min-width: 520px;
    height: 180px;
    max-height: 15vw;
    min-height: 160px;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .smallCard {
    background-color: #f8f8f8;
    display: block;
    width: 760px;
    max-width: 48vw;
    min-width: 520px;
    height: 100px;
    max-height: 7vw;
    min-height: 60px;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vw;
  }
  
  .input {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .viewAs {
    display: flex;
    justify-content: center;
  }
  
  .viewAsLabel {
    margin: 5px 14px 5px 0px;
  }
  
  .query {
    max-width: 50%;
  }
  
  .button {
    width: 80px;
  }
  
  .footer {
    background-color: #e5eded;
    border-top: 1px solid #e7e7e7;
    text-align: center;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
  }
  
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
  }