.container {
    display: flex;
    flex-direction: column;
    min-height: 99.2%;
  }

  .zeroContent {
    flex: 1;
  }

  .intro {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333333;
    margin: 24px 10px 30px 20px;
  }

  @media all and (max-width: 800px) {
    .italicized {
      font-size: 12px;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-style: italic;
      color: #333333;
      margin: 10px 10px 30px 30px;
    }
  }

  .graphic {
    width: auto;
    height: 7vh;
    max-height: 7vh;
    min-height: 2vh;
    display: flex;
    align-items: center;
    margin: 15px 40px 30px 30px;
  }

  .image {
    display: flex;
    justify-content: flex-end;
  }

  .p {
    font-size: 2vw;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333333;
    float: center;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .largeCard {
    background-color: #f8f8f8 !important;
    border-width: 0 !important;
    display: block;
    width: 760px;
    max-width: 48vw;
    min-width: 750px;
    height: 240px;
    max-height: 15vw;
    min-height: 220px;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .smallCard {
    background-color: #f8f8f8 !important;
    border-width: 0 !important;
    display: block;
    width: 760px;
    max-width: 48vw;
    min-width: 750px;
    height: 100px;
    max-height: 7vw;
    min-height: 60px;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vw;
  }

  .input {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .viewAs {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .viewAsCard {
    margin-left: -1px;
  }

  .database {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .exploreButton {
    display: flex;
    justify-content: center;
  }

  .viewAsLabel {
    margin: 5px 10px 5px 0px;
  }

  .databaseLabel {
    margin: 5px 10px 5px 0px;
  }

  .query {
    max-width: 50%;
  }

  .button {
    height: 30px;
    width: 80px;
    font-size: 14px;
    text-align: center;
    line-height: 200%
  }

  .footer {
    background-color: #e5eded;
    border-top: 1px solid #e7e7e7;
    text-align: center;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
  }

  .box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dividerOption { 
    margin: 0px 0
  }

  .switchViewButton {
    height: 30px;
    font-size: 14px;
    line-height: 200%
  }
  
  .switchViewIcon { 
    font-size: 16px;
    margin-left: -5px; 
    margin-right: 5px;
  }

  .databaseSelector {
    width: 160px;
  }

  .searchBar {
    top: -1px;
    width: 700px;
  }

  .querySelector {
    width: 300px;
  }

  .iconDropdownContainer {
    display: flex;
  }