#zero-state-explorer .ant-radio-button-wrapper {
    border: solid 1px #999;
    color: #999;
    background: #FFF;;
}
#zero-state-explorer .ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
    border: solid 1px #5B69AF;
    color: #5B69AF;
    background: #FFF;
}
