.icon, .multipleIcon, .wildcardIcon, .facetIcon, .sortIcon {
  font-size: 20px;
  color: #333333;
}

.multipleIcon {
  margin-left: 15px;
}

.sortIcon {
  margin-left: 7px;
}

.wildcardIcon {
  margin-left: 45px;
}

.facetIcon {
  margin-left: 9px;
}

.identifierIcon {
  color: #333333;
  font-size: 16px;
  margin-left: 19px;
}

.addIcon {
  cursor: pointer;
  font-size: 21px;
  margin-left: 6px;
  color: #5B69AF;
}

.addIconReadOnly {
  cursor: not-allowed;
  font-size: 21px;
  margin-left: 6px;
  color: #cccccc;
}

.addButtonContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.iconTrash {
  cursor: pointer;
  font-size: 21px;
  margin-left: 11px;
  color: #B32424;
}

.iconTrashReadOnly {
  cursor: not-allowed;
  font-size: 21px;
  margin-left: 11px;
  color: #cccccc;
}

.disabledButton {
  pointer-events: none;
}

.link {
  color: #5B69AF;
  cursor: pointer;
}
