.icon {
  font-size: 21px;
  margin-left: 11px;
}

.identifierIcon {
  font-size: 21px;
  margin-left: 16px;
}

.addIcon {
  cursor: pointer;
  font-size: 21px;
  margin-left: 6px;
  color: #5B69AF;
}

.addIconReadOnly {
  cursor: not-allowed;
  font-size: 21px;
  margin-left: 6px;
  color: #5B69AF;
  opacity: 0.5
}

.addButtonContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.iconTrash {
  cursor: pointer;
  font-size: 21px;
  margin-left: 11px;
  color: #B32424;
}

.iconTrashReadOnly {
  cursor: not-allowed;
  font-size: 21px;
  margin-left: 11px;
  color: #B32424;
  opacity: 0.5
}