@import "../../../theme/HCVariables.scss";

.icon, .multipleIcon, .wildcardIcon, .facetIcon, .sortIcon {
  font-size: 20px;
  color: #333333;
}

.multipleIcon {
  margin-left: 15px;
}

.sortIcon {
  margin-left: 7px;
}

.wildcardIcon {
  margin-left: 45px;
}

.facetIcon {
  margin-left: 9px;
}

.identifierIcon {
  color: #333333;
  font-size: 16px;
  margin-left: 19px;
}

.addIcon {
  cursor: pointer;
  font-size: 21px;
  margin-left: 6px;
  color: $info;
}

.addIconReadOnly {
  cursor: not-allowed;
  font-size: 21px;
  margin-left: 6px;
  color: #cccccc;
}

.extraButtonContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.expandCollapseBtns {
  margin-right: 5px;
}

.iconTrash {
  cursor: pointer;
  font-size: 21px;
  margin-left: 11px;
  color: $trash-icon;
  &:hover{
      color:var(--hoverColor) !important;
  }
}

.iconTrashSidePanel {
  cursor: pointer;
  font-size: 21px;
  margin-left: 11px;
  color: $info;
  &:hover{
    color:var(--hoverColor) !important;
  }
}

.iconTrashReadOnly {
  cursor: not-allowed;
  font-size: 21px;
  margin-left: 11px;
  color: #cccccc;
}

.modeledRelationshipIconNoKey::before {
  content: "\e95e";
  font-family: MLCustomFont;
  font-size: 19px;
  margin-left: -8px;
  margin-top: -3px;
  color: #57c2da;
  position: absolute;
  cursor: pointer;
}

.modeledRelationshipIcon::before {
  content: "\e95e";
  font-family: MLCustomFont;
  font-size: 19px;
  margin-left: -8px;
  margin-top: -3px;
  color: #57c2da;
  position: absolute;
  cursor: pointer;
}

.relationshipTooltip {
  margin-left: 13px;
}

.dualIconsContainer {
  width: 45px;
  margin-left: 14px;
  display: inline-block;
}

.relationshipIconContainer {
  width: 35px;
  margin-left: 16px;
  margin-bottom: 15px;
  display: inline-block;
}

.addPropertyButton {
  line-height: normal;
  padding: 1.5px 8px !important;
}

.disabledButton {
  cursor: not-allowed;
}

.buttonContainer {
  height: auto;
}

.link {
  color: $info;
  cursor: pointer;
  &:hover{
      color: var(--hoverColor);
  }
  display: flex;
  align-items: center;
}

.foreignKeyRelationshipIcon {
  color: #37AA6C;
  font-size: 14px;
  margin-left: 16px;
  cursor: pointer;
}

.arrayImage {
  margin-left: 5px;
  margin-bottom: 1px;
  cursor: pointer;
}

.structuredIcon {
  color: $info;
  font-size: 14px;
  margin-left: 5px;
  margin-bottom: -1px;
  cursor: pointer;
}

.titleNoDefinition {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 10px;
}

.addEntityProp{
  display: grid;
  place-items: center;
  padding: 16px 16px !important;
  border: 1px solid #e8e8e8;
  border-radius: 0px !important;
  border-top-width: 0px !important;

  &SidePanel {
    border-left: 0;
    border-right: 0;
  }
}

.buttonLink{
  padding: 0px !important;
  border: 0 !important;
  margin: 0 !important;
  text-align: center;
}

.tableContainer{
  margin-bottom: 1rem !important;
}

table {
  margin-bottom: 0 !important;
}
