.pageHeader {
  padding-bottom: 10px;
}

.headerDescription {
  padding: 0 0 10px 57px;
}

.stepNumberContainer {
  display: flex;
  margin-bottom: 10px;

  .stepText {
    margin: 8px 0 0 12px;
  }
}

.matchingDetailContainer {
  padding: 20px;

  .bold {
    font-weight: bold;
  }

  .italic {
    font-style: italic;
  }

  .greyContainer {
    padding: 10px;
    margin-left: 2%;
    margin-bottom: 35px;
    border-radius: 5px;
    background-color: #f1f1f1;
  }

  .topHeader {
    display: grid;
    grid-template-columns: 90% 10%;
  }

  .textContainer {
    display: flex;
  }

  .addButtonContainer {
    display: flex;
    justify-content: flex-end;
  }


  .link {
    margin-left: 10px;
    color: #5B69AF;
    cursor: pointer;
  }

  .hideText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .showText {
    white-space: normal;
    overflow: inherit;
    text-overflow: inherit;
  }

  .matchCombinationsContainer {
    padding: 10px;
    margin-left: 2%;
    margin-bottom: 35px;
    border-radius: 5px;
    background-color: #E5E7F0;
    min-height: 20em;

    .matchCombinationsHeading {
      font-size: 16px;
      font-weight: bold;
      padding-bottom: 17px;
    }

    .matchCombinationsColsContainer {
      display: flex;

      .matchCombinationsCardStyle {
        width: 35em;
        min-height: 6em;
        text-align: left;
        align-content: left;
        background-color: #E5E7F0;
        border: 1px dashed #CCCCCC;

        .colsWithoutDivider {
          min-width: fit-content;
          white-space: normal;
          margin-top: -10px;
          margin-left: -10px;

          .combinationlabel {
            font-weight: 500;
            padding-bottom: 15px;
          }
        }

        .colsWithSingleMatch {
          min-width: fit-content;
          white-space: normal;
        }

        .period {
          height: 6px;
          width: 6px;
          margin-left: 2px;
          margin-right: 2px;
          background-color: #6A77B4;
          border-radius: 50%;
          display: inline-block;
        }
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: flex-end;

  .saveButton {
    margin-left: 5px;
  }
}

.deleteMessage {
  margin: 4% 0 8% 0;
}

.addIcon {
    cursor: pointer;
    font-size: 21px;
    margin-left: 6px;
    color: #5B69AF;
    &:hover {
        color: var(--hoverColor);
    }
}

.disabledAddIcon {
    cursor: not-allowed;
    pointer-events: auto;
    font-size: 21px;
    margin-left: 6px;
    color: #cccccc;
}

.testMatch {
    padding-left: 44px;
    padding-top: 10px;
}

.uriInput {
    width: 29vw;
    height: 4vh;
}

.testButton {
    padding-top: 23px;
}

.UriTable {
    padding-top: 20px;
    width: 32.5vw;
    overflow-y: auto;
    max-height: 30vh;
}

.tableContent {
    border-top: 1px solid #e8e8e8;
}

.tableRow {
    display: flex;
    height: 1em;
}

.deleteIcon {
    color: #B32424;
    font-size: 21px;
    cursor: pointer;
    padding-bottom: 2px;
    &:hover{
        color: var(--hoverColor) !important;
    }
}

.positionDeleteIcon {
    float: right;
    padding-right: 0.2vw;
    padding-left: 1vw;
    line-break: auto;
    margin-left: auto;
}

.allDataRadio {
    float: right;
    margin-left: 5vw;
    max-width: 55%;
    position: absolute;
}

.matchedTab {
    margin-bottom: 10vh;
}
