:host {
  display: block;
  position: relative;
}

.grabber {
  display: block;
  width: 2px;
  height: 2px;
  line-height: 2px;
  position: absolute;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: transparent;

  &.top {
    cursor: row-resize;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: -14px;
  }

  &.right {
    cursor: col-resize;
    height: 100%;
    right: 0;
    top: 0;
    margin-right: -6px;
    width: 9px;
  }

  &.bottomRight {
    cursor: se-resize;
    height: 20px;
    right: 0;
    bottom: 0;
    margin-right: 0;
    width: 20px;
    border-bottom: 2px solid #ccc;
    border-right: 2px solid #ccc;

    &:hover {
      border-bottom: 2px solid #333;
      border-right: 2px solid #333;
    }
  }

  &.bottom {
    cursor: row-resize;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-bottom: -6px;
    height: 9px;
  }

  &.left {
    cursor: col-resize;
    height: 100%;
    left: 0;
    top: 0;
    margin-left: -14px;
  }
}
