<header status="status"></header>

<div id="content" class="container">
    <div class="row spacing-top">
        <div class="col-xs-12">
            <ul class="alert alert-info">
                <li ng-if="status.serverVersionAccepted">ML version is acceptable.</li>
                <li ng-if="!status.serverVersionAccepted">ML version is unacceptable.</li>
                <li ng-if="status.installed">Data Hub is already installed.</li>
                <li ng-if="!status.installed">Data Hub is not yet installed.</li>
            </ul>
        </div>
    </div>
</div>

<footer></footer>