.fixedPopup {
  margin-top: 2px;
  margin-bottom: 3px;
}

.columnIcon {
  cursor: pointer;
  &:hover{
      color: var(--hoverColor);
  }
}

.divider {
  margin-top: 8px;
  margin-bottom: 8px;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  height: 20px;
}

.popover {
  width: 220px;
}

.content {
  height: auto;
  max-height: 300px;
  overflow-y: auto;
}

header {
  height: 40px;
}
