.container {
  width: 75%;
}
.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 2px;
}

.arrowRight {
  font-size: 14px;
}

.summary {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
}

.meta {
  padding-right: 15px;
}

.type {
  text-transform: uppercase;
}
