@import '../../theme/styles/variables';

.status{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 55px;
    color: #444;
}

.statusText{
    text-align: center;
    margin-top: 45px;
    margin-bottom: 30px;
    font-size: 30px;
    color: #444;
}

.goto{
    margin: 20px auto;
    width: 362px;
    font-size: 18px;
    text-align: center;
}


.txt{
    font-size: 18px;
    text-align: center;
}

a{
    font-size: 18px;
}

.icon{
    width: 100%;
    min-height: 132px;
    text-align:center;
    margin-top: 110px;
 }

 .fa{
    font-size: 150px;
    display:inline-block;
    vertical-align:middle;
    color: #444;
 } 