:host {
  position: relative;
  display: flex;
  flex-direction: column;
}

/deep/ [gm-col] + gm-divider,
/deep/ [gm-col] + [gm-divider] {
  display: flex;
  width: 1px;
  cursor: col-resize;
  background-color: #ccc;
  &:after {
    content: '';
    left: -8px;
    position: relative;
    padding: 0px 9px;
  }

  > * {
    cursor: initial;
  }
}

/deep/ [gm-row] + gm-divider,
/deep/ [gm-row] + [gm-divider] {
  display: flex;
  height: 1px;
  cursor: row-resize;
  background-color: #ccc;
  &:after {
    content: '';
    width: 100%;
    top: -8px;
    position: relative;
    padding: 9px 0px;
  }

  > * {
    cursor: initial;
  }

}

/deep/ [gm-row], [gm-col] {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

/deep/ [gm-col] {
  flex-direction: column;
}

/deep/ [gm-row] {
  flex-direction: row;
}

@mixin flex-widths($name: null) {
  $flexName: 'flex';
  @for $i from 0 through 20 {
    $value : #{($i * 5) / 100};

    /deep/ .#{$flexName}-#{$i * 5} {
      flex-grow: #{$value};
    }
  }
}

@include flex-widths();
